<template>
  <el-container class="Project">
    <el-main>
      <div class="project main">
        <div class="projectStat">
          <div class="input-box-line">
            社媒平台：
            <el-select v-model="project_platform" clearable class="input-box" placeholder="不限">
              <el-option v-for="item in project_platforms" :key="item.value" :label="item.label" :value="item.value" @click.native="findProject" />
            </el-select>
          </div>
          <div class="input-box-line">
            内容形式：
            <el-select v-model="content_type" clearable class="input-box" placeholder="不限">
              <el-option v-for="item in content_types" :key="item.value" :label="item.label" :value="item.value" @click.native="findProject" />
            </el-select>
          </div>
          <div class="input-box-line">
            最后操作时间：
            <el-date-picker
              v-model="ddl"
              clearable
              align="right"
              type="date"
              style="width:140px"
              value-format="yyyy-MM-dd"
              placeholder="选择日期"
            />
          </div>
        </div>
        <div class="projectStat">
          <div class="input-box-line">
            项目状态：
            <el-select v-model="project_statu" clearable class="input-box" placeholder="不限">
              <el-option v-for="item in project_status" :key="item.value" :label="item.label" :value="item.value" />
            </el-select>
          </div>
          <div class="input-box-line" style="margin-left: 50px">
            <el-input v-model="searchInput" clearable placeholder="项目ID、项目名称等" @click.native="findProject">
              <el-button
                slot="append"
                style="background-color: #1890ff;color:white"
                @click="findProject"
              >搜索</el-button>
            </el-input>
          </div>
        </div>
      </div>
      <el-button @click="createProject">创建项目</el-button>
      <el-table :data="tableData" border class="projectTable">
        <el-table-column prop="project_id" label="项目ID" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center" />
        <el-table-column prop="enterprise_id" label="企业用户ID" align="center" />
        <el-table-column prop="project_status" label="项目状态" align="center" />
        <el-table-column prop="project_platform" label="社媒平台" align="center" />
        <el-table-column prop="project_content_type" label="内容形式" align="center" />
        <el-table-column prop="project_updated" label="最后操作时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="handleClick(scope.row)">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
      <create-project />
      <excute-requirement />
      <recruit-requirement />
    </el-main>
  </el-container>
</template>

<script>

import { EventBus } from '@/event-bus'
import CreateProject from '@/views/dashboard/CreateProject/index.vue'
import ExcuteRequirement from '@/views/dashboard/ExcuteRequirement/index.vue'
import RecruitRequirement from '@/views/dashboard/RecruitRequirement/index.vue'

export default {
  components: {
    CreateProject,
    ExcuteRequirement,
    RecruitRequirement
  },
  data() {
    return {
      ddl: '',
      searchInput: '',
      project_statu: '',
      project_platform: '',
      content_type: '',
      project_status: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '创建中'
        },
        {
          value: '9',
          label: '执行中'
        },
        {
          value: '10',
          label: '已结案'
        }
      ],
      project_forms: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '实体商品寄拍'
        },
        {
          value: '2',
          label: '虚拟产品测评'
        },
        {
          value: '3',
          label: '线下探店打卡'
        }
      ],
      project_platforms: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '红book'
        },
        {
          value: '2',
          label: '抖音'
        },
        {
          value: '3',
          label: '微博'
        },
        {
          value: '4',
          label: '快手'
        },
        {
          value: '5',
          label: 'b站'
        },
        {
          value: '6',
          label: '大众点评'
        },
        {
          value: '7',
          label: '知乎'
        }
      ],
      content_types: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '图文'
        },
        {
          value: '2',
          label: '视频'
        }
      ],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,
      tableData: []
    }
  },
  computed: {},
  watch: {
    project_statu() {
      this.findProject()
    },
    searchInput() {
      this.findProject()
    },
    ddl() {
      this.findProject()
    },
    content_type() {
      this.findProject()
    },
    project_platform() {
      this.findProject()
    },
    project_form() {
      this.findProject()
    }
  },
  mounted() {
    if (sessionStorage.getItem('token') == null) {
      this.$message.error('已退出，请重新登录')
      this.$router.push(`/login`)
      this.$router.go(0)
      return
    }
    this.project_statu = this.$route.query.project_statu
    // this.findProject()
  },
  methods: {
    isNull(value) {
      if (value === '') {
        value = 0
      }
    },
    // 获取项目列表
    async findProject() {
      let project_id, project_name
      if (!/^\d+$/.test(this.searchInput)) {
        project_name = this.searchInput
      } else {
        project_id = this.searchInput
      }
      const params = {
        page_size: 10,
        page_num: 1,
        project_type: '2',
        project_name: project_name,
        project_id: project_id,
        project_status: this.project_statu,
        project_form: this.project_form,
        project_platform: this.project_platform,
        project_content_type: this.content_type,
        project_updated: this.ddl
      }
      this.postRequest('/youngee/m/product/list', params).then((resp) => {
        if (resp.data.total !== 0) {
          let projectlist = null
          let totalCount = null
          projectlist = resp.data.full_project_pre_view
          this.$data.tableData = projectlist
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.tableData = []
        }
      })
      // getProductList(params).then(resp => {
      // }).catch(e => {
      //   console.log(e)
      // })
    },
    handleClick(row) {
      this.$store.state.project.enterprise_id = row.enterprise_id
      // 跳转到项目详情界面，参数为project_id
      this.$router.push({
        path: '/viewhome',
        query: {
          project_id: row.project_id
        }
      })
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      let project_id, project_name
      if (this.searchInput / 1 === this.searchInput) {
        project_id = this.searchInput
      } else {
        project_name = this.searchInput
      }
      const project_updated = this.ddl
      const params = {
        page_size: n1,
        page_num: n2,
        project_type: '2',
        project_status: this.project_statu,
        project_form: this.project_form,
        project_platform: this.project_platform,
        project_content_type: this.content_type,
        project_name: project_name,
        project_id: project_id,
        project_updated: project_updated
      }
      this.postRequest('youngee/m/product/list', params).then((resp) => {
        if (resp.data.total !== 0) {
          let projectlist = null
          let totalCount = null
          projectlist = resp.data.full_project_pre_view
          this.$data.tableData = projectlist
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.tableData = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    },
    createProject() {
      EventBus.$emit('CreateProject', true)
    }
  }
}
</script>

<style lang="scss" scoped>

.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>

<style scoped lang = "scss">
.projectCenter {
  font-size: 18px;
  margin-top: 30px;
}

.project {
  background: #f5f5f54d;
  border-radius: 10px;
}

.projectStat {
  display: flex;
  flex-direction: row;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.projectTable {
  width: 100%;
  margin-top: 20px;
  align-content: center;
}
</style>

<style lang="scss">
.input-box >.el-input{
  width: 130px;
}
</style>

<style>
.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-textarea .el-input__count{
    color: #909399;
    background: #FFF;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 25px;
}
</style>
