<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">违约扣款设置</div> -->
    <p style="font-size:17px">初稿违约：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：产品置换</p>
        <div style="margin-left:132px">
          <div class="input-box-line">
            未上传初稿：扣除
            <el-input v-model.number="noDraftUploadValue1" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="noDraftUpload1">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：产品置换</p>
        <div style="margin-left:76px">
          <div class="input-box-line">
            未约定时间上传初稿：扣除
            <el-input v-model.number="notOnTimeUploadDraftValue1" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="notOnTimeUploadDraft1">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：自报价、固定稿费</p>
        <div style="margin-left:76px">
          <div class="input-box-line">
            未上传初稿：扣除
            <el-input v-model.number="noDraftUploadValue2" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="noDraftUpload2">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：自报价、固定稿费</p>
        <div style="margin-left:20px">
          <div class="input-box-line">
            未约定时间上传初稿：扣除
            <el-input v-model.number="notOnTimeUploadDraftValue2" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="notOnTimeUploadDraft2">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">脚本违约：</p>
    <div class="head-box" style="font-size:12px">
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：视频</p>
        <p style="margin-left:20px">稿费形式：产品置换</p>
        <div style="margin-left:116px">
          <div class="input-box-line">
            未上传脚本：扣除
            <el-input v-model.number="noScriptUploadValue1" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="noScriptUpload1">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：视频</p>
        <p style="margin-left:20px">稿费形式：产品置换</p>
        <div style="margin-left:68px">
          <div class="input-box-line">
            未约定时间上传脚本：扣除
            <el-input v-model.number="notOnTimeUploadScriptValue1" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="notOnTimeUploadScript1">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：视频</p>
        <p style="margin-left:20px">稿费形式：自报价、固定稿费</p>
        <div style="margin-left:68px">
          <div class="input-box-line">
            未上传脚本：扣除
            <el-input v-model.number="noScriptUploadValue2" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="noScriptUpload2">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：视频</p>
        <p style="margin-left:20px">稿费形式：自报价、固定稿费</p>
        <div style="margin-left:20px">
          <div class="input-box-line">
            未约定时间上传脚本：扣除
            <el-input v-model.number="notOnTimeUploadScriptValue2" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="notOnTimeUploadScript2">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">链接违约：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：产品置换</p>
        <div style="margin-left:132px">
          <div class="input-box-line">
            未上传链接：扣除
            <el-input v-model.number="noLinkUploadValue1" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="noLinkUpload1">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：产品置换</p>
        <div style="margin-left:76px">
          <div class="input-box-line">
            未约定时间上传链接：扣除
            <el-input v-model.number="notOnTimeUploadLinkValue1" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="notOnTimeUploadLink1">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：自报价、固定稿费</p>
        <div style="margin-left:76px">
          <div class="input-box-line">
            未上传链接：扣除
            <el-input v-model.number="noLinkUploadValue2" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="noLinkUpload2">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：自报价、固定稿费</p>
        <div style="margin-left:20px">
          <div class="input-box-line">
            未约定时间上传链接：扣除
            <el-input v-model.number="notOnTimeUploadLinkValue2" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="notOnTimeUploadLink2">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">数据违约：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：产品置换</p>
        <div style="margin-left:132px">
          <div class="input-box-line">
            未上传数据：扣除
            <el-input v-model.number="noDataUploadValue1" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="noDataUpload1">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：产品置换</p>
        <div style="margin-left:76px">
          <div class="input-box-line">
            未约定时间上传数据：扣除
            <el-input v-model.number="notOnTimeUploadDataValue1" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="notOnTimeUploadData1">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：自报价、固定稿费</p>
        <div style="margin-left:76px">
          <div class="input-box-line">
            未上传数据：扣除
            <el-input v-model.number="noDataUploadValue2" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="noDataUpload2">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:15px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">稿费形式：自报价、固定稿费</p>
        <div style="margin-left:20px">
          <div class="input-box-line">
            未约定时间上传数据：扣除
            <el-input v-model.number="notOnTimeUploadDataValue2" placeholder="请输入百分比" style="width:140px" @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
          </div>
        </div>
        <el-button class="Button" @click="notOnTimeUploadData2">运行</el-button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      noDraftUploadValue1: '',
      notOnTimeUploadDraftValue1: '',
      noDraftUploadValue2: '',
      notOnTimeUploadDraftValue2: '',
      noScriptUploadValue1: '',
      notOnTimeUploadScriptValue1: '',
      noScriptUploadValue2: '',
      notOnTimeUploadScriptValue2: '',
      noLinkUploadValue1: '',
      notOnTimeUploadLinkValue1: '',
      noLinkUploadValue2: '',
      notOnTimeUploadLinkValue2: '',
      noDataUploadValue1: '',
      notOnTimeUploadDataValue1: '',
      noDataUploadValue2: '',
      notOnTimeUploadDataValue2: '',
      penalty: [
        {
          value: '0',
          label: '100%'
        }
      ],
      debit: [
        {
          value: '0',
          label: '15%'
        }
      ]
    }
  },
  computed: {
  },
  mounted() {
    if (localStorage.getItem('userRole') !== 'superadmin') {
      this.$message.warning('暂无权限查看违约扣款设置')
      this.$router.push(`/login`)
      return
    }
    this.getPercents()
  },
  methods: {
    getPercents() {
      this.getRequest('youngee/m/operate/getPercents').then((resp) => {
        if (resp.data.sketch_other_time_out === 0) {
          this.notOnTimeUploadDraftValue2 = ''
        } else {
          this.notOnTimeUploadDraftValue2 = resp.data.sketch_other_time_out
        }
        if (resp.data.sketch_other_not_upload === 0) {
          this.noDraftUploadValue2 = ''
        } else {
          this.noDraftUploadValue2 = resp.data.sketch_other_not_upload
        }
        if (resp.data.sketch_replace_time_out === 0) {
          this.notOnTimeUploadDraftValue1 = ''
        } else {
          this.notOnTimeUploadDraftValue1 = resp.data.sketch_replace_time_out
        }
        if (resp.data.sketch_replace_not_upload === 0) {
          this.noDraftUploadValue1 = ''
        } else {
          this.noDraftUploadValue1 = resp.data.sketch_replace_not_upload
        }

        if (resp.data.script_other_time_out === 0) {
          this.notOnTimeUploadScriptValue2 = ''
        } else {
          this.notOnTimeUploadScriptValue2 = resp.data.script_other_time_out
        }
        if (resp.data.script_other_not_upload === 0) {
          this.noScriptUploadValue2 = ''
        } else {
          this.noScriptUploadValue2 = resp.data.script_other_not_upload
        }
        if (resp.data.script_replace_time_out === 0) {
          this.notOnTimeUploadScriptValue1 = ''
        } else {
          this.notOnTimeUploadScriptValue1 = resp.data.script_replace_time_out
        }
        if (resp.data.script_replace_not_upload === 0) {
          this.noScriptUploadValue1 = ''
        } else {
          this.noScriptUploadValue1 = resp.data.script_replace_not_upload
        }

        if (resp.data.link_other_time_out === 0) {
          this.notOnTimeUploadLinkValue2 = ''
        } else {
          this.notOnTimeUploadLinkValue2 = resp.data.link_other_time_out
        }
        if (resp.data.link_other_not_upload === 0) {
          this.noLinkUploadValue2 = ''
        } else {
          this.noLinkUploadValue2 = resp.data.link_other_not_upload
        }
        if (resp.data.link_replace_time_out === 0) {
          this.notOnTimeUploadLinkValue1 = ''
        } else {
          this.notOnTimeUploadLinkValue1 = resp.data.link_replace_time_out
        }
        if (resp.data.link_replace_not_upload === 0) {
          this.noLinkUploadValue1 = ''
        } else {
          this.noLinkUploadValue1 = resp.data.link_replace_not_upload
        }

        if (resp.data.data_other_not_upload === 0) {
          this.noDataUploadValue2 = ''
        } else {
          this.noDataUploadValue2 = resp.data.data_other_not_upload
        }
        if (resp.data.data_other_time_out === 0) {
          this.notOnTimeUploadDataValue2 = ''
        } else {
          this.notOnTimeUploadDataValue2 = resp.data.data_other_time_out
        }
        if (resp.data.data_replace_time_out === 0) {
          this.notOnTimeUploadDataValue1 = ''
        } else {
          this.notOnTimeUploadDataValue1 = resp.data.data_replace_time_out
        }
        if (resp.data.data_replace_not_upload === 0) {
          this.noDataUploadValue1 = ''
        } else {
          this.noDataUploadValue1 = resp.data.data_replace_not_upload
        }
      })
    },
    async noDraftUpload1() {
      console.log('未上传初稿1 运行中 。。。')
      if (this.noDraftUploadValue1 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.noDraftUploadValue1
      }
      await this.postRequest('youngee/m/operate/sketchReplaceNotUpload', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async notOnTimeUploadDraft1() {
      console.log('未约定时间上传初稿1 运行中 。。。')
      if (this.notOnTimeUploadDraftValue1 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.notOnTimeUploadDraftValue1
      }
      await this.postRequest('youngee/m/operate/sketchReplaceTimeOut', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async noDraftUpload2() {
      console.log('未上传初稿2 运行中 。。。')
      if (this.noDraftUploadValue2 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.noDraftUploadValue2
      }
      await this.postRequest('youngee/m/operate/sketchOtherNotUpload', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async notOnTimeUploadDraft2() {
      console.log('未约定时间上传初稿2 运行中 。。。')
      if (this.notOnTimeUploadDraftValue2 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.notOnTimeUploadDraftValue2
      }
      await this.postRequest('youngee/m/operate/sketchOtherTimeOut', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async noScriptUpload1() {
      console.log('未上传脚本1 运行中 。。。')
      if (this.noScriptUploadValue1 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.noScriptUploadValue1
      }
      await this.postRequest('youngee/m/operate/scriptReplaceNotUpload', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async notOnTimeUploadScript1() {
      console.log('未约定时间上传脚本1 运行中 。。。')
      if (this.notOnTimeUploadScriptValue1 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.notOnTimeUploadScriptValue1
      }
      await this.postRequest('youngee/m/operate/scriptReplaceTimeOut', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async noScriptUpload2() {
      console.log('未上传脚本2 运行中 。。。')
      if (this.noScriptUploadValue2 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.noScriptUploadValue2
      }
      await this.postRequest('youngee/m/operate/scriptOtherNotUpload', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async notOnTimeUploadScript2() {
      console.log('未约定时间上传脚本2 运行中 。。。')
      if (this.notOnTimeUploadScriptValue2 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.notOnTimeUploadScriptValue2
      }
      await this.postRequest('youngee/m/operate/scriptOtherTimeOut', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async noLinkUpload1() {
      console.log('未上传链接1 运行中 。。。')
      if (this.noLinkUploadValue1 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.noLinkUploadValue1
      }
      await this.postRequest('youngee/m/operate/linkReplaceNotUpload', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async notOnTimeUploadLink1() {
      console.log('未约定时间上传链接1 运行中 。。。')
      if (this.notOnTimeUploadLinkValue1 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.notOnTimeUploadLinkValue1
      }
      await this.postRequest('youngee/m/operate/linkReplaceTimeOut', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async noLinkUpload2() {
      console.log('未上传链接2 运行中 。。。')
      if (this.noLinkUploadValue2 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.noLinkUploadValue2
      }
      await this.postRequest('youngee/m/operate/linkOtherNotUpload', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async notOnTimeUploadLink2() {
      console.log('未约定时间上传链接2 运行中 。。。')
      if (this.notOnTimeUploadLinkValue2 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.notOnTimeUploadLinkValue2
      }
      await this.postRequest('youngee/m/operate/linkOtherTimeOut', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async noDataUpload1() {
      console.log('未上传数据1 运行中 。。。')
      if (this.noDataUploadValue1 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.noDataUploadValue1
      }
      await this.postRequest('youngee/m/operate/dataReplaceNotUpload', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async notOnTimeUploadData1() {
      console.log('未约定时间上传数据1 运行中 。。。')
      if (this.notOnTimeUploadDataValue1 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.notOnTimeUploadDataValue1
      }
      await this.postRequest('youngee/m/operate/dataReplaceTimeOut', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async noDataUpload2() {
      console.log('未上传数据2 运行中 。。。')
      if (this.noDataUploadValue2 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.noDataUploadValue2
      }
      await this.postRequest('youngee/m/operate/dataOtherNotUpload', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async notOnTimeUploadData2() {
      console.log('未约定时间上传数据2 运行中 。。。')
      if (this.notOnTimeUploadDataValue2 === '') {
        this.$message.warning('请输入扣款比例')
        return
      }
      const params = {
        rate: this.notOnTimeUploadDataValue2
      }
      await this.postRequest('youngee/m/operate/dataOtherTimeOut', params).then((resp) => {
      })
      this.$router.go(0)
    },
    onInput0_100(e) {
      // 验证是否是纯数字
      const isNumber = /^\d*$/.test(e.target.value)
      // 过滤非数字
      e.target.value = e.target.value.replace(/\D/g, '')
      if (!isNumber || e.target.value < 0 || e.target.value > 100) {
        this.$message.warning('请输入[0,100]区间的整数')
      }
      e.target.value = (e.target.value >= 0 && e.target.value <= 100 && e.target.value.match(/^\d*/g)[0]) || null
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
    font-size: 14px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.head-box{
  border: 1px dashed #fbbfbf;
}
.inline-display {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center; // 垂直居中
  margin-top:10px;
  margin-bottom:10px
}

.input-box-line {
  line-height: 40px;
}

.Button{
  background:#0e4bb7;
  color:white;
  height: 40px;
  width:100px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 10px;
}
</style>
