<!-- 数据与结案 -->
<template>
  <div class="recruitManage">
    <el-card class="recruitManageCard" shadow="never" style=" ">
      <div>
        <div class="flow_info_base">
          <span class="flow_right">结算数据</span>
        </div>
      </div>
      <div style="width: 500px;">
        <el-table
          :key="dataNumberDataKey"
          :data="dataNumberData"
          border
          class="strategys-table-manage"
          :header-cell-style="{ background: '#6394ea', color: 'white' }"
        >
          <el-table-column prop="data_number" label="应结算" align="center" />
          <el-table-column prop="data_unreview_number" label="待结算" align="center" />
          <el-table-column prop="data_passed_number" label="已结算" align="center" />
        </el-table>
      </div>
    </el-card>

    <div id="box">
      <div
        v-for="(item, index1) in bottonList1"
        :key="index1"
        class="box_btn"
        :class="chooseBtn === index1 ? 'borderColor' : ''"
        @click="handleClick(index1)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex;align-content: center;justify-content: center;">
      <div class="input-box-line">
        <el-input v-model="searchInput" placeholder="账号昵称、任务ID">
          <el-button slot="append" class="search-button" @click="handleSearchClick()">搜索</el-button>
        </el-input>
      </div>
    </div>

    <!--  -->
    <div v-show="index === 0">
      <el-table
        ref="settleDataTable"
        :data="settleDataTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="photo_url" label="数据截图" align="center">
          <template slot-scope="scope">
            <span>
              <img :src="scope.row.photo_url" alt="" style="width: 50px;height:50px">
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="play_number" label="阅读/播放数" align="center" />
        <el-table-column prop="like_number" label="点赞数" align="center" />
        <el-table-column prop="collect_number" label="收藏数" align="center" />
        <el-table-column prop="comment_number" label="评论数" align="center" />

        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              v-resetClick="1000"
              type="text"
              size="medium"
              @click="settlePayClick(scope.row)"
            >结算</el-button>

          </template>
        </el-table-column>
        <el-table-column prop="link_url" label="发布链接" align="center">
        </el-table-column>
      </el-table>
    </div>

    <!-- 已结案 -->
    <div v-show="index === 1">
      <el-table
        ref="passedDataTable"
        :data="passedDataTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="photo_url" label="数据截图" align="center">
          <template slot-scope="scope">
            <span>
              <img :src="scope.row.photo_url" alt="" style="width: 50px;height:50px">
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="play_number" label="阅读/播放数" align="center" />
        <el-table-column prop="like_number" label="点赞数" align="center" />
        <el-table-column prop="collect_number" label="收藏数" align="center" />
        <el-table-column prop="comment_number" label="评论数" align="center" />
        <el-table-column prop="agree_at" label="结案时间" align="center" />
        <el-table-column prop="link_url" label="发布链接" align="center" />
      </el-table>
    </div>

    <!-- 结算弹窗 -->
    <el-dialog style="padding: 0 !important" width="400px" :visible.sync="SettlePayVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="SettlePayVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: column;margin-top:20px;justify-content: center;width: 300px;;text-align: left;" >
        <div>
          <span style="margin-left: 0%;">任务ID ：{{ settle_taskId }}</span>
        </div>
        <div style="margin-top:10px">
          <span>结算金额 ：</span>
          <el-input v-model="settle_amount" style="width:50%;" clearable placeholder="元" />
        </div>
        <div style="margin-top:20px">
          <span>税 费 ：5%</span>
        </div>
        <div style="margin-top:20px">
          <span>样叽账户余额 ： {{  }}</span>
        </div>

        <div style="margin-top:20px">
          <span>实际支付金额 ：{{ settle_real_amount }}</span>
        </div>

      </div>

      <div>
        <el-button v-resetClick="1000" type="primary" class="PassBtn" :visible.sync="SettlePayVisible" @click="">
          确认支付</el-button>
        <el-button
          type="primary"
          class="RefuseBtn"
          :visible.sync="SettlePayVisible"
          @click="SettlePayVisible = false;"
        >取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fansview } from '@/utils'
export default {
  name: 'DataManage',
  data() {
    return {
      bottonList1: [
        {
          name: '待结算'
        },
        {
          name: '已结算'
        }
      ],
      enterprise_id: this.$store.state.project.enterprise_id,
      project_id: this.$store.state.project.project_id,
      dataNumberData: [
        {
          data_number: 0,
          data_unreview_number: 0,
          data_passed_number: 0
        }
      ],
      // 控制切换按钮后按钮改变样式
      index: 0,
      chooseBtn: 0,
      searchInput: '',

      // 控制弹窗显示
      SettlePayVisible: false, // 结算弹窗
      taskIds: [],

      // 数据待审 通过
      dataAdvice: '',

      selectedDataList: [],
      settleDataTable: [],
      passedDataTable: [],

      dataNumberDataKey: '',
      settle_taskId: '',
      settle_amount: '',
      settle_real_amount: ''
    }
  },
  watch: {
    'dataNumberData'() { },
    'settle_amount'(){
      if (this.settle_amount == null) {
        this.settle_real_amount = ''
      }
      this.settle_real_amount = (parseFloat(this.settle_amount) * 1.05).toFixed(2)
    }
  },
  computed: {
  },
  created() {
    this.getDataInfo()
    // 查询数据待审核任务列表
    this.getDataList(0)
  },
  mounted() {
  },
  methods: {
    getDataInfo() {
      // 查询数量
      const params = {
        project_id: this.project_id
      }
      this.postRequest('/youngee/m/project/getSpecialSettleNumber', params).then((resp) => {
        this.$data.dataNumberData[0].data_number = parseInt(resp.data.settle_number)
        this.$data.dataNumberData[0].data_unreview_number = parseInt(resp.data.unsettle_number)
        this.$data.dataNumberData[0].data_passed_number = parseInt(resp.data.settled_number)
        this.$data.dataNumberDataKey = Math.random()
      })
    },
    // 切换展示表格
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getDataList(this.index)
    },
    handleSearchClick() {
      this.getDataList(this.index)
    },
    // 显示弹窗 确认结案
    handlePassReviewClick(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      this.handlePassClick()
    },
    // 显示弹窗 返回修改
    settlePayClick(row) {
      this.settle_taskId = row.task_id
      this.SettlePayVisible = true
    },
    // 查询任务数据列表
    getDataList(index) {
      this.settleDataTable = []
      this.passedDataTable = []
      const settle_status = index
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: this.project_id,
        // task_id_list: this.taskIds.toString(),
        settle_status: String(settle_status),
        platform_nickname: this.searchInput
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/specialTaskSettleList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('待结算中暂无数据')
          }
          this.$data.settleDataTable = resp.data.project_task_pre_view
          this.settleDataTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
            e.play_number = fansview(e.play_number)
            e.like_number = fansview(e.like_number)
            e.comment_number = fansview(e.comment_number)
            e.collect_number = fansview(e.collect_number)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      } else {
        this.postRequest('/youngee/m/project/specialTaskSettleList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('已结算中暂无数据')
          }
          this.$data.passedDataTable = resp.data.project_task_pre_view
          this.passedDataTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
            e.play_number = fansview(e.play_number)
            e.like_number = fansview(e.like_number)
            e.comment_number = fansview(e.comment_number)
            e.collect_number = fansview(e.collect_number)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      }
    },
    // 提交确认结案
    async handlePassClick() {
      const params = {
        project_id: this.project_id,
        task_id_list: this.taskIds.toString(),
        is_special: 1
      }
      await this.postRequest('/youngee/m/project/acceptdata', params).then((resp) => {
        if (resp.data.is_end === 1) {
          this.$router.go(0)
        }
      })
      this.dataNumberData[0].data_unreview_number -= parseInt(this.taskIds.length)
      this.dataNumberData[0].data_passed_number += parseInt(this.taskIds.length)
      this.getDataList(this.index)
      this.getDataInfo()
    },
    // 提交返回修改
    async handleRefuseClick() {
      // 鲁棒性检测
      if (this.dataAdvice === '') {
        this.$message.error('修改意见不能为空')
        return
      }
      const params = {
        task_id: this.taskIds[0],
        data_opinion: this.dataAdvice
      }
      await this.postRequest('/youngee/m/project/dataopinion', params).then((resp) => { })
      this.dataNumberData[0].data_unreview_number -= parseInt(this.taskIds.length)
      this.getDataList(this.index)
      this.getDataInfo()
      this.ReviewDataVisible2 = false
    },
    handleAllPassClick() {
      if (this.index === 0) {
        // 批量结算
        const val = this.selectedDataList
        if (val.length === 0) {
          this.$message('请选择任务')
          return
        }
        this.taskIds = []
        for (let i = 0; i < val.length; i++) {
          const taskId = val[i].task_id
          this.taskIds.push(taskId)
        }
        this.handlePassClick()
      } else {
        // 导出表格
        if (this.selectedDataList.length === 0) {
          this.$message({
            message: '请至少选择一条需要导出的数据',
            type: 'warning'
          })
          return
        }
        const tableHeader = ['任务ID', '账号昵称', '粉丝数', '发布链接', '阅读量/播放量', '点赞数', '阅读数', '评论数'] // 设置Excel表格的表头
        const filterVal = ['task_id', 'platform_nickname', 'fans_count', 'link_url', 'play_number', 'like_number', 'collect_number', 'comment_number'] // 跟表格表头对应的绑定的prop
        const tableTitleName = this.$store.state.project.project_name + '结案统计'

        this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // 导出
          require.ensure([], () => {
            const { export_json_to_excel } = require('@/excel/export2Excel') // 注意这个Export2Excel路径
            // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectedDataList)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
            const list = JSON.parse(JSON.stringify(this.selectedDataList))
            const data = this.formatJson(filterVal, list)
            export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
          })
        }).catch(() => { })
      }
    },
    formatJson(filterVal, Data) {
      return Data.map(v => filterVal.map(j => v[j]))
    },
    selectedChange(val) {
      this.selectedDataList = val
    }
  }
}
</script>
<style scoped lang = "scss">
.recruitManage {
  text-align: center;
}

.recruitManageCard {
  display: flex;
  text-align: center;
  justify-content: center;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #057bf2;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin: 20px;
}

// .input-big-box{
//   width: 100px;
//   height: ;
// }

.search-button {
  border: none !important;
  background-color: #248bf4 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 50px;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}

.PassBtn {
  border: none;
  justify-content: center;
  background-color: #248bf4;
  color: white;
  margin: 10px;
  // padding: 8px 15px;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  justify-content: left;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
  color: white;
}

.el-dialog__body {
  padding: 5px 15px;
  text-align: center;
}

.finishDataTable .el-dialog {
  top: 5vw !important;
}

</style>
