<!-- 发布管理 -->
<template>
  <div class="releaseManage">
    <el-card
      class="releaseManageCard"
      shadow="never"
      style=" "
    >
      <div>
        <div class="flow_info_base">
          <span class="flow_right">发布数据</span>
        </div>
      </div>
      <div style="width: 500px;">
        <el-table
          :key="linkNumberDataKey"
          :data="linkNumberData"
          border
          class="reviewer-table-manage"
          :header-cell-style="{ background: '#6394ea', color: 'white' }"
        >
          <el-table-column
            prop="link_number"
            label="应发布数量"
            align="center"
          />
          <el-table-column
            prop="link_unreview_number"
            label="链接待审"
            align="center"
          />
          <el-table-column
            prop="link_passed_number"
            label="链接合格"
            align="center"
          />
        </el-table>
      </div>
    </el-card>

    <div id="box">
      <div
        v-for="(item, index1) in bottonList1"
        :key="index1"
        class="box_btn"
        :class="chooseBtn === index1 ? 'borderColor' : ''"
        @click="handleClick(index1)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex;align-content: center;justify-content: center;">
      <div class="input-box-line">
        <el-input
          v-model="searchInput"
          placeholder="账号昵称、任务ID"
        >
          <el-button
            slot="append"
            class="search-button"
            @click="handleSearchClick()"
          >搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 链接待审-->
    <div v-show="index === 0">
      <div style="margin-bottom:5px;float:right">
        <el-button
          v-resetClick="1000"
          class="search-button"
          @click="handleAllPassClick()"
        >通过</el-button>
      </div>
      <el-table
        ref="waitingLinkTable"
        :data="waitingLinkTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="photo_url"
          label="作品截图"
          align="center"
        >
          <template slot-scope="scope">
            <span>
              <img
                :src="scope.row.photo_url"
                alt=""
                style="width: 50px;height:50px"
                preview="1"
              >
            </span>
          </template>
        </el-table-column>
        <el-table-column
          prop="operate"
          label="上传链接"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handShowLinkClick(scope.row)"
            >
              {{ scope.row.link_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="link_upload_time"
          label="链接上传时间"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              v-resetClick="1000"
              type="text"
              size="medium"
              @click="handlePassClick(scope.row)"
            >合格</el-button>
            <el-button
              v-resetClick="1000"
              type="text"
              size="medium"
              @click="handleReviewLinkClick(scope.row)"
            >不合格</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 链接通过-->
    <div v-show="index === 1">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="handleAllPassClick()"
        >导出表格</el-button>
      </div>
      <el-table
        ref="passedLinkTable"
        :data="passedLinkTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="photo_url"
          label="作品截图"
          align="center"
        >
          <template slot-scope="scope">
            <span>
              <img
                :src="scope.row.photo_url"
                alt=""
                style="width: 50px;height:50px"
                preview="1"
              >
            </span>
          </template>
        </el-table-column>
        <el-table-column
          prop="operate"
          label="上传链接"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handShowLinkClick(scope.row)"
            >
              {{ scope.row.link_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="agree_at"
          label="链接通过时间"
          align="center"
        />
      </el-table>
    </div>

    <div style="height: 100px;" />
    <!-- 链接待审--审稿弹窗 -->
    <el-dialog
      style="padding: 0 !important;"
      :visible.sync="reviewLinkVisible"
      width="500px"
    >
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="reviewLinkVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        修改意见：
      </div>
      <el-input
        v-model="linkAdvice"
        class="input-big-box"
        maxlength="300"
        :show-word-limit="true"
        type="textarea"
        :autosize="{ minRows: 5, maxRows: 8 }"
      />
      <div>
        <el-button
          type="primary"
          class="PassBtn"
          :visible.sync="reviewLinkVisible"
          @click="handleRefuseLinkClick()"
        >
          返回修改</el-button>
        <el-button
          type="primary"
          class="RefuseBtn"
          :visible.sync="reviewLinkVisible"
          @click="reviewLinkVisible = false;"
        >取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fansview } from '@/utils'
export default {
  name: 'ReleaseManage',
  data() {
    return {
      bottonList1: [
        {
          name: '链接待审'
        },
        {
          name: '链接合格'
        }
      ],
      project_id: this.$store.state.project.project_id,
      linkNumberData: [
        {
          link_number: 0,
          link_unreview_number: 0,
          link_passed_number: 0
        }
      ],

      // 控制切换按钮后按钮改变样式
      index: 0,
      chooseBtn: 0,
      searchInput: '',

      // 链接待审 通过
      linkAdvice: '',

      // 控制弹窗显示
      reviewLinkVisible: false, // 链接审稿弹窗

      // 控制点击按钮后子组件显示，再次点击隐藏
      selectedDataList: [],
      waitingLinkTable: [],
      passedLinkTable: [],

      linkNumberDataKey: ''
    }
  },
  watch: {
    'linkNumberData'() {}
  },
  created() {
    this.getDataInfo()
    // 查询待审稿任务列表
    this.getLinkList(0)
  },
  mounted() {
  },
  methods: {
    getDataInfo() {
      // 查询数量
      const params = {
        project_id: this.project_id
      }
      this.postRequest('/youngee/m/project/getSpecialLinkNumber', params).then((resp) => {
        this.$data.linkNumberData[0].link_number = parseInt(resp.data.link_number)
        this.$data.linkNumberData[0].link_unreview_number = parseInt(resp.data.link_unreview_number)
        this.$data.linkNumberData[0].link_passed_number = parseInt(resp.data.link_passed_number)
        this.$data.linkNumberDataKey = Math.random()
      })
    },
    handShowLinkClick(row) {
      window.open(row.link_url, '_blank')
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getLinkList(this.index)
    },
    handleSearchClick() {
      this.getLinkList(this.index)
    },
    // 显示弹窗 链接-驳回意见
    handleReviewLinkClick(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      this.reviewLinkVisible = true
    },
    handlePassClick(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      this.PassLink()
    },
    // 通过链接
    async PassLink() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择任务')
        return
      }
      const params = {
        task_id_list: this.taskIds.toString()
      }
      await this.postRequest('/youngee/m/project/acceptlink', params).then((resp) => { })
      this.linkNumberData[0].link_unreview_number -= parseInt(this.taskIds.length)
      this.linkNumberData[0].link_passed_number += parseInt(this.taskIds.length)
      this.getLinkList(this.index)
      this.getDataInfo()
    },
    // 拒绝链接
    async handleRefuseLinkClick() {
      // 鲁棒性检测
      if (this.linkAdvice === '') {
        this.$message.error('修改意见不能为空')
        return
      }
      const params = {
        task_id: this.taskIds[0],
        link_opinion: this.linkAdvice
      }
      await this.postRequest('/youngee/m/project/linkopinion', params).then((resp) => { })
      this.linkNumberData[0].link_unreview_number -= parseInt(this.taskIds.length)
      this.reviewLinkVisible = false
      this.getLinkList(this.index)
      this.getDataInfo()
    },
    getLinkList(index) {
      this.waitingLinkTable = []
      this.passedLinkTable = []
      const link_status = index
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: this.project_id,
        link_status: String(link_status),
        platform_nickname: this.searchInput
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/specialTaskLinkList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('链接待审中暂无数据')
          }
          this.$data.waitingLinkTable = resp.data.project_task_pre_view
          this.waitingLinkTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      } else {
        this.postRequest('/youngee/m/project/specialTaskLinkList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('链接通过中暂无数据')
          }
          this.$data.passedLinkTable = resp.data.project_task_pre_view
          this.passedLinkTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      }
    },
    async handleAllPassClick() {
      if (this.index === 0) {
        // 链接批量通过
        const val = this.selectedDataList
        if (val.length === 0) {
          this.$message('请选择任务')
          return
        }
        this.taskIds = []
        for (let i = 0; i < val.length; i++) {
          const taskId = val[i].task_id
          this.taskIds.push(taskId)
        }
        this.PassLink()
      } else {
        // 导出表格
        if (this.selectedDataList.length === 0) {
          this.$message({
            message: '请至少选择一条需要导出的数据',
            type: 'warning'
          })
          return
        }
        const tableHeader = ['任务ID', '账号昵称', '粉丝数', '发布链接'] // 设置Excel表格的表头
        const filterVal = ['task_id', 'platform_nickname', 'fans_count', 'link_url'] // 跟表格表头对应的绑定的prop
        const tableTitleName = this.$store.state.project.project_name + '发布链接表'

        this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // 导出
          require.ensure([], () => {
            const { export_json_to_excel } = require('@/excel/export2Excel') // 注意这个Export2Excel路径
            const list = JSON.parse(JSON.stringify(this.selectedDataList))
            const data = this.formatJson(filterVal, list)
            export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
          })
        }).catch(() => { })
      }
    },
    formatJson(filterVal, Data) {
      return Data.map(v => filterVal.map(j => v[j]))
    },
    selectedChange(val) {
      this.selectedDataList = val
    }
  }
}
</script>
<style scoped lang = "scss">
.releaseManage {
  text-align: center;
}

.releaseManageCard {
  display: flex;
  text-align: center;
  justify-content: center;
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
}

.input-big-box {
  width: 800px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
  padding: 0 48px 0 0;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.reviewer-table-manage {
  color: black;
  border: 2px solid #057bf2;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  justify-content: left;
}

.PassBtn {
  border: none;
  justify-content: center;
  background-color: #057bf2;
  color: white;
  margin: 10px;
  // padding: 8px 15px;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.search-button {
  border: none !important;
  background-color: #057bf2 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
  color: white;
}

.el-dialog__body {
  padding: 5px 15px;
  text-align: center;
}

.releaseManage .el-dialog{
  top: 10vw !important;
}
</style>
