<template>
	<el-container class="home">
		<el-header class="head">
			<el-row>
				<el-col :span="12">
					<el-button :class="CenterCurTab == 0 ? 'btn-active' : 'btn1'" @click="CenterCurTab = 0">选品广场</el-button>
					<el-button :class="CenterCurTab == 1 ? 'btn-active' : 'btn1'"
						@click="CenterCurTab = 1; MySecCurTab = 0">我的选品</el-button></el-col>
				<el-col :span="12" style="display: flex;justify-content: end;">
					<el-button type="primary" class="head-right-button"
						@click="handleCreateSelectionClick()">创建选品</el-button></el-col>
			</el-row>
			<br />
		</el-header>
		<my-selection v-show="CenterCurTab == 1 && MySecCurTab == 0"></my-selection>
		<selection-info v-show="CenterCurTab == 1 && MySecCurTab == 1"></selection-info>
		<selection-basic-info></selection-basic-info>
		<selection-square v-show="CenterCurTab == 0"></selection-square>
		<task-requirement></task-requirement>
		<selection-brief></selection-brief>
		<selection-detail v-show="CenterCurTab == 2" :selection-detail="SelectionDetail"></selection-detail>
	</el-container>
</template>

<script>
import { EventBus } from "@/event-bus.js";
import MySelection from '@/views/SelectionCenter/MySelection/MySelection.vue'
import SelectionInfo from '@/views/SelectionCenter/MySelection/SelectionInfo.vue'
import SelectionBasicInfo from '@/components/SelectionCenter/CreateSelection/SelectionBasicInfo.vue'
import TaskRequirement from '@/components/SelectionCenter/CreateSelection/TaskRequirement.vue'
import SelectionBrief from '@/components/SelectionCenter/CreateSelection/SelectionBrief.vue'
import SelectionSquare from "@/views/SelectionCenter/SelectionSquare/SelectionSquare.vue";
import SelectionDetail from "./SelectionSquare/SelectionDetail.vue";
export default {
	components: {
		MySelection,
		SelectionInfo,
		SelectionBasicInfo,
		TaskRequirement,
		SelectionSquare,
		SelectionDetail,
		SelectionBrief
	},
	data() {
		return {
			SelectionDetail: [],
			CenterCurTab: 0,
			MySecCurTab: 0,
			creatingNumber: 0,
			showName: "全流程项目",
			isWholePro: true,
			isSpecRun: false,
			isDraftBox: false,
			ddl: "",
			pickerOptions: {},
			searchInput: "",
			project_statu: "",
			project_type: "1",
			project_form: "",
			project_platform: "",
			content_type: "",
			project_types: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "全流程项目",
				},
				{
					value: "2",
					label: "专项执行项目",
				},
			],
			project_status: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "2",
					label: "待审核",
				},
				{
					value: "4",
					label: "招募中",
				},
				{
					value: "6",
					label: "待支付",
				},
				{
					value: "8",
					label: "失效",
				},
				{
					value: "9",
					label: "执行中",
				},
				{
					value: "10",
					label: "已结案",
				},
			],
			project_forms: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "实体-商品寄拍",
				},
				{
					value: "2",
					label: "虚拟产品测评",
				},
				{
					value: "3",
					label: "线下探店打卡",
				},
			],
			project_platforms: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "红book",
				},
				{
					value: "2",
					label: "抖音",
				},
				{
					value: "3",
					label: "微博",
				},
				{
					value: "4",
					label: "快手",
				},
				{
					value: "5",
					label: "b站",
				},
				{
					value: "6",
					label: "大众点评",
				},
				{
					value: "7",
					label: "知乎",
				},
			],
			content_types: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "图文",
				},
				{
					value: "2",
					label: "视频",
				},
			],
			// 默认显示第几页
			currentPage: 1,
			// 总条数，根据接口获取数据长度(注意：这里不能为空)
			totalCount: 0,
			// 个数选择器（可修改）
			pageSizes: [10, 20, 30, 40],
			// 默认每页显示的条数（可修改）
			PageSize: 10,
			tableData: [],
		};
	},
	async mounted() {
		// 接收子组件消息
		EventBus.$on("showSelectionInfo", (msg) => {
			this.CenterCurTab = 1;
			this.MySecCurTab = 1;
			console.log("展示选品详情")
		});
		EventBus.$on("ShowSelectionDetail", (msg) => {
			// console.log(msg)
			this.CenterCurTab = 2;
			this.SelectionDetail = msg
		})
	},
	methods: {
		handleCreateSelectionClick() {
			EventBus.$emit("CreateSelection", true);
		},
	},
	computed: {},
};
</script>

<style scoped lang = "scss">
.home {
	background-color: #fbfbfb;
	padding: 0;
}

.projectCenter {
	padding-left: 10px;
	margin-top: 30px;
}

.project {
	background: #ffffff;
	border-radius: 5px;
}

.projectStat {
	display: flex;
	justify-content: space-between;
}



.input-box-line {
	line-height: 40px;
	margin: 20px;
}

.input-box {
	width: 200px;
	flex: 0, 1, atuo;
	float: right;
}

.projectTable {
	width: 100%;
	margin-top: 20px;
	align-content: center;
}

.head-right-button {
	font-size: 16px;
	padding: 10px 10px;
	margin-right: 16px;
	margin-top: 60px;
	width: 100px;
	border: none !important;
	background-color: #1890ff !important;
	color: white !important;
}

.btn-active {
	border: 1px solid #1890ff;
	width: 170px;
	background-color: #fff !important;
	color: #1890ff !important;

}

.btn1 {
	color: black;
	background: #ffffff;
	border: 0.01px solid #ecf0ef;
	width: 170px;
	// padding: 20px 10px;
}

.btn1:focus {
	border: 1px solid #1890ff;
	background-color: #fff;
	color: #1890ff;
}

.btn1:hover {
	background-color: #fff;
	color: #1890ff;
}

.btn1.is-active,
.btn1:active {
	background-color: #fff !important;
	color: #1890ff !important;
}
</style>
<style>
.head .el-button+.el-button,
.el-checkbox.is-bordered+.el-checkbox.is-bordered {
	margin-left: 0rem;
}

.el-tabs__item:hover {
	outline: 0 !important;
	color: #1890ff !important;
	background-color: white;
}

.el-tabs__item.is-active {
	outline: 0 !important;
	color: #1890ff !important;
	background-color: white;
}
</style>
