<!-- //选品广场 复用的全流程--> 
<template>
  <el-container class="Project">
    <el-main>
      <div class="project main">
        <div class="projectStat">
          <div class="input-box-line">
            项目状态：
            <el-select
              v-model="project_statu"
              clearable
              class="input-box"
              placeholder="不限"
            >
              <el-option
                v-for="item in project_status"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                @click.native="findProject"
              />
            </el-select>
          </div>
          <div class="input-box-line">
            任务形式：
            <el-select
              v-model="task_mode"
              clearable
              class="input-box"
              placeholder="不限"
            >
              <el-option
                v-for="item in task_modes"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                @click.native="findProject"
              />
            </el-select>
          </div>
          <div class="input-box-line">
            社媒平台：
            <el-select
              v-model="project_platform"
              clearable
              class="input-box"
              placeholder="不限"
            >
              <el-option
                v-for="item in project_platforms"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                @click.native="findProject"
              />
            </el-select>
          </div>

          <div class="input-box-line">
            领样形式：
            <el-select
              v-model="sample_mode"
              clearable
              class="input-box"
              placeholder="不限"
            >
              <el-option
                v-for="item in sample_modes"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                @click.native="findProject"
              />
            </el-select>
          </div>
        </div>
        <div class="projectStat">
          <div class="input-box-line">
            内容形式：
            <el-select
              v-model="content_type"
              clearable
              class="input-box"
              placeholder="不限"
            >
              <el-option
                v-for="item in content_types"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                @click.native="findProject"
              />
            </el-select>
          </div>
          <div class="input-box-line">
            最后操作时间：
            <el-date-picker
              v-model="ddl"
              align="right"
              type="date"
              clearable
              style="width: 140px"
              value-format="yyyy-MM-dd"
              placeholder="选择日期"
            />
          </div>
          <div class="input-box-line" style="margin-left: 50px">
            <el-input
              v-model="search_value"
              clearable
              placeholder="项目ID、项目名称等"
              @click.native="findProject"
            >
              <el-button
                slot="append"
                style="background-color: #1890ff; color: white"
                @click="findProject"
                >搜索</el-button
              >
            </el-input>
          </div>
        </div>
      </div>
      <el-button @click="handleCreateSelectionClick">创建选品</el-button>
      <el-table :data="tableData" border class="projectTable">
        <el-table-column prop="SelectionID" label="项目ID" align="center" />
        <el-table-column prop="SelectionName" label="项目名称" align="center" />
        <el-table-column
          prop="EnterpriseID"
          label="商家用户ID"
          align="center"
        />
        <el-table-column
          prop="SelectionStatus"
          label="项目状态"
          align="center"
        />
        <el-table-column prop="Platform" label="社媒平台" align="center" />
        <el-table-column prop="TaskMode" label="任务形式" align="center" />
        <el-table-column prop="ContentType" label="内容形式" align="center" />
        <el-table-column prop="TaskDdl" label="最后操作时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="handleClickShow(scope.row)"
              >查看</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top: 20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
      <SelectionBrief />
      <SelectionBasicInfo />
      <TaskRequirement />
    </el-main>
  </el-container>
</template>
  
  <script>
import { EventBus } from "@/event-bus";
import SelectionBasicInfo from "@/components/SelectionCenter/CreateSelection/SelectionBasicInfo.vue";
import TaskRequirement from "@/components/SelectionCenter/CreateSelection/TaskRequirement.vue";
import SelectionBrief from "@/components/SelectionCenter/CreateSelection/SelectionBrief.vue";
export default {
  components: {
    // CreateProject,
    // ExcuteRequirement,
    // RecruitRequirement
    SelectionBrief,
    SelectionBasicInfo,
    TaskRequirement,
  },
  data() {
    return {
      ddl: "",
      search_value: "",
      project_statu: "0",
      task_mode: "",
      project_platform: "",
      sample_mode: "",
      content_type: "",
      project_status: [
        {
          value: "0",
          label: "不限",
        },
        {
          value: "1",
          label: "创建中",
        },
        {
          value: "2",
          label: "待审核",
        },
        {
          value: "3",
          label: "审核通过",
        },
        {
          value: "4",
          label: "待支付",
        },
        {
          value: "5",
          label: "已支付",
        },
        {
          value: "6",
          label: "执行中",
        },
        {
          value: "7",
          label: "失效",
        },
        {
          value: "8",
          label: "已结案",
        },
      ],
      sample_modes: [
        {
          value: "0",
          label: "不限",
        },
        {
          value: "1",
          label: "免费领样",
        },
        {
          value: "2",
          label: "垫付买样",
        },
        {
          value: "3",
          label: "悬赏任务",
        },
        {
          value: "4",
          label: "纯佣带货",
        },
      ],
      task_modes: [
        {
          value: "0",
          label: "不限",
        },
        {
          value: "1",
          label: "悬赏任务",
        },
        {
          value: "2",
          label: "纯佣带货",
        },
      ],
      project_platforms: [
        {
          value: "0",
          label: "不限",
        },
        {
          value: "1",
          label: "红book",
        },
        {
          value: "2",
          label: "抖音",
        },
        {
          value: "3",
          label: "微博",
        },
        {
          value: "4",
          label: "快手",
        },
        {
          value: "5",
          label: "b站",
        },
        {
          value: "6",
          label: "大众点评",
        },
        {
          value: "7",
          label: "知乎",
        },
      ],
      content_types: [
        {
          value: "0",
          label: "不限",
        },
        {
          value: "1",
          label: "图文",
        },
        {
          value: "2",
          label: "视频",
        },
      ],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,
      tableData: [],
    };
  },
  computed: {},
  watch: {
    project_statu() {
      this.findProject();
    },
    searchInput() {
      this.findProject();
    },
    ddl() {
      this.findProject();
    },
    content_type() {
      this.findProject();
    },
    project_platform() {
      this.findProject();
    },
    task_mode() {
      this.findProject();
    },
  },

  mounted() {
    this.project_statu = this.$route.query.project_statu;
    // this.findProject()

    //   this.findProject();
    // 接收子组件消息
    EventBus.$on("showSelectionInfo", (msg) => {
      this.CenterCurTab = 1;
      this.MySecCurTab = 1;
      console.log("展示选品详情");
    });
    EventBus.$on("ShowSelectionDetail", (msg) => {
      // console.log(msg)
      this.CenterCurTab = 2;
      this.SelectionDetail = msg;
    });
  },

  methods: {
    isNull(value) {
      if (value === "") {
        value = 0;
      }
    },
    handleCreateSelectionClick() {
      EventBus.$emit("CreateSelection", true);
    },
    // 获取项目列表
    async findProject() {
      let project_id, project_name;
      if (!/^\d+$/.test(this.searchInput)) {
        project_name = this.searchInput;
      } else {
        project_id = this.searchInput;
      }

      let status = this.project_statu == "" ? 0 : parseInt(this.project_statu);

      const params = {
        page_size: 10,
        page_num: 1,
        // enterprise_id: this.,
        selection_status: status,
        platform: parseInt(this.project_platform),
        sample_mode: parseInt(this.sample_mode),
        content_type: parseInt(this.content_type),
        task_mode: parseInt(this.task_mode),
        search_value: this.search_value,
        // submit_at: '',
        task_ddl: this.ddl,
      };
      const statusMap = {
        1: "创建中",
        2: "待审核",
        3: "审核通过",
        4: "待支付",
        5: "已支付",
        6: "执行中",
        7: "失效",
        8: "已结案",
        // 其他数字对应的字符串
      };
      const platformMap = {
        1: "小红书",
        2: "抖音",
        3: "微博",
        4: "快手",
        5: "B战",
        6: "大众点评",
        7: "知乎",
        // 其他数字对应的字符串
      };
      const TaskModeMap = {
        1: "悬赏任务",
        2: "纯拥带货",

        // 其他数字对应的字符串
      };
      const ContentTypeMap = {
        1: "图文",
        2: "视频",
      };
      this.postRequest("/youngee/m/selection/findAll", params).then((resp) => {
        if (resp.data.total !== 0) {
          let projectlist = null;
          let totalCount = null;
          projectlist = resp.data.selection_info;
          this.$data.tableData = projectlist;
          this.tableData.forEach((e) => {
            e.TaskDdl =
              e.TaskDdl.substring(0, 10) + " " + e.TaskDdl.substring(11, 19);
            e.SelectionStatus = statusMap[e.SelectionStatus];
            e.Platform = platformMap[e.Platform];
            e.TaskMode = TaskModeMap[e.TaskMode];
            e.ContentType = ContentTypeMap[e.ContentType];
          });
          totalCount = parseInt(resp.data.total);
          this.$data.totalCount = totalCount;
        } else {
          this.$message("暂无数据");
          this.tableData = [];
        }
      });
    },

    getData(n1, n2) {
      const params = {
        page_size: n1,
        page_num: n2,
        // enterprise_id: this.,
        selection_status: this.project_statu,
        platform: parseInt(this.project_platform),
        sample_mode: parseInt(this.sample_mode),
        content_type: parseInt(this.content_type),
        task_mode: parseInt(this.task_mode),
        search_value: this.search_value,
        // submit_at: '',
        task_ddl: this.ddl,
      };
      this.postRequest("/youngee/m/selection/findAll", params).then((resp) => {
        if (resp.data.total !== 0) {
          let projectlist = null;
          let totalCount = null;
          projectlist = resp.data.selection_info;
          this.tableData.forEach((e) => {
            e.TaskDdl =
              e.TaskDdl.substring(0, 10) + " " + e.TaskDdl.substring(11, 19);
            e.SelectionStatus = statusMap[e.SelectionStatus];
            e.Platform = platformMap[e.Platform];
            e.TaskMode = TaskModeMap[e.TaskMode];
            e.ContentType = ContentTypeMap[e.ContentType];
          });
          totalCount = parseInt(resp.data.total);
          this.$data.totalCount = totalCount;
        } else {
          this.$message("暂无数据");
          this.tableData = [];
        }
      });
    },

    handleClickShow(row) {
      console.log(row, "---");
      this.$store.state.selection= row;
      // 跳转到项目详情界面，参数为project_id
      this.$router.push({
        path: "/detail",
        query: {
          selection_id: row.SelectionID
        },
      });
    },

    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val;
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1);
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1;
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val;
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val);
    },
  },
};
</script>
  
  <style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
  
  <style scoped lang = "scss">
.projectCenter {
  font-size: 18px;
  margin-top: 30px;
}

.project {
  background: #f5f5f54d;
  border-radius: 10px;
}

.projectStat {
  display: flex;
  flex-direction: row;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
  margin-left: 2%;
}

.projectTable {
  width: 100%;
  margin-top: 20px;
  align-content: center;
}
</style>
  
  <style>
.input-box > .el-input {
  width: 150px;
}

.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-textarea .el-input__count {
  color: #909399;
  background: #fff;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 25px;
}
</style>
  