<!-- 审稿管理 -->
<template>
  <div class="recruitManage">
    <el-card class="recruitManageCard" shadow="never" style="">
      <div>
        <div class="flow_info_base">
          <span class="flow_right">审稿数据</span>
        </div>
      </div>
      <el-table
        :key="recruitStrategyKey"
        :data="recruit_strategys"
        border
        class="reviewer-table-manage"
        :header-cell-style="{ background: '#6394ea', color: 'white' }"
      >
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="show_fee_form" label="稿费形式" align="center" />
        <el-table-column prop="fans" label="创作者粉丝量" align="center" />
        <el-table-column prop="review_number" label="应审稿数量" align="center" />
        <el-table-column v-if="content_type_show === '视频'" prop="script_unreview_number" label="脚本待审" align="center" />
        <el-table-column v-if="content_type_show === '视频'" prop="script_passed_number" label="脚本通过" align="center" />
        <el-table-column prop="sketch_unreview_number" label="初稿待审" align="center" />
        <el-table-column prop="sketch_passed_number" label="初稿通过" align="center" />
      </el-table>
    </el-card>

    <div v-show="content_type_show === '视频'" id="box">
      <div
        v-for="(item, i) in bottonList1"
        :key="i"
        class="box_btn"
        :class="chooseBtn === i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>

    <div v-show="content_type_show === '图文'" id="box">
      <div
        v-for="(item, i) in bottonList2"
        :key="i"
        class="box_btn"
        :class="chooseBtn === i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex; margin-left: 20%">
      <div class="input-box-line">
        策略编号：
        <el-select v-model="strategy_id" class="input-box" placeholder="不限">
          <el-option v-for="item in strategy_ids" :key="item.value" :label="item.label" :value="item.value" @click.native="getReviewList(index)" />
        </el-select>
      </div>
      <div class="input-box-line" style="margin-left: 50px">
        <el-input v-model="searchInput" placeholder="账号昵称、任务ID">
          <el-button slot="append" class="search-button" @click="getReviewList(index)">搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 初稿待审-->
    <div v-show="index === 0">
      <div style="margin-bottom: 5px; float: right">
        <el-button class="search-button" @click="allSelecting">通过</el-button>
      </div>
      <el-table
        ref="waitingSketchTable"
        :data="waitingSketchTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="sketch_upload_time" label="初稿上传时间" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="reviewSketch(scope.row)">审稿</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 初稿通过-->
    <div v-show="index === 1">
      <el-table
        ref="passedSketchTable"
        :data="passedSketchTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="argee_at" label="初稿通过时间" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="previewSketch(scope.row)">查看初稿</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 脚本待审-->
    <div v-show="index === 2">
      <div style="margin-bottom: 5px; float: right">
        <el-button class="search-button" @click="allSelecting">通过</el-button>
      </div>
      <el-table
        ref="waitingScriptTable"
        :data="waitingScriptTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="script_upload_time" label="脚本上传时间" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="reviewscript(scope.row)">审查脚本</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 脚本通过-->
    <div v-show="index === 3">
      <el-table
        ref="passedScriptTable"
        :data="passedScriptTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="agree_at" label="脚本通过时间" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="previewscript(scope.row)">查看脚本</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 初稿待审--审稿弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="ReviewSketchVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="ReviewSketchVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <p style="width:120px">题目：</p>
        <el-input v-model="title" class="input-box" :readonly="true" />
      </div>
      <div class="input-box-line">
        <p style="width:120px">正文/脚本：</p>
        <el-input
          v-model="Sketch"
          class="input-big-box"
          maxlength="300"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
        />
      </div>
      <div class="input-box-line">
        <span style="width:120px"> 配图/视频demo： </span>
        <div style="display:flex">
          <div class="demo">
            <el-col v-for="item in picture_video" :key="item.index" :span="30">
              <div v-if="item.symbol === 1" class="picture-list-item">
                <img
                  :src="item.url"
                  alt=""
                  height="180px"
                  width="180px"
                  preview="1"
                  @click="ReviewSketchVisible = false"
                >
              </div>
              <div v-if="item.symbol === 2" class="picture-list-item">
                <video width="320" height="240" controls>
                  <source :src="item.url" type="video/mp4">
                </video>
              </div>
            </el-col>
          </div>
        </div>
      </div>

      <div class="input-box-line">
        <p style="width:120px">修改意见：</p>
        <el-input
          v-model="Sketchadvice"
          class="input-big-box"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 5, maxRows: 8 }"
        />
      </div>
      <div class="dialog-button">
        <el-button type="primary" class="PassBtn" :visible.sync="ReviewSketchVisible" @click="handlePassSketch">
          初稿通过</el-button>
        <el-button type="primary" class="RefuseBtn" :visible.sync="ReviewSketchVisible" @click="RefuseSketch">
          返回修改
        </el-button>
      </div>
    </el-dialog>
    <!-- 初稿通过--查看初稿弹窗 -->
    <el-dialog style="padding: 0 !important" :visible.sync="PreviewSketchVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="PreviewSketchVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <p style="width:120px">题目：</p>
        <el-input v-model="title" class="input-box" :readonly="true" />
      </div>
      <div class="input-box-line">
        <p style="width:120px">正文/脚本：</p>
        <el-input
          v-model="Sketch"
          class="input-big-box"
          maxlength="300"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
        />
      </div>
      <div class="input-box-line">
        <span style="width:120px"> 配图/视频demo：</span>
        <div class="demo">
          <el-col v-for="item in picture_video" :key="item.index" :span="30">
            <div v-if="item.symbol === 1" class="picture-list-item">
              <img
                :src="item.url"
                alt=""
                height="180px"
                width="180px"
                preview="1"
                @click="PreviewSketchVisible = false"
              >
            </div>
            <div v-if="item.symbol === 2" class="picture-list-item">
              <video width="320" height="240" controls>
                <source :src="item.url" type="video/mp4">
              </video>
            </div>
          </el-col>
        </div>
      </div>
    </el-dialog>
    <!-- 脚本待审--审查脚本弹窗 -->
    <el-dialog style="padding: 0 !important" :visible.sync="ReviewScriptVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="ReviewScriptVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <p style="width:120px">题目：</p>
        <el-input v-model="title" class="input-box" :readonly="true" placeholder="不限" />
      </div>
      <div class="input-box-line">
        <p style="width:120px">脚本：</p>
        <el-input
          v-model="Script"
          class="input-big-box"
          maxlength="500"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
          placeholder="请输入任务描述（500字以内）"
        />
      </div>
      <div class="input-box-line">
        <p style="width:120px">修改意见：</p>
        <el-input
          v-model="scriptadvice"
          class="input-big-box"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 5, maxRows: 8 }"
        />
      </div>
      <div>
        <el-button type="primary" class="PassBtn" :visible.sync="ReviewSketchVisible" @click="handlePassScript">
          脚本通过</el-button>
        <el-button type="primary" class="RefuseBtn" :visible.sync="ReviewSketchVisible" @click="RefuseScript">
          返回修改
        </el-button>
      </div>
    </el-dialog>
    <!-- 脚本通过--查看脚本弹窗 -->
    <el-dialog style="padding: 0 !important" :visible.sync="PreviewScriptVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="PreviewScriptVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <p style="width:120px">题目：</p>
        <el-input v-model="title" class="input-box" :readonly="true" placeholder="不限" />
      </div>
      <div class="input-box-line">
        <p style="width:120px">脚本：</p>
        <el-input
          v-model="Script"
          class="input-big-box"
          maxlength="500"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
          placeholder="请输入任务描述（500字以内）"
        />
      </div>
    </el-dialog>
  </div>
</template>

<script>
// Vue.use(ElementUI,{ zIndex: 1000 })
import { fansview } from '@/utils'
export default {
  name: 'ReviewerManage',
  data() {
    return {
      bottonList1: [
        {
          name: '初稿待审'
        },
        {
          name: '初稿通过'
        },
        {
          name: '脚本待审'
        },
        {
          name: '脚本通过'
        }
      ],
      bottonList2: [
        {
          name: '初稿待审'
        },
        {
          name: '初稿通过'
        }
      ],
      project_id: this.$store.state.project.project_id,
      content_type_show: this.$store.state.project.content_type_show,
      // 控制切换按钮后按钮改变样式
      index: 0,
      chooseBtn: 0,
      searchInput: '',

      strategy_id: '',
      taskIds: [],
      strategy_ids: [],
      recruit_strategys: this.$store.state.recruit_strategys,

      // 初稿待审 通过
      title: '',
      picture_video: [],
      Sketch: '',
      Sketchadvice: '',
      // 脚本待审 通过
      Script: '',
      scriptadvice: '',
      // 控制弹窗显示
      ReviewSketchVisible: false, // 初稿审稿弹窗
      PreviewSketchVisible: false, // 初稿查看弹窗
      ReviewScriptVisible: false, // 脚本审稿弹窗
      PreviewScriptVisible: false, // 脚本查看弹窗
      // 存储所选任务
      waitingSketchTable: [],
      passedSketchTable: [],
      waitingScriptTable: [],
      passedScriptTable: [],

      // 控制点击按钮后子组件显示，再次点击隐藏
      selectingChanged1: [],
      selectingChanged2: [],
      lostChanged: [],

      recruitStrategyKey: '',

      sketchStrategyId: '',
      scriptStrategyId: ''
    }
  },
  created() {
    this.getReviewList(0)
    this.getDataInfo()
  },
  mounted() {
  },
  methods: {
    getDataInfo() {
      const strategy_ids = []
      const strategy_id = {
        value: 0,
        label: '不限'
      }
      this.strategy_ids = []
      this.strategy_ids.push(strategy_id)
      for (const i in this.$store.state.recruit_strategys) {
        const strategy_id = {
          value: this.$store.state.recruit_strategys[i].strategy_id,
          label: this.$store.state.recruit_strategys[i].strategy_id
        }
        this.strategy_ids.push(strategy_id)
        strategy_ids.push(this.recruit_strategys[i].strategy_id)
      }
      const params = {
        project_id: this.project_id,
        strategy_ids: strategy_ids.toString()
      }
      this.postRequest('/youngee/m/project/getreviewnumberinfo', params).then(
        (resp) => {
          for (const i in this.$data.recruit_strategys) {
            this.$data.recruit_strategys[i].review_number =
              resp.data.number_info_list[i].review_number
            this.$data.recruit_strategys[i].script_unreview_number =
              resp.data.number_info_list[i].script_unreview_number
            this.$data.recruit_strategys[i].script_passed_number =
              resp.data.number_info_list[i].script_passed_number
            this.$data.recruit_strategys[i].sketch_unreview_number =
              resp.data.number_info_list[i].sketch_unreview_number
            this.$data.recruit_strategys[i].sketch_passed_number =
              resp.data.number_info_list[i].sketch_passed_number
          }
          this.$data.recruitStrategyKey = Math.random()
        }
      )
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getReviewList(this.index)
    },
    // 显示弹窗 初稿-审稿
    async reviewSketch(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      this.sketchStrategyId = row.strategy_id
      this.picture_video = []
      const params = {
        sketch_id: parseInt(row.sketch_id)
      }
      this.title = row.title
      this.Sketch = row.content
      this.Sketchadvice = ''
      await this.postRequest('/youngee/m/project/findsketchphoto', params).then(
        (resp) => {
          for (const i in resp.data) {
            const photo = {
              url: resp.data[i].photo_url,
              uid: parseInt(resp.data[i].photo_uid),
              symbol: parseInt(resp.data[i].symbol)
            }
            this.picture_video.push(photo)
          }
        }
      )
      this.ReviewSketchVisible = true
    },
    // 显示弹窗 审核通过查看初稿
    async previewSketch(row) {
      this.picture_video = []
      this.title = row.title
      this.Sketch = row.content
      this.Sketchadvice = row.revise_opinion
      const params = {
        sketch_id: parseInt(row.sketch_id)
      }
      await this.postRequest('/youngee/m/project/findsketchphoto', params).then(
        (resp) => {
          for (const i in resp.data) {
            const photo = {
              url: resp.data[i].photo_url,
              uid: parseInt(resp.data[i].photo_uid),
              symbol: parseInt(resp.data[i].symbol)
            }
            this.picture_video.push(photo)
          }
        }
      )
      this.PreviewSketchVisible = true
    },
    // 显示弹窗 脚本待审
    reviewscript(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      this.scriptStrategyId = row.strategy_id
      this.title = row.title
      this.Script = row.content
      this.Scriptadvice = ''
      this.ReviewScriptVisible = true
    },
    // 显示弹窗 审核通过查看脚本
    previewscript(row) {
      this.title = row.title
      this.Script = row.content
      this.PreviewScriptVisible = true
    },
    // 单个通过初稿
    async handlePassSketch() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择任务')
        return
      }
      const params = {
        task_id_list: this.taskIds.toString()
      }
      const strategyIdNumber = new Map()
      strategyIdNumber.set(this.sketchStrategyId, 1)
      this.handlePassSketchChangeNumber(strategyIdNumber)
      await this.postRequest('/youngee/m/project/acceptsketch', params).then(
        (resp) => { }
      )
      this.getReviewList(this.index)
      this.getDataInfo()
      this.ReviewSketchVisible = false
    },
    // 批量通过初稿
    async PassSketch() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择任务')
        return
      }
      const params = {
        task_id_list: this.taskIds.toString()
      }
      await this.postRequest('/youngee/m/project/acceptsketch', params).then(
        (resp) => { }
      )
      this.getReviewList(this.index)
      this.getDataInfo()
    },
    // 拒绝初稿
    async RefuseSketch() {
      if (this.Sketchadvice === '') {
        this.$message.error('修改意见不能为空')
        return
      }
      const params = {
        task_id: this.taskIds[0],
        strategy_id: parseInt(this.strategy_id),
        sketch_opinion: this.Sketchadvice
      }
      const strategyIdNumber = new Map()
      strategyIdNumber.set(this.sketchStrategyId, 1)
      this.handleRefuseSketchChangeNumber(strategyIdNumber)
      await this.postRequest('/youngee/m/project/sketchopinion', params).then(
        (resp) => { }
      )
      this.getReviewList(this.index)
      this.getDataInfo()
      this.ReviewSketchVisible = false
    },
    // 单个通过脚本
    async handlePassScript() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择任务')
        return
      }
      const params = {
        task_id_list: this.taskIds.toString()
      }
      const strategyIdNumber = new Map()
      strategyIdNumber.set(this.scriptStrategyId, 1)
      this.handlePassScriptChangeNumber(strategyIdNumber)
      await this.postRequest('/youngee/m/project/acceptscript', params).then(
        (resp) => { }
      )
      this.getReviewList(this.index)
      this.getDataInfo()
      this.ReviewScriptVisible = false
    },
    // 批量通过脚本
    async PassScript() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择任务')
        return
      }
      const params = {
        task_id_list: this.taskIds.toString()
      }
      await this.postRequest('/youngee/m/project/acceptscript', params).then(
        (resp) => { }
      )
      this.getReviewList(this.index)
      this.getDataInfo()
    },
    // 拒绝脚本
    async RefuseScript() {
      // 鲁棒性检测
      if (this.scriptadvice === '') {
        this.$message.error('修改意见不能为空')
        return
      }
      const params = {
        task_id: this.taskIds[0],
        strategy_id: parseInt(this.strategy_id),
        script_opinion: this.scriptadvice
      }
      const strategyIdNumber = new Map()
      strategyIdNumber.set(this.scriptStrategyId, 1)
      this.handleRefuseScriptChangeNumber(strategyIdNumber)
      await this.postRequest('/youngee/m/project/scriptopinion', params).then(
        (resp) => { }
      )
      this.getReviewList(this.index)
      this.getDataInfo()
      this.ReviewScriptVisible = false
    },
    getReviewList(index) {
      const review_status = index

      const params = {
        page_size: 10,
        page_num: 1,
        project_id: String(this.project_id),
        sketch_status: String(review_status),
        script_status: String(review_status),
        strategy_id: String(this.strategy_id),
        platform_nickname: this.searchInput
        // task_id: this.searchInput,
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/tasksketchlist', params).then(
          (resp) => {
            if (resp.data.total === '0') {
              this.$message('初稿待审中暂无数据')
            }
            let projectTasklist = null
            let totalCount = null
            projectTasklist = resp.data.project_sketch_pre_view
            this.$data.waitingSketchTable = projectTasklist
            this.waitingSketchTable.forEach(e => {
              e.show_fans_count = fansview(e.fans_count)
            })
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          }
        )
      } else if (index === 1) {
        this.postRequest('/youngee/m/project/tasksketchlist', params).then(
          (resp) => {
            if (resp.data.total === '0') {
              this.$message('初稿通过中暂无数据')
            }
            let projectTasklist = null
            let totalCount = null
            projectTasklist = resp.data.project_sketch_pre_view
            this.$data.passedSketchTable = projectTasklist
            this.passedSketchTable.forEach(e => {
              e.show_fans_count = fansview(e.fans_count)
            })
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          }
        )
      } else if (index === 2) {
        this.postRequest('/youngee/m/project/taskscriptlist', params).then(
          (resp) => {
            if (resp.data.total === '0') {
              this.$message('脚本待审中暂无数据')
            }
            let projectTasklist = null
            let totalCount = null
            projectTasklist = resp.data.project_script_pre_view
            this.$data.waitingScriptTable = projectTasklist
            this.waitingScriptTable.forEach(e => {
              e.show_fans_count = fansview(e.fans_count)
            })
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          }
        )
      } else {
        this.postRequest('/youngee/m/project/taskscriptlist', params).then(
          (resp) => {
            if (resp.data.total === '0') {
              this.$message('脚本通过中暂无数据')
            }
            let projectTasklist = null
            let totalCount = null
            projectTasklist = resp.data.project_script_pre_view
            this.$data.passedScriptTable = projectTasklist
            this.passedScriptTable.forEach(e => {
              e.show_fans_count = fansview(e.fans_count)
            })
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          }
        )
      }
    },
    selectingChange(val) {
      if (this.index === 0) {
        this.selectingChanged1 = val
      } else {
        this.selectingChanged2 = val
      }
    },
    allSelecting() {
      let val, strategyIdNumber, taskId
      if (this.index === 0) {
        // 初稿批量通过
        val = this.selectingChanged1
        if (val.length === 0) {
          this.$message('请选择任务')
          return
        }
        strategyIdNumber = new Map()
        this.taskIds = []
        for (let i = 0; i < val.length; i++) {
          if (strategyIdNumber.has(val[i].strategy_id)) {
            strategyIdNumber[val[i].strategy_id]++
          } else {
            strategyIdNumber.set(val[i].strategy_id, 1)
          }
          taskId = val[i].task_id
          this.taskIds.push(taskId)
        }
        this.handlePassSketchChangeNumber(strategyIdNumber)
        this.PassSketch()
      } else {
        // 脚本批量通过
        val = this.selectingChanged2
        if (val.length === 0) {
          this.$message('请选择任务')
          return
        }
        strategyIdNumber = new Map()
        this.taskIds = []
        for (let i = 0; i < val.length; i++) {
          if (strategyIdNumber.has(val[i].strategy_id)) {
            strategyIdNumber[val[i].strategy_id]++
          } else {
            strategyIdNumber.set(val[i].strategy_id, 1)
          }
          taskId = val[i].task_id
          this.taskIds.push(taskId)
        }
        this.handlePassScriptChangeNumber(strategyIdNumber)
        this.PassScript()
      }
    },
    handlePassSketchChangeNumber(strategyIdNumber) {
      for (const i in this.recruit_strategys) {
        if (strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
          const changeNumber = parseInt(
            strategyIdNumber.get(this.recruit_strategys[i].strategy_id)
          )
          this.recruit_strategys[i].sketch_unreview_number =
            this.recruit_strategys[i].sketch_unreview_number - changeNumber
          this.recruit_strategys[i].sketch_passed_number =
            this.recruit_strategys[i].sketch_passed_number + changeNumber
        }
      }
      this.recruitStrategyKey = Math.random()
    },
    handleRefuseSketchChangeNumber(strategyIdNumber) {
      for (const i in this.recruit_strategys) {
        if (strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
          const changeNumber = parseInt(
            strategyIdNumber.get(this.recruit_strategys[i].strategy_id)
          )
          this.recruit_strategys[i].sketch_unreview_number =
            this.recruit_strategys[i].sketch_unreview_number - changeNumber
        }
      }
      this.recruitStrategyKey = Math.random()
    },
    handlePassScriptChangeNumber(strategyIdNumber) {
      for (const i in this.recruit_strategys) {
        if (strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
          const changeNumber = parseInt(
            strategyIdNumber.get(this.recruit_strategys[i].strategy_id)
          )
          this.recruit_strategys[i].script_unreview_number =
            this.recruit_strategys[i].script_unreview_number - changeNumber
          this.recruit_strategys[i].script_passed_number =
            this.recruit_strategys[i].script_passed_number + changeNumber
        }
      }
      this.recruitStrategyKey = Math.random()
    },
    handleRefuseScriptChangeNumber(strategyIdNumber) {
      for (const i in this.recruit_strategys) {
        if (strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
          const changeNumber = parseInt(
            strategyIdNumber.get(this.recruit_strategys[i].strategy_id)
          )
          this.recruit_strategys[i].script_unreview_number =
            this.recruit_strategys[i].script_unreview_number - changeNumber
        }
      }
      this.recruitStrategyKey = Math.random()
    }
  }
}
</script>
<style scoped lang = "scss">
.recruitManageCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.recruitManage {
  text-align: center;
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
}

.input-big-box {
  width: 400px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
  padding: 0 28px 0 0;
}

.demo {
  // width: 360px;
  float: right;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.reviewer-table-manage {
  color: black;
  border: 2px solid #248bf4;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.PassBtn {
  border: none;
  justify-content: center;
  background-color: #248bf4 !important;
  color: white !important;
  margin: 10px;
  // padding: 8px 15px;
}

.picture-list-item {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
  margin: 10px;
}

.search-button {
  border: none !important;
  background-color: #248bf4 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.picture-list {
  display: flex;
  align-items: flex-start;
}

.picture-list-item_img {
  width: auto;
  max-width: 180px;
  height: auto;
  max-height: 180px;
}

.dialog-button {
  display: flex;
  justify-content: center;
  margin: 20px 100px;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
  color: white;
}

.el-dialog__body {
  padding: 5px 15px;
  text-align: center;
}

.recruitManage .el-dialog {
  top: 10vw !important;
}
</style>
