<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">创作者详情页</div> -->
    <div>
      <el-row :gutter="20" class="system_state" type="flex">
        <el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
          <el-card class="card_item">
            <div>
              <span class="title-font">账号信息</span>
            </div>
            <div style="margin-top:10px">
              <el-row :gutter="8" style="margin-top:20px">
                <el-col :style="fontSize" class="text-wrapper">创作者名称：{{ talent_info_name }}</el-col>
              </el-row>
              <el-row :gutter="10" style="margin-top:10px">
                <el-col :style="fontSize" class="text-wrapper">创作者ID： {{ talent_info_id }}</el-col>
              </el-row>
              <el-row :gutter="10" style="margin-top:10px">
                <el-col :style="fontSize" class="text-wrapper">联系方式：{{ talent_info_phone }}</el-col>
              </el-row>
              <el-row :gutter="10" style="margin-top:10px">
                <el-col :style="fontSize" class="text-wrapper">创作者积分：{{ talent_info_phone }}</el-col>
              </el-row>
            </div>
          </el-card>
        </el-col>
        <el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
          <el-card class="card_item">
            <div>
              <span class="title-font">账号收益</span>
            </div>
            <div style="margin-top:10px">
              <el-row :gutter="10">
                <el-col :style="fontSize" class="text-wrapper">累计收益：{{ income }} 元</el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :style="fontSize" class="text-wrapper">可提现：{{ canwithdraw }} 元</el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :style="fontSize" class="text-wrapper">已提现：{{ withdrawed }} 元</el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :style="fontSize" class="text-wrapper">提现待确认：{{ withdrawing }} 元</el-col>
              </el-row>
            </div>
          </el-card>
        </el-col>
        <el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
          <el-card class="card_item">
            <div>
              <span class="title-font">物流信息</span>
            </div>
            <div style="margin-top:10px">
              <el-row :gutter="10" style="margin-top:20px">
                <el-col :style="fontSize" class="text-wrapper">收件人：{{ receiver_name }}</el-col>
              </el-row>
              <el-row :gutter="10" style="margin-top:10px">
                <el-col :style="fontSize" class="text-wrapper">电话：{{ phone_number }}</el-col>
              </el-row>
              <el-row :gutter="10" style="margin-top:10px">
                <el-col :style="fontSize" class="text-wrapper">收件地址：{{ detail_addr }}</el-col>
              </el-row>
            </div>
          </el-card>
        </el-col>
        <el-col :xs="5" :sm="5" :md="5" :lg="5" :xl="5">
          <el-card class="card_item">
            <div>
              <span class="title-font">银行卡信息</span>
            </div>
            <div style="margin-top:10px">
              <el-row :gutter="10">
                <el-col :style="fontSize" class="text-wrapper">户主姓名：{{ card_name }}</el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :style="fontSize" class="text-wrapper">银行：{{ bank }}</el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :style="fontSize">卡号：{{ bank_card_number }}</el-col>
              </el-row>
              <el-row :gutter="10">
                <el-col :style="fontSize" class="text-wrapper">开户地：{{ bank_open_address }}</el-col>
              </el-row>
            </div>
          </el-card>
        </el-col>
        <el-col :span="5">
          <el-card class="card_item">
            <div>
              <span class="title-font">支付宝信息</span>
            </div>
            <div style="margin-top:10px">
              <el-row :gutter="10" style="margin-top:20px">
                <el-col :style="fontSize" class="text-wrapper">支付宝号：{{ ali_pay_number }}</el-col>
              </el-row>
              <el-row :gutter="10" style="margin-top:10px">
                <el-col :style="fontSize" class="text-wrapper">真实姓名：{{ ali_pay_real_name }}</el-col>
              </el-row>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <el-card class="body-info">
      <span class="title-font">绑定账号信息</span>
      <el-table :data="accountInfo" :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}" border class="body-table">
        <el-table-column prop="platform" label="社媒平台" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans" label="粉丝量" align="center" />
        <el-table-column prop="home_page_capture_url" label="主页截图" align="center">
          <template slot-scope="scope">
            <img :src="scope.row.home_page_capture_url" alt="" width="80px" height="100px" preview="home_page_capture_url">
          </template>
        </el-table-column>
        <!-- <el-table-column prop="home_page_url" label="主页链接" align="center" /> -->
        <el-table-column prop="operate" label="主页链接" width="150" show-overflow-tooltip align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handShowLinkClick(scope.row)">
              {{ scope.row.home_page_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="modInfo(scope.row)">修改信息</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
    <el-card class="body-info">
      <span class="title-font">任务记录</span>
      <el-table :data="taskRecord" :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}" border class="body-table">
        <el-table-column prop="project_id" label="项目ID" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center" />
        <el-table-column prop="project_type" label="项目类型" align="center" />
        <el-table-column prop="project_platform" label="社媒平台" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="task_stage" label="任务状态" align="center" />
        <el-table-column prop="updated_at" label="最后操作时间" align="center" />
      </el-table>
    </el-card>

    <el-card class="body-info">
      <span class="title-font">YOUNGEE之团记录</span>
      <el-table :data="taskRecord" :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}" border class="body-table">
        <el-table-column prop="project_id" label="项目ID" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center" />
        <el-table-column prop="project_type" label="项目类型" align="center" />
        <el-table-column prop="project_platform" label="社媒平台" align="center" />
        <el-table-column prop="task_id" label="成团编码ID" align="center" />
        <el-table-column prop="task_stage" label="成团状态" align="center" />
        <el-table-column prop="task_id" label="积分奖励" align="center" />
        <el-table-column prop="task_stage" label="现金奖励" align="center" />
        <el-table-column prop="updated_at" label="操作" align="center" />
      </el-table>
    </el-card>

    <el-card class="body-info">
      <span class="title-font">提现记录</span>
      <el-table :data="withdrawRecord" :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}" border class="body-table" style="width:30%">
        <el-table-column prop="withdraw_amount" label="提现金额" align="center" />
        <el-table-column prop="withdraw_at" label="提现确认时间" align="center" />
      </el-table>
    </el-card>
    <el-dialog :visible.sync="modInfodialogVisible" width="850px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="modInfodialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;justify-content: center;">
        <div class="external" style="padding-bottom:10px;margin-left: 250px;">
          <span class="title">社媒账户信息看板</span>
        </div>
        <el-button class="updateButton" @click="updatePlatformInfo">更新账号信息</el-button>
      </div>
      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>账号名称：</span>
          <el-input v-model="nickname" style="width:200px" />
        </div>
        <div class="inline">
          <span>粉丝量：</span>
          <el-input v-model="fans_count" style="width:200px;margin-left: 15px;" />
        </div>
        <div class="inline">
          <span>主页链接：</span>
          <el-input v-model="home_page_url" style="width:500px;" />
        </div>
        <div class="inline">
          <span>主页截图：</span>
          <!-- <img :src="home_page_capture_url" alt="" width="80px" height="100px"> -->
          <div class="upload-cover" style="margin-left: 0px">
            <el-upload
              action
              :http-request="doUploadMain"
              :on-remove="handleRemoveMain"
              :on-exceed="handleMainExceed"
              :before-upload="beforeMainUpload"
              :file-list="MainPhotoList"
              scoped-solt=""
              :limit="1"
              list-type="picture-card"
            >
              <i slot="default" class="el-icon-plus" />
              <div slot="file" slot-scope="{ file }">
                <img
                  class="el-upload-list__item-thumbnail"
                  :src="file.url"
                  alt=""
                >
                <span class="el-upload-list__item-actions">
                  <span
                    v-if="!disabled"
                    class="el-upload-list__item-delete"
                    @click="handleRemoveMain(file)"
                  >
                    <i class="el-icon-delete" />
                  </span>
                </span>
              </div>
            </el-upload>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { money } from '../../../utils/index'

import ObsClient from '../../../esdk-obs-browserjs-without-polyfill-3.19.5.min.js'
// 创建ObsClient实例
var obs = new ObsClient({
  access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
  secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
  server: 'https://obs.cn-east-3.myhuaweicloud.com'
})

export default {
  name: 'Dashboard',
  data() {
    return {
      screenWidth: null, // 屏幕尺寸
      creatorName: '',
      creatorId: '',
      creatorPhone: '',
      talent_info_id: '',
      talent_info_phone: '',
      talent_info_name: '',
      is_bind_account: '',
      accountInfo: [],
      taskRecord: [],
      withdrawRecord: [],
      nickname: '',
      account_id: 0,
      fans_count: '',
      home_page_url: '',
      home_page_capture_url: '',
      modInfodialogVisible: false,
      income: 0,
      withdrawing: 0,
      canwithdraw: 0,
      withdrawed: 0,
      detail_addr: '',
      phone_number: '',
      receiver_name: '',
      bank: '',
      card_name: '',
      bank_open_address: '',
      bank_card_number: '',
      ali_pay_number: '',
      ali_pay_real_name: '',
      MainPhotoList: [],
      disabled: false,
      mainKeyArr: [],
      mainKeyArrTemp: [],
      carouselKeyArr: [],
      carouselKeyArrTemp: [],
      fontSize: {
        fontSize: '16px'
      }
    }
  },
  computed: {
  },
  watch: {
    modInfodialogVisible() {
      if (this.modInfodialogVisible === false) {
        this.MainPhotoList = []
      }
    },
    screenWidth: {
      handler: function(val, oldVal) {
        if (val < 1550) {
          console.log('屏幕宽度小于1550px')
          this.$data.fontSize.fontSize = '13px'
        } else {
          console.log('屏幕宽度大于1550px')
          this.$data.fontSize.fontSize = '16px'
        }
      },
      immediate: true
    }
  },
  mounted() {
    this.talent_info_id = this.$route.query.talent_info_id
    this.talent_info_phone = this.$route.query.talent_info_phone
    this.talent_info_name = this.$route.query.talent_info_name
    this.is_bind_account = this.$route.query.is_bind_account
    this.getPlatformAccountInfo()
    this.getAccountIncome()
    this.getTaskRecord()
    this.getWithdrawRecord()

    this.screenWidth = document.body.clientWidth
    window.onresize = () => { // 屏幕尺寸变化就重新赋值
      return (() => {
        this.screenWidth = document.body.clientWidth
      })()
    }
  },
  methods: {
    handShowLinkClick(row) {
      window.open(row.home_page_url.substring(row.home_page_url.lastIndexOf('http'), row.home_page_url.length), '_blank')
    },
    handleMainExceed() {
      this.$message('主页截图限1张')
    },
    // 主页截图上传
    doUploadMain(file) {
      var str = 'backstage_upload/' + this.guid() + '.png'
      var address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const mainPic = {
              url: address + str + '',
              uid: file.file.uid,
              symbol: 1
            }
            this.MainPhotoList.push(mainPic)
            console.log(this.MainPhotoList)
            // 为删除远程服务器的图片所使用的临时数组
            this.mainKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('主页截图的图片上传成功！')
          } else {
            this.$message.error('主页截图的图片上传失败！')
          }
        })
    },
    handleRemoveMain(file) {
      for (const i in this.MainPhotoList) {
        if (this.MainPhotoList[i].url === file.url) {
          this.MainPhotoList.splice(i, 1)
        }
      }
      this.mainKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.mainKeyArrTemp.push(item)
          this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
        }
      })
      this.deleteMainObsObject()
    },
    deleteMainObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.mainKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.mainKeyArrTemp = []
            this.$message.success('主页截图的图片删除成功！')
          }
        })
    },
    // 生成随机字符串
    guid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
        /[xy]/g,
        function(c) {
          var r = (Math.random() * 16) | 0
          var v = c === 'x' ? r : (r & 0x3) | 0x8
          return v.toString(16)
        }
      )
    },
    beforeMainUpload(file) {
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        this.$message.error('上传主页截图的图片大小不能超过 2MB!')
      }
      if (!isJPG) {
        this.$message.error('上传主页截图的图片只能是 JPG 或者 PNG 格式!')
      }
      return isJPG && isLt2M
    },
    modInfo(row) {
      this.modInfodialogVisible = true
      this.account_id = row.account_id
      this.nickname = row.platform_nickname
      this.fans_count = row.fans
      this.home_page_url = row.home_page_url
      // this.home_page_capture_url = row.home_page_capture_url
      this.email = row.email
      this.MainPhotoList = []
      const mainPic = {
        url: row.home_page_capture_url,
        uid: row.home_page_capture_url.uid,
        symbol: 1
      }
      this.MainPhotoList.push(mainPic)
    },
    fansview(num) {
      num = parseInt(num)
      if (num >= 10000) {
        var t1 = num / 10000
        var t2 = num % 10000
        if (t2 !== 0) {
          // return String(t1).match(/^\d+(?:\.\d{1,2})?/) + "万"
          return String(t1).substring(0, String(t1).indexOf('.') + 2) + '万'
        } else return String(t1) + '万'
      } else {
        num = String(num)
      }
      return num
    },
    getPlatformAccountInfo() {
      const params = {
        talent_id: this.talent_info_id
      }
      this.postRequest('youngee/m/user/platformAccInfo', params).then((resp) => {
        if (resp.data.total !== 0) {
          let platformList = null
          let totalCount = null
          platformList = resp.data.platform_acc_info_data
          this.$data.accountInfo = platformList
          this.$previewRefresh()
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.accountInfo = []
        }
      })
    },
    updatePlatformInfo() {
      if (this.MainPhotoList.length === 0) {
        this.$message.warning('请填入一张主页截图')
        return
      }
      let fans
      const fansNum = this.fans_count.substring(0, this.fans_count.length - 1)

      if (!/^\d+$/.test(this.fans_count)) {
        if (this.fans_count.charAt(this.fans_count.length - 1) === '万') {
          fans = parseFloat(fansNum) * 10000
          if (!/^\d+$/.test(fans)) {
            this.$message.warning('请输入正确的粉丝数量')
            return
          }
        }
      } else {
        fans = this.fans_count
      }
      const params = {
        user: sessionStorage.getItem('user'),
        account_id: this.account_id,
        platform_nickname: this.nickname,
        fans: parseInt(fans),
        home_page_url: this.home_page_url,
        home_page_capture_url: this.MainPhotoList[0].url
      }
      this.postRequest('youngee/m/user/modifyAccInfo', params).then((resp) => {
      })
    },
    getAccountIncome() {
      const params = {
        talent_id: this.talent_info_id
      }
      this.postRequest('youngee/m/user/talentInfo', params).then((resp) => {
        // console.log(resp)
        if (resp.data === null) {
          return
        }
        const income = resp.data.income
        const withdrawing = resp.data.withdrawing
        const canwithdraw = resp.data.canwithdraw
        const withdrawed = resp.data.withdrawed
        this.income = money(income)
        this.withdrawing = money(withdrawing)
        this.canwithdraw = money(canwithdraw)
        this.withdrawed = money(withdrawed)
        this.detail_addr = resp.data.detail_addr
        this.phone_number = resp.data.phone_number
        this.receiver_name = resp.data.receiver_name
        this.bank = resp.data.bank
        this.card_name = resp.data.name
        this.bank_open_address = resp.data.bank_open_address
        this.bank_card_number = resp.data.bank_card_number
        this.ali_pay_number = resp.data.ali_pay_number
        this.ali_pay_real_name = resp.data.ali_pay_real_name
      })
    },
    getTaskRecord() {
      const params = {
        talent_id: this.talent_info_id
      }
      this.postRequest('youngee/m/user/getTaskRecord', params).then((resp) => {
        if (resp.data.total !== 0) {
          let taskRecord = null
          let totalCount = null
          taskRecord = resp.data.task_record_data
          this.$data.taskRecord = taskRecord
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.taskRecord = []
        }
      })
    },
    getYoungeeRecord() {
      const params = {
        talent_id: this.talent_info_id
      }
      this.postRequest('youngee/m/user/getYoungeeRecord', params).then((resp) => {
        if (resp.data.total !== 0) {
          let taskRecord = null
          let totalCount = null
          taskRecord = resp.data.task_record_data
          this.$data.taskRecord = taskRecord
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.taskRecord = []
        }
      })
    },
    getWithdrawRecord() {
      const params = {
        talent_id: this.talent_info_id
      }
      this.postRequest('youngee/m/finance/getWithdrawalRecord', params).then((resp) => {
        if (resp.data.total !== 0) {
          let withdrawRecord = null
          withdrawRecord = resp.data.withdrawal_record_data
          this.$data.withdrawRecord = withdrawRecord
        } else {
          this.withdrawRecord = []
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.title-font{
    font-weight: bold;
}
.title-info{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 200px;
}

.system_state {
  padding: 10px;
}
.card_item {
    height: 220px;
}
.text-wrapper {
  word-break: break-all;
  word-wrap: break-word
}
.body-info{
  margin: 20px 10px;
}
.body-table{
  margin: 20px 0px;
}
.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
.external {
  display: flex;
  justify-content: center;
}
.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: 2px solid #0e4bb7;
  padding-bottom: 5px;
  color: #557bf4;
  font-size: 18px;
}
.updateButton{
  background:#0e4bb7;
  color:white;height: 40px;margin-top: 5px;margin-left: 120px;
}
.inline{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}
.upload-cover {
  width: 400px;
  display: flex;
}
</style>

<style lang="scss">
.el-row{
    padding: 5px;
    margin: 5px;
}
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}
.el-dialog__headerbtn .el-dialog__close{
  color: white;
}
.el-dialog__body{
  padding: 5px 15px;
  text-align: center;
}
</style>
