<template>
  <div class="basetmp">
    <div class="Recruit">
      <div class="content" v-if="!isCreatingSelection">
        <div class="content-line">
          <div style="margin-right:50px">
            <span class="input-label">内容形式*：</span
            ><span>{{
              content_types[selection_info.ContentType].label || ""
            }}</span>
          </div>
          <div>
            <span>任务形式*：</span
            ><span>{{ task_modes[selection_info.TaskMode].label || "" }}</span>
          </div>
        </div>

        <div class="content-line">
          <div style="margin-right:50px">
            <span class="input-label">任务截止时间*：</span
            ><span>{{ selection_info.TaskDdl }}</span>
          </div>
          <div>
            <span>额外悬赏*：</span><span>{{ selection_info.TaskReward }}</span
            >元
          </div>
        </div>

        <div class="content-line">
          <div style="margin-right:50px">
            <span class="input-label">领样形式*：</span
            ><span>{{ sample_modes[selection_info.SampleMode].label }}</span>
          </div>
          <div>
            <span>样品数量*：</span><span>{{ selection_info.SampleNum }}</span>
          </div>
        </div>

        <div class="content-line">
          <div style="margin-right:50px">
            <span class="input-label">领样要求*：</span
            ><span>{{
              selection_info.SampleCondition
            }}</span>
          </div>
          <div>
            <span>佣金比例*：</span
            ><span>{{ selection_info.CommissionRate }}</span
            >%
          </div>
        </div>

        <div class="content-line">
          <div>
            <span class="input-label">带货链接*：</span
            ><span>{{ selection_info.ProductUrl }}</span>
          </div>
        </div>

        <div class="content-line">
          <div>
            <span class="input-label">悬赏返现条件*：</span
            ><span>{{ selection_info.RewardCondition }}</span>
          </div>
        </div>
      </div>

      <div class="content" v-if="isCreatingSelection">
        <div class="content-line">
          <span class="input-label">内容形式*：</span>
          <el-select
            class="input-box"
            v-model="selection_info.ContentType"
            placeholder="请选择"
          >
            <el-option
              v-for="item in content_types"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>

        <div class="content-line">
          <span class="input-label">任务形式*：</span>
          <el-select
            class="input-box"
            v-model="selection_info.TaskMode"
            placeholder="请选择"
          >
            <el-option
              v-for="item in task_modes"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>

        <div class="content-line">
          <span class="input-label">任务截止时间*：</span>
          <div>
            <el-date-picker
              v-model="recruit_ddl_date"
              align="right"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions"
            />
            <el-time-select
              v-model="recruit_ddl_time"
              :picker-options="{
                start: '00:00',
                step: '01:00',
                end: '23:00',
              }"
              placeholder="选择时间"
              clearable
              style="width: 150px; margin-left: 20px"
            />
          </div>
        </div>

        <div class="content-line">
          <span class="input-label">领样形式*：</span>
          <el-select
            class="input-box"
            v-model="selection_info.SampleMode"
            placeholder="请选择"
          >
            <el-option
              v-for="item in sample_modes"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>

        <div class="input-big-box-line" v-if="isCreatingSelection">
          <span class="input-label" style="width: 130px">返现&悬赏条件*：</span>
          <el-input
            class="input-big-box"
            :show-word-limit="true"
            type="textarea"
            :autosize="{ minRows: 10, maxRows: 15 }"
            placeholder=""
            v-model="selection_info.RewardCondition"
          >
          </el-input>
        </div>

        <div class="content-line">
          <span class="input-label">样品数量*：</span>
          <el-input-number
            class="input-short-box"
            :show-word-limit="true"
            type="text"
            placeholder=""
            @input.native="onInput"
            v-model="SampleNum"
          >
          </el-input-number>
        </div>

        <div
          class="content-line"
          style="align-items: center"
          v-if="isCreatingSelection"
        >
          <span class="input-label">佣金比例*：</span>
          <el-input-number
            class="input-short-box"
            :show-word-limit="true"
            type="text"
            placeholder=""
            @input.native="onInput"
            v-model="CommissionRate"
          >
          </el-input-number>
        </div>

        <div class="content-line">
          <span class="input-label">带货链接*：</span>
          <el-input
            class="input-big-box"
            :show-word-limit="true"
            type="text"
            placeholder=""
            v-model="ProductUrl"
          >
          </el-input>
        </div>

        <div class="input-big-box-line" v-if="isCreatingSelection">
          <span class="input-label">领样要求*：</span>
          <el-input
            class="input-big-box"
            :show-word-limit="true"
            type="textarea"
            :autosize="{ minRows: 10, maxRows: 15 }"
            placeholder="请输入任务详情"
            v-model="SampleCondition"
          >
          </el-input>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { money, fansview } from "@/utils/index";
import { Skeleton } from "element-ui";
export default {
  name: "TaskRequirment",
  props: ["msg"],
  data() {
    return {
      recruit: {},
      task_ddl_date: "",
      task_ddl_time: "",
      content_types: [
        {
          value: 1,
          label: "图文",
        },
        {
          value: 2,
          label: "视频",
        },
        {
          value: 3,
          label: "全部",
        },
      ],
      task_modes: [
        {
          value: 1,
          label: "悬赏任务",
        },
        {
          value: 2,
          label: "纯佣带货",
        },
        {
          value: 3,
          label: "全部",
        },
      ],
      sample_modes: [
        {
          value: 1,
          label: "免费领样",
        },
        {
          value: 2,
          label: "垫付领样",
        },
        {
          value: 3,
          label: "全部",
        },
      ],

      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now();
        },
        shortcuts: [
          {
            text: "明天",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() + 3600 * 1000 * 24);
              picker.$emit("pick", date);
            },
          },
          {
            text: "一周后",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            },
          },
        ],
      },
    };
  },
  mounted() {
    this.selection_form = this.selection_info.selection_form;
    if (this.talent_type.indexOf(0) !== -1) {
      this.changeTalentType(this.talent_type[0]);
    }
    if (
      this.talent_type === "[]" ||
      this.talent_type === '"[]"' ||
      this.talent_type === "[[]]" ||
      this.talent_type === ""
    ) {
      this.changeTalentType(0);
    }
  },
  computed: {
    selection_info: {
      get: function () {
        return Object.keys(this.$store.state.selection).length !== 0
          ? this.$store.state.selection
          : {};
      },
      set: function (value) {
        this.$store.state.selection = value;
      },
    },
    SampleNum: {
      get: function () {
        return Object.keys(this.$store.state.selection).length !== 0
          ? this.$store.state.selection.SampleNum
          : {};
      },
      set: function (value) {
        this.$store.state.selection.SampleNum = value;
      },
    },
    CommissionRate: {
      get: function () {
        return Object.keys(this.$store.state.selection).length !== 0
          ? this.$store.state.selection.CommissionRate
          : {};
      },
      set: function (value) {
        this.$store.state.selection.CommissionRate = value;
      },
    },
    ProductUrl: {
      get: function () {
        return Object.keys(this.$store.state.selection).length !== 0
          ? this.$store.state.selection.ProductUrl
          : {};
      },
      set: function (value) {
        this.$store.state.selection.ProductUrl = value;
      },
    },
    SampleCondition: {
      get: function () {
        return Object.keys(this.$store.state.selection).length !== 0
          ? this.$store.state.selection.SampleCondition
          : {};
      },
      set: function (value) {
        this.$store.state.selection.SampleCondition = value;
      },
    },
    recruit_ddl_date: {
      get: function () {
        return Object.keys(this.$store.state.selection).length !== 0
          ? this.$store.state.selection.TaskDdl.substring(0, 10)
          : {};
      },
      set: function (value) {
        this.$store.state.selection.TaskDdl =
          value + " " + this.recruit_ddl_time;
      },
    },
    recruit_ddl_time: {
      get: function () {
        return Object.keys(this.$store.state.selection).length !== 0
          ? this.$store.state.selection.TaskDdl.substring(11, 16)
          : {};
      },
      set: function (value) {
        this.$store.state.selection.TaskDdl =
          this.recruit_ddl_date + " " + value + ":00";
      },
    },
    isCreatingSelection() {
      // return false
      return Object.keys(this.$store.state.selection).length !== 0
        ? parseInt(this.$store.state.selection.SelectionStatus) === 1
        : false;
    },
    isReviewing() {
      return Object.keys(this.$store.state.selection).length !== 0
        ? parseInt(this.$store.state.selection.selection_status) === 2
        : false;
    },
  },
  methods: {
    onInput1(e) {
      // 过滤非数字
      // e.target.value = parseFloat(e.target.value.replace(/\D/g, ''))
      if (e.target.value < 0 || e.target.value > 9999.9) {
        this.$message.warning("请输入[1,9999.9]区间内的数");
        e.target.value = null;
      }
      // e.target.value = (e.target.value > 0 && e.target.value <= 9999.9 && e.target.value.match(/^\d*/g)[0]) || null
    },
    onInput(e) {
      // 验证是否是纯数字
      const isNumber = /^\d*$/.test(e.target.value);
      // 过滤非数字
      e.target.value = e.target.value.replace(/\D/g, "");
      if (!isNumber || e.target.value < 0 || e.target.value > 9999) {
        this.$message.warning("请输入[0,9999]区间的整数");
      }
      e.target.value =
        (e.target.value >= 0 &&
          e.target.value <= 9999 &&
          e.target.value.match(/^\d*/g)[0]) ||
        null;
    },
  },
};
</script>

<style scoped lang="scss">
.basetmp {
  // display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: space-between;
  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  margin-bottom: 50px;
  border: solid #f5f3f3;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 25px;
}

.flowinfobase {
  height: 50px;
  padding-left: 61px;
  margin: 20px 0px 30px;
}

.flow-cur {
  font-size: 30px;
  color: #f7d43c;
  border-bottom: 3px solid #f7d43c;
  padding-bottom: 5px;
}

.flow-left {
  font-size: 30px;
  color: #f7d43c;
}

.flow-right {
  font-size: 30px;
  color: black;
}

.content {
  text-align: center;
}

.content-line {
  line-height: 40px;
  margin-left: 0px;
  margin-bottom: 30px;
  display: flex;
  // justify-content: space-between;
}
.input-big-box-line {
  margin-left: 0px;
  margin-bottom: 30px;
  display: flex;
  // justify-content: space-between;
}
.strategys-table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.el-checkbox-width {
  width: 120px;
  height: 40px;
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  float: left;
}

.short-input-box {
  width: 140px;
  flex: 0, 1, atuo;
  float: left;
}

.input-big-box {
  width: 1200px;
  flex: 0, 1, atuo;
  float: left;
}

.input-box-line {
  // line-height: 40px;
  // margin-left: 0px;
  // margin-bottom: 30px;
  display: flex;
  justify-content: left;
}

.input-label {
  display: inline-block;
  width: 120px;
  text-align: left;
}

.funcBtnnewcommodity {
  border: none;
  background-color: #f7d43c;
  color: black;
  margin: 0px 20px 20px;
}

.funcBtnstore {
  border: none;
  background-color: #f7d43c;
  color: black;
  margin: 20px 500px 20px;
}

.funcBtnstra {
  border: none;
  background-color: #f7d43c;
  color: black;
}

.strategy {
  /* display: flex; */
  // width: 1200px;
  // height: 100px;
  padding: 20px 10px;
  // width: 100%;
  border: dashed;
  text-align: center;
}

.next-btn {
  margin-top: 5px;
}
</style>
