<template>
  <!-- <div class="newbrand"
    v-if="Object.keys($store.state.product).length !== 0 && Object.keys($store.state.selection).length !== 0"> -->
  <div class="newbrand">
    <div class="line">
      <div class="input-box-line">品牌名称*:{{ selection.SelectionName }}</div>
      <div class="input-box-line">
        社媒平台*:{{ selection_platforms[platform - 1].label }}
      </div>
    </div>
    <div class="line">
      <div class="input-box-line">商品名称*:{{ product.ProductName }}</div>
      <div class="input-box-line">商品价值*:{{ selection.TaskReward }} 元</div>
    </div>
    <div class="line">
      <div class="input-box-line">
        商品链接:
        <a
          v-if="selection.ProductUrl !== ''"
          id="product_url"
          style="
            max-width: 900px;
            word-break: break-all;
            word-wrap: break-word;
            color: #557bf6;
          "
          target="_blank"
          >{{ selection.ProductUrl }}</a
        >
        <span v-if="selection.ProductUrl === ''">无</span>
      </div>
      <div class="input-box-line">
        商品类型*:{{ product_types[selection.ContentType].label }}
      </div>
    </div>
    <div class="line">
      <div class="input-box-line" v-if="product.ProductType === '线下店铺'">
        店铺地址:{{ product.ShopAddress }}
      </div>
    </div>

    <div class="line">
      <div class="input-box-line">
        商品主图*：
        <div class="product-cover">
          <div v-for="item in ProductPhotoSnap" :key="item.index">
            <div class="photo-list-item" v-if="item.Symbol === 1">
              <img
                :src="item.PhotoUrl"
                alt=""
                style="height: 6rem; width: 6rem"
                preview="MainPhoto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="input-box-line">
      <span>商品详情：</span>
      <span v-show="product.CarousePhotolList.length == 0">无</span>
      <div class="product-detail">
        <el-col v-for="item in product.CarousePhotolList" :key="item.index" :span="30">
          <div class="photo-list-item" v-if="item.symbol === 2">
            <img :src="item.url" alt="" style="height:6rem;width:6rem" preview="CarousePhoto" />
          </div>
          <div class="video-list-item" v-if="item.symbol === 3">
            <video width="100" height="100" controls ref="videoRef">
              <source :src="item.url" type="video/mp4">
            </video>
          </div>
        </el-col>
      </div>
    </div> -->
    <div class="input-box-line" style="display: flex">
      <div>
        商品描述：<span v-show="product.ProductDetail == ''">无</span>

        <span
          style="width: 80rem; white-space: pre-wrap; text-align: justify"
          >{{ product.ProductDetail }}</span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ViewProduct",
  props: ["msg"],
  data() {
    return {
      selection_types: [
        {
          value: "1",
          label: "全流程项目",
        },
        {
          value: "2",
          label: "专项执行项目",
        },
      ],
      selection_platforms: [
        {
          value: "1",
          label: "红book",
        },
        {
          value: "2",
          label: "抖音",
        },
        {
          value: "3",
          label: "新浪微博",
        },
        {
          value: "4",
          label: "快手",
        },
        {
          value: "5",
          label: "B站",
        },
        {
          value: "6",
          label: "大众点评",
        },
        {
          value: "7",
          label: "知乎",
        },
      ],
      product_types: [
        { value: 14, label: "线下店铺" },
        { value: 1, label: "3C及电器" },
        { value: 2, label: "食品饮料" },
        { value: 3, label: "服装配饰" },
        { value: 4, label: "医疗" },
        { value: 5, label: "房地产" },
        { value: 6, label: "家居建材" },
        { value: 7, label: "教育培训" },
        { value: 8, label: "出行旅游" },
        { value: 9, label: "游戏" },
        { value: 10, label: "互联网平台" },
        { value: 11, label: "汽车" },
        { value: 12, label: "文体娱乐" },
        { value: 13, label: "影视传媒" },
        { value: 15, label: "软件服务" },
        { value: 16, label: "美妆" },
        { value: 17, label: "母婴宠物" },
        { value: 18, label: "日化" },
        { value: 19, label: "其他" },
      ],
    };
  },
  mounted() {
    document.getElementById("product_url").href = this.regHttp(
      this.product.product_url
    );
  },
  computed: {
    selection() {
      return Object.keys(this.$store.state.selection).length !== 0
        ? this.$store.state.selection
        : null;
    },
    product() {
      return Object.keys(this.$store.state.product).length !== 0
        ? this.$store.state.product
        : null;
    },
    platform() {
      return Object.keys(this.$store.state.selection).length !== 0
        ? this.$store.state.selection.Platform
        : null;
    },
    ProductPhotoSnap() {
      return Object.keys(this.$store.state.selection).length !== 0
        ? JSON.parse(this.$store.state.selection.ProductPhotoSnap)
        : null;
    },
    selection_type() {
      return Object.keys(this.$store.state.selection).length !== 0
        ? this.selection_types[
            parseInt(this.$store.state.selection?.SelectionStatus) - 1
          ].label
        : null;
    },
  },
  methods: {
    regHttp(v) {
      if (
        v.substr(0, 7).toLowerCase() == "http://" ||
        v.substr(0, 8).toLowerCase() == "https://"
      ) {
        return v;
      } else {
        return "http://" + v;
      }
    },
  },
};
</script>

<style scoped lang = "scss">
.newbrand {
  // width: 1000px;
  // padding: 20px 48px;
  border-bottom: solid #d2ebfb;
  margin-bottom: 25px;
  // margin-top: 64px;
}

.title {
  border-bottom: 5px solid black;
  padding-bottom: 10px;
}

.product-cover {
  width: 200px;
  display: flex;
}

.product-detail {
  margin-right: -50px;
  // width: 360px;
  float: right;
}

.attention {
  color: red;
}

.bt {
  position: flex;
  width: 14px;
  height: 14px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(315deg);
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  float: left;
}

.input-big-box {
  width: 500px;
  flex: 0, 1, atuo;
  float: left;
  padding: 0 48px 0 0;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  // justify-content: left;
}

.photo-list-item {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
}

.video-list-item {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
}

.funcBtn {
  border: none;
  background-color: #f7d43c;
  color: black;
  float: right;
}

.line {
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 20px 48px;
}

.next-btn {
  margin-top: 5px;
}
</style>
