<template>
  <div class="newbrand">
    <h1 v-if="isNewProduct">
      <span class="title">新增商品信息填写版</span>
    </h1>
    <h1 v-if="!isNewProduct"><span class="title">商品信息看板</span></h1>
    <div class="input-box-line">
      品牌名称*：
      <el-input class="input-box" v-model="brand_name"> </el-input>
    </div>
    <div class="input-box-line">
      商品名称*：
      <el-input class="input-box" v-model="product_name"> </el-input>
    </div>
    <el-row :gutter="150">
      <el-col :span="100">
        <div class="input-box-line">
          商品类型*：
          <el-select class="input-box" v-model="product_type" placeholder="待选择">
            <el-option v-for="item in product_types" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </div>
      </el-col>
      <el-col :span="100">
        <div class="input-box-line" v-if="this.product_type === 14">
          店铺地址*：
          <el-input class="input-box" v-model="shop_address"> </el-input>
          <div class="attention">（商品类型为线下店铺必须填写）</div>
        </div>
      </el-col>
    </el-row>

    <div class="input-box-line">
      商品价值*：
      <el-input class="input-box" v-model="product_price"
        onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,4})?).*$/g, '$1')">
      </el-input>
      元
    </div>
    <div class="input-box-line">
      <span>商品链接：<br> <span class="notNecessary">(非必填项)</span></span>
      <el-input class="input-box" style="margin-left:6px" v-model="product_url"> </el-input>
    </div>
    <!-- 封面上传 -->
    <el-row type="flex" class="row-bg" justify="right">
      <el-col>
        <div class="input-box-line">
          商品主图*：
          <div class="upload-cover">
            <el-upload action :http-request="doUploadMain" :on-remove="handleRemoveMain" :on-exceed="handleMainExceed"
              :before-upload="beforeMainUpload" :file-list="MainPhotoList" scoped-solt="" :limit="1"
              list-type="picture-card">
              <i slot="default" class="el-icon-plus"></i>
              <div slot="tip" class="el-upload__tip" style="text-align: left;">封面图限1张，正方形图片最佳</div>
              <div slot="file" slot-scope="{ file }">
                <img class="el-upload-list__item-thumbnail" :src="file.url" alt="" />
                <span class="el-upload-list__item-actions">
                  <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                    <i class="el-icon-zoom-in"></i>
                  </span>
                  <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemoveMain(file)">
                    <i class="el-icon-delete"></i>
                  </span>
                </span>
              </div>
            </el-upload>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <div class="input-box-line">
        <span>商品详情：<br><span class="notNecessary">(非必填项)</span></span>
        <div class="upload-detail">
          <el-upload action :http-request="doUploadCarousel" :on-remove="handleRemoveCarousel"
            :on-exceed="handleCarouseExceed" :before-upload="beforeCarouseUpload" :file-list="CarousePhotolList"
            :multiple="true" :limit="9" :accept="'image/*,video/*'" scoped-solt="" list-type="picture-card">
            <i slot="default" class="el-icon-plus"></i>
            <div slot="tip" class="el-upload__tip" style="text-align: left;">
              图片格式为PNG、JPG或视频格式为MP4、WMV，<br>图片不超过2M，视频不超过50M，可上传不超过9张/段
            </div>
            <div slot="file" slot-scope="{ file }">
              <img class="el-upload-list__item-thumbnail" v-if="file.symbol === 2" :src="file.url" alt="" />
              <video class="el-upload-list__item-thumbnail" v-if="file.symbol === 3" :src="file.url" alt="" />
              <span class="el-upload-list__item-actions">
                <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                  <i class="el-icon-zoom-in"></i>
                </span>
                <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemoveCarousel(file)">
                  <i class="el-icon-delete"></i>
                </span>
              </span>
            </div>
          </el-upload>
        </div>
      </div>
    </el-row>
    <el-dialog style="padding: 0 !important;" :append-to-body="true" :visible.sync="dialogVisible" width="30%"
      @close='closeDialog'>
      <div style="display: flex; justify-content: center">
        <img v-if="videoOrimg != 3" :src="dialogImageUrl" alt="" style="width:100%" />
        <video v-if="videoOrimg == 3" controls style="width: 100%;" ref="videoRef">
          <source :src="dialogImageUrl" type="video/mp4">
        </video>
      </div>
    </el-dialog>
    <div class="input-box-line">
      <span>商品描述：<br><span class="notNecessary">(非必填项)</span></span>
      <el-input class="input-big-box" maxlength="200" :show-word-limit="true" type="textarea"
        :autosize="{ minRows: 6, maxRows: 10 }" placeholder="请输入商品描述（200字以内）" v-model="product_detail">
      </el-input>
    </div>
    <el-button type="primary" v-if="!isNewProduct" class="funcBtn" @click="createProduct">更新商品信息</el-button>
    <el-button type="primary" v-if="isNewProduct" class="funcBtn" @click="createProduct">加入商品库并关联</el-button>
  </div>
</template>

<script>
import { EventBus } from '@/event-bus'
import ObsClient from '@/components/esdk-obs-browserjs-without-polyfill-3.19.5.min.js'

// 创建ObsClient实例
const obs = new ObsClient({
  access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
  secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
  server: 'https://obs.cn-east-3.myhuaweicloud.com'
})

export default {
  name: 'AddNewProduct',
  data() {
    return {
      isNewProduct: true,
      MainPhotoList: [],
      CarousePhotolList: [],
      dialogImageUrl: '',
      dialogVisible: false,
      disabled: false,
      fromMY: false,
      videoOrimg: 0,
      product_id: '',
      brand_name: '',
      product_name: '',
      product_detail: '',
      product_url: '',
      product_price: '',
      shop_address: '',
      product_type: '',
      productPhoto: [],
      mainKeyArr: [],
      mainKeyArrTemp: [],
      carouselKeyArr: [],
      carouselKeyArrTemp: [],
      product_types: [
        { value: 14, label: '线下店铺' },
        { value: 1, label: '3C及电器' },
        { value: 2, label: '食品饮料' },
        { value: 3, label: '服装配饰' },
        { value: 4, label: '医疗' },
        { value: 5, label: '房地产' },
        { value: 6, label: '家居建材' },
        { value: 7, label: '教育培训' },
        { value: 8, label: '出行旅游' },
        { value: 9, label: '游戏' },
        { value: 10, label: '互联网平台' },
        { value: 11, label: '汽车' },
        { value: 12, label: '文体娱乐' },
        { value: 13, label: '影视传媒' },
        { value: 15, label: '软件服务' },
        { value: 16, label: '美妆' },
        { value: 17, label: '母婴宠物' },
        { value: 18, label: '日化' },
        { value: 19, label: '其他' }
      ]
    }
  },
  mounted() {
    EventBus.$on('ProductFresh', (msg) => {
      this.isNewProduct = false
      this.product_id = msg
      const params = {
        product_id: parseInt(this.product_id)
      }
      this.postRequest('/youngee/m/product/find', params).then((resp) => {
        if (resp.data == null) return
        this.brand_name = resp.data.brand_name
        this.product_name = resp.data.product_name
        this.product_detail = resp.data.product_detail
        this.product_url = resp.data.product_url
        this.product_price = resp.data.product_price
        this.shop_address = resp.data.shop_address
        this.product_type = resp.data.product_type
        this.MainPhotoList = []
        this.CarousePhotolList = []
        for (const i in resp.data.product_photos) {
          const photo = {
            url: resp.data.product_photos[i].photo_url,
            uid: parseInt(resp.data.product_photos[i].photo_uid),
            symbol: parseInt(resp.data.product_photos[i].symbol)
          }
          if (resp.data.product_photos[i].symbol === 1) {
            this.MainPhotoList.push(photo)
            this.mainKeyArr.push({
              Key: resp.data.product_photos[i].photo_url.substring(49),
              uid: parseInt(resp.data.product_photos[i].photo_uid)
            })
          } else {
            this.carouselKeyArr.push({
              Key: resp.data.product_photos[i].photo_url.substring(49),
              uid: resp.data.product_photos[i].photo_uid
            })
            this.CarousePhotolList.push(photo)
          }
        }
      })
    })
    EventBus.$on('NewProduct', (msg) => {
      this.ClearProductInfo()
    })
    EventBus.$on('NewFromMY', (msg) => {
      this.ClearProductInfo()
      this.fromMY = true
    })
  },
  methods: {
    closeDialog() {
      this.$refs.videoRef.pause();//暂停
    },
    productFresh(product_id) {
      this.isNewProduct = false
      this.product_id = product_id
      const params = {
        product_id: parseInt(this.product_id)
      }
      this.postRequest('/youngee/m/product/find', params).then((resp) => {
        if (resp.data === null) return
        this.brand_name = resp.data.brand_name
        this.product_name = resp.data.product_name
        this.product_detail = resp.data.product_detail
        this.product_url = resp.data.product_url
        this.product_price = resp.data.product_price
        this.shop_address = resp.data.shop_address
        this.product_type = resp.data.product_type
        this.MainPhotoList = []
        this.CarousePhotolList = []
        for (const i in resp.data.product_photos) {
          const photo = {
            url: resp.data.product_photos[i].photo_url,
            uid: parseInt(resp.data.product_photos[i].photo_uid),
            symbol: parseInt(resp.data.product_photos[i].symbol)
          }
          if (resp.data.product_photos[i].symbol === '1') {
            this.MainPhotoList.push(photo)
            this.mainKeyArr.push({
              Key: resp.data.product_photos[i].photo_url.substring(49),
              uid: parseInt(resp.data.product_photos[i].photo_uid)
            })
          } else {
            this.carouselKeyArr.push({
              Key: resp.data.product_photos[i].photo_url.substring(49),
              uid: resp.data.product_photos[i].photo_uid
            })
            this.CarousePhotolList.push(photo)
          }
        }
      })
    },
    ClearProductInfo() {
      this.product_id = ''
      this.isNewProduct = true
      this.brand_name = ''
      this.product_name = ''
      this.product_detail = ''
      this.product_url = ''
      this.product_price = ''
      this.shop_address = ''
      this.product_type = ''
      this.MainPhotoList = []
      this.CarousePhotolList = []
    },
    createProduct() {
      this.productPhoto = []
      for (const i in this.MainPhotoList) {
        const photo = {
          symbol: parseInt(this.MainPhotoList[i].symbol),
          photo_url: this.MainPhotoList[i].url,
          photo_uid: this.MainPhotoList[i].uid + ''
        }
        this.productPhoto.push(photo)
      }
      for (const i in this.CarousePhotolList) {
        const photo = {
          symbol: parseInt(this.CarousePhotolList[i].symbol),
          photo_url: this.CarousePhotolList[i].url,
          photo_uid: this.CarousePhotolList[i].uid + ''
        }
        this.productPhoto.push(photo)
      }
      if (this.brand_name.trim() === '') {
        this.$message.error('品牌名称不能为空')
        return
      }
      if (this.product_name.trim() === '') {
        this.$message.error('商品名称不能为空')
        return
      }
      if (this.product_type === '') {
        this.$message.error('商品类型不能为空')
        return
      }
      if (this.product_type === 14 && this.shop_address.trim() === '') {
        this.$message.error('线下店铺的店铺地址不能为空')
        return
      }
      if (this.product_price === '') {
        this.$message.error('商品价值不能为空')
        return
      }
      if (this.MainPhotoList.length === 0) {
        this.$message.error('商品主图不能为空')
        return
      }
      // if (this.product_detail.trim() === '') {
      //   this.$message.error('商品描述不能为空')
      //   return
      // }
      if (this.product_id === '') {
        this.product_id = -1
      }
      const params = {
        product_id: parseInt(this.product_id),
        brand_name: this.brand_name,
        product_name: this.product_name,
        product_detail: this.product_detail,
        product_url: this.product_url,
        product_price: parseFloat(this.product_price),
        shop_address: this.shop_address,
        product_type: parseInt(this.product_type),
        product_photos: this.productPhoto
      }
      this.postRequest('youngee/m/product/create', params).then((resp) => {
        this.product_id = resp.data.product_id.toString()
        EventBus.$emit('ReFindAll', this.product_id)
      })
      if (this.fromMY === true) {
        EventBus.$emit('CloseAddNewProduct', false)
      }
      this.isNewProduct = false
    },

    // 图片上传部分

    // 主图上传
    doUploadMain(file) {
      const str = 'backstage_upload/' + this.guid() + '.png'
      const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const mainPic = {
              url: address + str + '',
              uid: file.file.uid,
              symbol: 1
            }
            this.MainPhotoList.push(mainPic)
            // 为删除远程服务器的图片所使用的临时数组
            this.mainKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('主图上传成功！')
          } else {
            this.$message.error('主图上传失败！')
          }
        })
    },

    handleRemoveMain(file) {
      for (const i in this.MainPhotoList) {
        if (this.MainPhotoList[i].url === file.url) {
          this.MainPhotoList.splice(i, 1)
        }
      }
      this.mainKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.mainKeyArrTemp.push(item)
          this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
        }
      })
      this.deletePhotoUrl(file.url)
      // this.deleteMainObsObject()
    },
    deleteMainObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.mainKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.mainKeyArrTemp = []
            this.$message.success('主图删除成功！')
          }
        })
    },

    // 详情图上传
    doUploadCarousel(file) {
      const isJPG =
        file.file.type === 'image/png' ||
        file.file.type === 'image/jpg' ||
        file.file.type === 'image/jpeg'
      if (isJPG) {
        var str = 'backstage_upload/' + this.guid() + '.png'
      } else {
        var str = 'backstage_upload/' + this.guid() + '.mp4'
      }
      const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const mainPic = {
              url: address + str + '',
              uid: file.file.uid,
              symbol: 0
            }
            if (isJPG) {
              mainPic.symbol = 2
            } else {
              mainPic.symbol = 3
            }
            this.CarousePhotolList.push(mainPic)
            // 为删除远程服务器的图片所使用的临时数组
            this.carouselKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('详情图上传成功！')
          } else {
            this.$message.error('详情图上传失败！')
          }
        })
    },
    handleRemoveCarousel(file) {
      for (const i in this.CarousePhotolList) {
        if (this.CarousePhotolList[i].url === file.url) {
          this.CarousePhotolList.splice(i, 1)
        }
      }
      this.carouselKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.carouselKeyArrTemp.push(item)
          this.carouselKeyArr.splice(this.carouselKeyArr.indexOf(item), 1)
        }
      })
      this.deletePhotoUrl(file.url)
      // this.deleteCarouselObsObject()
    },
    deletePhotoUrl(url) {
      const params = {
        photo_url: url
      }
      this.postRequest('youngee/m/product/deletePhotoUrl', params).then((resp) => {
      })
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.videoOrimg = file.symbol
      this.dialogVisible = true;
    },
    deleteCarouselObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.carouselKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.carouselKeyArrTemp = []
            this.$message.success('详情图删除成功！')
          }
        })
    },
    beforeMainUpload(file) {
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        this.$message.error('上传主图大小不能超过 2MB!')
      }
      if (!isJPG) {
        this.$message.error('上传主图只能是 JPG 或者 PNG 格式!')
      }
      return isJPG && isLt2M
    },
    beforeCarouseUpload(file) {
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg'
      const isMP4 = file.type === 'video/mp4' || file.type === 'video/wmv'
      const isLt2M = file.size / 1024 / 1024 < 2
      const isLt50M = file.size / 1024 / 1024 < 50
      if (isJPG) {
        if (!isLt2M) {
          this.$message.error('上传图片大小不能超过 2MB!')
          return false
        } else {
          return true
        }
      } else if (isMP4) {
        if (!isLt50M) {
          this.$message.error('上传视频大小不能超过 50MB!')
          return false
        } else {
          return true
        }
      } else {
        this.$message.error('请上传正确的图片或视频格式')
        return false
      }
    },
    // 生成随机字符串
    guid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
        /[xy]/g,
        function (c) {
          const r = (Math.random() * 16) | 0
          const v = c === 'x' ? r : (r & 0x3) | 0x8
          return v.toString(16)
        }
      )
    },
    handleMainExceed() {
      this.$message.error('商品主图限1张')
    },
    handleCarouseExceed() {
      this.$message.error('商品详情图限9张/段')
    }
  }
}
</script>

<style scoped lang = "scss">
.newbrand {
  width: 1000px;
  padding: 20px 48px;
  border: dashed;
  text-align: justify;
}

h1 {
  text-align: center;
}

.title {
  font-size: 25px;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}

.upload-cover {
  // width: 1000px;
  display: flex;
  // flex-wrap: wrap;   
}

.upload-detail {
  display: flex;
  width: 55rem
}

.notNecessary {
  font-size: 12px;
}

.attention {
  color: red;
}

.bt {
  position: flex;
  width: 14px;
  height: 14px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(315deg);
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  float: left;
}

.input-big-box {
  width: 500px;
  flex: 0, 1, atuo;
  float: left;
  padding: 0 48px 0 0;
}

.input-box-line {
  line-height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
}

.funcBtn {
  border: none;
  background-color: #1890ff;
  color: black;
  float: right;
  margin-top: -50px;
}

.content {
  padding: 20px 48px;
}

.next-btn {
  margin-top: 5px;
}
</style>
<style>
.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

/* 
.upload-detail .el-upload-list--picture-card .el-upload-list__item {
  width: 80px;
  height: 80px;
}

.upload-detail .el-upload--picture-card {
  width: 80px;
  height: 80px;
  line-height: 80px;
} */

.newbrand .el-textarea .el-input__count {
  color: #909399;
  background: #FFF;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 5px;
}
</style>
