<template>
  <el-dialog style="top: 7vw; padding: 0 !important;" :visible.sync="SelectionBriefVisible"
    :close-on-click-modal="false" :close-on-press-escape="false" append-to-body>
    <div slot="title" class="dialog-title" style="display: flex; flex-direction: row; align-items: center">
      <img slot="title" src="../../../assets/images/younggee_logo.png" alt="YOUNGEE" class="head-img" />

      <el-divider direction="vertical"></el-divider>
      <div class="button-right">
        <span class="title-close" @click="this.SelectionBriefVisible = false"></span>
      </div>
    </div>
    <div>
      <div class="basetmp">
        <div class="Excute">
          <div style="display: flex;">
            <div class="flow">
              <div class="flow_info_base">
                <span class="flow_left">基础信息</span>
              </div>
              <div class="singleArrow_cur"></div>
              <div class="flow_info_base">
                <span class="flow_left">任务要求</span>
              </div>
              <div class="singleArrow_cur"></div>
              <div class="flow_info_base">
                <span class="flow_cur">卖点信息</span>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="input-box-line">
              <span class="input-label">卖点总结*：</span>
              <el-input class="input-big-box" :show-word-limit="true" type="textarea"
                :autosize="{ minRows: 10, maxRows: 15 }" placeholder="请输入任务详情" v-model="detail">
              </el-input>
            </div>
            <div class="input-box-line" style="margin-top:2rem">
              <span class="input-label"> BRIEF：<br><span class="notNecessary">(非必填项)</span></span>
              <div class="upload-cover">
                <!-- 图片上传 -->
                <el-upload v-show="isPhoto" class="upload-demo" accept=".png, .jpg, .jpeg" action :multiple="true"
                  :http-request="doUploadBrief" :on-remove="handleRemoveBrief" :before-upload="beforeUpload"
                  :file-list="selection_briefs" scoped-solt="" :limit="9" :on-exceed="handleExceed" :on-preview="Previewf"
                  list-type="picture-card">
                  <i slot="default" class="el-icon-plus" />
                  <div slot="tip" class="el-upload__tip">上传图片，图片最多上传9张</div>
                  <div slot="file" slot-scope="{ file }">
                    <img class="el-upload-list__item-thumbnail" :src="file.photo_url" alt="" />
                    <span class="el-upload-list__item-actions">
                      <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                        <i class="el-icon-zoom-in"></i>
                      </span>
                      <span class="el-upload-list__item-delete" @click="handleRemoveBrief(file)">
                        <i class="el-icon-delete"></i>
                      </span>
                    </span>
                  </div>
                </el-upload>
                <!-- 初始第一次上传 -->
                <el-upload v-show="!isPhoto && !isFile" class="upload-demo" accept=".png, .jpg, .jpeg,.pdf,.doc,.docx"
                  action :multiple="true" :http-request="doUploadBrief" :on-remove="handleRemoveBrief"
                  :before-upload="beforeUpload" :file-list="selection_briefs" scoped-solt="" :limit="9"
                  :on-preview="Previewf">
                  <!-- <i slot="default" class="el-icon-plus" /> -->
                  <el-button icon="el-icon-upload">上传文件/图片</el-button>
                  <div slot="tip" class="el-upload__tip">此处可上传任务的Brief，格式可为PDF、Word、PNG、JPG等</div>
                </el-upload>
                <!-- 文件上传 -->
                <el-upload v-show="isFile" class="upload-demo" accept=".png, .jpg, .jpeg,.pdf,.doc,.docx" action
                  :multiple="true" :http-request="doUploadBrief" :on-remove="handleRemoveBrief"
                  :before-upload="beforeUpload" :file-list="selection_briefs" scoped-solt="" :limit="1"
                  :on-exceed="handleExceed" :on-preview="Previewf">
                  <el-button icon="el-icon-upload2">上传文件</el-button>
                  <div slot="tip" class="el-upload__tip">上传word或PDF文件。只能上传一个PDF/word文件</div>
                </el-upload>
              </div>
            </div>
						
            <div class="input-box-line" style="margin-top:2rem">							
              <span class="input-label"> 任务示意图：<br><span class="notNecessary">(非必填项)</span></span>
              <div class="upload-cover">
                <el-upload action :http-request="doUploadRxample" :on-remove="handleRemoveRxample" :on-exceed="handleExceed"
                  :before-upload="beforeAvatarUpload" :file-list="selection_photos" ref="pictureUploadRxample" scoped-solt=""
                  :multiple="true" :limit="9" list-type="picture-card">
                  <i slot="default" class="el-icon-plus"></i>
                  <div slot="tip" class="el-upload__tip">此处可上传过往案例，视频或图片;</div>
                  <div slot="file" slot-scope="{ file }">
                    <img class="el-upload-list__item-thumbnail" :src="file.url" alt="" />
                    <span class="el-upload-list__item-actions">
                      <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemoveRxample(file)">
                        <i class="el-icon-delete"></i>
                      </span>
                      <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                        <i class="el-icon-zoom-in"></i>
                      </span>
                    </span>
                  </div>
                </el-upload>
              </div>
						</div>

          </div>
          <div style="text-align: center;">
            <el-button type="primary" class="BackBtn" @click="handleBackClick()">返回上一步</el-button>
            <el-button type="primary" class="funcBtnstore" @click="handleSubmitClick()">保存并预览任务</el-button>
          </div>
        </div>
      </div>
    </div>
    <el-dialog style="padding: 0 !important;" :append-to-body="true" :visible.sync="dialogVisible" width="30%">
      <div style="display: flex; justify-content: center">
        <img :src="dialogImageUrl" alt="" style="max-width: 300px; max-height: 300px" />
      </div>
    </el-dialog>
  </el-dialog>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import ObsClient from '@/components/esdk-obs-browserjs-without-polyfill-3.19.5.min.js'
// 创建ObsClient实例
const obs = new ObsClient({
  access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
  secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
  server: 'https://obs.cn-east-3.myhuaweicloud.com'
})
export default {
  name: 'SelectionBrief',
  data() {
    return {
      selection_id: '',
      disabled: false,
      SelectionBriefVisible: false,
      content_type: '',
      detail: '',
      selection_photos: [],
      selection_briefs: [],
      dialogImageUrl: '',
      dialogVisible: false,
      briefKeyArr: [],
      briefKeyArrTemp: [],
      exampleKeyArr: [],
      exampleKeyArrTemp: [],
      isPhoto: false,
      isFile: false,
    }
  },
  watch: {
    selection_form() {
      const params = {
        product_id: parseInt(this.$store.state.newSelection.product_id)
      }
      this.postRequest('/youngee/m/product/find', params).then((resp) => {
        if (this.selection_form === '3' && resp.data.product_type !== 14) {
          this.$message.warning('基础信息中商品类型非线下店铺不能选择此任务形式')
          this.selection_form = ''
        }
      })
    },
  },
  mounted() {
    EventBus.$on('SelectionBrief', (msg) => {
      this.SelectionBriefVisible = msg
      this.detail = ''
      this.selection_photos = []
      this.selection_briefs = []
    })
  },
  methods: {
    async handleSubmitClick() {
      // 鲁棒性检测
      // if (this.detail.trim() === '') {
      //   this.$message.error('卖点总结不能为空')
      //   return
      // }
      console.log("recruit: ", this.$store.state.newSelection.recruit_ddl)
      this.$store.state.isCreatingSelection = true
      this.$store.state.newSelection.detail = this.detail
      this.$store.state.newSelection.selection_photos = this.selection_photos
      this.$store.state.newSelection.selection_briefs = this.selection_briefs
      this.$store.state.newSelection.selection_status = "1"
      // this.$store.state.newSelection.product_id = parseInt(this.$store.state.newSelection.product_id)
      const params = this.$store.state.newSelection
      console.log("更新创建中选品的卖点信息", params)
      this.SelectionBriefVisible = false
      // await this.postRequest('/youngee/m/selection/update', params).then((resp) => {
      //   this.$store.state.selection = this.$store.state.newSelection
      // })
      EventBus.$emit("showSelectionInfo", true)
      // this.postRequest('/youngee/m/selection/update', params).then((resp) => {
      //   this.$store.state.selection.selection_id = this.$store.state.newSelection.selection_id
      //   // 跳转到项目详情界面，参数为selection_id
      //   this.$router.push({
      //     path: '/viewhome',
      //     query: {
      //       selection_id: this.$store.state.newSelection.selection_id
      //     }
      //   })
      // })
    },
    Previewf(file) {
      if (file) {
        const pos = file.photo_url.lastIndexOf(".")
        const addTypeArray = file.photo_url.substr(0, pos);
        const addType = file.photo_url.substr(pos + 1);
        if (addType === "pdf" || addType === "doc" || addType === "docx") {
          window.open(file.photo_url, "_blank");
        }
        else if (["png", "jpg", "jpeg"].includes(addType)) {
          this.handlePictureCardPreview(file)
        }
      }
    },
    handleBackClick() {
      if (this.$store.state.newSelection.selection_type === 1) {
        this.SelectionBriefVisible = false
        EventBus.$emit('backRecruitRequirement', true)
      } else {
        this.SelectionBriefVisible = false
        EventBus.$emit('backCreateSelection', true)
      }
    },

    // 上传文件
    doUploadBrief(file) {
      let fileArr = file.file.name.split('.')
      const fileType = fileArr[fileArr.length - 1]
      if (fileType === 'pdf' || fileType === 'doc' || fileType === 'docx') {
        var str = 'backstage_upload/' + this.$store.state.newSelection.selection_id + '.' + fileType
      } else {
        var str = 'backstage_upload/' + this.guid() + '.' + fileType
      }
      const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const briefPic = {
              url: address + str + '',
              uid: file.file.uid + '',
              photo_url: address + str + '',
              photo_uid: file.file.uid + '',
              name: file.file.name,
              type: fileArr[fileArr.length - 1]
            }
            if ((fileType === "pdf" || fileType === "doc" || fileType === "docx")) {
              this.isFile = true
              if (this.selection_briefs.length >= 1) {
                this.$message.error('pdf、word只能上传一个')
                return
              }
            }
            this.selection_briefs.push(briefPic)
            // 为删除远程服务器的图片所使用的临时数组
            this.briefKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('上传成功！')
          } else {
            this.$message.error('上传失败！')
          }
        })
    },
    handleRemoveBrief(file) {
      for (const i in this.selection_briefs) {
        if (this.selection_briefs[i].url === file.url) {
          this.selection_briefs.splice(i, 1)
        }
      }
      this.briefKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.briefKeyArrTemp.push(item)
          this.briefKeyArr.splice(this.briefKeyArr.indexOf(item), 1)
        }
      })
      if (this.selection_briefs.length === 0) {
        this.isPhoto = false
        this.isFile = false
      }
      this.deleteBriefObsObject()
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    deleteBriefObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.briefKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.briefKeyArrTemp = []
            this.$message.success('图片删除成功！')
          }
        })
    },

    beforeUpload(file) {
      const isPhoto = this.isPhoto
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg'
      const isFile = file.type === 'application/pdf' ||
        file.type === 'application/msword' ||
        file.type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
      const isLt2M = file.size / 1024 / 1024 < 50
      const isAcc = isJPG || isFile
      if (isJPG) {
        this.isPhoto = true
      }
      if (isPhoto && isJPG === false) {
        this.$message.error('上传只能是图片！')
        // return
      }
      if (!isAcc) {
        this.$message.error('上传文件只能是图片，WORD或者PDF文件！')
      }
      if (!isLt2M) {
        this.$message.error('上传文件大小不能超过 50MB!')
        return
      }
      return isAcc && isLt2M
    },
    handleExceed() {
      if (this.isPhoto) {
        this.$message.error('任务详情图限9张')
      }
      if (this.isFile) {
        this.$message.error('word/pdf仅限上传一个')
      }
    },
    // 生成随机字符串
    guid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
        /[xy]/g,
        function (c) {
          const r = (Math.random() * 16) | 0
          const v = c === 'x' ? r : (r & 0x3) | 0x8
          return v.toString(16)
        }
      )
    },
    
    // 上传文件
    doUploadExample(file) {
      let fileArr = file.file.name.split('.')
      const fileType = fileArr[fileArr.length - 1]
      if (fileType === 'pdf' || fileType === 'doc' || fileType === 'docx') {
        var str = 'backstage_upload/' + this.$store.state.newSelection.selection_id + '.' + fileType
      } else {
        var str = 'backstage_upload/' + this.guid() + '.' + fileType
      }
      const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const examplePic = {
              url: address + str + '',
              uid: file.file.uid + '',
              photo_url: address + str + '',
              photo_uid: file.file.uid + '',
              name: file.file.name,
              type: fileArr[fileArr.length - 1]
            }
            if ((fileType === "pdf" || fileType === "doc" || fileType === "docx")) {
              this.isFile = true
              if (this.selection_examples.length >= 1) {
                this.$message.error('pdf、word只能上传一个')
                return
              }
            }
            this.selection_examples.push(examplePic)
            // 为删除远程服务器的图片所使用的临时数组
            this.exampleKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('上传成功！')
          } else {
            this.$message.error('上传失败！')
          }
        })
    },
    handleRemoveRxample(file) {
      for (const i in this.selection_examples) {
        if (this.selection_examples[i].url === file.url) {
          this.selection_examples.splice(i, 1)
        }
      }
      this.exampleKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.exampleKeyArrTemp.push(item)
          this.exampleKeyArr.splice(this.exampleKeyArr.indexOf(item), 1)
        }
      })
      if (this.selection_examples.length === 0) {
        this.isPhoto = false
        this.isFile = false
      }
      this.deleteRxampleObsObject()
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    deleteRxampleObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.exampleKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.exampleKeyArrTemp = []
            this.$message.success('图片删除成功！')
          }
        })
    },
    
  }
}
</script>

<style lang="scss">
.el-dialog__header {
  padding: 0;
}

.el-dialog {
  width: 1500px;
  margin-top: 10vh;
}
</style>
<style scoped lang = "scss">
.backBtn {
  cursor: pointer;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-left: 20px;
}

.basetmp {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;
  padding: 0 20px;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  .flow {
    display: flex;
    justify-content: center;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 30px 30px;
  }

  .flow_cur {
    font-size: 25px;
    color: #f7d43c;
    border-bottom: 3px solid #f7d43c;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 25px;
    color: #f7d43c;
  }

  .flow_right {
    font-size: 25px;
    color: black;
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .short-input-box {
    width: 100px;
    flex: 0, 1, atuo;
    float: left;
  }

  .upload-cover {
    display: flex;
  }

  // css
  .singleArrow_cur {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: #f2d22e;
    margin: 30px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  // .singleArrow_cur::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   right: -10px;
  //   /* 箭头位置 */
  //   top: -8px;
  //   /* 箭头位置 */
  //   border-top: 10px solid transparent;
  //   /* 箭头高低 */
  //   border-bottom: 15px solid transparent;
  //   /* 箭头高低 */
  //   border-left: 20px solid #f2d22e;
  //   /* 箭头长度*/
  // }
  .content_template {
    text-align: center;
    margin-top: -16px;
  }

  .singleArrow {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: black;
    margin: 30px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  // .singleArrow::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   right: -10px;
  //   /* 箭头位置 */
  //   top: -8px;
  //   /* 箭头位置 */
  //   border-top: 10px solid transparent;
  //   /* 箭头高低 */
  //   border-bottom: 15px solid transparent;
  //   /* 箭头高低 */
  //   border-left: 20px solid black;
  //   /* 箭头长度*/
  // }

  .input-big-box {
    width: 800px;
    flex: 0, 1, atuo;
    float: left;
    padding: 0 48px 0 0;
  }

  .input-box-line {
    line-height: 40px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }
	.input-label{
		width: 160px;
		text-align: left;
	}
  .funcBtnnewcommodity {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 0px 30px 20px;
  }

  .funcBtnstore {
    border: none;
    width: 150px;
    justify-content: center;
    background-color: #f7d43c;
    color: black;
    margin: 20px;
  }

  .BackBtn {
    border: none;
    width: 150px;
    justify-content: center;
    background-color: rgb(241, 238, 238);
    color: red;
    margin-right: 20px;
  }

  .funcBtnstra {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 20px 450px 20px;
  }

  .notNecessary {
    font-size: 12px;
  }

  .strategy {
    width: 1000px;
    height: 200px;
    padding: 20px 48px;
    border: dashed;
  }
}

.next-btn {
  margin-top: 5px;
}
</style>
<style>
.basetmp .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.basetmp .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.basetmp .el-textarea .el-input__count {
  color: #909399;
  background: #FFF;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: -16px;
}

.basetmp .el-upload-list__item.is-success.focusing .el-icon-close-tip {
  display: none !important;
}

.el-button--primary {

  background-color: #f7d43c;
  color: black;
  justify-content: center;
  border: none;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background-color: #f7d43c;
  color: black;
  border: none;
}
</style>
