<template>
    <div class="Myhome">
        <div class="gva-card-box">
            <el-card class="gva-card quick-entrance">
                <div style="display: flex;">
                    <span class="title">分类</span>
                    <div v-for="(card, key) in product_types" :key="key" class="quick-entrance-items"
                        @click="filter(card, 1)">
                        <div class="quick-entrance-item">
                            <el-button type="text" :class="card.value == selected_productType ? 'chose' : 'normal'">{{
                                card.label
                            }}</el-button>
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <span class="title">平台</span>
                    <div v-for="(card, key) in selection_platforms" :key="key" class="quick-entrance-items"
                        @click="filter(card, 2)">
                        <div class="quick-entrance-item">
                            <el-button type="text" :class="card.value == selected_platform ? 'chose' : 'normal'">{{
                                card.label
                            }}</el-button>
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <span class="title">样品</span>
                    <div v-for="(card, key) in samples" :key="key" class="quick-entrance-items" @click="filter(card, 3)">
                        <div class="quick-entrance-item">
                            <el-button type="text" :class="card.value == selected_sample ? 'chose' : 'normal'">{{ card.label
                            }}</el-button>
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <span class="title">任务</span>
                    <div v-for="(card, key) in tasks" :key="key" class="quick-entrance-items" @click="filter(card, 4)">
                        <div class="quick-entrance-item">
                            <el-button type="text" :class="card.value == selected_task ? 'chose' : 'normal'">{{ card.label
                            }}</el-button>
                        </div>
                    </div>
                </div>
            </el-card>
        </div>
        <div class="SelectionsCards">
            <div v-for="(item, key) in selections">
                <el-card class="card-item">
                    <div class="clickable" v-bind:class="{ 'hover': isHover }" v-on:mouseenter="isHover = true"
                        v-on:mouseleave="isHover = false" @click="handleClickShow(item)">
                        <div>
                            <img slot="title" src="@/assets/images/ChaFen.jpg" alt="YOUNGEE" class="head-img" />
                        </div>
                        <div style="display: flex;">
                            <img slot="platform" src="@/assets/images/douyin.png" alt="douyin" class="platform-img" />
                            <p>{{ item.SelectionTitle }}</p>
                        </div>
                        <div style="display:flex">
                            <div class="PriceItem">
                                <p>售价</p>
                                <p>￥{{ item.SellingPrice }}</p>
                            </div>
                            <div class="PriceItem">
                                <p>预估赚</p>
                                <p>￥{{ item.EstimatdEarning }}</p>
                            </div>
                            <div class="PriceItem">
                                <p>佣金</p>
                                <p>{{ item.Commission }}</p>
                            </div>
                            <div class="PriceItem">
                                <p>额外悬赏</p>
                                <p>￥{{ item.AdditionalReward }}</p>
                            </div>
                        </div>
                        <div style="display:flex;justify-content: center;">
                            <el-button type="primary" class="TypeButton">{{ item.Task }}</el-button>
                            <el-button type="primary" class="TypeButton">{{ item.Sample }}</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
        </div>
    </div>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import { money, fansview } from '@/utils/index'
import AddNewProduct from '@/components/SelectionCenter/CreateSelection/AddNewProduct.vue'

export default {
    name: 'SelectionBasicInfo',
    components: {
        AddNewProduct
    },
    data() {
        return {
            isShow: false,
            isHover: false,
            selected_productType: 0,
            selected_platform: 0,
            selected_sample: 0,
            selected_task: 0,
            product_id: '',
            selection_platform: '',
            CreateSelectionVisible: false,
            firstCreate: true,
            product_infos: [],
            product_types: [
                { value: 0, label: '全部' },
                { value: 14, label: '线下店铺' },
                { value: 1, label: '3C及电器' },
                { value: 2, label: '食品饮料' },
                { value: 3, label: '服装配饰' },
                { value: 4, label: '医疗' },
                { value: 5, label: '房地产' },
                { value: 6, label: '家居建材' },
                { value: 7, label: '教育培训' },
                { value: 8, label: '出行旅游' },
                { value: 9, label: '游戏' },
                { value: 10, label: '互联网平台' },
                { value: 11, label: '汽车' },
                { value: 12, label: '文体娱乐' },
                { value: 13, label: '影视传媒' },
                { value: 15, label: '软件服务' },
                { value: 16, label: '美妆' },
                { value: 17, label: '母婴宠物' },
                { value: 18, label: '日化' },
                { value: 19, label: '其他' }
            ],
            selection_platforms: [
                {
                    value: '0',
                    label: '全部'
                },
                {
                    value: '1',
                    label: '红book'
                },
                {
                    value: '2',
                    label: '抖音'
                },
                {
                    value: '3',
                    label: '新浪微博'
                },
                {
                    value: '4',
                    label: '快手'
                },
                {
                    value: '5',
                    label: 'B站'
                },
                {
                    value: '6',
                    label: '大众点评'
                },
                {
                    value: '7',
                    label: '知乎'
                }
            ],
            samples: [
                { value: '0', label: '全部' },
                { value: '1', label: '免费领样' },
                { value: '2', label: '不提供样品' },
            ],
            tasks: [
                { value: '0', label: '全部' },
                { value: '1', label: '悬赏任务' },
                { value: '2', label: '纯佣带货' },
            ],
            selections: [
                {
                    MainPhoto: "",
                    SellingPrice: "123",
                    SelectionTitle: "宝洁海飞丝洗发水柠檬味",
                    Platform: "",
                    talent_chose: [1, 2, 3],
                    project_form: "实体商品寄拍",
                    content_type: "视频",
                    EstimatdEarning: "12.3",
                    Commission: "10%",
                    AdditionalReward: "25",
                    Sample: "垫付后返",
                    Task: "纯佣",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "321",
                    SelectionTitle: "飞利浦剃须刀",
                    Platform: "",
                    talent_chose: [1, 2, 3],
                    project_form: "实体商品寄拍",
                    content_type: "视频",
                    EstimatdEarning: "32.1",
                    Commission: "10%",
                    AdditionalReward: "0.0",
                    Sample: "垫付后返",
                    Task: "悬赏",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "423.5",
                    SelectionTitle: "PUYU朴郁小树茶冻干茶粉PUYU朴郁小树茶冻干茶粉",
                    Platform: "",
                    talent_chose: [1, 2, 3],
                    project_form: "实体商品寄拍",
                    content_type: "视频",
                    EstimatdEarning: "42.3",
                    Commission: "10%",
                    AdditionalReward: "20",
                    Sample: "免费领",
                    Task: "悬赏",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "777.9",
                    SelectionTitle: "PUYU朴郁小树茶冻干茶粉PUYU朴郁小树茶冻干茶粉",
                    Platform: "",
                    talent_chose: [1, 2, 3],
                    EstimatdEarning: "77.7",
                    Commission: "10%",
                    AdditionalReward: "",
                    Sample: "免费领",
                    Task: "纯佣",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "888.8",
                    SelectionTitle: "PUYU朴郁小树茶冻干茶粉PUYU朴郁小树茶冻干茶粉",
                    Platform: "",
                    talent_chose: [1, 2, 3],
                    EstimatdEarning: "88.8",
                    Commission: "10%",
                    AdditionalReward: "11.1",
                    Sample: "不提供",
                    Task: "悬赏",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "123",
                    SelectionTitle: "宝洁海飞丝洗发水柠檬味",
                    Platform: "",
                    talent_chose: [1, 2, 3],
                    EstimatdEarning: "12.3",
                    Commission: "10%",
                    AdditionalReward: "25",
                    Sample: "垫付后返",
                    Task: "纯佣",
                },

            ],
            productInfo: []
        }
    },
    watch: {
        product_id() {
            if (this.product_id === "") {
                clearTimeout(this.timer) // 清除延迟执行
                this.timer = setTimeout(() => {
                    // 设置延迟执行
                    EventBus.$emit('NewProduct', '新增商品')
                }, 0)
            }
        },
    },
    mounted() {
        EventBus.$on('CreateSelection', (msg) => {
            this.isShow = false
            this.product_id = ''
            this.selection_platform = ''
            this.$store.state.newSelection = {}
            this.CreateSelectionVisible = msg
            this.firstCreate = true
            const params = {}
            this.postRequest('/youngee/m/product/findall', params).then((resp) => {
                this.product_infos = []
                const res = resp.data.product_infos
                for (const i in res) {
                    const product = {
                        label: res[i].brand_name + '-' + res[i].product_name,
                        value: res[i].product_id + ''
                    }
                    this.product_infos.push(product)
                }
            })
        })
        EventBus.$on('backCreateSelection', (msg) => {
            this.CreateSelectionVisible = true
            this.firstCreate = false
        })
        EventBus.$on('ReFindAll', (msg) => {
            const params = {}
            this.postRequest('/youngee/m/product/findall', params).then((resp) => {
                this.product_infos = []
                const res = resp.data.product_infos
                for (const i in res) {
                    const product = {
                        label: res[i].brand_name + '-' + res[i].product_name,
                        value: res[i].product_id + ''
                    }
                    this.product_infos.push(product)
                }
            })
            this.product_id = msg
        })
        this.selections.forEach((item) => {
            item.SellingPrice = money(item.SellingPrice)
            item.EstimatdEarning = money(item.EstimatdEarning)
            // item.Commission = money(item.Commission)
            item.AdditionalReward = money(item.AdditionalReward)
        })
    },
    methods: {
        filter(card, index) {
            switch (index) {
                // 分类
                case 1:
                    this.selected_productType = card.value
                    break
                // 平台
                case 2:
                    this.selected_platform = card.value
                    break
                // 样品
                case 3:
                    this.selected_sample = card.value
                    break;
                // 任务
                case 4:
                    this.selected_task = card.value
                    break;
            }
            // TODO 
        },
        handleClickShow(item) {
            EventBus.$emit('ShowSelectionDetail', item)
        }
    }
}
</script>

<style lang="scss">
.el-dialog__header {
    padding: 0;
}


.el-dialog {
    width: 1500px;
    margin-top: 10vh;
}

// Element-ui table表格去掉所有边框,如下：
// 备注：若去掉所有边框，可自行将头部边框注释掉即可
// 该样式写在style scoped外面

// 去掉表格单元格边框
.PriceInfo th {
    border: none;
}

.PriceInfo td,
.PriceInfo th.is-leaf {
    border: none;
}

// 表格最外边框
.el-table--border,
.el-table--group {
    border: none;
}

// 头部边框
.PriceInfo thead tr th.is-leaf {
    border: none;
    border-right: none;
}

.PriceInfo thead tr th:nth-last-of-type(2) {
    border-right: none;
}

// 表格最外层边框-底部边框
.el-table--border::after,
.el-table--group::after {
    width: 0;
}

.PriceInfo::before {
    width: 0;
}

.PriceInfo .el-table__fixed-right::before,
.el-table__fixed::before {
    width: 0;
}

// 表格有滚动时表格头边框
.el-table--border th.gutter:last-of-type {
    border: none;
    border-left: none;
}
</style>

<style scoped lang = "scss">
.Myhome {
    // display: flex;
}

.clickable {
    cursor: pointer;
}

.hover {
    cursor: pointer;
}

.dialog-title {
    border-bottom: 2px solid #9b9898;
    height: 60px;
}

.head-img {
    height: 300px;
    width: 300px;
}

.platform-img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.title {
    padding: 10px 10px;
    margin-top: 10px
}

.chose {
    color: red;
    font-weight: bold
}

.normal {
    color: black
}

.TypeButton {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 10px;
    width: 80px;
    border: none !important;
    background-color: #f70606 !important;
    color: white !important;
    font-family: "黑体";
    font-weight: bolder;
}

.SelectionsCards {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.card-item {
    height: 550px;
    width: 360px;
    margin-left: 16px;
    margin-bottom: 5px;
}

.quick-entrance-items {
    justify-content: space-between;
    text-align: center;
    // width: 20%;

    .quick-entrance-item {
        padding: 10px 10px;
        // margin-left: 0px;
        border-radius: 4px;
        // min-width: 200px;
        transition: all 0.2s;
        cursor: pointer;
        height: auto;
        text-align: left;

        .number {
            font-size: 16px;
        }

        &:hover {
            box-shadow: 0px 0px 7px 0px rgba(217, 217, 217, 0.55);
        }

        &-icon {
            width: 50px;
            height: 50px !important;
            border-radius: 8px;
            justify-content: center;
            // margin: 0 auto;
            margin: 0 10px;
        }

        p {
            margin-top: 10px;
            font-weight: bolder;
        }
    }
}

.PriceItem {
    margin-left: 15px;
    text-align: center;
}

.createselection {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
    justify-content: center;

    /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
    .back {
        display: flex;
    }

    .flow {
        display: flex;
        justify-content: center;
    }

    .flow_info_base {
        height: 50px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 25px 30px 0px;
    }

    .flow_cur {
        font-size: 25px;
        color: #f7d43c;
        border-bottom: 3px solid #f7d43c;
        padding-bottom: 5px;
    }

    .flow_left {
        font-size: 25px;
        color: #f7d43c;
    }

    .flow_right {
        font-size: 25px;
        color: black;
    }

    .bt {
        position: flex;
        width: 14px;
        height: 14px;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        -webkit-transform: rotate(315deg);
        margin: 35px 0px 30px;
    }

    .attention {
        margin-left: 1rem;
        color: red;
    }

    .input-box {
        width: 200px;
        flex: 0, 1, atuo;
        float: left;
    }

    .input-big-box {
        width: 500px;
        flex: 0, 1, atuo;
        float: left;
    }

    .input-box-line {
        line-height: 30px;
        margin-bottom: 10px;
        display: flex;
        justify-content: left;
    }

    .funcBtnnewproduct {
        border: none;
        background-color: #f7d43c;
        color: black;
        margin: 0px -20px 20px;
    }

    .funcBtnstore {
        border: none;
        background-color: #f7d43c;
        color: black;
        margin: 20px 20px;
    }

    .content {
        padding: 20px 48px;
    }

    .newbrand {
        padding: 0px 40px;
        border: dashed;

        .upload-cover {
            width: 500px;
            display: flex;
        }
    }
}

.gva-card-box {
    padding: 16px
}

.next-btn {
    margin-top: 5px;
}
</style>
