<template>
    <div class="Myhome">
        <div>
            <img slot="title" src="@/assets/images/ChaFen.jpg" alt="YOUNGEE" class="head-img" />
        </div>
        <div style="margin-left: 5rem;">
            <div style="display: flex;">
                <img slot="platform" src="@/assets/images/douyin.png" alt="douyin" class="platform-img" />
                <p>{{ SelectionDetail.SelectionName }}</p>
            </div>
            <div style="margin-top: 1rem;">距离任务有效期还有<span style="color:red">{{}}</span>天</div>
            <div class="GrayBorder">
                <div>
                    <div><span class="GrayClass">售 价</span><span>￥{{ SelectionDetail.SellingPrice }}</span></div>
                </div>
                <div><span class="GrayClass">佣 金</span><span>{{ SelectionDetail.Commission }}</span></div>
                <div><span class="GrayClass">领样要求</span><span class="GrayClass">|</span><span
                        class="GrayClass">样品剩余</span><span>{{}}</span></div>
                <div><span class="GrayClass">额外悬赏</span><span>{{ SelectionDetail.AdditionalReward }}</span></div>
                <div><span class="GrayClass">返现&悬赏条件</span><span>{{ SelectionDetail.AdditionalReward }}</span></div>
            </div>
            <div class="typeName">招募策略</div>
            <div>
                <el-table data="tableData" border class="strategys-table" :header-cell-style="{ background: '#f7d43c', color: '#606266' }">
                    <el-table-column prop="strategy_id" label="策略编号" align="center" />
                    <el-table-column prop="show_fee_form" label="稿费形式" align="center" />
                    <el-table-column prop="fans" label="创作者粉丝量" width="120" align="center"> </el-table-column>
                    <el-table-column prop="show_offer" label="报价" align="center"> </el-table-column>
                    <el-table-column prop="show_service_charge" width="100" label="平台服务费" align="center">
                    </el-table-column>
                    <el-table-column prop="recruit_number" label="招募数量" align="center">
                    </el-table-column>
                </el-table>
            </div>
            <div> <el-button type="primary" class="TypeButton">{{ SelectionDetail.Sample
            }}</el-button>
                <el-button type="primary" class="TypeButton">{{ SelectionDetail.Task
                }}</el-button>
            </div>
            <div class="typeName">达人类型</div>
            <div style="display: flex;">
                <el-button type="primary" class="TypeButton" v-for="item in talent_chose" :key="item">{{ item }}</el-button>
            </div>
            <div class="typeName">卖点信息</div>
            <div></div>
            <div class="typeName">商品详情</div>
            <div></div>
        </div>
    </div>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import { money, fansview } from '@/utils/index'
import AddNewProduct from '@/components/SelectionCenter/CreateSelection/AddNewProduct.vue'

export default {
    name: 'SelectionDetail',
    props: {
        SelectionDetail: []
    },
    components: {
        AddNewProduct
    },
    data() {
        return {
            isShow: false,
            isHover: false,
            selected_productType: 0,
            selected_platform: 0,
            selected_sample: 0,
            selected_task: 0,
            product_id: '',
            selection_platform: '',
            CreateSelectionVisible: false,
            firstCreate: true,
            product_infos: [],
            product_types: [
                { value: 0, label: '全部' },
                { value: 14, label: '线下店铺' },
                { value: 1, label: '3C及电器' },
                { value: 2, label: '食品饮料' },
                { value: 3, label: '服装配饰' },
                { value: 4, label: '医疗' },
                { value: 5, label: '房地产' },
                { value: 6, label: '家居建材' },
                { value: 7, label: '教育培训' },
                { value: 8, label: '出行旅游' },
                { value: 9, label: '游戏' },
                { value: 10, label: '互联网平台' },
                { value: 11, label: '汽车' },
                { value: 12, label: '文体娱乐' },
                { value: 13, label: '影视传媒' },
                { value: 15, label: '软件服务' },
                { value: 16, label: '美妆' },
                { value: 17, label: '母婴宠物' },
                { value: 18, label: '日化' },
                { value: 19, label: '其他' }
            ],
            talent_types: [
                { value: 0, label: '不限' },
                { value: 1, label: '美妆' },
                { value: 2, label: '美食' },
                { value: 3, label: '生活' },
                { value: 4, label: '时尚' },
                { value: 5, label: '测评' },
                { value: 6, label: '旅行' },
                { value: 7, label: '汽车' },
                { value: 8, label: '萌宠' },
                { value: 9, label: '游戏' },
                { value: 10, label: '音乐' },
                { value: 11, label: '舞蹈' },
                { value: 12, label: '房产' },
                { value: 13, label: '情感' },
                { value: 14, label: '三农' },
                { value: 15, label: '园艺' },
                { value: 16, label: '随拍' },
                { value: 17, label: '图文控' },
                { value: 18, label: '二次元' },
                { value: 19, label: '母婴亲子' },
                { value: 20, label: '颜值达人' },
                { value: 21, label: '剧情搞笑' },
                { value: 22, label: '运动健身' },
                { value: 23, label: '家居家装' },
                { value: 24, label: '科技数码' },
                { value: 25, label: '教育培训' },
                { value: 26, label: '才艺技能' },
                { value: 27, label: '艺术文化' },
                { value: 28, label: '财经投资' }

            ],
            talent_chose: [],
            selection_platforms: [
                {
                    value: '0',
                    label: '全部'
                },
                {
                    value: '1',
                    label: '红book'
                },
                {
                    value: '2',
                    label: '抖音'
                },
                {
                    value: '3',
                    label: '新浪微博'
                },
                {
                    value: '4',
                    label: '快手'
                },
                {
                    value: '5',
                    label: 'B站'
                },
                {
                    value: '6',
                    label: '大众点评'
                },
                {
                    value: '7',
                    label: '知乎'
                }
            ],
            samples: [
                { value: '0', label: '全部' },
                { value: '1', label: '免费领样' },
                { value: '2', label: '不提供样品' },
            ],
            tasks: [
                { value: '0', label: '全部' },
                { value: '1', label: '悬赏任务' },
                { value: '2', label: '纯佣带货' },
            ],
            selections: [
                {
                    MainPhoto: "",
                    SellingPrice: "123",
                    SelectionTitle: "宝洁海飞丝洗发水柠檬味",
                    Platform: "",
                    EstimatdEarning: "12.3",
                    Commission: "10%",
                    AdditionalReward: "25",
                    Sample: "垫付后返",
                    Task: "纯佣",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "321",
                    SelectionTitle: "飞利浦剃须刀",
                    Platform: "",
                    EstimatdEarning: "32.1",
                    Commission: "10%",
                    AdditionalReward: "0.0",
                    Sample: "垫付后返",
                    Task: "悬赏",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "423.5",
                    SelectionTitle: "PUYU朴郁小树茶冻干茶粉PUYU朴郁小树茶冻干茶粉",
                    Platform: "",
                    EstimatdEarning: "42.3",
                    Commission: "10%",
                    AdditionalReward: "20",
                    Sample: "免费领",
                    Task: "悬赏",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "777.9",
                    SelectionTitle: "PUYU朴郁小树茶冻干茶粉PUYU朴郁小树茶冻干茶粉",
                    Platform: "",
                    EstimatdEarning: "77.7",
                    Commission: "10%",
                    AdditionalReward: "",
                    Sample: "免费领",
                    Task: "纯佣",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "888.8",
                    SelectionTitle: "PUYU朴郁小树茶冻干茶粉PUYU朴郁小树茶冻干茶粉",
                    Platform: "",
                    EstimatdEarning: "88.8",
                    Commission: "10%",
                    AdditionalReward: "11.1",
                    Sample: "不提供",
                    Task: "悬赏",
                },
                {
                    MainPhoto: "",
                    SellingPrice: "123",
                    SelectionTitle: "宝洁海飞丝洗发水柠檬味",
                    Platform: "",
                    EstimatdEarning: "12.3",
                    Commission: "10%",
                    AdditionalReward: "25",
                    Sample: "垫付后返",
                    Task: "纯佣",
                },

            ],
            productInfo: []
        }
    },
    watch: {
        product_id() {
            if (this.product_id === "") {
                clearTimeout(this.timer) // 清除延迟执行
                this.timer = setTimeout(() => {
                    // 设置延迟执行
                    EventBus.$emit('NewProduct', '新增商品')
                }, 0)
            }
        },
        SelectionDetail() {
            this.findProject()
            this.talent_chose = []
            this.SelectionDetail.talent_chose.forEach((item) => {
                this.talent_chose.push(this.talent_types[item].label)
            });
        },
        
    },
    mounted() {
        // console.log(this.talent_chose)
        // this.SelectionDetail.talent_chose.forEach((item) => {
        //     this.talent_chose.push(this.talent_types[item].label)
        // });
    },
    methods: {
        filter(card, index) {
            switch (index) {
                // 分类
                case 1:
                    this.selected_productType = card.value
                    break
                // 平台
                case 2:
                    this.selected_platform = card.value
                    break
                // 样品
                case 3:
                    this.selected_sample = card.value
                    break;
                // 任务
                case 4:
                    this.selected_task = card.value
                    break;
            }
            // TODO 
        },

        async findProject() {
        let project_id, project_name
        if (!/^\d+$/.test(this.searchInput)) {
          project_name = this.searchInput
        } else {
          project_id = this.searchInput
        }
        let status = this.project_statu == "" ? ""  :  parseInt(this.project_statu) 
        const params = {
        //   page_size: 10,
        //   page_num: 1,
                //   selection_status: status,
        //   platform: parseInt(this.project_platform),
        //   sample_mode: parseInt(this.sample_mode),
        //   content_type: parseInt(this.content_type),
        //   task_mode: parseInt(this.task_mode),
        //   search_value: this.search_value,
        //   // submit_at: '',
        //   task_ddl: this.ddl,
        //   enterprise_id: this.enterprise_id,
        //   selection_id: this.selection_id,
          enterprise_id: "121031209",
          selection_id: "10101010",

        }
        const statusMap = {
          1: '创建中',
          2: '待审核',
          3:'审核通过',
          4:'待支付',
          5:'已支付',
          6:'执行中',
          7:'失效',
          8:'已结案',
          // 其他数字对应的字符串
        }
        const platformMap = {
          1: '小红书',
          2: '抖音',
          3:'微博',
          4:'快手',
          5:'B战',
          6:'大众点评',
          7:'知乎',
          // 其他数字对应的字符串
        }
        const TaskModeMap = {
          1: '悬赏任务',
          2: '纯拥带货',

          // 其他数字对应的字符串
        }
        const ContentTypeMap = {
          1: '图文',
          2: '视频',
        }
        this.postRequest('/youngee/m/selection/detail', params).then((resp) => {
            if (resp.data.SelectionInfo) {

            SelectionDetail = resp.data.SelectionInfo;
            this.$data.SelectionDetail = SelectionDetail
            this.SelectionDetail.forEach(e => {
            //   e.TaskDdl = e.TaskDdl.substring(0,10) + " " + e.TaskDdl.substring(11,19)
            //   e.SelectionStatus = statusMap[e.SelectionStatus]
            //   e.Platform = platformMap[e.Platform]
            //   e.TaskMode = TaskModeMap[e.TaskMode]
            //   e.ContentType = ContentTypeMap[e.ContentType]
            })

            console.log(this.$data.SelectionDetail);

        } else {
            this.$message('暂无数据')
            this.tableData = []
        }
        })
      },
      getData(n1, n2) {
        const params = {
          page_size: n1,
          page_num: n2,
          // enterprise_id: this.,
          selection_status: this.project_statu,
          platform: parseInt(this.project_platform),
          sample_mode: parseInt(this.sample_mode),
          content_type: parseInt(this.content_type),
          task_mode: parseInt(this.task_mode),
          search_value: this.search_value,
          // submit_at: '',
          task_ddl: this.ddl,
        }
        this.postRequest('/youngee/m/selection/detail', params).then((resp) => {
          if (resp.data.SelectionInfo) {

            this.$data.SelectionDetail = resp.data.SelectionInfo;

            console.log(this.$data.SelectionDetail);

            this.$message('数据获取成功');



            // this.tableData.forEach(e => {
            //   e.TaskDdl = e.TaskDdl.substring(0,10) + " " + e.TaskDdl.substring(11,19)
            //   e.SelectionStatus = statusMap[e.SelectionStatus]
            //   e.Platform = platformMap[e.Platform]
            //   e.TaskMode = TaskModeMap[e.TaskMode]
            //   e.ContentType = ContentTypeMap[e.ContentType]
            // })
            // totalCount = parseInt(resp.data.total)
            // this.$data.totalCount = totalCount
          } else {
            this.$message('暂无数据')
            this.tableData = []
          }
        })
      },

      handleClick() {
            console.log("Test")

        },


    }
}
</script>

<style lang="scss">
.el-dialog__header {
    padding: 0;
}


.el-dialog {
    width: 1500px;
    margin-top: 10vh;
}

// Element-ui table表格去掉所有边框,如下：
// 备注：若去掉所有边框，可自行将头部边框注释掉即可
// 该样式写在style scoped外面

// 去掉表格单元格边框
.PriceInfo th {
    border: none;
}

.PriceInfo td,
.PriceInfo th.is-leaf {
    border: none;
}

// 表格最外边框
.el-table--border,
.el-table--group {
    border: none;
}

// 头部边框
.PriceInfo thead tr th.is-leaf {
    border: none;
    border-right: none;
}

.PriceInfo thead tr th:nth-last-of-type(2) {
    border-right: none;
}

// 表格最外层边框-底部边框
.el-table--border::after,
.el-table--group::after {
    width: 0;
}

.PriceInfo::before {
    width: 0;
}

.PriceInfo .el-table__fixed-right::before,
.el-table__fixed::before {
    width: 0;
}

// 表格有滚动时表格头边框
.el-table--border th.gutter:last-of-type {
    border: none;
    border-left: none;
}
</style>

<style scoped lang = "scss">
.Myhome {
    display: flex;
    margin-left: 15%;
}

.clickable {
    cursor: pointer;
}

.hover {
    cursor: pointer;
}

.dialog-title {
    border-bottom: 2px solid #9b9898;
    height: 60px;
}

.head-img {
    height: 300px;
    width: 300px;
}

.platform-img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.typeName {
    margin-top: 32px;
    font-weight: bolder;
}

.title {
    padding: 10px 10px;
    margin-top: 10px
}

.chose {
    color: red;
    font-weight: bold
}

.normal {
    color: black
}

.GrayBorder {
    background: #f7f5f5;
}

.GrayClass {
    color: gray;
    margin-right: 48px;
}

.TypeButton {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 10px;
    // width: 80px;
    border: none !important;
    background-color: #f70606 !important;
    color: white !important;
    font-family: "黑体";
    // font-weight: bolder;
}

.SelectionsCards {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.card-item {
    height: 550px;
    width: 360px;
    margin-left: 16px;
    margin-bottom: 5px;
}

.quick-entrance-items {
    justify-content: space-between;
    text-align: center;
    // width: 20%;

    .quick-entrance-item {
        padding: 10px 10px;
        // margin-left: 0px;
        border-radius: 4px;
        // min-width: 200px;
        transition: all 0.2s;
        cursor: pointer;
        height: auto;
        text-align: left;

        .number {
            font-size: 16px;
        }

        &:hover {
            box-shadow: 0px 0px 7px 0px rgba(217, 217, 217, 0.55);
        }

        &-icon {
            width: 50px;
            height: 50px !important;
            border-radius: 8px;
            justify-content: center;
            // margin: 0 auto;
            margin: 0 10px;
        }

        p {
            margin-top: 10px;
            font-weight: bolder;
        }
    }
}

.PriceItem {
    margin-left: 15px;
    text-align: center;
}

.strategys-table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.createselection {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
    justify-content: center;

    /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
    .back {
        display: flex;
    }

    .flow {
        display: flex;
        justify-content: center;
    }

    .flow_info_base {
        height: 50px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 25px 30px 0px;
    }

    .flow_cur {
        font-size: 25px;
        color: #f7d43c;
        border-bottom: 3px solid #f7d43c;
        padding-bottom: 5px;
    }

    .flow_left {
        font-size: 25px;
        color: #f7d43c;
    }

    .flow_right {
        font-size: 25px;
        color: black;
    }

    .bt {
        position: flex;
        width: 14px;
        height: 14px;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        -webkit-transform: rotate(315deg);
        margin: 35px 0px 30px;
    }

    .attention {
        margin-left: 1rem;
        color: red;
    }

    .input-box {
        width: 200px;
        flex: 0, 1, atuo;
        float: left;
    }

    .input-big-box {
        width: 500px;
        flex: 0, 1, atuo;
        float: left;
    }

    .input-box-line {
        line-height: 30px;
        margin-bottom: 10px;
        display: flex;
        justify-content: left;
    }

    .funcBtnnewproduct {
        border: none;
        background-color: #f7d43c;
        color: black;
        margin: 0px -20px 20px;
    }

    .funcBtnstore {
        border: none;
        background-color: #f7d43c;
        color: black;
        margin: 20px 20px;
    }

    .content {
        padding: 20px 48px;
    }

    .newbrand {
        padding: 0px 40px;
        border: dashed;

        .upload-cover {
            width: 500px;
            display: flex;
        }
    }
}

.gva-card-box {
    padding: 16px
}

.next-btn {
    margin-top: 5px;
}
</style>
