<template>
  <el-dialog style="padding: 0 !important;" :visible.sync="ExcuteRequirementVisible" append-to-body>
    <div>
      <div class="basetmp">
        <div class="Excute">
          <div class="flow">
            <div class="flow_info_base">
              <span class="flow_left">基础信息</span>
            </div>
            <div class="singleArrow_cur" />
            <div class="flow_info_base">
              <span class="flow_left">招募要求</span>
            </div>
            <div class="singleArrow_cur" />
            <div class="flow_info_base">
              <span class="flow_cur">执行要求</span>
            </div>
          </div>
          <div class="content">
            <div class="input-box-line">
              内容形式*：
              <el-select v-model="content_type" class="input-box" placeholder="不限">
                <el-option v-for="item in content_types" :key="item.value" :label="item.label" :value="item.value" />
              </el-select>
            </div>
            <div class="input-box-line">
              任务描述 ：
              <el-input
                v-model="project_detail"
                class="input-big-box"
                maxlength="300"
                :show-word-limit="true"
                type="textarea"
                :autosize="{ minRows: 7, maxRows: 10 }"
                placeholder="请输入任务描述（300字以内）"
              />
            </div>
            <div class="input-box-line">
              <span> 任务示意图：</span>

              <div class="upload-cover">
                <el-upload
                  ref="pictureUploadMain"
                  action
                  :http-request="doUploadMain"
                  :on-remove="handleRemoveMain"
                  :before-upload="beforeAvatarUpload"
                  :file-list="project_photos"
                  scoped-solt=""
                  :limit="9"
                  list-type="picture-card"
                >
                  <i slot="default" class="el-icon-plus" />
                  <div slot="tip" class="el-upload__tip">任务示意图限9张</div>
                  <div slot="file" slot-scope="{ file }">
                    <img class="el-upload-list__item-thumbnail" :src="file.url" alt="">
                    <span class="el-upload-list__item-actions">
                      <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemoveMain(file)">
                        <i class="el-icon-delete" />
                      </span>
                    </span>
                  </div>
                </el-upload>
              </div>
            </div>
            <el-button type="primary" class="funcBtnstore" @click="save">保存并预览任务</el-button>
          </div>
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import Vue from 'vue'
export const EventBus = new Vue()

import ObsClient from '../esdk-obs-browserjs-without-polyfill-3.19.5.min.js'
// 创建ObsClient实例
var obs = new ObsClient({
  access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
  secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
  server: 'https://obs.cn-east-3.myhuaweicloud.com'
})
export default {
  name: 'ExcuteRequirement',
  data() {
    return {
      project_id: 0,
      disabled: false,
      ExcuteRequirementVisible: false,
      content_type: '',
      project_detail: '',
      project_photos: [],
      mainKeyArr: [],
      mainKeyArrTemp: [],
      content_types: [
        {
          value: '1',
          label: '图文'
        },
        {
          value: '2',
          label: '视频'
        }
      ]
    }
  },
  mounted() {
    EventBus.$on('ExcuteRequirement', (msg) => {
      console.log('执行要求!!：', msg, this.ExcuteRequirementVisible)
      this.ExcuteRequirementVisible = msg
    })
  },
  methods: {
    save() {
      // 鲁棒性检测
      if (this.content_type == '') {
        this.$message.error('内容形式不能为空')
        return
      }
      if (this.project_detail.trim() == '') {
        this.$message.error('任务内容不能为空')
        return
      }
      if (this.project_photos.length == 0) {
        this.$message.error('任务示意图不能为空')
        return
      }
      this.$store.state.isCreating = true
      this.$store.state.project.content_type = parseInt(this.content_type)
      this.$store.state.project.project_detail = this.project_detail
      this.$store.state.project.project_photos = this.project_photos
      const params = this.$store.state.project
      this.ExcuteRequirementVisible = false
      this.postRequest('/youngee/m/project/create', params).then((resp) => {
        this.project_id = resp.data.Project_id
        this.$store.state.project.project_id = this.project_id
        params.project_id = this.project_id
        this.postRequest('/youngee/m/project/show', params).then((resp) => {
          this.$router.push({
            path: '/viewproject',
            query: {
              project_info: resp.data,
              ispreview: true
            }
          })
        })
      })
    },
    // 删除某行数据
    handleDelete(index) {
      this.tabledata.splice(index, 1)
    },

    addstra() {
      const arr = {
        index: (this.index += 1),
        feetype: this.feetype,
        fans: this.minfans + '-' + this.maxfans,
        price: this.price,
        serfee: '-',
        talentnum: this.talentnum
      }
      this.tabledata.push(arr)
    },

    // 主图上传
    doUploadMain(file) {
      var str = 'backstage_upload/' + this.guid() + '.png'
      var address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status == 200) {
            const mainPic = {
              url: address + str + '',
              uid: file.file.uid + '',
              photo_url: address + str + '',
              photo_uid: file.file.uid + ''
            }
            this.project_photos.push(mainPic)
            // 为删除远程服务器的图片所使用的临时数组
            this.mainKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('图片上传成功！')
          } else {
            this.$message.error('图片上传失败！')
          }
        })
    },

    handleRemoveMain(file) {
      for (const i in this.project_photos) {
        if (this.project_photos[i].url == file.url) {
          this.project_photos.splice(i, 1)
        }
      }
      this.mainKeyArr.forEach((item) => {
        if (item.uid == file.uid) {
          this.mainKeyArrTemp.push(item)
          this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
        }
      })
      this.deleteMainObsObject()
    },
    deleteMainObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.mainKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.mainKeyArrTemp = []
            this.$message.success('图片删除成功！')
          }
        })
    },

    beforeAvatarUpload(file) {
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 或者 PNG 格式!')
      }
      return isJPG && isLt2M
    },
    // 生成随机字符串
    guid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
        /[xy]/g,
        function(c) {
          var r = (Math.random() * 16) | 0
          var v = c == 'x' ? r : (r & 0x3) | 0x8
          return v.toString(16)
        }
      )
    }
  }
}
</script>

<style scoped lang = "scss">
.basetmp {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  .flow {
    display: flex;
    justify-content: center;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 30px 30px;
  }

  .flow_cur {
    font-size: 30px;
    color: #f7d43c;
    border-bottom: 3px solid #f7d43c;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 30px;
    color: #f7d43c;
  }

  .flow_right {
    font-size: 30px;
    color: black;
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .short-input-box {
    width: 100px;
    flex: 0, 1, atuo;
    float: left;
  }

  // css
  .singleArrow_cur {
    width: 180px;
    height: 5px;
    position: relative;
    background-color: #f2d22e;
    margin: 40px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow_cur::after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    /* 箭头位置 */
    top: -8px;
    /* 箭头位置 */
    border-top: 10px solid transparent;
    /* 箭头高低 */
    border-bottom: 15px solid transparent;
    /* 箭头高低 */
    border-left: 20px solid #f2d22e;
    /* 箭头长度*/
  }

  .singleArrow {
    width: 180px;
    height: 5px;
    position: relative;
    background-color: black;
    margin: 40px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow::after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    /* 箭头位置 */
    top: -8px;
    /* 箭头位置 */
    border-top: 10px solid transparent;
    /* 箭头高低 */
    border-bottom: 15px solid transparent;
    /* 箭头高低 */
    border-left: 20px solid black;
    /* 箭头长度*/
  }

  .input-big-box {
    width: 800px;
    flex: 0, 1, atuo;
    float: left;
    padding: 0 48px 0 0;
  }

  .input-box-line {
    line-height: 40px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }

  .funcBtnnewcommodity {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 0px 20px 20px;
  }

  .funcBtnstore {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 20px 500px 20px;
  }

  .funcBtnstra {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 20px 450px 20px;
  }

  .strategy {
    width: 1000px;
    height: 200px;
    padding: 20px 48px;
    border: dashed;
  }
}

.next-btn {
  margin-top: 5px;
}
</style>
<style>
.basetmp .el-upload-list--picture-card .el-upload-list__item {
  width: 50px;
  height: 50px;
}

.basetmp .el-upload--picture-card {
  width: 50px;
  height: 48px;
  line-height: 52px;
}
</style>
