<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">充值管理</div> -->
    <div id="box">
      <div
        v-for="(item, i) in bottonList"
        :key="i"
        class="box_btn"
        :class="chooseBtn == i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>
    <div v-show="index === 0">
      <div class="head-content">
        <div class="input-box-line">
          申请提交时间：
          <el-date-picker
            v-model="commit_at"
            align="right"
            type="date"
            style="width:140px"
            value-format="yyyy-MM-dd"
            placeholder="选择日期"
            :picker-options="pickerOptions"
          />
        </div>
        <div class="input-box-line" style="text-align:center">
          <el-input v-model="searchInput" placeholder="企业名称、企业用户ID等" style="width: 400px;" clearable>
            <el-button
              slot="append"
              style="background-color: #1890ff;color:white"
              @click="searchRecharge"
            >搜索</el-button>
          </el-input>
        </div>
      </div>
      <el-table
        :data="rechargingTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
      >
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <!-- <el-table-column prop="business_name" label="企业名称" align="center" /> -->
        <el-table-column prop="username" label="用户名称" align="center" />
        <el-table-column prop="recharge_amount_t" label="充值金额" align="center" />
        <el-table-column prop="transfer_voucher" label="转账凭证" align="center">
          <template slot-scope="scope">
            <img v-if="scope.row.transfer_voucher != '--'" :src="scope.row.transfer_voucher" alt="" width="80px" height="100px" preview="1">
            <span v-if="scope.row.transfer_voucher == '--'"> -- </span>
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="联系方式" align="center" />
        <el-table-column prop="commit_at" label="申请提交时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="modInfo(scope.row)">修改</el-button>
            <el-button type="text" size="small" @click="confirm(scope.row)">确认</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
    <div v-show="index === 1">
      <div class="head-content">
        <div class="input-box-line">
          确认时间：
          <el-date-picker
            v-model="confirm_at"
            align="right"
            type="date"
            style="width:140px"
            value-format="yyyy-MM-dd"
            placeholder="选择日期"
            :picker-options="pickerOptions"
          />
        </div>
        <div class="input-box-line">
          支付方式：
          <el-select v-model="paymentMethod" style="width: 130px" placeholder="不限">
            <el-option v-for="item in paymentMethods" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
        <div class="input-box-line" style="text-align:center">
          <el-input v-model="searchInput" placeholder="企业名称、企业用户ID等" style="width: 400px;" clearable>
            <el-button
              slot="append"
              style="background-color: #1890ff;color:white"
              @click="searchRecharge"
            >搜索</el-button>
          </el-input>
        </div>
      </div>
      <el-table
        :data="rechargedTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
      >
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <!-- <el-table-column prop="business_name" label="企业名称" align="center" /> -->
        <el-table-column prop="username" label="用户名称" align="center" />
        <el-table-column prop="recharge_amount_t" label="充值金额" align="center" />
        <el-table-column prop="recharge_method" label="支付方式" align="center" />
        <el-table-column prop="transfer_voucher" label="转账凭证" align="center">
          <template slot-scope="scope">
            <img v-if="scope.row.transfer_voucher != '--'" :src="scope.row.transfer_voucher" alt="" width="80px" height="100px" preview="1">
            <span v-if="scope.row.transfer_voucher == '--'"> -- </span>
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="联系方式" align="center" />
        <el-table-column prop="confirm_at" label="确认时间" align="center" />
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPageHandled"
          :page-sizes="pageSizesHandled"
          :page-size="PageSizeHandled"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCountHandled"
          @size-change="handleSizeChangeHandled"
          @current-change="handleCurrentChangeHandled"
        />
      </div>
    </div>
    <el-dialog :visible.sync="confirmDialogVisible" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="confirmDialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>企业用户ID：</span>
          <el-input v-model="confirmUserID" :disabled="true" style="margin-left:15px;width:250px" />
        </div>
        <div class="inline">
          <span>企业名称：</span>
          <el-input v-model="confirmBusinessName" :disabled="true" style="margin-left:30px;width:250px" />
        </div>
        <div class="inline">
          <span>充值金额：</span>
          <el-input v-model="confirmAmount_t" :disabled="true" style="margin-left:30px;width:250px" placeholder="请输入正确的充值金额" />
        </div>
      </div>
      <div>
        <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="comfirmRecharge">确认</el-button>
        <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="cancel">取消</el-button>
      </div>
      <br>
    </el-dialog>
    <el-dialog :visible.sync="modifyDialogVisible" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="modifyDialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>企业用户ID：</span>
          <el-input v-model="confirmUserID" :disabled="true" style="margin-left:15px;width:250px" />
        </div>
        <div class="inline">
          <span>企业名称：</span>
          <el-input v-model="confirmBusinessName" :disabled="true" style="margin-left:30px;width:250px" />
        </div>
        <div class="inline">
          <span>充值金额：</span>
          <el-input v-model="confirmAmount" style="margin-left:30px;width:250px" placeholder="请输入正确的充值金额" />
        </div>
      </div>
      <div>
        <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="modifyRecharge">修改</el-button>
        <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="cancelModify">取消</el-button>
      </div>
      <br>
    </el-dialog>
  </div>
</template>

<script>
import { money } from '@/utils/index'

export default {
  data() {
    return {
      index: 0,
      chooseBtn: 0,
      bottonList: [
        {
          name: '充值待确认'
        },
        {
          name: '充值确认'
        }
      ],
      searchInput: '',
      commit_at: '',
      confirm_at: '',
      pickerOptions: {},
      rechargingTable: [],
      paymentMethod: 0,
      paymentMethods: [
        {
          value: 0,
          label: '不限'
        },
        {
          value: 1,
          label: '对公转账'
        },
        {
          value: 2,
          label: '支付宝支付'
        },
        {
          value: 3,
          label: '微信支付'
        }
      ],
      rechargedTable: [],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,
      // 默认显示第几页
      currentPageHandled: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCountHandled: 0,
      // 个数选择器（可修改）
      pageSizesHandled: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSizeHandled: 10,
      confirmDialogVisible: false,
      modifyDialogVisible: false,
      confirmAmount: 0,
      confirmAmount_t: '',
      confirmBusinessName: '',
      confirmUserID: '',
      enterprise_id: '',
      recharge_id: ''
    }
  },
  computed: {
  },
  watch: {
    searchInput() {
      this.searchRecharge()
    },
    paymentMethod() {
      this.searchRecharge()
    },
    commit_at() {
      this.searchRecharge()
    },
    confirm_at() {
      this.searchRecharge()
    }
  },
  mounted() {
    this.searchRecharge()
  },
  methods: {
    async modifyRecharge() {
      if (this.confirmAmount <= 0) {
        this.$message('请填写正确的充值金额')
        return
      }
      const params = {
        method: 1,
        recharge_id: this.recharge_id,
        enterprise_id: this.enterprise_id,
        recharge_amount: parseFloat(this.confirmAmount)
      }
      await this.postRequest('youngee/m/finance/operateRecharge', params).then((resp) => {
      })
      this.$router.go(0)
    },
    cancelModify() {
      this.modifyDialogVisible = false
    },
    async comfirmRecharge() {
      const params = {
        method: 0,
        recharge_id: this.recharge_id,
        enterprise_id: this.enterprise_id,
        recharge_amount: parseFloat(this.confirmAmount)
      }
      await this.postRequest('youngee/m/finance/operateRecharge', params).then((resp) => {
      })
      this.$router.go(0)
    },
    cancel() {
      this.confirmDialogVisible = false
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (value === 0) {
        this.commit_at = ''
        this.confirm_at = ''
        this.searchInput = ''
      } else {
        this.commit_at = ''
        this.confirm_at = ''
        this.searchInput = ''
      }
      this.searchRecharge()
    },
    searchRecharge() {
      let user_id, username
      const status = this.chooseBtn + 1
      if (!/^\d+$/.test(this.searchInput)) {
        username = this.searchInput
      } else {
        user_id = this.searchInput
      }
      const params = {
        page_size: 10,
        page_num: 1,
        status: status,
        user_id: parseInt(user_id),
        // business_name: business_name,
        username: username,
        recharge_method: this.paymentMethod,
        commit_at: this.commit_at,
        confirm_at: this.confirm_at
      }
      this.postRequest('youngee/m/finance/rechargeRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let rechargingTableList = null
          let totalCount = null
          resp.data.recharge_records_preview.forEach(e => {
            e.recharge_amount_t = money(e.recharge_amount)
          })
          rechargingTableList = resp.data.recharge_records_preview
          if (this.chooseBtn === 0) {
            this.$data.rechargingTable = rechargingTableList
            this.$previewRefresh()
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          } else {
            this.$data.rechargedTable = rechargingTableList
            this.$previewRefresh()
            totalCount = parseInt(resp.data.total)
            this.$data.totalCountHandled = totalCount
          }
        } else {
          this.$message('暂无数据')
          if (this.chooseBtn === 0) {
            this.rechargingTable = []
            this.$data.totalCount = 0
          } else {
            this.rechargedTable = []
            this.$data.totalCountHandled = 0
          }
        }
      })
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      let user_id, business_name
      const status = this.chooseBtn + 1
      if (!/^\d+$/.test(this.searchInput)) {
        business_name = this.searchInput
      } else {
        user_id = this.searchInput
      }
      const params = {
        page_size: n1,
        page_num: n2,
        status: status,
        user_id: parseInt(user_id),
        business_name: business_name,
        recharge_method: this.paymentMethod,
        commit_at: this.commit_at,
        confirm_at: this.confirm_at
      }
      this.postRequest('youngee/m/finance/rechargeRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let rechargingTableList = null
          let totalCount = null
          resp.data.recharge_records_preview.forEach(e => {
            e.recharge_amount_t = money(e.recharge_amount)
          })
          rechargingTableList = resp.data.recharge_records_preview
          if (this.chooseBtn === 0) {
            this.$data.rechargingTable = rechargingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          } else {
            this.$data.rechargedTable = rechargingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCountHandled = totalCount
          }
        } else {
          this.$message('暂无数据')
          if (this.chooseBtn === 0) {
            this.rechargingTable = []
            this.$data.totalCount = 0
          } else {
            this.rechargedTable = []
            this.$data.totalCountHandled = 0
          }
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    },

    // 将页码，及每页显示的条数以参数传递提交给后台
    getDataHandled(n1, n2) {
      let user_id, business_name
      const status = this.chooseBtn + 1
      if (!/^\d+$/.test(this.searchInput)) {
        business_name = this.searchInput
      } else {
        user_id = this.searchInput
      }
      const params = {
        page_size: n1,
        page_num: n2,
        invoice_status: status,
        user_id: parseInt(user_id),
        business_name: business_name,
        recharge_method: this.paymentMethod,
        commit_at: this.commit_at,
        confirm_at: this.confirm_at
      }
      this.postRequest('youngee/m/finance/rechargeRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let rechargingTableList = null
          let totalCount = null
          resp.data.recharge_records_preview.forEach(e => {
            e.recharge_amount_t = money(e.recharge_amount)
          })
          rechargingTableList = resp.data.recharge_records_preview
          if (this.chooseBtn === 0) {
            this.$data.rechargingTable = rechargingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          } else {
            this.$data.rechargedTable = rechargingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCountHandled = totalCount
          }
        } else {
          this.$message('暂无数据')
          if (this.chooseBtn === 0) {
            this.rechargingTable = []
            this.$data.totalCount = 0
          } else {
            this.rechargedTable = []
            this.$data.totalCountHandled = 0
          }
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChangeHandled(val) {
      // 改变每页显示的条数
      this.PageSizeHandled = val
      // 点击每页显示的条数时，显示第一页
      this.getDataHandled(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPageHandled = 1
    },
    // 显示第几页
    handleCurrentChangeHandled(val) {
      // 改变默认的页数
      this.currentPageHandled = val
      // 切换页码时，要获取每页显示的条数
      this.getDataHandled(this.PageSizeHandled, val)
    },
    modInfo(row) {
      this.modifyDialogVisible = true
      this.confirmUserID = row.user_id
      this.confirmAmount = row.recharge_amount
      this.confirmAmount_t = row.recharge_amount_t
      this.confirmBusinessName = row.business_name
      this.recharge_id = row.recharge_id
      this.enterprise_id = row.enterprise_id
    },
    confirm(row) {
      console.log(row)
      this.confirmDialogVisible = true
      this.confirmUserID = row.user_id
      this.confirmAmount = row.recharge_amount
      this.confirmAmount_t = row.recharge_amount_t
      this.confirmBusinessName = row.business_name
      this.recharge_id = row.recharge_id
      this.enterprise_id = row.enterprise_id
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

#box {
    display: flex;
    margin-top: 15px;
}

#box .box_btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: 2px solid #f9f9f9;
    background-color: white;
    text-align: center;
    display: flex;
    //设置左右居中
    justify-content: center;
    //设置上下居中
    align-items: center;
    line-height: 40px;
    cursor: pointer;
}

.borderColor {
    border: 2px solid #248bf4 !important;
    color: #248bf4;
}

.input-box-line {
  line-height: 40px;
  margin: 20px;
}

.head-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
.inline{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 16px;
}
.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: 2px solid #0e4bb7;
  padding-bottom: 5px;
  color: #557bf4;
  font-size: 18px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}
.el-dialog__headerbtn .el-dialog__close{
  color: white;
}
.el-dialog__body{
  padding: 5px 15px;
  text-align: center;
}
</style>
