<!-- 数据与结案 -->
<template>
  <div class="recruitManage">
    <el-card class="recruitManageCard" shadow="never" style="">
      <div>
        <div class="flow_info_base">
          <span class="flow_right">数据与结案</span>
        </div>
      </div>
      <el-table
        :key="recruitStrategyKey"
        :data="recruit_strategys"
        border
        class="strategys-table-manage"
        :header-cell-style="{ background: '#6394ea', color: 'white' }"
      >
        <el-table-column prop="strategy_id" label="策略编号" width="180" align="center" />
        <el-table-column prop="show_fee_form" label="稿费形式" width="180" align="center" />
        <el-table-column prop="fans" label="创作者粉丝量" align="center" />
        <el-table-column prop="show_offer" label="报价" align="center" />
        <el-table-column prop="data_number" label="应结案数量" align="center" />
        <el-table-column prop="data_unreview_number" label="数据待审" align="center" />
        <el-table-column prop="data_passed_number" label="已结案" align="center" />
      </el-table>
    </el-card>

    <div id="box">
      <div
        v-for="(item, i) in bottonList1"
        :key="i"
        class="box_btn"
        :class="chooseBtn === i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex; margin-left: 20%">
      <div class="input-box-line">
        策略编号：
        <el-select v-model="strategy_id" class="input-box" placeholder="不限">
          <el-option v-for="item in strategy_ids" :key="item.value" :label="item.label" :value="item.value" @click.native="getDataList(index)" />
        </el-select>
      </div>
      <div class="input-box-line" style="margin-left: 50px">
        <el-input v-model="searchInput" placeholder="账号昵称、任务ID">
          <el-button slot="append" class="search-button" @click="getDataList(index)">搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 数据待审 -->
    <div v-show="index === 0">
      <div style="margin-bottom: 5px; float: right">
        <el-button class="search-button" @click="allSelecting()">批量结案</el-button>
      </div>

      <el-table
        ref="waitingDataTable"
        :data="waitingDataTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="photo_url" label="数据截图" align="center">
          <template slot-scope="scope">
            <span>
              <img :src="scope.row.photo_url" alt="" preview="1" style="width: 50px; height: 50px">
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="play_number" label="阅读/播放数" align="center" />
        <el-table-column prop="like_number" label="点赞数" align="center" />
        <el-table-column prop="collect_number" label="收藏数" align="center" />
        <el-table-column prop="comment_number" label="评论数" align="center" />
        <el-table-column prop="all_payment" label="价格" align="center" />
        <el-table-column prop="show_real_payment" label="结算金额" align="center" />
        <el-table-column prop="submit_at" label="数据上传时间" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handSubmitClick(scope.row)">结案</el-button>
            <el-button type="text" size="medium" @click="handRefuseClick(scope.row)">返回修改</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 已结案 -->
    <div v-show="index === 1">
      <div style="margin-bottom: 5px; float: right">
        <el-button class="search-button" @click="allSelecting()">导出表格</el-button>
      </div>

      <el-table
        ref="passedDataTable"
        :data="passedDataTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="photo_url" label="数据截图" align="center">
          <template slot-scope="scope">
            <span>
              <img :src="scope.row.photo_url" alt="" preview="1" style="width: 50px; height: 50px">
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="play_number" label="阅读/播放数" align="center" />
        <el-table-column prop="like_number" label="点赞数" align="center" />
        <el-table-column prop="collect_number" label="收藏数" align="center" />
        <el-table-column prop="comment_number" label="评论数" align="center" />
        <el-table-column prop="all_payment" label="价格" align="center" />
        <el-table-column prop="show_real_payment" label="结算金额" align="center" />
        <el-table-column prop="agree_at" label="结案时间" width="180" align="center" />
      </el-table>
    </div>

    <!-- <div style="height: 100px" /> -->
    <!-- 确认结案弹窗 -->
    <el-dialog style="padding: 0 !important" width="35vw" :visible.sync="ReviewDataVisible1">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="deliveryDialogVisible1 = false" />
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          align-items: center;
          justify-content: center;
        "
      >
        <span>企业用户id：</span>
        <span>{{ enterprise_id }}</span>
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          align-items: center;
          justify-content: center;
        "
      >
        <span>结算金额：</span>
        <span>{{ payment }}</span>
      </div>
      <div>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? 'collection' : ''"
          class="PassBtn"
          @click="
            ReviewDataVisible1 = false;
            handlePassData();
          "
        >确认结案</el-button>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? '' : 'collection'"
          class="RefuseBtn"
          @click="ReviewDataVisible1 = false"
        >取消</el-button>
      </div>
    </el-dialog>

    <!-- 返回修改弹窗 -->
    <el-dialog style="padding: 0 !important" :visible.sync="ReviewDataVisible2" width="50%">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="ReviewScriptVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">修改意见：</div>
      <el-input
        v-model="dataadvice"
        class="input-big-box"
        maxlength="300"
        :show-word-limit="true"
        type="textarea"
        :autosize="{ minRows: 5, maxRows: 8 }"
      />
      <div>
        <el-button type="primary" class="PassBtn" :visible.sync="ReviewDataVisible2" @click="RefuseData()">
          返回修改</el-button>
        <el-button
          type="primary"
          class="RefuseBtn"
          :visible.sync="ReviewDataVisible2"
          @click="ReviewDataVisible2 = false"
        >取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { money,fansview } from '@/utils'
export default {
  name: 'DataManage',
  data() {
    return {
      bottonList1: [
        {
          name: '数据待审'
        },
        {
          name: '已结案'
        }
      ],
      enterprise_id: this.$store.state.project.enterprise_id,
      project_id: this.$store.state.project.project_id,
      project_form: this.$store.state.project.project_form,
      chooseBtn: 0,
      searchInput: '',
      all_sum: 0,
      // 控制切换按钮后按钮改变样式
      index: 0,
      strategy_id: '',
      strategy_ids: [],
      recruit_strategys: this.$store.state.recruit_strategys,

      // 控制弹窗显示
      ReviewDataVisible1: false, // 确认结案弹窗
      ReviewDataVisible2: false, // 返回修改弹窗
      payment: 0,
      taskIds: [],

      // 数据待审 通过
      title: '',
      picture_video: [],
      Draft: '',
      dataadvice: '',

      selectedDataList: [],
      waitingDataTable: [],
      passedDataTable: [],

      recruitStrategyKey: '',

      strategyIdNumber: new Map()
    }
  },
  created() {
    this.getDataList(0)
    this.getDataInfo()
  },
  mounted() {
  },
  methods: {
    getDataInfo() {
      const strategy_ids = []
      const strategy_id = {
        value: 0,
        label: '不限'
      }
      this.strategy_ids = []
      this.strategy_ids.push(strategy_id)
      for (const i in this.$store.state.recruit_strategys) {
        const strategy_id = {
          value: this.$store.state.recruit_strategys[i].strategy_id,
          label: this.$store.state.recruit_strategys[i].strategy_id
        }
        this.strategy_ids.push(strategy_id)
        strategy_ids.push(this.recruit_strategys[i].strategy_id)
      }
      const params = {
        project_id: this.project_id,
        strategy_ids: strategy_ids.toString()
      }
      this.postRequest('/youngee/m/project/getdatanumberinfo', params).then(
        (resp) => {
          for (const i in this.$data.recruit_strategys) {
            this.$data.recruit_strategys[i].data_number = resp.data.number_info_list[i].data_number
            this.$data.recruit_strategys[i].data_unreview_number = resp.data.number_info_list[i].data_unreview_number
            this.$data.recruit_strategys[i].data_passed_number = resp.data.number_info_list[i].data_passed_number
            this.$data.recruit_strategys[i].show_offer = this.$data.recruit_strategys[i].offer === 0 ? '-' : money(this.$data.recruit_strategys[i].offer)
          }
          this.$data.recruitStrategyKey = Math.random()
        }
      )
    },
    // 显示弹窗 确认结案
    handSubmitClick(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      this.payment = row.real_payment
      this.strategyIdNumber.clear()
      this.strategyIdNumber.set(row.strategy_id, 1)
      this.ReviewDataVisible1 = true
    },
    // 显示弹窗 返回修改
    handRefuseClick(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      this.strategyIdNumber.clear()
      this.strategyIdNumber.set(row.strategy_id, 1)
      this.ReviewDataVisible2 = true
    },
    // 切换展示表格
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getDataList(this.index)
    },
    // 查询任务数据列表
    getDataList(index) {
      this.waitingDataTable = []
      this.passedDataTable = []
      const data_status = index
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: String(this.project_id),
        data_status: String(data_status),
        strategy_id: String(this.strategy_id),
        platform_nickname: this.searchInput
        // task_id: this.searchInput,
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/taskdatalist', params).then(
          (resp) => {
            if (resp.data.total === '0') {
              this.$message('数据待审中暂无数据')
            }
            let projectTasklist = null
            let totalCount = null
            projectTasklist = resp.data.project_data_pre_view
            this.$data.waitingDataTable = projectTasklist
            this.$data.waitingDataTable.forEach(e => {
              e.all_payment = money(e.all_payment)
              e.show_real_payment = money(e.real_payment)
              e.show_fans_count = fansview(e.fans_count)
            })
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          }
        )
      } else {
        this.postRequest('/youngee/m/project/taskdatalist', params).then(
          (resp) => {
            if (resp.data.total === '0') {
              this.$message('已结案中暂无数据')
            }
            let projectTasklist = null
            let totalCount = null
            projectTasklist = resp.data.project_data_pre_view
            this.$data.passedDataTable = projectTasklist
            this.$data.passedDataTable.forEach(e => {
              e.all_payment = money(e.all_payment)
              e.show_real_payment = money(e.real_payment)
              e.show_fans_count = fansview(e.fans_count)
            })
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          }
        )
      }
    },
    // 提交确认结案
    async handlePassData() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择结案任务')
      }
      const params = {
        project_id: this.project_id,
        task_id_list: this.taskIds.toString(),
        payment: this.payment
      }
      this.handlePassChangeNumber()
      await this.postRequest('/youngee/m/project/acceptdata', params).then(
        (resp) => {
          if (resp.status === 0) {
            if (resp.data.is_end === 1) {
              this.$router.go(0)
            }
          }
        }
      )
      this.getDataInfo()
      this.getDataList(this.index)
    },
    // 提交返回修改
    async RefuseData() {
      this.ReviewDataVisible2 = false
      // 鲁棒性检测
      if (this.dataadvice === '') {
        this.$message.error('修改意见不能为空')
        return
      }
      const params = {
        task_id: this.taskIds[0],
        data_opinion: this.dataadvice
      }
      this.handleRefusedChangeNumber()
      await this.postRequest('/youngee/m/project/dataopinion', params).then(
        (resp) => { }
      )
      this.getDataInfo()
      this.getDataList(this.index)
    },
    allSelecting() {
      if (this.index === 0) {
        // 批量结算
        const val = this.selectedDataList
        if (val.length === 0) {
          this.$message('请选择任务')
          return
        }
        this.taskIds = []
        this.payment = 0
        for (let i = 0; i < val.length; i++) {
          if (this.strategyIdNumber.has(val[i].strategy_id)) {
            this.strategyIdNumber[val[i].strategy_id]++
          } else {
            this.strategyIdNumber.set(val[i].strategy_id, 1)
          }
          const taskId = val[i].task_id
          this.payment = this.payment + val[i].real_payment
          this.taskIds.push(taskId)
        }

        this.ReviewDataVisible1 = true
      } else {
        // 导出表格
        if (this.selectedDataList.length === 0) {
          this.$message({
            message: '请至少选择一条需要导出的数据',
            type: 'warning'
          })
          return
        }

        const tableHeader = [
          '任务ID',
          '账号昵称',
          '粉丝数',
          '策略编号',
          '发布链接',
          '阅读量/播放量',
          '点赞数',
          '阅读数',
          '评论数'
        ] // 设置Excel表格的表头
        const filterVal = [
          'task_id',
          'platform_nickname',
          'fans_count',
          'strategy_id',
          'link_url',
          'play_number',
          'like_number',
          'collect_number',
          'comment_number'
        ] // 跟表格表头对应的绑定的prop
        const tableTitleName =
          this.$store.state.project.project_name + '结案统计'

        this.$msgbox
          .confirm('该操作将导出选中的数据，是否继续', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          })
          .then(() => {
            // 导出
            require.ensure([], () => {
              const {
                export_json_to_excel
              } = require('@/excel/export2Excel') // 注意这个Export2Excel路径
              // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectedDataList)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
              const list = JSON.parse(JSON.stringify(this.selectedDataList))
              const data = this.formatJson(filterVal, list)
              export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
            })
          })
          .catch(() => { })
      }
    },
    formatJson(filterVal, Data) {
      return Data.map((v) => filterVal.map((j) => v[j]))
    },
    handlePassChangeNumber() {
      for (const i in this.recruit_strategys) {
        if (this.strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
          const changeNumber = parseInt(
            this.strategyIdNumber.get(this.recruit_strategys[i].strategy_id)
          )
          this.recruit_strategys[i].data_unreview_number =
            this.recruit_strategys[i].data_unreview_number - changeNumber
          this.recruit_strategys[i].data_passed_number =
            this.recruit_strategys[i].data_passed_number + changeNumber
        }
      }
      this.recruitStrategyKey = Math.random()
    },
    handleRefusedChangeNumber() {
      for (const i in this.recruit_strategys) {
        if (this.strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
          const changeNumber = parseInt(
            this.strategyIdNumber.get(this.recruit_strategys[i].strategy_id)
          )
          this.recruit_strategys[i].data_unreview_number =
            this.recruit_strategys[i].data_unreview_number - changeNumber
        }
      }
      this.recruitStrategyKey = Math.random()
    },
    selectingChange(val) {
      this.selectedDataList = val
    }
  }
}
</script>
<style scoped lang = "scss">
.recruitManageCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.recruitManage {
  text-align: center;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #248bf4;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
  background-color: #248bf4 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.PassBtn {
  border: none;
  justify-content: center;
  background-color: #248bf4 !important;
  color: white !important;
  margin: 10px;
  // padding: 8px 15px;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  justify-content: left;
}

.recruitManage .el-dialog {
  top: 10vw;
}
</style>
