<template>
    <div class="dashboard-container">
        <!-- <div class="dashboard-text">youngeefans 仿制的定价</div> -->
        <div class="head-box">
            <div class="inline-display">
                <div style="width:30%;margin-left: 2%;">
                    <div class="input-box-line">
                        项目类型：
                        <el-select v-model="project_type" clearable style="width: 120px" placeholder="不限">
                            <el-option v-for="item in project_types" :key="item.value" :label="item.label"
                                :value="item.value" />
                        </el-select>
                    </div>
                </div>
                <div style="width:30%">
                    <div class="input-box-line">
                        任务形式：
                        <el-select v-model="manuscript_form" clearable style="width: 120px" placeholder="不限">
                            <el-option v-for="item in manuscript_forms" :key="item.value" :label="item.label"
                                :value="item.value" />
                        </el-select>
                    </div>
                </div>
                <div style="width:30%">
                    <div class="input-box-line">
                        内容形式：
                        <el-select v-model="platform_id" clearable style="width: 120px" placeholder="不限">
                            <el-option v-for="item in content" :key="item.value" :label="item.label"
                                :value="item.value" />
                        </el-select>
                    </div>
                </div>
                <div style="width:30%">
                    <div class="input-box-line">
                        奖励原因：
                        <el-select v-model="platform_id" clearable style="width: 120px" placeholder="不限">
                            <el-option v-for="item in reason" :key="item.value" :label="item.label"
                                :value="item.value" />
                        </el-select>
                    </div>
                </div>

            </div>
            <div class="inline-display">
                <div style="width:30%;margin-left: 2%;">
                    <div class="input-box-line">
                        社媒平台：
                        <el-select v-model="platform_id" clearable style="width: 120px" placeholder="请选择">
                            <el-option v-for="item in project_platforms" :key="item.value" :label="item.label"
                                :value="item.value" />
                        </el-select>
                    </div>
                </div>
                <div style="width:30%;;margin-left: 0%;">
                    <div class="input-box-line">
                        积分奖励：
                        <el-input v-model.number="service_rate" clearable placeholder="请输入积分" style="width:160px"
                            @input.native="onInput0_100"><i slot="suffix"></i></el-input>
                    </div>
                </div>
                <div style="width:30%;">
                    <div class="input-box-line">
                        现金奖励：
                        <el-input v-model.number="service_rate" clearable placeholder="请输入现金奖励" style="width:160px"
                            @input.native="onInput0_100"><i slot="suffix">%</i></el-input>
                    </div>
                </div>
            </div>
            <div class="input-box-line" style="text-align:center">
                <el-button slot="append" style="background-color: #0e4bb7;color:white;width:400px"
                    @click="createNewStrategy">生成新策略</el-button>
            </div>
        </div>
        <div class="inline-display" style="text-align:center">
            <div>
                <div class="input-box-line">
                    项目类型：
                    <el-select v-model="project_type_search" clearable style="width: 120px" placeholder="不限">
                        <el-option v-for="item in project_types" :key="item.value" :label="item.label"
                            :value="item.value" />
                    </el-select>
                </div>
            </div>
            <div>
                <div class="input-box-line">
                    社媒平台：
                    <el-select v-model="platform_id_search" clearable style="width: 120px" placeholder="不限">
                        <el-option v-for="item in project_platforms" :key="item.value" :label="item.label"
                            :value="item.value" />
                    </el-select>
                </div>
            </div>
            <div class="input-box-line">
                任务形式：
                    <el-select v-model="project_type_search" clearable style="width: 120px" placeholder="不限">
                        <el-option v-for="item in project_types" :key="item.value" :label="item.label"
                            :value="item.value" />
                    </el-select>
            </div>
            <div>
                <div class="input-box-line">
                    内容形式：
                    <el-select v-model="project_type_search" clearable style="width: 120px" placeholder="不限">
                        <el-option v-for="item in content" :key="item.value" :label="item.label"
                            :value="item.value" />
                    </el-select>
                </div>
            </div>
        </div>
        <div class="input-box-line" style="text-align:center">
            <el-button slot="append" style="background-color: #0e4bb7;color:white" @click="searchStrategy">查询</el-button>
        </div>
        <el-table :data="strategyInfo" :header-cell-style="{ 'background-color': '#e8e8e8', 'color': '#000' }" border>
            <el-table-column prop="strategyId" label="策略编号" align="center" />
            <el-table-column prop="project_type" label="项目类型" align="center" />
            <el-table-column prop="platform" label="社媒平台" align="center" />
            <el-table-column prop="manuscript_form" label="任务形式" align="center" />
            <el-table-column prop="fans" label="内容形式" align="center" />
            <el-table-column prop="service_charge" label="奖励原因" align="center" />
            <el-table-column prop="service_charge" label="积分奖励" align="center" />
            <el-table-column prop="service_rate" label="现金奖励（结算额）" align="center" />
            <el-table-column prop="update_time" label="创建时间" align="center" />
            <el-table-column prop="operate" label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="text" size="small" @click="checkInfo(scope.row)">查看</el-button>
                    <el-button type="text" size="small" @click="checkInfo(scope.row)">停用</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div style="margin-top:20px">
            <el-pagination :current-page="currentPage" :page-sizes="pageSizes" :page-size="PageSize"
                layout="total, sizes, prev, pager, next, jumper" :total="totalCount" @size-change="handleSizeChange"
                @current-change="handleCurrentChange" />
        </div>
        <el-dialog :visible.sync="newStraDialogVisible" width="500px" class="newStraDialog">
            <div slot="title" class="dialog-title">
                <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
                <div class="button-right">
                    <span class="title-close" @click="newStraDialogVisible = false;" />
                </div>
            </div>
            <div class="vertical-display">
                <div>
                    <div class="input-box-line">
                        项目类型：
                        <el-select v-model=" project_type " clearable style="width: 120px;margin-left: 14px;"
                            placeholder="不限">
                            <el-option v-for=" item  in  project_types " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        任务形式：
                        <el-select v-model=" task_type " clearable style="width: 120px;margin-left: 14px;"
                            placeholder="请选择">
                            <el-option v-for=" item  in  task_types " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        社媒平台：
                        <el-select v-model=" platform_id " clearable style="width: 120px;margin-left: 14px;"
                            placeholder="请选择">
                            <el-option v-for=" item  in  project_platforms " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        内容形式：
                        <el-select v-model=" content_type " clearable style="width: 120px;margin-left: 14px;"
                            placeholder="请选择">
                            <el-option v-for=" item  in  content_types " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        奖励原因：
                        <el-select v-model=" reason " clearable style="width: 120px;margin-left: 14px;"
                            placeholder="请选择">
                            <el-option v-for=" item  in  reasons " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        现金奖励：
                        <el-input v-model.number=" cash " clearable placeholder="请输入现金奖励" style="width:160px"
                            @input.native=" onInput0_100 "><i slot="suffix">%</i></el-input>
                    </div>
                </div>
               
            </div>
            <div class="inline-display" style="justify-content: center;">
                <el-button class="Button" @click=" running ">运行</el-button>
                <el-button class="Button" @click=" cancel ">取消</el-button>
            </div>
        </el-dialog>
        <el-dialog :visible.sync=" strategyInfoDialogVisible " width="560px" class="straInfo">
            <div slot="title" class="dialog-title">
                <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
                <div class="button-right">
                    <span class="title-close" @click=" strategyInfoDialogVisible = false; " />
                </div>
            </div>
            <div class="vertical-display">
                <!-- <div>
                    <div class="input-box-line">
                        策略编号：
                        <el-input v-model=" strategyId " style="width: 120px;margin-left: 14px;" disabled />
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        更新时间：
                        <el-input v-model=" update_time " style="width: 180px;margin-left: 14px;" disabled />
                    </div>
                </div> -->
                <div>
                    <div class="input-box-line">
                        项目类型：
                        <el-select v-model=" project_type_info " style="width: 120px;margin-left: 14px;" placeholder="123">
                            <el-option v-for=" item  in  project_types " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        任务形式：
                        <el-select v-model=" project_type_info " style="width: 120px;margin-left: 14px;" placeholder="不限">
                            <el-option v-for=" item  in  project_types " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        社媒平台：
                        <el-select v-model=" platform_id_info " style="width: 120px;margin-left: 14px;" placeholder="请选择">
                            <el-option v-for=" item  in  project_platforms " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        内容形式：
                        <el-select v-model=" manuscript_form_info " style="width: 120px;margin-left: 14px;" placeholder="请选择">
                            <el-option v-for=" item  in  content " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>
                <div>
                    <div class="input-box-line">
                        奖励原因：
                        <el-select v-model=" manuscript_form_info " style="width: 120px;margin-left: 14px;" placeholder="请选择">
                            <el-option v-for=" item  in  manuscript_forms " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                    </div>
                </div>

                <div>
                    <div class="input-box-line">
                        积分奖励：
                        <el-select v-show=" is_fixed == 0 " v-model=" service_charge_info "
                            style="width: 120px;margin-left: 14px;" placeholder="不限">
                            <el-option v-for=" item  in  service_charges " :key=" item.value " :label=" item.label "
                                :value=" item.value " />
                        </el-select>
                        <el-input-number v-if=" is_fixed == 1 " v-model.number=" service_charge_info " :min=" 0 " clearable
                            :precision=" 0" :controls=" false " type="number" style="width: 120px;margin-left: 14px;"
                            placeholder="请输入金额">
                            <i slot="suffix">元</i>
                        </el-input-number>
                        <!-- <el-input v-if="is_fixed == 1" v-model.number="service_charge_info" placeholder="请输入金额" style="width:120px"><i slot="suffix">元</i></el-input> -->
                    </div>
                </div>
               
                <div>
                    <div class="input-box-line">
                        现金奖励：
                        <el-input v-model.number=" service_rate_info " placeholder="请输入现金奖励" style="width:160px"
                            @input.native=" onInput0_100 "><i slot="suffix">%</i></el-input>
                    </div>
                </div>
            </div>
            <div class="inline-display" style="justify-content: center;">
                <el-button class="Button" @click=" modify ">运行</el-button>
                <el-button class="Button" @click=" cancel2 ">取消</el-button>
            </div>
        </el-dialog>
    </div>
</template>
  
<script>

import { money } from '@/utils/index'
export default {
    data() {
        return {
            is_fixed: 0,
            reason:[
                {
                    value: '1',
                    label: '成团-新用户'                   
                },
                {
                    value: '2',
                    label: '全成团-老用户'                   
                },
                {
                    value: '3',
                    label: '成单-申请成功'                   
                },
                {
                    value: '4',
                    label: '成单-结案完毕'                   
                },

            ],
            pickerOptions: {},
            project_type: '',
            project_type_search: '',
            project_type_info: '',
            project_types: [
                {
                    value: '1',
                    label: '全流程'
                },
                {
                    value: '2',
                    label: '选品'
                }
            ],
            strategyId: '',
            update_time: '',
            platform_id: '',
            fansRange: [
                {
                    value: 1,
                    label: '个'
                },
                {
                    value: 10000,
                    label: '万'
                },
                {
                    value: 100000000,
                    label: '亿'
                }
            ],
            fansLow: '',
            fansLow_cnt: '',
            fansLow_info: '',
            fansLow_cnt_info: '',
            fans_low_cnt: 0,
            fans_low_cnt_info: 0,
            fansHigh: '',
            fansHigh_cnt: '',
            fans_high_cnt: 0,
            fans_high_cnt_info: 0,
            fansHigh_info: '',
            fansHigh_cnt_info: '',
            platform_id_search: '',
            platform_id_info: '',
            cash: '',
            project_platforms: [
        {
          value: '1',
          label: '红book'
        },
        {
          value: '2',
          label: '抖音'
        },
        {
          value: '3',
          label: '微博'
        },
        {
          value: '4',
          label: '快手'
        },
        {
          value: '5',
          label: 'b站'
        },
        {
          value: '6',
          label: '大众点评'
        },
        {
          value: '7',
          label: '知乎'
        }
      ],
            content: [
                {
                    value: '1',
                    label: '图文'
                },
                {
                    value: '2',
                    label: '视频'
                },
                {
                    value: '3',
                    label: '直播'
                }
            ],
            manuscript_form: '',
            manuscript_form_search: '',
            manuscript_form_info: '',
            manuscript_forms: [
                {
                    value: '1',
                    label: '实体商品寄拍'
                },
                {
                    value: '2',
                    label: '虚拟产品测评'
                },
                {
                    value: '3',
                    label: '线下探店打卡'
                },
                {
                    value: '4',
                    label: '悬赏任务'
                },
                {
                    value: '5',
                    label: '纯佣带货'
                }
            ],
            task_type: '',
            task_type_search: '',
            task_type_info: '',
            task_types: [
                {
                    value: '1',
                    label: '实体商品寄拍'
                },
                {
                    value: '2',
                    label: '虚拟产品测评'
                },
                {
                    value: '3',
                    label: '线下探店打卡'
                },
                {
                    value: '4',
                    label: '悬赏任务'
                },
                {
                    value: '5',
                    label: '纯佣带货'
                }
            ],
            content_type: '',
            content_type_search: '',
            content_type_info: '',
            content_types: [
                {
                    value: '1',
                    label: '图文'
                },
                {
                    value: '2',
                    label: '视频'
                },
                {
                    value: '3',
                    label: '直播'
                }
            ],
            reason: '',
            reason_search: '',
            reason_info: '',
            reasons: [
                {
                    value: '1',
                    label: '成团-新用户'
                },
                {
                    value: '2',
                    label: '成团-老用户'
                },
                {
                    value: '3',
                    label: '成单-申请成功'
                },
                {
                    value: '4',
                    label: '成单-结案完毕'
                }
            ],
            service_charge: '',
            service_charge_info: '',
            service_charges: [
                {
                    value: '0',
                    label: '不限'
                }
            ],
            service_rate: '',
            service_rate_info: '',
            create_date: '',
            strategyInfo: [],
            newStraDialogVisible: false,
            strategyInfoDialogVisible: false,
            // 默认显示第几页
            currentPage: 1,
            // 总条数，根据接口获取数据长度(注意：这里不能为空)
            totalCount: 0,
            // 个数选择器（可修改）
            pageSizes: [10, 20, 30, 40],
            // 默认每页显示的条数（可修改）
            PageSize: 10
        }
    },
    computed: {
    },
    watch: {
        'manuscript_form': {
            handler: function () {
                if (this.manuscript_form === '1') {
                    this.is_fixed = 1
                    this.service_charge = 0
                }
                if (this.manuscript_form !== '1') {
                    this.is_fixed = 0
                    this.service_charge = '不限'
                }
            },
            deep: true
        },
        'manuscript_form_info': {
            handler: function () {
                if (this.manuscript_form_info === '产品置换') {
                    this.is_fixed = 1
                } else if (this.manuscript_form_info !== '1') {
                    this.is_fixed = 0
                    this.service_charge_info = '不限'
                }
                if (this.manuscript_form_info === '1') {
                    this.is_fixed = 1
                    this.service_charge_info = 0
                }
            },
            deep: true
        },
        'fansHigh_cnt'() {
            if (this.fansHigh_cnt === 1) {
                this.fans_high_cnt = 2
                this.fansHigh = undefined
            } else if (this.fansHigh_cnt !== 1 && this.fansHigh_cnt !== '') {
                this.fans_high_cnt = 1
                this.fansHigh = undefined
            } else {
                this.fans_high_cnt = 0
                this.fansHigh = undefined
            }
        },
        'fansLow_cnt'() {
            if (this.fansLow_cnt === 1) {
                this.fans_low_cnt = 2
                this.fansLow = undefined
            } else if (this.fansLow_cnt !== 1 && this.fansLow_cnt !== '') {
                this.fans_low_cnt = 1
                this.fansLow = undefined
            } else {
                this.fans_low_cnt = 0
                this.fansLow = undefined
            }
        },
        'fansHigh_cnt_info'() {
            this.fansHigh_info = undefined
            if (this.fansHigh_cnt_info === 0) {
                this.fans_high_cnt_info = 0
                this.fansHigh_info = undefined
            } else if (this.fansHigh_cnt_info === 1) {
                this.fans_high_cnt_info = 2
                this.fansHigh_info = undefined
            } else if (this.fansHigh_cnt_info === 10000) {
                this.fans_high_cnt_info = 1
                this.fansHigh_info = undefined
            } else if (this.fansHigh_cnt_info === 100000000) {
                this.fans_high_cnt_info = 1
                this.fansHigh_info = undefined
            } else {
                this.fans_high_cnt_info = 0
                this.fansHigh_info = undefined
            }
        },
        'fansLow_cnt_info'() {
            this.fansLow_info = undefined
            if (this.fansLow_cnt_info === 0) {
                this.fans_low_cnt_info = 0
                this.fansLow_info = undefined
            } else if (this.fansLow_cnt_info === 1) {
                this.fans_low_cnt_info = 2
                this.fansLow_info = undefined
            } else if (this.fansLow_cnt_info === 10000) {
                this.fans_low_cnt_info = 1
                this.fansLow_info = undefined
            } else if (this.fansLow_cnt_info === 100000000) {
                this.fans_low_cnt_info = 1
                this.fansLow_info = undefined
            } else {
                this.fans_low_cnt_info = 0
                this.fansLow_info = undefined
            }
        },
        'service_charge'(newVal, old) {
            if (this.manuscript_form === '1' && this.service_charge !== '') {
                if (typeof newVal !== 'number') {
                    this.$message({
                        message: '基础报价请输入数字',
                        type: 'warning'
                    })
                }
            }
        },
        'service_charge_info'(newVal, old) {
            if ((this.manuscript_form_info === '产品置换' || this.manuscript_form_info === '1') && this.service_charge_info !== '') {
                if (typeof newVal !== 'number') {
                    this.$message({
                        message: '基础报价请输入数字',
                        type: 'warning'
                    })
                }
            }
        }
    },
    mounted() {
        if (localStorage.getItem('userRole') !== 'superadmin') {
            this.$message.warning('暂无权限查看定价管理')
            this.$router.push(`/login`)
            return
        }
        this.searchStrategy()
    },
    methods: {
        checkInfo(row) {
            const fans = row.fans.split('-')
            let fansLow, fansUp
            if (fans.length === 1 && !fans[0].includes('以')) {
                fansLow = '不限'
                fansUp = '不限'
            } else if (fans[0].includes('以上')) {
                fansLow = fans[0].substring(0, fans[0].length - 2)
                fansUp = '不限'
            } else if (fans[0].includes('以下')) {
                fansLow = '不限'
                fansUp = fans[0].substring(0, fans[0].length - 2)
            } else {
                fansLow = fans[0]
                fansUp = fans[1]
            }
            this.id = row.id
            this.strategyInfoDialogVisible = true
            this.project_type_info = row.project_type
            this.strategyId = row.strategyId
            this.update_time = row.update_time
            this.fansLow_cnt_info = fansLow
            this.fansHigh_cnt_info = fansUp
            this.platform_id_info = row.platform
            this.service_charge_info = row.service_charge === '不限' ? row.service_charge : parseFloat(row.service_charge)
            this.manuscript_form_info = row.manuscript_form
            this.fans_low_cnt_info = 0
            this.fans_high_cnt_info = 0
            this.service_rate_info = row.service_rate.substring(0, row.service_rate.length - 1)
        },
        modify() {
            if ((this.fansHigh_cnt_info === 10000 && this.fansLow_info * this.fansHigh_cnt_info >= 100000000) || (this.fansLow_cnt_info === 10000 && this.fansLow_info * this.fansLow_cnt_info >= 100000000)) {
                this.$message({
                    message: '数值大小超出范围，请输入相应范围的数值或选择更大的单位',
                    type: 'warning'
                })
                return
            }
            if (this.fansLow_info * this.fansLow_cnt_info >= this.fansHigh_info * this.fansHigh_cnt_info && (this.fansLow_info !== 0 || this.fansHigh_info !== 0)) {
                this.$message({
                    message: '创作者粉丝最大值需比最小值大',
                    type: 'warning'
                })
                return
            }
            let service_charge_info, fansLow, fansUp, platform_id_info, manuscript_form_info
            if (this.service_charge_info === '不限') {
                service_charge_info = 0
            } else {
                service_charge_info = this.service_charge_info
            }
            if (this.fansLow_cnt_info === '不限') {
                fansLow = 0
            } else if (typeof this.fansLow_cnt_info === 'number') {
                fansLow = parseInt(this.fansLow_info * this.fansLow_cnt_info)
            } else if (this.fansLow_cnt_info.includes('万')) {
                fansLow = parseFloat(this.fansLow_cnt_info.substring(0, this.fansLow_cnt_info.length - 1)) * 10000
            } else if (this.fansLow_cnt_info.includes('亿')) {
                fansLow = parseFloat(this.fansLow_cnt_info.substring(0, this.fansLow_cnt_info.length - 1)) * 100000000
            } else {
                fansLow = parseInt(this.fansLow_cnt_info)
            }
            if (this.fansHigh_cnt_info === '不限') {
                fansUp = 0
            } else if (typeof this.fansHigh_cnt_info === 'number') {
                fansUp = parseInt(this.fansHigh_info * this.fansHigh_cnt_info)
            } else if (this.fansHigh_cnt_info.includes('万')) {
                fansUp = parseFloat(this.fansHigh_cnt_info.substring(0, this.fansHigh_cnt_info.length - 1)) * 10000
            } else if (this.fansHigh_cnt_info.includes('亿')) {
                fansUp = parseFloat(this.fansHigh_cnt_info.substring(0, this.fansHigh_cnt_info.length - 1)) * 100000000
            } else {
                fansUp = parseInt(this.fansHigh_cnt_info)
            }
            console.log(fansLow, fansUp)
            if (this.platform_id_info === '红book') {
                platform_id_info = '1'
            } else if (this.platform_id_info === '抖音') {
                platform_id_info = '2'
            } else if (this.platform_id_info === '微博') {
                platform_id_info = '3'
            } else if (this.platform_id_info === '快手') {
                platform_id_info = '4'
            } else if (this.platform_id_info === 'b站') {
                platform_id_info = '5'
            } else if (this.platform_id_info === '大众点评') {
                platform_id_info = '6'
            } else if (this.platform_id_info === '知乎') {
                platform_id_info = '7'
            } else {
                platform_id_info = this.platform_id_info
            }
            if (this.manuscript_form_info === '产品置换') {
                manuscript_form_info = '1'
            } else if (this.manuscript_form_info === '固定稿费') {
                manuscript_form_info = '2'
            } else if (this.manuscript_form_info === '自报价') {
                manuscript_form_info = '3'
            } else {
                manuscript_form_info = this.manuscript_form_info
            }
            const params = {
                id: this.id,
                strategy_id: this.strategyId,
                project_type: '1',
                fee_form: manuscript_form_info,
                platform: platform_id_info,
                fans_low: fansLow,
                fans_high: fansUp,
                service_charge: service_charge_info,
                service_rate: parseInt(this.service_rate_info)
            }
            this.postRequest('/youngee/m/operate/modifyPricing', params).then((resp) => {
                if (resp.status === 0) {
                    clearTimeout(this.timer) // 清除延迟执行
                    this.timer = setTimeout(() => { // 设置延迟执行
                        // this.$router.go(0)
                    }, 1000)
                }
            })
        },
        cancel2() {
            this.strategyInfoDialogVisible = false
        },
        createNewStrategy() {
            console.log(this.fansLow * this.fansLow_cnt, this.fansHigh * this.fansHigh_cnt)
            if ((this.fansHigh_cnt === 10000 && this.fansHigh * this.fansHigh_cnt >= 100000000) || (this.fansLow_cnt === 10000 && this.fansLow * this.fansLow_cnt >= 100000000)) {
                this.$message({
                    message: '数值大小超出范围，请输入相应范围的数值或选择更大的单位',
                    type: 'warning'
                })
                return
            }
            if (this.fansLow * this.fansLow_cnt >= this.fansHigh * this.fansHigh_cnt && this.fansLow !== '' && this.fansHigh !== '' && this.fansHigh !== 0) {
                this.$message({
                    message: '创作者粉丝最大值需比最小值大',
                    type: 'warning'
                })
                return
            }
            this.newStraDialogVisible = true
        },
        searchStrategy() {
            const params = {
                page_size: 10,
                page_num: 1,
                project_type: this.project_type_search,
                fee_form: this.manuscript_form_search,
                platform: this.platform_id_search,
                update_at: this.create_date
            }
            this.postRequest('/youngee/m/operate/searchPricing', params).then((resp) => {
                console.log('searchPricing resp', resp)
                if (resp.data.total !== 0) {
                    let strategyInfo = null
                    let totalCount = null
                    resp.data.search_pricing_preview.forEach(e => {
                        if (e.service_charge !== '不限') {
                            e.service_charge = money(e.service_charge)
                        }
                    })
                    strategyInfo = resp.data.search_pricing_preview
                    this.$data.strategyInfo = strategyInfo
                    totalCount = parseInt(resp.data.total)
                    this.$data.totalCount = totalCount
                } else {
                    this.$message('暂无数据')
                    this.strategyInfo = []
                }
            })
        },
        async running() {
            let fansLow, fansUp
            if (this.cash === '') {
                this.$message('请填写平台服务费')
                return
            }
            if (this.task_type === '') {
                this.$message('请选择稿费形式')
                return
            }
            if (this.platform_id === '') {
                this.$message('请选择社媒平台')
                return
            }
            if (this.reason === '') {
                this.$message('请填写奖励原因')
                return
            }
            if (this.task_type === '1') {
                if (typeof this.cash !== 'number' && this.cash !== '') {
                    this.$message({
                        message: '现金奖励请输入数字',
                        type: 'warning'
                    })
                    return
                }
            }
            const params = {
                project_type: '1',
                task_type: this.task_type,
                platform: this.platform_id,
                content_type: this.content_type,
                reason: this.reason,
                cash: this.cash
            }
            await this.postRequest('/youngee/m/operate/addYoungee', params).then((resp) => {
                console.log('addPricing resp', resp)
                if (resp.status === 1) {
                    this.$message.warning('该策略与已经运行的策略互斥，请修改相关字段后重新创建')
                    return
                } else if (resp.status === 2) {
                    this.$message.warning('创建失败')
                    return
                } else {
                    this.$router.go(0)
                }
            })
        },
        // 将页码，及每页显示的条数以参数传递提交给后台
        getData(n1, n2) {
            const params = {
                page_size: n1,
                page_num: n2,
                project_type: this.project_type_search,
                fee_form: this.manuscript_form_search,
                platform: this.platform_id_search,
                update_at: this.create_date
            }
            this.postRequest('/youngee/m/operate/searchPricing', params).then((resp) => {
                console.log('searchPricing resp', resp)
                if (resp.data.total !== 0) {
                    let strategyInfo = null
                    let totalCount = null
                    resp.data.search_pricing_preview.forEach(e => {
                        if (e.service_charge !== '不限') {
                            e.service_charge = money(e.service_charge)
                        }
                    })
                    strategyInfo = resp.data.search_pricing_preview
                    this.$data.strategyInfo = strategyInfo
                    totalCount = parseInt(resp.data.total)
                    this.$data.totalCount = totalCount
                } else {
                    this.$message('暂无数据')
                    this.strategyInfo = []
                }
            })
        },
        // 分页
        // 每页显示的条数
        handleSizeChange(val) {
            // 改变每页显示的条数
            this.PageSize = val
            // 点击每页显示的条数时，显示第一页
            this.getData(val, 1)
            // 注意：在改变每页显示的条数时，要将页码显示到第一页
            this.currentPage = 1
        },
        // 显示第几页
        handleCurrentChange(val) {
            // 改变默认的页数
            this.currentPage = val
            // 切换页码时，要获取每页显示的条数
            this.getData(this.PageSize, val)
        },
        cancel() {
            this.newStraDialogVisible = false
        },
        onInput0_100(e) {
            // 验证是否是纯数字
            const isNumber = /^\d*$/.test(e.target.value)
            // 过滤非数字
            e.target.value = e.target.value.replace(/\D/g, '')
            if (!isNumber || e.target.value < 0 || e.target.value > 100) {
                this.$message.warning('请输入[0,100]区间的整数')
            }
            e.target.value = (e.target.value >= 0 && e.target.value <= 100 && e.target.value.match(/^\d*/g)[0]) || null
        },
        onInput1(e) {
            // 过滤非数字
            // e.target.value = parseFloat(e.target.value.replace(/\D/g, ''))
            if (e.target.value < 0 || e.target.value > 9999.9) {
                this.$message.warning('请输入[1,9999.9]区间内的数')
                e.target.value = null
            }
            // e.target.value = (e.target.value > 0 && e.target.value <= 9999.9 && e.target.value.match(/^\d*/g)[0]) || null
        },
        onInput(e) {
            // 验证是否是纯数字
            const isNumber = /^\d*$/.test(e.target.value)
            // 过滤非数字
            e.target.value = e.target.value.replace(/\D/g, '')
            if (!isNumber || e.target.value < 0 || e.target.value > 9999) {
                this.$message.warning('请输入[0,9999]区间的整数')
            }
            e.target.value = (e.target.value >= 0 && e.target.value <= 9999 && e.target.value.match(/^\d*/g)[0]) || null
        }
    }
}
</script>
  
<style lang="scss" scoped>
.dashboard {
    &-container {
        margin: 30px;
    }

    &-text {
        font-size: 30px;
        line-height: 46px;
    }
}

.dialog-title {
    border-bottom: 2px solid #9b9898;
    height: 60px;
}

.head-img {
    height: 50px;
    margin-top: 4px;
    float: left;
    margin-left: 10px;
}

.head-box {
    border: 1px dashed #fbbfbf;
}

.inline-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    // justify-content: center;
}

.vertical-display {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-box-line {
    line-height: 40px;
    margin: 10px;
}

.projectStat {
    display: flex;
    flex-direction: row;
}

.Button {
    background: #0e4bb7;
    color: white;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
  
<style lang="scss">
.el-dialog__header {
    padding: 0;
    background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
    color: white;
}

.straInfo {
    .el-dialog__body {
        padding: 5px 15px;
    }
}

.newStraDialog {
    .el-dialog__body {
        padding: 5px 15px;
    }
}</style>
  