<template>
	<el-container class="Myhome">
		<el-header class="head" style="height: auto;">
			<el-row>
				<el-button :class="item.isShow ? 'btn-active' : 'btn1'" @click="handleChangeTabClick(item.tab)"
					v-for="item in tabList" :key="item.tab">{{ item.tab }}</el-button>
			</el-row>
		</el-header>
		<br />
		<el-main>
			<div class="filt-box">
				<div class="filt-row">
					<div class="input-box-line">
						社媒平台：
						<el-select class="input-box" v-model="project_platform" placeholder="不限" @change="findProject()">
							<el-option v-for="item in project_platforms" :key="item.value" :label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="input-box-line">
						&nbsp;任务形式：&nbsp;
						<el-select style="margin-left: 2rem;" v-model="project_form" placeholder="不限"
							@change="findProject()">
							<el-option v-for="item in project_forms" :key="item.value" :label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="input-box-line">
						&nbsp;领样形式：&nbsp;
						<el-select style="margin-left: 2rem;" v-model="project_form" placeholder="不限"
							@change="findProject()">
							<el-option v-for="item in project_forms" :key="item.value" :label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="input-box-line">
						内容形式：
						<el-select class="input-box" v-model="content_type" placeholder="不限" @change="findProject()">
							<el-option v-for="item in content_types" :key="item.value" :label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
				</div>
				<div class="filt-row">
					<div class="input-box-line">
						最后操作时间：
						<el-date-picker style="" v-model="ddl" align="right" type="date" value-format="yyyy-MM-dd"
							placeholder="选择日期" :picker-options="pickerOptions" @change="findProject()">
						</el-date-picker>
					</div>
					<div class="input-box-line" style="">
						<el-input v-model="searchInput" placeholder="项目ID、项目名称等">
							<el-button slot="append" style="background-color: #f2d22d; color: black" @click="findProject"
								v-if="this.$store.state.isLogin">搜索</el-button>
						</el-input>
					</div>
				</div>
			</div>

			<!-- 待审核 -->
			<div v-show="tabList[0].isShow">
				<el-table :data="selectionInfoList" :header-cell-style="{ 'background-color': '#e8e8e8', color: '#000' }"
					border class="projectTable">
					<el-table-column prop="selection_id" label="选品ID" align="center">
					</el-table-column>
					<el-table-column prop="selection_name" label="选品名称" align="center">
					</el-table-column>
					<el-table-column prop="platform" label="社媒平台" align="center">
					</el-table-column>
					<el-table-column prop="task_mode" label="任务形式" align="center">
					</el-table-column>
					<el-table-column prop="sample_mode" label="领样形式" align="center">
					</el-table-column>
					<el-table-column prop="content_type" label="内容形式" align="center">
					</el-table-column>
					<el-table-column prop="submit_at" label="提交审核时间" align="center">
					</el-table-column>
					<el-table-column prop="operate" label="操作" align="center">
						<template slot-scope="scope">
							<el-button @click="handleToDetailClick(scope.row)" type="text" size="small">查看详情</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div class="tabListPage">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						:current-page="currentPage" :page-sizes="pageSizes" :page-size="PageSize"
						layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
					</el-pagination>
				</div>
			</div>

			<!-- 待支付 -->
			<div v-show="tabList[1].isShow">
				<el-table :data="selectionInfoList" :header-cell-style="{ 'background-color': '#e8e8e8', color: '#000' }"
					border class="projectTable">
					<el-table-column prop="selection_id" label="选品ID" align="center">
					</el-table-column>
					<el-table-column prop="selection_name" label="选品名称" align="center">
					</el-table-column>
					<el-table-column prop="platform" label="社媒平台" align="center">
					</el-table-column>
					<el-table-column prop="task_mode" label="任务形式" align="center">
					</el-table-column>
					<el-table-column prop="sample_mode" label="领样形式" align="center">
					</el-table-column>
					<el-table-column prop="content_type" label="内容形式" align="center">
					</el-table-column>
					<el-table-column prop="payment" label="待支付金额" align="center">
					</el-table-column>
					<el-table-column prop="pass_at" label="审核通过时间" align="center">
					</el-table-column>
					<el-table-column prop="operate" label="操作" align="center">
						<template slot-scope="scope">
							<el-button @click="handleToDetailClick(scope.row)" type="text" size="small">查看详情</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div class="tabListPage">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						:current-page="currentPage" :page-sizes="pageSizes" :page-size="PageSize"
						layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
					</el-pagination>
				</div>
			</div>

			<!-- 执行中 -->
			<div v-show="tabList[2].isShow">
				<el-table :data="selectionInfoList" :header-cell-style="{ 'background-color': '#e8e8e8', color: '#000' }"
					border class="projectTable">
					<el-table-column prop="selection_id" label="选品ID" align="center">
					</el-table-column>
					<el-table-column prop="selection_name" label="选品名称" align="center">
					</el-table-column>
					<el-table-column prop="platform" label="社媒平台" align="center">
					</el-table-column>
					<el-table-column prop="task_mode" label="任务形式" align="center">
					</el-table-column>
					<el-table-column prop="sample_mode" label="领样形式" align="center">
					</el-table-column>
					<el-table-column prop="content_type" label="内容形式" align="center">
					</el-table-column>
					<el-table-column prop="pass_at" label="选品上架时间" align="center">
					</el-table-column>
					<el-table-column prop="operate" label="操作" align="center">
						<template slot-scope="scope">
							<el-button @click="handleToDetailClick(scope.row)" type="text" size="small">查看详情</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div class="tabListPage">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						:current-page="currentPage" :page-sizes="pageSizes" :page-size="PageSize"
						layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
					</el-pagination>
				</div>
			</div>

			<!-- 已结束 -->
			<div v-show="tabList[3].isShow">
				<el-table :data="selectionInfoList" :header-cell-style="{ 'background-color': '#e8e8e8', color: '#000' }"
					border class="projectTable">
					<el-table-column prop="SelectionID" label="选品ID" align="center">
					</el-table-column>
					<el-table-column prop="SelectionName" label="选品名称" align="center">
					</el-table-column>
					<el-table-column prop="Platform" label="社媒平台" align="center">
					</el-table-column>
					<el-table-column prop="SampleMode" label="领样形式" align="center">
					</el-table-column>
					<el-table-column prop="payment" label="返现" align="center">
					</el-table-column>
					<el-table-column prop="content_type" label="内容形式" align="center">
					</el-table-column>
					<el-table-column prop="SampleMode" label="任务形式" align="center">
					</el-table-column>
					<el-table-column prop="reward" label="悬赏金额" align="center">
					</el-table-column>
					<el-table-column prop="ddl_at" label="任务截止时间" align="center">
					</el-table-column>
					<el-table-column prop="operate" label="操作" align="center">
						<template slot-scope="scope">
							<el-button @click="handleToDetailClick(scope.row)" type="text" size="small">查看详情</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div class="tabListPage">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						:current-page="currentPage" :page-sizes="pageSizes" :page-size="PageSize"
						layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
					</el-pagination>
				</div>
			</div>

			<!-- 草稿箱 -->
			<div v-show="tabList[4].isShow">
				<el-table :data="selectionInfoList" :header-cell-style="{ 'background-color': '#e8e8e8', color: '#000' }"
					border class="projectTable">
					<el-table-column prop="SelectionID" label="选品ID" align="center">
					</el-table-column>
					<el-table-column prop="SelectionName" label="选品名称" align="center">
					</el-table-column>
					<el-table-column prop="Platform" label="社媒平台" align="center">
					</el-table-column>
					<el-table-column prop="UpdatedAt" label="最后操作时间" align="center">
					</el-table-column>
					<el-table-column prop="operate" label="操作" align="center">
						<template slot-scope="scope">
							<el-button @click="handleToDetailClick(scope.row)" type="text" size="small">查看详情</el-button>
							<el-button @click="handleToDetailClick(scope.row)" type="text" size="small">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
				<div class="tabListPage">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
						:current-page="currentPage" :page-sizes="pageSizes" :page-size="PageSize"
						layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
					</el-pagination>
				</div>
			</div>

		</el-main>
	</el-container>
</template>

<script>
import { EventBus } from "@/event-bus.js";
export default {
	data() {
		return {
			// 测试数据
			selectionInfoList: [],


			tabList: [
				{
					tab: "待审核",
					isShow: true,
				},
				{
					tab: "待支付",
					isShow: false,
				},
				{
					tab: "执行中",
					isShow: false,
				},
				{
					tab: "已结束",
					isShow: false,
				},
				{
					tab: "草稿箱",
					isShow: false,
				},
			],
			creatingNumber: 0,
			showName: "全流程项目",
			isWholePro: true,
			isSpecRun: false,
			isDraftBox: false,
			ddl: "",
			pickerOptions: {},
			searchInput: "",
			project_statu: "",
			project_type: "1",
			project_form: "",
			project_platform: "",
			content_type: "",
			project_types: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "全流程项目",
				},
				{
					value: "2",
					label: "专项执行项目",
				},
			],
			project_status: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "2",
					label: "待审核",
				},
				{
					value: "4",
					label: "招募中",
				},
				{
					value: "6",
					label: "待支付",
				},
				{
					value: "8",
					label: "失效",
				},
				{
					value: "9",
					label: "执行中",
				},
				{
					value: "10",
					label: "已结案",
				},
			],
			project_forms: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "实体-商品寄拍",
				},
				{
					value: "2",
					label: "虚拟产品测评",
				},
				{
					value: "3",
					label: "线下探店打卡",
				},
			],
			project_platforms: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "红book",
				},
				{
					value: "2",
					label: "抖音",
				},
				{
					value: "3",
					label: "微博",
				},
				{
					value: "4",
					label: "快手",
				},
				{
					value: "5",
					label: "b站",
				},
				{
					value: "6",
					label: "大众点评",
				},
				{
					value: "7",
					label: "知乎",
				},
			],
			content_types: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "图文",
				},
				{
					value: "2",
					label: "视频",
				},
			],
			// 默认显示第几页
			currentPage: 1,
			// 总条数，根据接口获取数据长度(注意：这里不能为空)
			totalCount: 0,
			// 个数选择器（可修改）
			pageSizes: [10, 20, 30, 40],
			// 默认每页显示的条数（可修改）
			PageSize: 10,
			tableData: [],
		};
	},
	mounted() {
		if (this.$route.query.draft === "1") {
			this.handleDraftBox();
		} else if (this.$route.query.special === "1") {
			this.handleSpecRun();
		} else {
			this.project_statu = this.$route.query.project_statu;
			this.findProject();
		}
	},
	methods: {
		handleChangeTabClick(value) {
			let that = this;
			this.tabList.forEach((item, index) => {
				if (value === item.tab) {
					that.tabList[index].isShow = true
				} else {
					that.tabList[index].isShow = false
				}
			})
			this.handleDraft()
		},
		handleDraft() {
			const params = {
				page_size: 10,
				page_num: 1,
				selection_status: 1
			}
			this.postRequest("youngee/s/selection/findAll", params).then((resp) => {
				if (resp.data.total !== 0) {
					this.selectionInfoList = resp.data.selection_info
					this.totalCount = parseInt(resp.data.total)
					console.log("selection",this.selectionInfoList)
					for (const i in this.selectionInfoList) {
						this.selectionInfoList[i].UpdatedAt = this.selectionInfoList[i].UpdatedAt.replace("T", " ").substring(0, 19);
						this.selectionInfoList[i].Platform=this.project_platforms[this.selectionInfoList[i].Platform].label
					}
				} else {
					this.$message("暂无数据");
				}
			});
		},
		handleToDetailClick() {
			// 调后端接口查询选品数据，存到缓存中

			// 与父组件通信，切换展示内容
			EventBus.$emit("showSelectionInfo", "展示选品详情");
		},
		handleWholePro() {
			this.project_statu = "0";
			this.project_type = "1";
			this.isWholePro = true;
			this.isDraftBox = false;
			this.isSpecRun = false;
			this.showName = "全流程项目";
			this.tableData = [];
			const params = {
				page_size: 10,
				page_num: 1,
				project_status: this.project_statu,
				project_type: this.project_type,
				project_form: this.project_form,
				project_platform: this.project_platform,
				project_content_type: this.content_type,
			};
			this.postRequest("youngee/m/project/list", params).then((resp) => {
				if (resp.data.total !== 0) {
					this.$data.tableData = resp.data.full_project_pre_view;
					this.$data.totalCount = parseInt(resp.data.total);
					for (const i in this.tableData) {
						this.tableData[i].project_updated = this.tableData[
							i
						].project_updated.substr(0, 16);
					}
				} else {
					this.$message("暂无数据");
				}
			});

			this.getRequest("/youngee/m/project/getCreatingNumber").then((resp) => {
				this.$data.creatingNumber = resp.data;
			});
		},
		handleSpecRun() {
			this.project_statu = "0";
			this.project_type = "2";
			this.isWholePro = false;
			this.isDraftBox = false;
			this.isSpecRun = true;
			this.showName = "专项执行项目";
			this.tableData = [];
			const params = {
				page_size: 10,
				page_num: 1,
				project_status: this.project_statu,
				project_type: this.project_type,
				project_form: this.project_form,
				project_platform: this.project_platform,
				project_content_type: this.content_type,
			};
			this.postRequest("youngee/m/project/list", params).then((resp) => {
				if (resp.data.total !== 0) {
					this.$data.tableData = resp.data.full_project_pre_view;
					this.$data.totalCount = parseInt(resp.data.total);
					for (const i in this.tableData) {
						this.tableData[i].project_updated = this.tableData[
							i
						].project_updated.substr(0, 16);
					}
				} else {
					this.$message("暂无数据");
				}
			});

			this.getRequest("/youngee/m/project/getCreatingNumber").then((resp) => {
				this.$data.creatingNumber = resp.data;
			});
		},
		handleDraftBox() {
			this.project_statu = "1";
			this.isSpecRun = false;
			this.isWholePro = false;
			this.isDraftBox = true;
			this.tableData = [];
			this.showName = "草稿箱";
			const params = {
				page_size: 10,
				page_num: 1,
				project_status: this.project_statu,
				project_form: this.project_form,
				project_platform: this.project_platform,
				project_content_type: this.content_type,
			};
			this.postRequest("youngee/m/project/draftlist", params).then((resp) => {
				if (resp.data.total !== 0) {
					this.$data.tableData = resp.data.full_project_pre_view;
					this.$data.totalCount = parseInt(resp.data.total);
					for (const i in this.tableData) {
						this.tableData[i].project_updated = this.tableData[
							i
						].project_updated.substr(0, 16);
					}
				} else {
					this.$message("暂无数据");
				}
			});

			this.getRequest("/youngee/m/project/getCreatingNumber").then((resp) => {
				this.$data.creatingNumber = resp.data;
			});
		},
		// 获取项目列表
		findProject() {
			if (this.isDraftBox) {
				this.handleDraftBox();
				return;
			}
			this.tableData = [];
			const projectUpdated = this.ddl;
			let params = {};
			if (this.isDraftBox === true) {
				params = {
					page_size: 10,
					page_num: 1,
					project_status: this.project_statu,
					project_form: this.project_form,
					project_platform: this.project_platform,
					project_content_type: this.content_type,
					project_name: this.searchInput,
					project_id: this.searchInput,
					projectUpdated,
				};
			} else {
				params = {
					page_size: 10,
					page_num: 1,
					project_status: this.project_statu,
					project_type: this.project_type,
					project_form: this.project_form,
					project_platform: this.project_platform,
					project_content_type: this.content_type,
					project_name: this.searchInput,
					project_id: this.searchInput,
					projectUpdated,
				};
			}
			this.postRequest("youngee/m/project/list", params).then((resp) => {
				if (resp.data.total !== 0) {
					this.$data.tableData = resp.data.full_project_pre_view;
					this.$data.totalCount = parseInt(resp.data.total);
					for (const i in this.tableData) {
						this.tableData[i].project_updated = this.tableData[
							i
						].project_updated.substr(0, 16);
					}
				} else {
					this.$message("暂无数据");
					this.tableData = [];
				}
			});

			this.getRequest("/youngee/m/project/getCreatingNumber").then((resp) => {
				this.$data.creatingNumber = resp.data;
			});
		},
		// 查看项目详情
		handleClick(row) {
			// 跳转到项目详情界面，参数为project_id
			this.$router.push({
				path: "/viewhome",
				query: {
					project_id: row.project_id,
					draft: this.isDraftBox === true ? 1 : 0,
				},
			});
		},
		// 删除项目
		async handleDelete(row) {
			this.$confirm("此操作将永久删除该项目, 是否继续?", "提示", {
				cancelButtonText: "取消",
				confirmButtonText: "确定",
				type: "warning",
			})
				.then(async () => {
					const params = {
						project_id: row.project_id,
					};
					await this.postRequest("/youngee/m/project/delete", params).then(
						(resp) => {
							this.$message({
								type: "success",
								message: "成功删除项目",
							});
						}
					);

					this.handleDraftBox();
					this.getRequest("/youngee/m/project/getCreatingNumber").then(
						(resp) => {
							this.$data.creatingNumber = resp.data;
						}
					);
				})
				.catch(() => {
					this.$message({
						type: "info",
						message: "已取消删除",
					});
				});
		},
		// 将页码，及每页显示的条数以参数传递提交给后台
		getData(n1, n2) {
			// this.tableData = []
			const projectUpdated = this.ddl;
			let params = {};
			if (this.isDraftBox === true) {
				params = {
					page_size: n1,
					page_num: n2,
					project_status: this.project_statu,
					project_form: this.project_form,
					project_platform: this.project_platform,
					project_content_type: this.content_type,
					project_name: this.searchInput,
					project_id: this.searchInput,
					projectUpdated,
				};
			} else {
				params = {
					page_size: n1,
					page_num: n2,
					project_status: this.project_statu,
					project_type: this.project_type,
					project_form: this.project_form,
					project_platform: this.project_platform,
					project_content_type: this.content_type,
					project_name: this.searchInput,
					project_id: this.searchInput,
					projectUpdated,
				};
			}
			if (this.isDraftBox === false) {
				// 全流程、专项查询
				this.postRequest("youngee/m/project/list", params).then((resp) => {
					if (resp.data.total !== 0) {
						this.$data.tableData = resp.data.full_project_pre_view;
						this.$data.totalCount = parseInt(resp.data.total);
						for (const i in this.tableData) {
							this.tableData[i].project_updated = this.tableData[
								i
							].project_updated.substr(0, 16);
						}
					} else {
						this.$message("暂无数据");
						this.tableData = [];
					}
				});
			} else {
				// 草稿箱查询
				this.postRequest("youngee/m/project/draftlist", params).then((resp) => {
					if (resp.data.total !== 0) {
						this.$data.tableData = resp.data.full_project_pre_view;
						this.$data.totalCount = parseInt(resp.data.total);
						for (const i in this.tableData) {
							this.tableData[i].project_updated = this.tableData[
								i
							].project_updated.substr(0, 16);
						}
					} else {
						this.$message("暂无数据");
					}
				});
			}

			this.getRequest("/youngee/m/project/getCreatingNumber").then((resp) => {
				this.$data.creatingNumber = resp.data;
			});
		},
		// 分页
		// 每页显示的条数
		handleSizeChange(val) {
			// console.log("val", val);
			// 改变每页显示的条数
			this.PageSize = val;
			// 点击每页显示的条数时，显示第一页
			this.getData(val, 1);
			// 注意：在改变每页显示的条数时，要将页码显示到第一页
			this.currentPage = 1;
		},
		// 显示第几页
		handleCurrentChange(val) {
			// 改变默认的页数
			this.currentPage = val;
			// 切换页码时，要获取每页显示的条数
			this.getData(this.PageSize, val);
		},

		fansview(num) {
			num = parseInt(num);
			if (num >= 10000) {
				const t1 = num / 10000;
				const t2 = num % 10000;
				if (t2 !== 0) {
					// return String(t1).match(/^\d+(?:\.\d{1,2})?/) + "万"
					return String(t1).substring(0, String(t1).indexOf(".") + 2) + "万";
				} else return String(t1) + "万";
			} else {
				num = String(num);
			}
			return num;
		},
	},
	computed: {},
};
</script>

<style scoped lang="scss">
.Myhome {
	background-color: #fbfbfb;
}

.projectCenter {
	padding-left: 10px;
	margin-top: 30px;
}

.filt-box {
	background: #ffffff;
	border-radius: 5px;
}

.filt-row {
	display: flex;
	justify-content: space-between;
}

.input-box-line {
	line-height: 40px;
	margin: 20px;
}

.input-box {
	width: 200px;
	flex: 0, 1, atuo;
	float: right;
}

.projectTable {
	width: 100%;
	margin-top: 20px;
	align-content: center;
}

.btn-active {
	border: 1px solid #f2d22d;
	width: 170px;
	background-color: #fff !important;
	color: #dab926 !important;
}

.btn1 {
	color: black;
	background: #ffffff;
	border: 0.01px solid #ecf0ef;
	width: 170px;
	// padding: 20px 10px;
}

.btn1:focus {
	border: 1px solid #f2d22d;
	background-color: #fff;
	color: #f2d22d;
}

.btn1:hover {
	background-color: #fff;
	color: #f2d22d;
}

.btn1.is-active,
.btn1:active {
	background-color: #fff !important;
	color: #dab926 !important;
}
</style>
<style>
.head .el-button+.el-button,
.el-checkbox.is-bordered+.el-checkbox.is-bordered {
	margin-left: 0rem;
}

.el-tabs__item:hover {
	outline: 0 !important;
	color: #f7d43c !important;
	background-color: white;
}

.el-tabs__item.is-active {
	outline: 0 !important;
	color: #dab926 !important;
	background-color: white;
}
</style>
