<template>
  <el-dialog style="top:0vw;padding: 0 !important;" :visible.sync="ExcuteRequirementVisible" append-to-body>
    <div slot="title" class="dialog-title">
      <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
      <div class="button-right">
        <span class="title-close" @click="ExcuteRequirementVisible = false;" />
      </div>
    </div>
    <div>
      <div class="basetmp">
        <div class="Excute">
          <div class="flow">
            <div class="flow_info_base">
              <span class="flow_left">基础信息</span>
            </div>
            <div class="singleArrow_cur" />
            <div class="flow_info_base">
              <span class="flow_left">招募要求</span>
            </div>
            <div class="singleArrow_cur" />
            <div class="flow_info_base">
              <span class="flow_cur">执行要求</span>
            </div>
          </div>
          <div class="content">
            <div class="input-box-line">
              任务形式*：
              <el-select v-model="project_form" class="input-box" placeholder="请选择">
                <el-option v-for="item in project_forms" :key="item.value" :label="item.label" :value="item.value" />
              </el-select>
            </div>
            <div class="input-box-line">
              内容形式*：
              <el-select v-model="content_type" class="input-box" placeholder="不限">
                <el-option v-for="item in content_types" :key="item.value" :label="item.label" :value="item.value" />
              </el-select>
            </div>
            <div class="input-box-line">
              任务详情* ：
              <el-input
                v-model="project_detail"
                class="input-big-box"
                :show-word-limit="true"
                type="textarea"
                :autosize="{ minRows: 7, maxRows: 10 }"
              />
            </div>
            <div style="text-align: center;">
              <el-popover ref="popoverName" placement="top" width="800" trigger="click">
                <div style="display:flex; flex-direction:column;justify-content:center;align-items: center;">
                  <span style="white-space: pre-wrap; font-size: 15px; margin-top: 10px; margin-bottom: 10px;">{{
                    detailltemplate
                  }}</span>

                  <el-button
                    type="primary"
                    class="funcBtnstore"
                    style="background-color:  #0e4bb7;  color: white;justify-content: center;  border: none;"
                    @click="changeProjectDetail"
                  >导入模板</el-button>
                </div>
                <el-button slot="reference" type="primary" class="funcBtnstore">展开模板</el-button>
              </el-popover>
              <span style="margin-left:20px">插入模板后记得修改哦</span>
            </div>
            <div class="input-box-line" style="margin-top:2rem">
              <span> 任务示意图：<br><span class="notNecessary">(非必填项)</span></span>
              <div class="upload-cover">
                <el-upload
                  ref="pictureUploadMain"
                  action
                  :multiple="true"
                  :http-request="doUploadMain"
                  :on-remove="handleRemoveMain"
                  :before-upload="beforeAvatarUpload"
                  :file-list="project_photos"
                  scoped-solt=""
                  :limit="9"
                  list-type="picture-card"
                >
                  <i slot="default" class="el-icon-plus" />
                  <div slot="tip" class="el-upload__tip">任务示意图限9张</div>
                  <div slot="file" slot-scope="{ file }">
                    <img class="el-upload-list__item-thumbnail" :src="file.url" alt="">
                    <span class="el-upload-list__item-actions">
                      <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemoveMain(file)">
                        <i class="el-icon-delete" />
                      </span>
                      <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                        <i class="el-icon-zoom-in" />
                      </span>
                    </span>
                  </div>
                </el-upload>
              </div>
            </div>
            <div style="display:flex;flex-direction:row;margin-left: 30%;margin-bottom:30px">
              <el-button type="primary" class="funcBtnstore" @click="handleBack">返回上一步</el-button>
              <el-button type="primary" class="funcBtnstore" @click="save">保存并预览任务</el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog style="padding: 0 !important;" :append-to-body="true" :visible.sync="dialogVisible" width="30%">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="dialogVisible = false;" />
        </div>
      </div>
      <div style="display: flex; justify-content: center">
        <img :src="dialogImageUrl" alt="" style="max-width: 500px; max-height: 500px">
      </div>
    </el-dialog>
  </el-dialog>
</template>

<script>
import { EventBus } from '@/event-bus'
import ObsClient from '../esdk-obs-browserjs-without-polyfill-3.19.5.min.js'
// 创建ObsClient实例
var obs = new ObsClient({
  access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
  secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
  server: 'https://obs.cn-east-3.myhuaweicloud.com'
})
export default {
  name: 'ExcuteRequirement',
  data() {
    return {
      dialogImageUrl: '',
      dialogVisible: false,
      project_id: '',
      disabled: false,
      ExcuteRequirementVisible: false,
      detailltemplate: '1.产品要点：\n①产品亮点：此处添加产品的卖点、材质、颜值、受众人群、功效等，简明扼要，清晰描述；\n②使用方法：此处添加产品的使用场景、使用方法的特殊说明，简明扼要，清晰描述；\n2.关键词要点：\n①内容关键词：此处添加文案中必须出现的重点词，如产品名、品牌系列、活动名称、店铺地址、亮点词汇等，可添加多条；\n②话题关键词：此处添加需要在文案中出现的话题热词，用于引流及搜索，可添加多条，用#XXX表示；\n3.内容要求：此处添加对文案字数、视频时长、图片张数、封面、标题、内容场景说明、文案风格等要求，分条说明，简单扼要；\n4.拍摄要求：此处添加对图片、视频的拍摄指导，如图片&视频效果、拍摄环境、质感风格、必须出现的特写（细节、包装、使用、场景、真人出镜、多人同框使用）等说明；\n5.其他要求：此处添加任务的补充要求，如原创要求、违禁词等导致初稿或者脚本审核不过的原因，如对版权使用有特殊说明可在此添加；',
      content_type: '',
      project_detail: '',
      project_photos: [],
      mainKeyArr: [],
      mainKeyArrTemp: [],
      content_types: [
        {
          value: '1',
          label: '图文'
        },
        {
          value: '2',
          label: '视频'
        }
      ],
      project_form: '',
      project_forms: [
        {
          value: '1',
          label: '实体商品寄拍'
        },
        {
          value: '2',
          label: '虚拟产品测评'
        },
        {
          value: '3',
          label: '线下探店打卡'
        }
      ],
      enterprise_id: ''
    }
  },
  watch: {
    project_form() {
      const params = {
        product_id: parseInt(this.$store.state.newProject.product_id)
      }
      this.postRequest('/youngee/m/product/find', params).then((resp) => {
        if (this.project_form === '3' && resp.data.product_type !== 14) {
          this.$message.warning('基础信息中商品类型非线下店铺不能选择此任务形式')
          this.project_form = ''
        }
      })
    }
  },
  mounted() {
    EventBus.$on('ExcuteRequirement', (msg, enterprise_id) => {
      // console.log('执行要求!!:', msg, enterprise_id, this.ExcuteRequirementVisible)
      this.content_type = ''
      this.project_detail = ''
      this.project_photos = []
      this.mainKeyArr = []
      this.mainKeyArrTemp = []
      this.ExcuteRequirementVisible = msg
      this.enterprise_id = enterprise_id
    })
  },
  methods: {
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    save() {
      // 鲁棒性检测
      if (this.content_type === '') {
        this.$message.warning('内容形式不能为空')
        return
      }
      if (this.project_detail.trim() === '') {
        this.$message.warning('任务详情不能为空')
        return
      }
      this.$store.state.isCreating = true
      this.$store.state.newProject.content_type = this.content_type
      this.$store.state.newProject.project_detail = this.project_detail
      this.$store.state.newProject.project_photos = this.project_photos
      this.$store.state.newProject.enterprise_id = this.enterprise_id
      this.$store.state.newProject.project_form = String(this.project_form)
      this.$store.state.newProject.project_status = 1
      this.$store.state.newProject.product_id = parseInt(this.$store.state.newProject.product_id)
      // this.$store.state.newProject.project_form = String(this.$store.state.newProject.project_form)
      const params = this.$store.state.newProject
      // console.log(params)
      this.postRequest('/youngee/m/project/update', params).then((resp) => {
        this.$store.state.project.project_id = this.$store.state.newProject.project_id
        this.$store.state.project.enterprise_id = this.$store.state.newProject.enterprise_id
        // 跳转到项目详情界面，参数为project_id
        this.$router.push({
          path: '/viewhome',
          query: {
            project_id: this.$store.state.newProject.project_id
          }
        })
      })
      this.ExcuteRequirementVisible = false
    },
    handleBack() {
      // console.log(this.$store.state.newProject)
      if (this.$store.state.newProject.project_type === 1) {
        this.ExcuteRequirementVisible = false
        EventBus.$emit('backRecruitRequirement', true, this.project_id)
      } else {
        this.ExcuteRequirementVisible = false
        EventBus.$emit('backCreateProject', true)
      }
    },
    // 删除某行数据
    handleDelete(index) {
      this.tabledata.splice(index, 1)
    },
    // 导入模板
    changeProjectDetail() {
      this.project_detail = this.detailltemplate
      this.$refs['popoverName'].doClose()
    },
    addstra() {
      const arr = {
        index: (this.index += 1),
        feetype: this.feetype,
        fans: this.minfans + '-' + this.maxfans,
        price: this.price,
        serfee: '-',
        talentnum: this.talentnum
      }
      this.tabledata.push(arr)
    },

    // 主图上传
    doUploadMain(file) {
      var str = 'backstage_upload/' + this.guid() + '.png'
      var address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const mainPic = {
              url: address + str + '',
              uid: file.file.uid + '',
              photo_url: address + str + '',
              photo_uid: file.file.uid + ''
            }
            this.project_photos.push(mainPic)
            // 为删除远程服务器的图片所使用的临时数组
            this.mainKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('图片上传成功！')
          } else {
            this.$message.error('图片上传失败！')
          }
        })
    },

    handleRemoveMain(file) {
      for (const i in this.project_photos) {
        if (this.project_photos[i].url === file.url) {
          this.project_photos.splice(i, 1)
        }
      }
      this.mainKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.mainKeyArrTemp.push(item)
          this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
        }
      })
      this.deleteMainObsObject()
    },
    deleteMainObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.mainKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.mainKeyArrTemp = []
            this.$message.success('图片删除成功！')
          }
        })
    },

    beforeAvatarUpload(file) {
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        this.$message.warning('上传头像图片大小不能超过 2MB!')
      }
      // if (!isJPG) {
      //   this.$message.warning('上传头像图片只能是 JPG 或者 PNG 格式!')
      // }
      return isJPG && isLt2M
    },
    // 生成随机字符串
    guid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
        /[xy]/g,
        function(c) {
          var r = (Math.random() * 16) | 0
          var v = c === 'x' ? r : (r & 0x3) | 0x8
          return v.toString(16)
        }
      )
    }
  }
}
</script>

<style scoped lang = "scss">
.basetmp {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  .flow {
    display: flex;
    justify-content: center;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 30px 30px;
  }

  .flow_cur {
    font-size: 30px;
    color: #0e4bb7;
    border-bottom: 3px solid #0e4bb7;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 30px;
    color: #0e4bb7;
  }

  .flow_right {
    font-size: 30px;
    color: black;
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .short-input-box {
    width: 100px;
    flex: 0, 1, atuo;
    float: left;
  }

  // css
  .singleArrow_cur {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: #0e4bb7;
    margin: 30px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  // .singleArrow_cur::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   right: -10px;
  //   /* 箭头位置 */
  //   top: -8px;
  //   /* 箭头位置 */
  //   border-top: 10px solid transparent;
  //   /* 箭头高低 */
  //   border-bottom: 15px solid transparent;
  //   /* 箭头高低 */
  //   border-left: 20px solid #f2d22e;
  //   /* 箭头长度*/
  // }

  .singleArrow {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: black;
    margin: 30px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  // .singleArrow::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   right: -10px;
  //   /* 箭头位置 */
  //   top: -8px;
  //   /* 箭头位置 */
  //   border-top: 10px solid transparent;
  //   /* 箭头高低 */
  //   border-bottom: 15px solid transparent;
  //   /* 箭头高低 */
  //   border-left: 20px solid black;
  //   /* 箭头长度*/
  // }

  .input-big-box {
    width: 800px;
    flex: 0, 1, atuo;
    float: left;
    padding: 0 48px 0 0;
  }

  .input-box-line {
    line-height: 40px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }

  .funcBtnnewcommodity {
    border: none;
    background-color: #0e4bb7;
    color: black;
    margin: 0px 20px 20px;
  }
  .notNecessary {
    font-size: 12px;
  }
  .upload-cover {
    display: flex;
  }

  .funcBtnstore {
    border: none;
    background-color: #0e4bb7;
    color: white;
    /* margin: 20px 500px 20px; */
    width: 150px;
  }

  .funcBtnstra {
    border: none;
    background-color: #0e4bb7;
    color: black;
    margin: 20px 450px 20px;
  }

  .strategy {
    width: 1000px;
    height: 200px;
    padding: 20px 48px;
    border: dashed;
  }
}

.next-btn {
  margin-top: 5px;
}
</style>
<style>
.basetmp .el-upload-list--picture-card .el-upload-list__item {
  width: 50px;
  height: 50px;
}

.basetmp .el-upload--picture-card {
  width: 50px;
  height: 48px;
  line-height: 52px;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
</style>

<style>
.basetmp .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.basetmp .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.basetmp .el-textarea .el-input__count {
  color: #909399;
  background: #FFF;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 10px;
}
</style>
