<template>
  <div class="recruitManage">
    <div id="box">
      <div
        v-for="(item, index) in bottonList1"
        :key="index"
        class="box_btn"
        :class="chooseBtn1 === index ? 'borderColor' : ''"
        @click="handleChooseTabClick(index)"
      >
        {{ item.name }}
      </div>
    </div>

    <!-- 招募中-待选 -->
    <div v-show="index === 0">
      <div style="margin-bottom: 5px; float: right">
        <el-button
          v-resetClick="1000"
          @click="exportSelectingTable()"
          class="search-button"
          >导出表格</el-button
        >
        <el-button
          v-resetClick="1000"
          @click="allSelecting()"
          class="search-button"
          >合作</el-button
        >
        <el-button
          v-resetClick="1000"
          @click="allRefuse()"
          class="search-button"
          >拒绝</el-button
        >
      </div>
      <el-table
        :data="selectingTable"
        ref="selectingTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center">
        </el-table-column>
        <el-table-column prop="task_id" label="任务ID" align="center">
        </el-table-column>
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        >
        </el-table-column>
        <el-table-column prop="fans_count" label="粉丝数" align="center">
        </el-table-column>
        <el-table-column
          prop="home_page_capture_url"
          label="主页截图"
          align="center"
        >
          <template slot-scope="scope">
            <img
              :src="scope.row.home_page_capture_url"
              alt=""
              style="width: 5rem; height: 5rem"
              preview="1"
            />
          </template>
        </el-table-column>
        <el-table-column
          prop="operate"
          label="主页链接"
          width="150"
          show-overflow-tooltip
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              @click="handShowLinkClick(scope.row)"
              type="text"
              size="medium"
            >
              {{ scope.row.home_page_url }}</el-button
            >
          </template>
        </el-table-column>
        <el-table-column
          prop="operate_date"
          label="申请时间"
          width="150"
          align="center"
        ></el-table-column>
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              v-resetClick="1000"
              @click="cooperateTask(scope.row.selection_id)"
              type="text"
              size="medium"
              >合作</el-button
            >
            <el-button
              v-resetClick="1000"
              @click="refuseTask(scope.row.selection_id)"
              type="text"
              size="medium"
              >拒绝</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 招募中-已选 -->
    <div v-show="index === 1">
      <div style="margin-bottom: 5px; float: right">
        <el-button
          v-resetClick="1000"
          @click="exportTable()"
          class="search-button"
          >导出表格</el-button
        >
        <el-button
          v-resetClick="1000"
          @click="allDelete()"
          class="search-button"
          >删除</el-button
        >
      </div>
      <el-table
        :data="selectedTable"
        ref="selectedTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center">
        </el-table-column>
        <el-table-column prop="task_id" label="任务ID" align="center">
        </el-table-column>
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        >
        </el-table-column>
        <el-table-column prop="fans_count" label="粉丝数" align="center">
        </el-table-column>
        <el-table-column
          prop="home_page_capture_url"
          label="主页截图"
          align="center"
        >
          <template slot-scope="scope">
            <img
              :src="scope.row.home_page_capture_url"
              alt=""
              style="width: 5rem; height: 5rem"
              preview="1"
            />
          </template>
        </el-table-column>
        <el-table-column
          prop="operate"
          label="主页链接"
          width="150"
          show-overflow-tooltip
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              @click="handShowLinkClick(scope.row)"
              type="text"
              size="medium"
            >
              {{ scope.row.home_page_url }}</el-button
            >
          </template>
        </el-table-column>
        <el-table-column
          prop="operate_date"
          label="确认时间"
          width="150"
          align="center"
        ></el-table-column>
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              v-resetClick="1000"
              @click="deleteTask(scope.row)"
              type="text"
              size="medium"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import { money, fansview } from "@/utils";
import { EventBus } from "@/event-bus";
import ObsClient from "@/components/esdk-obs-browserjs-without-polyfill-3.19.5.min.js";
import RechargeBlock from "@/components/utils/RechargeBlock.vue";
// 创建ObsClient实例
const obs = new ObsClient({
  access_key_id: "IVW21DTGIIUBBAGXKK0Y",
  secret_access_key: "Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE",
  server: "https://obs.cn-east-3.myhuaweicloud.com",
});
export default {
  name: "RecruitManage",
  components: {
    RechargeBlock,
  },
  data() {
    return {
      needRecharge: false,
      rechargeMoney: 0,
      mainKey: 1,
      selection_info: this.$store.state.selection,
      disabled: false,
      chooseBtn1: 0,
      chooseBtn2: 1,
      searchInput: "",
      allSum: 0,
      // 控制点击按钮后子组件显示，再次点击隐藏
      isShow1: true,
      index: 0,
      strategy_id: "",
      enterprise_id: this.$store.state.enterprise_id,
      dialogVisible: false,
      create_at: this.$store.state.create_at,
      update_at: this.$store.state.update_at,
      phone: this.$store.state.phone,
      payDialogVisible: false, //支付确认弹窗
      payDisable: false, //禁用支付
      orderStatus: "", //充值返回消息
      MainPhotoList: [], //转账凭证上传图片
      imageurldialogVisible: false, //图片预览弹窗
      dialogImageUrl: "", //图片地址
      bottonList1: [
        {
          name: "待选",
        },
        {
          name: "已选",
        },
      ],

      selection_statuses: [
        {
          value: "0",
          label: "不限",
        },
        {
          value: "1",
          label: "创建中",
        },
        {
          value: "2",
          label: "待审核",
        },
        {
          value: "3",
          label: "审核通过",
        },
        {
          value: "4",
          label: "招募中",
        },
        {
          value: "5",
          label: "招募完毕",
        },
        {
          value: "6",
          label: "待支付",
        },
        {
          value: "7",
          label: "已支付",
        },
        {
          value: "8",
          label: "失效",
        },
        {
          value: "9",
          label: "执行中",
        },
        {
          value: "10",
          label: "已结案",
        },
      ],
      // 控制切换按钮后按钮改变样式
      selectingChanged: [],
      selectedChanged: [],
      lostChanged: [],
      selectingTable: [],
      selectedTable: [],
      lostTable: [],
      strategy_ids: [],
    };
  },
  watch: {
    // tableData是el-table绑定的数据
    selectingTable: {
      handler() {
        this.$nextTick(() => {
          // tableRef是el-table绑定的ref属性值
          this.$refs.selectingTable.doLayout();
        });
      },
      deep: true,
    },
    selectedTable: {
      handler() {
        this.$nextTick(() => {
          // tableRef是el-table绑定的ref属性值
          this.$refs.selectedTable.doLayout();
        });
      },
      deep: true,
    },
    lostTable: {
      handler() {
        this.$nextTick(() => {
          // tableRef是el-table绑定的ref属性值
          this.$refs.lostTable.doLayout();
        });
      },
      deep: true,
    },
  },
  mounted() {
    const strategy_id = {
      value: 0,
      label: "不限",
    };
    this.strategy_ids.push(strategy_id);
    for (const i in this.$store.state.recruit_strategys) {
      const strategy_id = {
        value: this.$store.state.recruit_strategys[i].strategy_id,
        label: this.$store.state.recruit_strategys[i].strategy_id,
      };
      this.strategy_ids.push(strategy_id);
    }

    this.allSum = 0;
    for (const i in this.recruit_strategys) {
      this.allSum += parseFloat(this.recruit_strategys[i].all_payment);
    }
    this.rechargeMoney = (
      this.allSum - this.selection_info.available_balance
    ).toFixed(1);
    this.needRecharge = this.rechargeMoney > 0 ? true : false;
    this.index = this.selection_status === "待支付" ? 1 : 0;
    this.getTaskList(this.index);
    this.showPayData();
  },
  computed: {
    selection_status() {
      return Object.keys(this.$store.state.selection).length !== 0
        ? this.selection_statuses[
            parseInt(this.$store.state.selection.SelectionStatus)
          ].label
        : null;
    },
    recruit_ddl() {
      return Object.keys(this.$store.state.selection).length !== 0
        ? this.$store.state.selection.TaskDdl.replace("T", " ").substring(0, 19)
        : null;
    },
    auto_fail_at() {
      return Object.keys(this.$store.state.selection).length !== 0
        ? this.$store.state.selection?.autoFailAt
            .replace("T", " ")
            .substring(0, 19)
        : null;
    },
    available_balance: {
      get: function () {
        return Object.keys(this.$store.state.selection).length !== 0
          ? money(this.$store.state.selection.available_balance)
          : 0;
      },
    },
    showRechargeMoney() {
      return money(this.rechargeMoney);
    },
    showAllSum() {
      return money(this.allSum);
    },
  },
  methods: {
    async toUserCenter() {
      if (this.$store.state.isLogin) {
        await this.$router.replace("usercenter");
        this.$router.go(0);
      } else {
        this.$router.replace("login");
      }
    },
    handShowLinkClick(row) {
      window.open(
        row.home_page_url.substring(
          row.home_page_url.lastIndexOf("http"),
          row.home_page_url.length
        ),
        "_blank"
      );
    },
    handleChooseTabClick(value) {
      this.chooseBtn1 = value;
      this.chooseBtn2 = value;
      this.index === value ? (this.isShow1 = true) : (this.isShow1 = true);
      this.index = value;
      if (this.selection_info.selection_id === "") {
        this.$message("该项目暂无数据");
        return;
      }
      this.getTaskList(this.index);
    },
    getTaskList(index) {
      const sec_task_status = index + 1;
      const params = {
        ...this.$route.query,
        sec_task_status,
      };
      if (index === 0) {
        this.postRequest("/youngee/m/selection/task/list", params).then(
          (resp) => {
            if (resp.data.total === "0") {
              this.$message("待选任务中暂无数据");
              this.selectingTable = null;
              return;
            }
            let selectionTasklist = null;
            let totalCount = null;
            selectionTasklist = resp.data.sec_task_list;
            this.$data.selectingTable = selectionTasklist;
            this.$data.selectingTable.forEach((e) => {
              e.fans_count = fansview(e.fans_count);
              e.all_payment = money(e.all_payment);
            });
            totalCount = parseInt(resp.data.total);
            this.$data.totalCount = totalCount;
          }
        );
      } else if (index === 1) {
        this.postRequest("/youngee/m/selection/task/list", params).then(
          (resp) => {
            if (resp.data.total === "0") {
              this.$message("已选任务中暂无数据");
              this.selectedTable = null;
              return;
            }
            let selectionTasklist = null;
            let totalCount = null;
            selectionTasklist = resp.data.sec_task_list;
            this.$data.selectedTable = selectionTasklist;
            this.$data.selectedTable.forEach((e) => {
              e.fans_count = fansview(e.fans_count);
              e.all_payment = money(e.all_payment);
            });
            totalCount = parseInt(resp.data.total);
            this.$data.totalCount = totalCount;
          }
        );
      } else {
        this.postRequest("/youngee/m/selection/task/list", params).then(
          (resp) => {
            if (resp.data.total === "0") {
              this.$message("落选数据中暂无数据");
              this.lostTable = null;
              return;
            }
            let selectionTasklist = null;
            let totalCount = null;
            selectionTasklist = resp.data.sec_task_list;
            this.$data.lostTable = selectionTasklist;
            this.$data.lostTable.forEach((e) => {
              e.fans_count = fansview(e.fans_count);
              e.all_payment = money(e.all_payment);
            });
            totalCount = parseInt(resp.data.total);
            this.$data.totalCount = totalCount;
          }
        );
      }
    },
    pay() {
      if (this.allSum === 0) {
        this.$message.warning("支付金额不可为0元");
        return;
      }
      this.payDialogVisible = true;
    },
    Paycancel() {
      this.payDialogVisible = false;
    },
    async Payconfirm() {
      const params = {
        selection_id: this.selection_info.selection_id,
        pay_sum: parseFloat(this.allSum),
      };
      this.payDisable = true;
      await this.postRequest("/youngee/m/pay", params).then((resp) => {
        if (resp.status === 0) {
          this.$message.success("支付成功");
          this.dialogVisible = false;
        }
      });
      this.payDialogVisible = false;
      this.$router.go(0);
      // this.$router.replace("/selection");
    },
    fansview(num) {
      num = parseInt(num);
      if (num >= 10000) {
        const t1 = num / 10000;
        const t2 = num % 10000;
        if (t2 !== 0) {
          // return String(t1).match(/^\d+(?:\.\d{1,2})?/) + "万"
          return String(t1).substring(0, String(t1).indexOf(".") + 2) + "万";
        } else return String(t1) + "万";
      } else {
        num = String(num);
      }
      return num;
    },
    allSelecting() {
      const val = this.selectingChanged;
      if (val.length === 0) {
        this.$message("请选择任务");
        return;
      }
      const taskIds = [];
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i];
        taskIds.push(taskId);
      }
      this.changeStatus(taskIds, 2, 0);
    },
    allRefuse() {
      const val = this.selectingChanged;
      if (val.length === 0) {
        this.$message("请选择任务");
        return;
      }
      const taskIds = [];
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i];
        taskIds.push(taskId);
      }
      this.changeStatus(taskIds, 3, 0);
    },
    cooperateTask(row) {
      const arr = [];
      arr.push(row);
      console.log(row, "--row");
      this.changeStatus(arr, 2, 0);
    },
    refuseTask(row) {
      const arr = [];
      console.log(row, "--row");
      arr.push(row);
      this.changeStatus(arr, 3, 0);
    },
    selectingChange(val) {
      this.selectingChanged = val;
    },
    allDelete() {
      const val = this.selectedChanged;
      if (val.length === 0) {
        this.$message("请选择任务");
        return;
      }
      this.changeStatus(val, 3, 1);
    },
    deleteTask(row) {
      const arr = [];
      arr.push(row);
      this.changeStatus(arr, 3, 1);
    },
    selectedChange(val) {
      this.selectedChanged = val;
    },
    async changeStatus(taskIds, taskStatus, clickIndex) {
      for (const i in taskIds) {
        if (taskStatus === 3 && clickIndex !== 0) {
          for (const s in this.recruit_strategys) {
            if (
              this.recruit_strategys[s].strategy_id ===
              parseInt(taskIds[i].strategy_id)
            ) {
              this.recruit_strategys[s].selected_number =
                parseInt(this.recruit_strategys[s].selected_number) - 1;
            }
          }
        } else if (taskStatus === 2) {
          for (const s in this.recruit_strategys) {
            if (
              this.recruit_strategys[s].strategy_id ===
              parseInt(taskIds[i].strategy_id)
            ) {
              this.recruit_strategys[s].selected_number =
                parseInt(this.recruit_strategys[s].selected_number) + 1;
            }
          }
        }
      }
      this.mainKey = Math.random();
      const arr = [];
      for (const i in taskIds) {
        arr.push(taskIds[i].task_id);
      }
      const params = {
        selection_id: arr,
        sec_task_status: String(taskStatus),
      };
      const params1 = {
        task_ids: arr,
      };
      if (taskStatus == 2) {
        await this.postRequest(
          "/youngee/m/selection/task/coop/pass",
          params
        ).then((resp) => {
          this.handleChooseTabClick(clickIndex);
        });
      } else {
        await this.postRequest(
          "/youngee/m/selection/task/coop/refuse",
          params1
        ).then((resp) => {
          this.handleChooseTabClick(clickIndex);
        });
      }

      if (this.selection_status === "待支付") {
        this.showPayData();
      }
    },
    showPayData() {
      const params = {
        selection_id: this.selection_info.selection_id,
      };
      this.postRequest("/youngee/m/pay/paysum", params).then((resp) => {
        this.allSum = 0;
        for (const i in this.recruit_strategys) {
          this.$set(this.recruit_strategys[i], "all_payment", 0);
          this.$set(this.recruit_strategys[i], "show_all_payment", 0);
          for (const j in resp.data.pay_sum) {
            if (
              this.recruit_strategys[i].strategy_id ===
              resp.data.pay_sum[j].strategy_id
            ) {
              this.recruit_strategys[i].all_payment =
                resp.data.pay_sum[j].all_payment;
              this.recruit_strategys[i].show_all_payment = money(
                parseFloat(resp.data.pay_sum[j].all_payment.toFixed(1))
              );
            }
          }
          this.allSum += parseFloat(this.recruit_strategys[i].all_payment);
        }
        this.mainKey = Math.random();
        this.rechargeMoney = (
          this.allSum - this.selection_info.available_balance
        ).toFixed(1);
        this.needRecharge = this.rechargeMoney > 0 ? true : false;
        // this.$store.state.recruit_strategys = this.recruit_strategys;
      });
    },
    // 充值相关函数
    toRecharge() {
      EventBus.$emit("Recharge", true);
      // this.rechargeDialogVisible = true
    },
    queryOrderBytradeId() {
      const param = {
        trade_id: this.trade_id,
      };
      this.postRequest("/youngee/m/pay/queryOrderByTradeId", param).then(
        (resp) => {
          this.orderStatus = resp.data;
        }
      );
    },
    beforeMainUpload(file) {
      const isJPG =
        file.type === "image/png" ||
        file.type === "image/jpg" ||
        file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isLt2M) {
        this.$message.error("上传转账凭证的图片大小不能超过 2MB!");
      }
      if (!isJPG) {
        this.$message.error("上传转账凭证的图片只能是 JPG 或者 PNG 格式!");
      }
      return isJPG && isLt2M;
    },
    // 转账凭证上传
    doUploadMain(file) {
      const str = "backstage_upload/" + this.guid() + ".png";
      const address = "https://horastar.obs.cn-east-3.myhuaweicloud.com/";
      obs
        .putObject({
          Bucket: "horastar",
          Key: str,
          SourceFile: file.file,
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const mainPic = {
              url: address + str + "",
              uid: file.file.uid,
              symbol: 1,
            };
            this.MainPhotoList.push(mainPic);
            // console.log(this.MainPhotoList)
            // 为删除远程服务器的图片所使用的临时数组
            this.mainKeyArr.push({
              Key: str,
              uid: file.file.uid,
            });
            this.$message.success("转账凭证的图片上传成功！");
          } else {
            this.$message.error("转账凭证的图片上传失败！");
          }
        });
    },
    handleMainExceed() {
      this.$message("转账凭证限1张");
    },
    handleRemoveMain(file) {
      for (const i in this.MainPhotoList) {
        if (this.MainPhotoList[i].url === file.url) {
          this.MainPhotoList.splice(i, 1);
        }
      }
      this.mainKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.mainKeyArrTemp.push(item);
          this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1);
        }
      });
      this.deleteMainObsObject();
    },
    deleteMainObsObject() {
      obs
        .deleteObjects({
          Bucket: "horastar",
          Quiet: false,
          Objects: this.mainKeyArrTemp,
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.mainKeyArrTemp = [];
            this.$message.success("转账凭证的图片删除成功！");
          }
        });
    },
    // 生成随机字符串
    guid() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function (c) {
          const r = (Math.random() * 16) | 0;
          const v = c === "x" ? r : (r & 0x3) | 0x8;
          return v.toString(16);
        }
      );
    },
    // 图片预览
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.imageurldialogVisible = true;
    },
    allEnable() {
      const val = this.lostChanged;
      if (val.length === 0) {
        this.$message("请选择任务");
        return;
      }
      this.changeStatus(this.lostChanged, 2, 2);
    },
    enableTask(row) {
      const arr = [];
      arr.push(row);
      this.changeStatus(arr, 2, 2);
    },
    lostChange(val) {
      this.lostChanged = val;
    },
    exportTable() {
      // 导出表格
      if (this.selectedChanged.length === 0) {
        this.$message({
          message: "请至少选择一条需要导出的数据",
          type: "warning",
        });
        return;
      }
      const multiHeader = [
        ["表格无创作者联系方式，您需在样叽上完成项目后续执行"],
      ];
      const tableHeader = [
        "任务ID",
        "账号昵称",
        "粉丝数",
        "策略编号",
        "价格",
        "主页链接",
      ]; // 设置Excel表格的表头
      const filterVal = [
        "task_id",
        "platform_nickname",
        "fans_count",
        "strategy_id",
        "all_payment",
        "home_page_url",
      ]; // 跟表格表头对应的绑定的prop
      const tableTitleName =
        this.$store.state.selection.selection_name + "已选账号表";
      const merges = ["A1:F1"];
      this.$msgbox
        .confirm("该操作将导出选中的数据，是否继续", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
          // 导出
          require.ensure([], () => {
            const {
              export_json_to_excel,
            } = require("@/utils/excel/Export2Excel"); // 注意这个Export2Excel路径
            // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectedChanged)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
            const list = JSON.parse(JSON.stringify(this.selectedChanged));
            const data = this.formatJson(filterVal, list);
            export_json_to_excel(
              tableHeader,
              data,
              tableTitleName,
              multiHeader,
              merges
            ); // 参数分别为：表头、数据、文件名称
          });
        })
        .catch(() => {});
    },
    exportSelectingTable() {
      // 导出表格
      if (this.selectingChanged.length === 0) {
        this.$message({
          message: "请至少选择一条需要导出的数据",
          type: "warning",
        });
        return;
      }
      const multiHeader = [
        ["表格无创作者联系方式，您需在样叽上完成项目后续执行"],
      ];
      const tableHeader = [
        "任务ID",
        "账号昵称",
        "粉丝数",
        "策略编号",
        "价格",
        "主页链接",
      ]; // 设置Excel表格的表头
      const filterVal = [
        "task_id",
        "platform_nickname",
        "fans_count",
        "strategy_id",
        "all_payment",
        "home_page_url",
      ]; // 跟表格表头对应的绑定的prop
      const tableTitleName =
        this.$store.state.selection.selection_name + "待选账号表";
      const merges = ["A1:F1"];
      this.$msgbox
        .confirm("该操作将导出选中的数据，是否继续", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
          // 导出
          require.ensure([], () => {
            const {
              export_json_to_excel,
            } = require("@/utils/excel/Export2Excel"); // 注意这个Export2Excel路径
            // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectingChanged)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
            const list = JSON.parse(JSON.stringify(this.selectingChanged));
            const data = this.formatJson(filterVal, list);
            export_json_to_excel(
              tableHeader,
              data,
              tableTitleName,
              multiHeader,
              merges
            ); // 参数分别为：表头、数据、文件名称
          });
        })
        .catch(() => {});
    },
    formatJson(filterVal, Data) {
      return Data.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style scoped lang="scss">
.recruitManageCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.recruitManage {
  text-align: center;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-left: 20px;
}

.line {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

.attention {
  color: red;
}

.SubmitBtn {
  border: none;
  justify-content: center;
  background-color: #f7d43c;
  color: black;
  margin: 10px;
  // padding: 8px 15px;
}

.StoreBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  font-size: 24px;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: solid;
  padding-bottom: 5px;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #f7d43c !important;
}

.strategys-table {
  flex-direction: row;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
  text-align: center;
  // border: solid;
  // border-right: none;
  // border-left: none;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #f7d43c;
}

.flow_info_base {
  height: 50px;
  padding-left: 300px;
}

.flow_right {
  font-size: 20px;
  color: black;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
  background-color: #f7d43c !important;
  color: black !important;
  border-radius: 0px;
}

.LearnMornBtn {
  background: #f7d43c;
  color: black;
  float: right;
  margin-left: auto;
  z-index: 2;
  font-size: 1rem;
  position: relative;
}

// 充值所需样式属性
#boxCharge {
  display: flex;
}

#boxCharge .box_btn {
  width: 80px;
  height: 40px;
  border: 1px solid #f9f9f9;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.collection {
  display: none;
}

.onlineRechargeColor {
  background-color: #f2d22d;
  color: black;
  margin-top: 10px;
}

.publicTransferColor {
  background-color: #f5f1dc;
  color: black;
  margin-top: 10px;
}

.copyButton {
  border: none;
  margin-left: 15px;
  color: #409eff;
  cursor: pointer;
}

.task-table {
  width: 100%;
  text-align: center;

  .is-scrolling-none {
    overflow: visible;
    overflow-y: auto;
    overflow-x: scroll;
  }
}

.display_show {
  display: block;
}
</style>
