<!-- 结算管理 -->
<template>
  <div class="logisticsManage">
    <div id="box">
      <div
        v-for="(item, index) in bottonList1"
        :key="index"
        class="box_btn"
        :class="chooseBtn === index ? 'borderColor' : ''"
        @click="handleClick(index)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center">
      <div class="input-box-line" style="margin-left: 50px">
        <el-input v-model="searchInput" placeholder="账号昵称、任务ID">
          <el-button
            slot="append"
            class="search-button"
            @click="getSettleList(index)"
            >搜索</el-button
          >
        </el-input>
      </div>
    </div>

    <!-- 待结算 -->
    <div v-show="index === 0">
      <div style="margin-bottom: 5px; float: right">
        <el-button @click="exportExcel(0)" class="search-button"
          >导出表格</el-button
        >
      </div>

      <el-table
        :data="unshipSettleList"
        ref="unshipSettleList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center">
        </el-table-column>
        <el-table-column prop="task_id" label="任务ID" align="center">
        </el-table-column>
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        >
        </el-table-column>
        <el-table-column prop="fans_count" label="粉丝数" align="center">
        </el-table-column>
        <el-table-column prop="fans_count" label="数据截图" align="center">
        </el-table-column>
        <el-table-column prop="fans_count" label="作业链接" align="center">
        </el-table-column>
        <el-table-column prop="fans_count" label="返现" align="center">
        </el-table-column>
        <el-table-column prop="fans_count" label="悬赏金" align="center">
        </el-table-column>
        <el-table-column prop="select_date" label="申请时间" align="center">
        </el-table-column>
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              @click="showAddSettle1(scope.row)"
              type="text"
              size="medium"
              >结算</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 已结算 -->
    <div v-show="index === 1">
      <div style="margin-bottom: 5px; float: right">
        <el-button @click="exportExcel(3)" class="search-button"
          >导出表格</el-button
        >
      </div>
      <el-table
        :data="unshipSettleList"
        ref="unshipSettleList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center">
        </el-table-column>
        <el-table-column prop="task_id" label="任务ID" align="center">
        </el-table-column>
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        >
        </el-table-column>
        <el-table-column prop="fans_count" label="粉丝数" align="center">
        </el-table-column>
        <el-table-column prop="fans_count" label="数据截图" align="center">
        </el-table-column>
        <el-table-column prop="fans_count" label="作业链接" align="center">
        </el-table-column>
        <el-table-column prop="fans_count" label="返现" align="center">
        </el-table-column>
        <el-table-column prop="fans_count" label="悬赏金" align="center">
        </el-table-column>
        <el-table-column prop="select_date" label="结算时间" align="center">
        </el-table-column>
      </el-table>
    </div>

    <div style="height: 100px"></div>
    <!-- 实体商品寄拍-上传物流单号弹窗 -->
    <el-dialog
      style="padding: 0 !important"
      :visible.sync="deliveryDialogVisible1"
      width="500px"
    >
      <div slot="title" class="dialog-title">
        <img
          slot="title"
          src="@/assets/images/younggee_logo.png"
          alt="YOUNGEE"
          class="head-img"
        />
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          align-items: center;
          justify-content: center;
        "
      >
        <span>物流公司：</span>
        <el-select
          v-model="logisticsCompany"
          filterable
          style="width: 200px"
          placeholder="请选择物流公司"
        >
          <el-option
            v-for="item in logisticsCompanyList"
            :key="item.label"
            :label="item.label"
            :value="item.label"
          >
          </el-option>
        </el-select>
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          align-items: center;
          justify-content: center;
        "
      >
        <span>物流单号：</span>
        <el-input
          style="width: 200px"
          clearable
          v-model="logisticsNumber"
          placeholder="请输入正确的物流单号"
        ></el-input>
      </div>
      <div>
        <el-button
          :class="1 === this.chooseBtn ? 'collection' : ''"
          slot="append"
          style="
            background-color: #f2d22d;
            color: black;
            margin: 10px 20px;
            padding: 10px 20px;
          "
          @click="
            deliveryDialogVisible1 = false;
            addUpdateSettle1();
          "
          >确认</el-button
        >
        <el-button
          :class="1 === this.chooseBtn ? '' : 'collection'"
          slot="append"
          style="
            background-color: #f2d22d;
            color: black;
            margin-top: 30px;
            padding: 10px 20px;
          "
          @click="deliveryDialogVisible1 = false"
          >取消</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { money, fansview } from "@/utils";
export default {
  name: "SettleManage",
  data() {
    return {
      bottonList1: [
        {
          name: "待结算",
        },
        {
          name: "已结算",
        },
      ],
      selection_id: this.$store.state.selection.selection_id,
      selection_form: parseInt(this.$store.state.selection.selection_form),
      chooseBtn: 0,
      searchInput: "",
      all_sum: 0,
      // 控制点击按钮后子组件显示，再次点击隐藏
      isUpdate: false,
      index: 0,
      strategy_id: "",
      strategy_ids: [],
      logisticsCompanyList: [
        {
          value: 1,
          label: "顺丰速运",
        },
        {
          value: 2,
          label: "圆通速递",
        },
        {
          value: 3,
          label: "申通快递",
        },
        {
          value: 4,
          label: "中通快递",
        },
        {
          value: 5,
          label: "德邦快递",
        },
        {
          value: 6,
          label: "韵达快递",
        },
        {
          value: 7,
          label: "京东物流",
        },
        {
          value: 8,
          label: "EMS",
        },
        {
          value: 9,
          label: "其他",
        },
      ],
      recruit_strategys: this.$store.state.recruit_strategys,
      // 控制弹窗显示
      deliveryDialogVisible1: false, // 实体待结算弹窗
      deliveryDialogVisible2: false, // 虚拟待结算弹窗
      deliveryDialogVisible3: false, // 探店待结算弹窗

      // 存储所选任务
      taskList1: [], // 实体商品寄拍
      taskList2: [], // 虚拟产品测评
      taskList3: [], // 线下探店打卡

      // 结算信息
      logisticsCompany: "", // 物流公司
      logisticsNumber: "", // 物流单号
      coupon_code: "", // 优惠券
      exploreDate: [], // 探店时间
      startExploreDate: "", // 探店起始日期
      startExploreTime: "", // 探店起始时间
      endExploreDate: "", // 探店结束日期
      endExploreTime: "", // 探店结束时间
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7;
        },
      },

      selectedDataList: [], // 被选中数据列表
      unshipSettleList: [], // 待结算数据列表
      shippedSettleList: [], // 已结算数据列表
      signedSettleList: [], // 已签收数据列表

      recruitStrategyKey: "",
    };
  },
  mounted() {
    this.recruitStrategyKey = Math.random();
    this.getSettleList(0);
    // this.getDataInfo()
  },
  methods: {
    getDataInfo() {
      const strategy_ids = [];
      const strategy_id = {
        value: 0,
        label: "不限",
      };
      this.strategy_ids = [];
      this.strategy_ids.push(strategy_id);
      for (const i in this.$store.state.recruit_strategys) {
        const strategy_id = {
          value: this.$store.state.recruit_strategys[i].strategy_id,
          label: this.$store.state.recruit_strategys[i].strategy_id,
        };
        this.strategy_ids.push(strategy_id);
        strategy_ids.push(this.recruit_strategys[i].strategy_id);
      }
      const params = {
        selection_id: this.selection_id,
        strategy_ids: strategy_ids.toString(),
      };
      this.postRequest(
        "/youngee/m/selection/getlogisticsnumberinfo",
        params
      ).then((resp) => {
        for (const i in this.$data.recruit_strategys) {
          this.$data.recruit_strategys[i].deliver_number =
            resp.data.number_info_list[i].deliver_number;
          this.$data.recruit_strategys[i].undelivered_number =
            resp.data.number_info_list[i].undelivered_number;
          this.$data.recruit_strategys[i].delivered_number =
            resp.data.number_info_list[i].delivered_number;
          this.$data.recruit_strategys[i].signed_number =
            resp.data.number_info_list[i].signed_number;
        }
        this.$data.recruitStrategyKey = Math.random();
      });
    },
    selectedChange(val) {
      this.selectedDataList = val;
    },
    // 显示弹窗 实体商品寄拍-上传物流单号
    showAddSettle1(row) {
      this.isUpdate = false;
      this.logisticsNumber = "";
      this.logisticsCompany = "";
      this.taskList1 = [];
      this.taskList1.push(row);
      this.deliveryDialogVisible1 = true;
    },
    // 显示弹窗 虚拟产品测评-上传券码
    showAddSettle2(row) {
      this.isUpdate = false;
      this.coupon_code = "";
      this.taskList2 = [];
      this.taskList2.push(row);
      this.deliveryDialogVisible2 = true;
    },
    // 显示弹窗 线下探店打卡-上传探店时间
    showAddSettle3(row) {
      this.isUpdate = false;
      this.startExploreDate = "";
      this.startExploreTime = "";
      this.endExploreDate = "";
      this.endExploreTime = "";
      this.taskList3 = [];
      this.taskList3.push(row);
      this.deliveryDialogVisible3 = true;
    },
    // 实体商品寄拍-修改物流单号
    showUpdateLogistcs1(row) {
      this.isUpdate = true;
      this.logisticsNumber = row.logistics_number;
      this.logisticsCompany = row.company_name;
      this.taskList1 = [];
      this.taskList1.push(row);
      this.deliveryDialogVisible1 = true;
    },
    // 虚拟产品测评-修改券码
    showUpdateLogistcs2(row) {
      this.isUpdate = true;
      this.coupon_code = row.coupon_code;
      this.taskList2 = [];
      this.taskList2.push(row);
      this.deliveryDialogVisible2 = true;
    },
    // 线下探店打卡-修改探店时间
    showUpdateLogistcs3(row) {
      this.isUpdate = true;
      this.startExploreDate = row.explorestore_starttime.substring(0, 10);
      this.startExploreTime = row.explorestore_starttime.substring(11, 16);
      this.endExploreDate = row.explorestore_endtime.substring(0, 10);
      this.endExploreTime = row.explorestore_endtime.substring(11, 16);
      this.taskList3 = [];
      this.taskList3.push(row);
      this.deliveryDialogVisible3 = true;
    },
    // 实体商品寄拍-上传物流单号
    addUpdateSettle1() {
      if (this.isUpdate === false) {
        // 上传
        for (const s in this.recruit_strategys) {
          if (
            this.recruit_strategys[s].strategy_id ===
            this.taskList1[0].strategy_id
          ) {
            this.recruit_strategys[s].undelivered_number--;
            this.recruit_strategys[s].delivered_number++;
          }
        }
        const params = {
          task_id: this.taskList1[0].task_id,
          enterprise_id: this.taskList1[0].enterprise_id,
          selection_id: this.taskList1[0].selection_id,
        };
        this.postRequest("/youngee/m/selection/task/settle", params).then(
          (resp) => {
            this.handleClick(0);
          }
        );
      } else {
        // 修改
        const params = {
          task_id: this.taskList1[0].task_id,
          enterprise_id: this.taskList1[0].enterprise_id,
          selection_id: this.taskList1[0].selection_id,
        };
        this.postRequest("/youngee/m/selection/task/settle", params).then(
          (resp) => {
            this.handleClick(1);
          }
        );
      }
    },
    // 虚拟产品测评-上传券码
    addUpdateSettle2() {
      if (this.isUpdate === false) {
        // 上传
        for (const s in this.recruit_strategys) {
          if (
            this.recruit_strategys[s].strategy_id ===
            this.taskList2[0].strategy_id
          ) {
            this.recruit_strategys[s].undelivered_number--;
            this.recruit_strategys[s].delivered_number++;
          }
        }
        const params = {
          task_id: this.taskList2[0].task_id,
          strategy_id: parseInt(this.taskList2[0].strategy_id),
          coupon_code_information: this.coupon_code,
          things_type: 2,
          is_update: 0,
        };
        this.postRequest("/youngee/m/selection/createlogistics", params).then(
          (resp) => {
            this.handleClick(0);
          }
        );
      } else {
        // 修改
        const params = {
          task_id: this.taskList2[0].task_id,
          strategy_id: parseInt(this.taskList2[0].strategy_id),
          coupon_code_information: this.coupon_code,
          things_type: 2,
          is_update: 1,
        };
        this.postRequest("/youngee/m/selection/createlogistics", params).then(
          (resp) => {
            this.handleClick(1);
          }
        );
      }
    },
    // 线下探店打卡-上传探店时间
    addUpdateSettle3() {
      if (
        new Date(this.startExploreDate + " " + this.startExploreTime + ":00") <=
        Date.now()
      ) {
        this.$message.warning(
          "请输入正确的时间格式，探店开始时间必须大于当前时间"
        );
        return;
      }
      if (
        new Date(this.startExploreDate + " " + this.startExploreTime + ":00") >=
        new Date(this.endExploreDate + " " + this.endExploreTime + ":00")
      ) {
        this.$message.warning(
          "请输入正确的时间格式，探店开始时间不能大于等于探店结束时间"
        );
        return;
      }
      if (this.isUpdate === false) {
        // 上传
        for (const s in this.recruit_strategys) {
          if (
            this.recruit_strategys[s].strategy_id ===
            this.taskList3[0].strategy_id
          ) {
            this.recruit_strategys[s].undelivered_number--;
            this.recruit_strategys[s].delivered_number++;
          }
        }
        const params = {
          task_id: this.taskList3[0].task_id,
          strategy_id: parseInt(this.taskList3[0].strategy_id),
          explorestore_starttime:
            this.startExploreDate + " " + this.startExploreTime + ":00",
          explorestore_endtime:
            this.endExploreDate + " " + this.endExploreTime + ":00",
          things_type: 3,
          is_update: 0,
        };
        this.postRequest("/youngee/m/selection/createlogistics", params).then(
          (resp) => {
            this.handleClick(0);
          }
        );
      } else {
        // 修改
        const params = {
          task_id: this.taskList3[0].task_id,
          strategy_id: parseInt(this.taskList3[0].strategy_id),
          explorestore_starttime:
            this.startExploreDate + " " + this.startExploreTime + ":00",
          explorestore_endtime:
            this.endExploreDate + " " + this.endExploreTime + ":00",
          things_type: 3,
          is_update: 1,
        };
        this.postRequest("/youngee/m/selection/createlogistics", params).then(
          (resp) => {
            this.handleClick(1);
          }
        );
      }
      this.deliveryDialogVisible3 = false;
    },
    handleClick(value) {
      this.chooseBtn = value;
      this.index = value;
      if (this.selection_id === "") {
        this.$message("该项目暂无数据");
        return;
      }
      this.getSettleList(this.index);
      // this.getDataInfo()
    },
    getSettleList(index) {
      this.shippedSettleList = [];
      this.unshipSettleList = [];
      this.signedSettleList = [];
      const sec_task_status = index + 1;
      const params = {
        ...this.$route.query,
        sec_task_status,
        search_value: this.searchInput,
        // task_id: taskID,
      };
      if (index === 0) {
        this.postRequest("/youngee/m/selection/task/list", params).then(
          (resp) => {
            if (resp.data.total === "0") {
              this.$message("待结算中暂无数据");
              return;
            }
            let selectionTasklist = null;
            let totalCount = null;
            selectionTasklist = resp.data.sec_task_list;
            this.$data.unshipSettleList = selectionTasklist;
            this.$data.unshipSettleList.forEach((e) => {
              e.fans_count = fansview(e.fans_count);
            });
            totalCount = parseInt(resp.data.total);
            this.$data.totalCount = totalCount;
          }
        );
      } else if (index === 1) {
        this.postRequest("/youngee/m/selection/task/list", params).then(
          (resp) => {
            if (resp.data.total === "0") {
              this.$message("已结算中暂无数据");
              return;
            }
            // this.$data.exploreDate.push()
            let selectionTasklist = null;
            let totalCount = null;
            selectionTasklist = resp.data.sec_task_list;
            if (this.selection_form === 3) {
              for (let i = 0; i < selectionTasklist.length; i++) {
                const time1 =
                  selectionTasklist[i].explorestore_starttime.substring(0, 10) +
                  " " +
                  selectionTasklist[i].explorestore_starttime.substring(11, 16);
                const time2 =
                  selectionTasklist[i].explorestore_endtime.substring(0, 10) +
                  " " +
                  selectionTasklist[i].explorestore_endtime.substring(11, 16);
                selectionTasklist[i].explorestore_period_txt =
                  time1 + "至" + time2;
              }
            }
            this.$data.shippedSettleList = selectionTasklist;
            this.$data.shippedSettleList.forEach((e) => {
              e.fans_count = fansview(e.fans_count);
            });
            totalCount = parseInt(resp.data.total);
            this.$data.totalCount = totalCount;
          }
        );
      } else {
        this.postRequest("/youngee/m/selection/task/list", params).then(
          (resp) => {
            if (resp.data.total === "0") {
              this.$message("已签收中暂无数据");
              return;
            }
            let selectionTasklist = null;
            let totalCount = null;
            selectionTasklist = resp.data.sec_task_list;
            for (let i = 0; i < selectionTasklist.length; i++) {
              const time1 =
                selectionTasklist[i].explorestore_starttime.substring(0, 10) +
                " " +
                selectionTasklist[i].explorestore_starttime.substring(11, 16);
              const time2 =
                selectionTasklist[i].explorestore_endtime.substring(0, 10) +
                " " +
                selectionTasklist[i].explorestore_endtime.substring(11, 16);

              selectionTasklist[i].explorestore_period_txt =
                time1 + "至" + time2;
            }
            this.$data.signedSettleList = selectionTasklist;
            this.$data.signedSettleList.forEach((e) => {
              e.fans_count = fansview(e.fans_count);
            });
            totalCount = parseInt(resp.data.total);
            this.$data.totalCount = totalCount;
          }
        );
      }
    },
    // 定义导出Excel表格事件
    exportExcel(index) {
      if (this.selectedDataList.length === 0) {
        this.$message({
          message: "请至少选择一条需要导出的数据",
          type: "warning",
        });
        return;
      }
      switch (index) {
        case 0: // 待结算-实体商品寄拍
          var tableHeader = [
            "任务ID",
            "账号昵称",
            "粉丝数",
            "策略编号",
            "物流信息",
          ]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
            "detail_addr",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "待结算信息";
          break;
        case 1: // 待结算-虚拟产品测评
          var tableHeader = ["任务ID", "账号昵称", "粉丝数", "策略编号"]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "待结算信息";
          break;
        case 2: // 待结算-线下探店打卡
          var tableHeader = ["任务ID", "账号昵称", "粉丝数", "策略编号"]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "待结算信息";
          break;
        case 3: // 已结算-实体商品寄拍
          var tableHeader = [
            "任务ID",
            "账号昵称",
            "粉丝数",
            "策略编号",
            "物流信息",
            "物流公司",
            "物流单号",
          ]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
            "detail_addr",
            "company_name",
            "logistics_number",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "结算信息";
          break;
        case 4: // 已结算-虚拟产品测评
          var tableHeader = [
            "任务ID",
            "账号昵称",
            "粉丝数",
            "策略编号",
            "券码信息",
          ]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
            "coupon_code",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "结算信息";
          break;
        case 5: // 已结算-线下探店打卡
          var tableHeader = [
            "任务ID",
            "账号昵称",
            "粉丝数",
            "策略编号",
            "探店时间",
          ]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
            "explorestore_period_txt",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "结算信息";
          break;
        case 6: // 已签收-实体商品寄拍
          var tableHeader = [
            "任务ID",
            "账号昵称",
            "粉丝数",
            "策略编号",
            "物流信息",
            "物流公司",
            "物流单号",
          ]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
            "detail_addr",
            "company_name",
            "logistics_number",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "签收信息";
          break;
        case 7: // 已签收-虚拟产品测评
          var tableHeader = [
            "任务ID",
            "账号昵称",
            "粉丝数",
            "策略编号",
            "券码信息",
          ]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
            "coupon_code",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "签收信息";
          break;
        case 8: // 已签收-线下探店打卡
          var tableHeader = [
            "任务ID",
            "账号昵称",
            "粉丝数",
            "策略编号",
            "探店时间",
          ]; // 设置Excel表格的表头
          var filterVal = [
            "task_id",
            "platform_nickname",
            "fans_count",
            "strategy_id",
            "explorestore_period_txt",
          ]; // 跟表格表头对应的绑定的prop
          var tableTitleName =
            this.$store.state.selection.selection_name + "签收信息";
          break;
      }

      this.$msgbox
        .confirm("该操作将导出选中的数据，是否继续", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
          // 导出
          require.ensure([], () => {
            const {
              export_json_to_excel,
            } = require("@/utils/excel/Export2Excel"); // 注意这个Export2Excel路径
            // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectedDataList)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
            const list = JSON.parse(JSON.stringify(this.selectedDataList));
            const data = this.formatJson(filterVal, list);
            export_json_to_excel(tableHeader, data, tableTitleName); // 参数分别为：表头、数据、文件名称
            console.log(3, list.length);
          });
        })
        .catch(() => {});
    },
    formatJson(filterVal, Data) {
      return Data.map((v) => filterVal.map((j) => v[j]));
    },
    signForReceipt(row) {
      const data = [];
      const v = {
        task_id: String(row.task_id),
        strategy_id: String(row.strategy_id),
      };
      data.push(v);
      for (const s in this.recruit_strategys) {
        if (this.recruit_strategys[s].strategy_id === data[0].strategy_id) {
          this.recruit_strategys[s].delivered_number--;
          this.recruit_strategys[s].signed_number++;
        }
      }
      const params = {
        task_strategy_ids: data,
      };
      this.postRequest("/youngee/m/selection/signforreceipt", params).then(
        (resp) => {
          this.handleClick(1);
        }
      );
    },
    fansview(num) {
      num = parseInt(num);
      if (num >= 10000) {
        const t1 = num / 10000;
        const t2 = num % 10000;
        if (t2 !== 0) {
          return String(t1).substring(0, String(t1).indexOf(".") + 2) + "万";
        } else return String(t1) + "万";
      } else {
        num = String(num);
      }
      return num;
    },
  },
};
</script>
<style scoped lang="scss">
.logisticsManageCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.logisticsManage {
  text-align: center;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #f7d43c !important;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #f7d43c;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: black;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
  background-color: #f7d43c !important;
  color: black !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  display: flex;
  height: 50px;
  margin-left: 20px;
}
</style>
<style>
.logisticsManage .el-dialog {
  width: 50vw;
  overflow: auto;
}

.el-table--scrollable-x .el-table__body-wrapper {
  overflow-x: visible;
}
</style>
