<!-- 发货管理 -->
<template>
  <div class="logisticsManage">
    <el-card
      class="logisticsManageCard"
      shadow="never"
      style=" "
    >
      <div>
        <div class="flow_info_base">
          <span class="flow_right">发货数据</span>
        </div>
      </div>
      <el-table
        :key="recruitStrategyKey"
        :data="recruit_strategys"
        border
        class="strategys-table-manage"
        :header-cell-style="{ background: '#6394ea', color: 'white' }"
      >
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="show_fee_form"
          label="稿费形式"
          align="center"
        />
        <el-table-column
          prop="fans"
          label="创作者粉丝量"
          align="center"
        />
        <el-table-column
          prop="deliver_number"
          label="应发货数量"
          align="center"
        />
        <el-table-column
          prop="undelivered_number"
          label="待发货数量"
          align="center"
        />
        <el-table-column
          prop="delivered_number"
          label="已发货数量"
          align="center"
        />
        <el-table-column
          prop="signed_number"
          label="已签收数量"
          align="center"
        />
      </el-table>
    </el-card>

    <div id="box">
      <div
        v-for="(item, i) in bottonList1"
        :key="i"
        class="box_btn"
        :class="chooseBtn === i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex;margin-left:20%">
      <div class="input-box-line">
        策略编号：
        <el-select
          v-model="strategy_id"
          class="input-box"
          placeholder="不限"
        >
          <el-option
            v-for="item in strategy_ids"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            @click.native="getLogisticsList(index)"
          />
        </el-select>
      </div>
      <div
        class="input-box-line"
        style="margin-left: 50px"
      >
        <el-input
          v-model="searchInput"
          placeholder="账号昵称、任务ID"
        >
          <el-button
            slot="append"
            class="search-button"
            @click="getLogisticsList(index)"
          >搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 待发货-实体商品寄拍 -->
    <div v-show="index === 0 && project_form === 1">
      <div style="margin-bottom:5px;float:right">
        <el-button class="search-button" @click="exportExcel(0)">导出表格</el-button>
      </div>
      <el-table
        ref="unshipLogisticsList"
        :data="unshipLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="detail_addr" label="物流信息" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="showAddLogistics1(scope.row)">上传物流单号</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 待发货-虚拟产品测评 -->
    <div v-show="index === 0 && project_form === 2">
      <div style="margin-bottom:5px;float:right">
        <el-button class="search-button" @click="exportExcel(1)">导出表格</el-button>
      </div>
      <el-table
        ref="unshipLogisticsList"
        :data="unshipLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="showAddLogistics2(scope.row)">上传券、兑换码</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 待发货-线下探店打卡 -->
    <div v-show="index === 0 && project_form === 3">
      <div style="margin-bottom:5px;float:right">
        <el-button class="search-button" @click="exportExcel(2)">导出表格</el-button>
      </div>
      <el-table
        ref="unshipLogisticsList"
        :data="unshipLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="showAddLogistics3(scope.row)">上传探店邀请单</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 已发货-实体商品寄拍 -->
    <div v-show="index === 1 && project_form === 1">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="exportExcel(3)"
        >导出表格</el-button>
      </div>
      <el-table
        ref="shippedLogisticsList"
        :data="shippedLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="show_fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="detail_addr" label="物流信息" align="center" />
        <el-table-column prop="company_name" label="物流公司" align="center" />
        <el-table-column prop="logistics_number" label="物流单号" align="center" />
        <el-table-column prop="delivery_time" label="发货时间" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="showUpdateLogistcs1(scope.row)">修改单号</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 已发货-虚拟产品测评 -->
    <div v-show="index === 1 && project_form === 2">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="exportExcel(4)"
        >导出表格</el-button>
      </div>
      <el-table
        ref="shippedLogisticsList"
        :data="shippedLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="coupon_code"
          label="券码信息"
          align="center"
        />
        <el-table-column
          prop="delivery_time"
          label="发货时间"
          width="180"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="showUpdateLogistcs2(scope.row)"
            >修改</el-button>
            <el-button
              type="text"
              size="medium"
              @click="signForReceipt(scope.row)"
            >签收</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 已发货-线下探店打卡 -->
    <div v-show="index === 1 && project_form === 3">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="exportExcel(5)"
        >导出表格</el-button>
      </div>
      <el-table
        ref="shippedLogisticsList"
        :data="shippedLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="explorestore_period_txt"
          label="探店时间"
          width="280"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="showUpdateLogistcs3(scope.row)"
            >修改</el-button>
            <el-button
              type="text"
              size="medium"
              @click="signForReceipt(scope.row)"
            >签收</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 已签收-实体商品寄拍 -->
    <div v-show="index === 2 && project_form === 1">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="exportExcel(6)"
        >导出表格</el-button>
      </div>
      <el-table
        ref="signedLogisticsList"
        :data="signedLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="detail_addr"
          label="物流信息"
          align="center"
        />
        <el-table-column
          prop="company_name"
          label="物流公司"
          align="center"
        />
        <el-table-column
          prop="logistics_number"
          label="物流单号"
          align="center"
        />
      </el-table>
    </div>

    <!-- 已签收-虚拟产品测评 -->
    <div v-show="index === 2 && project_form === 2">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="exportExcel(7)"
        >导出表格</el-button>
      </div>
      <el-table
        ref="signedLogisticsList"
        :data="signedLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="signed_time"
          label="签收时间"
          width="180"
          align="center"
        />
        <el-table-column
          prop="coupon_code"
          label="券码信息"
          align="center"
        />
      </el-table>
    </div>

    <!-- 已签收-线下探店打卡 -->
    <div v-show="index === 2 && project_form === 3">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="exportExcel(8)"
        >导出表格</el-button>
      </div>
      <el-table
        ref="signedLogisticsList"
        :data="signedLogisticsList"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="explorestore_period_txt"
          label="探店时间"
          width="280"
          align="center"
        />
      </el-table>
    </div>
    <div style="height: 100px;" />
    <!-- 实体商品寄拍-上传物流单号弹窗 -->
    <el-dialog
      style="padding: 0 !important;"
      :visible.sync="deliveryDialogVisible1"
      width="500px"
    >
      <div
        slot="title"
        class="dialog-title"
      >
        <div class="button-right">
          <span
            class="title-close"
            @click="deliveryDialogVisible1 = false;"
          />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;justify-content: center;">
        <span>物流公司：</span>
        <el-select
          v-model="logisticsCompany"
          style="width:200px"
          placeholder="请选择物流公司"
        >
          <el-option
            v-for="item in logisticsCompanyList"
            :key="item.label"
            :label="item.label"
            :value="item.label"
          />
        </el-select>
      </div>
      <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;justify-content: center;">
        <span>物流单号：</span>
        <el-input
          v-model="logisticsNumber"
          style="width:200px"
          clearable
          placeholder="请输入正确的物流单号"
        />
      </div>
      <div>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? 'collection' : ''"
          style="background-color: #248bf4;
                color: white;
                margin: 10px 20px;
                padding: 10px 20px;"
          @click="deliveryDialogVisible1 = false; addUpdateLogistics1()"
        >确认</el-button>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? '' : 'collection'"
          style="
                background-color: #248bf4;
                color: white;
                margin-top: 30px;
                padding: 10px 20px;"
          @click="deliveryDialogVisible1 = false;"
        >取消</el-button>
      </div>
    </el-dialog>

    <!-- 虚拟产品测评-上传券码信息弹窗 -->
    <el-dialog
      style="padding: 0 !important;"
      :visible.sync="deliveryDialogVisible2"
      width="500px"
    >
      <div
        slot="title"
        class="dialog-title"
      >
        <div class="button-right">
          <span
            class="title-close"
            @click="deliveryDialogVisible2 = false;"
          />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;justify-content: center;">
        <span>券码信息：</span>
        <el-input
          v-model="coupon_code"
          style="width:200px"
          clearable
          placeholder="请输入正确的券码信息"
        />
      </div>
      <div>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? 'collection' : ''"
          style="
                background-color: #248bf4;
                color: white;
                margin: 10px 20px;
                padding: 10px 20px;"
          @click="deliveryDialogVisible2 = false; addUpdateLogistics2()"
        >确认</el-button>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? '' : 'collection'"
          style="
                background-color: #248bf4;
                color: white;
                margin-top: 30px;
                padding: 10px 20px;"
          @click="deliveryDialogVisible2 = false;"
        >取消</el-button>
      </div>
    </el-dialog>

    <!-- 线下探店打卡-上传探店时间弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="deliveryDialogVisible3" width="800px">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="deliveryDialogVisible3 = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;justify-content: center;">
        <span>探店时间：</span>
        <el-date-picker
          v-model="startExploreDate"
          style="width:150px"
          align="right"
          type="date"
          placeholder="选择日期"
          value-format="yyyy-MM-dd"
          :clearable="false"
          :picker-options="pickerOptions"
        />
        <el-time-select
          v-model="startExploreTime"
          :picker-options="{
            start: '00:00',
            step: '01:00',
            end: '23:00'
          }"
          :clearable="false"
          placeholder="选择时间"
          style="width: 150px;margin-left:20px"
        />
        <label style="margin-left:10px;margin-right:10px;"> 至 </label>
        <el-date-picker
          v-model="endExploreDate"
          style="width:150px"
          align="right"
          type="date"
          placeholder="选择日期"
          value-format="yyyy-MM-dd"
          :clearable="false"
          :picker-options="pickerOptions"
        />
        <el-time-select
          v-model="endExploreTime"
          :picker-options="{
            start: '00:00',
            step: '01:00',
            end: '23:00'
          }"
          :clearable="false"
          placeholder="选择时间"
          style="width: 150px;margin-left:20px"
        />
        <!-- <el-date-picker
          v-model="exploreDate"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        /> -->
      </div>
      <div>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? 'collection' : ''"
          style=" background-color: #248bf4;
                color: white;
                margin: 10px 20px;
                padding: 10px 20px;"
          @click="addUpdateLogistics3()"
        >确认</el-button>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? '' : 'collection'"
          style="
                background-color: #248bf4;
                color: white;
                margin-top: 30px;
                padding: 10px 20px;"
          @click="deliveryDialogVisible3 = false;"
        >取消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fansview } from '@/utils'
export default {
  name: 'LogisticsManage',
  data() {
    return {
      bottonList1: [
        {
          name: '待发货'
        },
        {
          name: '已发货'
        },
        {
          name: '已签收'
        }
      ],
      project_id: this.$store.state.project.project_id,
      project_form: parseInt(this.$store.state.project.project_form),
      chooseBtn: 0,
      searchInput: '',
      all_sum: 0,
      // 控制点击按钮后子组件显示，再次点击隐藏
      isUpdate: false,
      index: 0,
      strategy_id: '',
      strategy_ids: [],
      logisticsCompanyList: [
        {
          value: 1,
          label: '顺丰速运'
        },
        {
          value: 2,
          label: '圆通速递'
        },
        {
          value: 3,
          label: '申通快递'
        },
        {
          value: 4,
          label: '中通快递'
        },
        {
          value: 5,
          label: '德邦快递'
        },
        {
          value: 6,
          label: '韵达快递'
        },
        {
          value: 7,
          label: '京东物流'
        },
        {
          value: 8,
          label: 'EMS'
        },
        {
          value: 9,
          label: '其它快递'
        }
      ],
      recruit_strategys: this.$store.state.recruit_strategys,
      // 控制弹窗显示
      deliveryDialogVisible1: false, // 实体待发货弹窗
      deliveryDialogVisible2: false, // 虚拟待发货弹窗
      deliveryDialogVisible3: false, // 探店待发货弹窗

      // 存储所选任务
      taskList1: [], // 实体商品寄拍
      taskList2: [], // 虚拟产品测评
      taskList3: [], // 线下探店打卡

      // 发货信息
      logisticsCompany: '', // 物流公司
      logisticsNumber: '', // 物流单号
      coupon_code: '', // 优惠券
      exploreDate: [], // 探店时间
      startExploreDate: '', // 探店起始日期
      startExploreTime: '', // 探店起始时间
      endExploreDate: '', // 探店结束日期
      endExploreTime: '', // 探店结束时间
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7
        }
      },
      selectedDataList: [], // 被选中数据列表
      unshipLogisticsList: [], // 待发货数据列表
      shippedLogisticsList: [], // 已发货数据列表
      signedLogisticsList: [], // 已签收数据列表

      recruitStrategyKey: ''
    }
  },
  mounted() {
    this.recruitStrategyKey = Math.random()
    this.getLogisticsList(0)
    this.getDataInfo()
  },
  methods: {
    getDataInfo() {
      const strategy_ids = []
      const strategy_id = {
        value: 0,
        label: '不限'
      }
      this.strategy_ids = []
      this.strategy_ids.push(strategy_id)
      for (const i in this.$store.state.recruit_strategys) {
        const strategy_id = {
          value: this.$store.state.recruit_strategys[i].strategy_id,
          label: this.$store.state.recruit_strategys[i].strategy_id
        }
        this.strategy_ids.push(strategy_id)
        strategy_ids.push(this.recruit_strategys[i].strategy_id)
      }
      const params = {
        project_id: this.project_id,
        strategy_ids: strategy_ids.toString()
      }
      this.postRequest('/youngee/m/project/getlogisticsnumberinfo', params).then((resp) => {
        for (const i in this.$data.recruit_strategys) {
          this.$data.recruit_strategys[i].deliver_number = resp.data.number_info_list[i].deliver_number
          this.$data.recruit_strategys[i].undelivered_number = resp.data.number_info_list[i].undelivered_number
          this.$data.recruit_strategys[i].delivered_number = resp.data.number_info_list[i].delivered_number
          this.$data.recruit_strategys[i].signed_number = resp.data.number_info_list[i].signed_number
        }
        this.$data.recruitStrategyKey = Math.random()
      })
    },
    selectedChange(val) {
      this.selectedDataList = val
    },
    // 显示弹窗 实体商品寄拍-上传物流单号
    showAddLogistics1(row) {
      this.isUpdate = false
      this.logisticsNumber = ''
      this.logisticsCompany = ''
      this.taskList1 = []
      this.taskList1.push(row)
      this.deliveryDialogVisible1 = true
    },
    // 显示弹窗 虚拟产品测评-上传券码
    showAddLogistics2(row) {
      this.isUpdate = false
      this.coupon_code = ''
      this.taskList2 = []
      this.taskList2.push(row)
      this.deliveryDialogVisible2 = true
    },
    // 显示弹窗 线下探店打卡-上传探店时间
    showAddLogistics3(row) {
      this.isUpdate = false
      this.startExploreDate = ''
      this.startExploreTime = ''
      this.endExploreDate = ''
      this.endExploreTime = ''
      this.exploreDate = []
      this.taskList3 = []
      this.taskList3.push(row)
      this.deliveryDialogVisible3 = true
    },
    // 实体商品寄拍-修改物流单号
    showUpdateLogistcs1(row) {
      this.isUpdate = true
      this.logisticsNumber = row.logistics_number
      this.logisticsCompany = row.company_name
      this.taskList1 = []
      this.taskList1.push(row)
      this.deliveryDialogVisible1 = true
    },
    // 虚拟产品测评-修改券码
    showUpdateLogistcs2(row) {
      this.isUpdate = true
      this.coupon_code = row.coupon_code
      this.taskList2 = []
      this.taskList2.push(row)
      this.deliveryDialogVisible2 = true
    },
    // 线下探店打卡-修改探店时间
    showUpdateLogistcs3(row) {
      this.isUpdate = true
      this.startExploreDate = row.explorestore_starttime.substring(0, 10)
      this.startExploreTime = row.explorestore_starttime.substring(11, 16)
      this.endExploreDate = row.explorestore_endtime.substring(0, 10)
      this.endExploreTime = row.explorestore_endtime.substring(11, 16)
      this.taskList3 = []
      this.taskList3.push(row)
      this.deliveryDialogVisible3 = true
    },
    // 实体商品寄拍-上传物流单号
    addUpdateLogistics1() {
      if (this.isUpdate === false) { // 上传
        for (const s in this.recruit_strategys) {
          if (this.recruit_strategys[s].strategy_id === this.taskList1[0].strategy_id) {
            this.recruit_strategys[s].undelivered_number--
            this.recruit_strategys[s].delivered_number++
          }
        }
        const params = {
          task_id: this.taskList1[0].task_id,
          strategy_id: parseInt(this.taskList1[0].strategy_id),
          company_name: this.logisticsCompany,
          logistics_number: this.logisticsNumber,
          things_type: 1,
          is_update: 0
        }
        this.postRequest('/youngee/m/project/createlogistics', params).then((resp) => {
          this.handleClick(0)
        })
      } else { // 修改
        const params = {
          task_id: this.taskList1[0].task_id,
          strategy_id: parseInt(this.taskList1[0].strategy_id),
          company_name: this.logisticsCompany,
          logistics_number: this.logisticsNumber,
          things_type: 1,
          is_update: 1
        }
        this.postRequest('/youngee/m/project/createlogistics', params).then((resp) => {
          this.handleClick(1)
        })
      }
    },
    // 虚拟产品测评-上传券码
    addUpdateLogistics2() {
      if (this.isUpdate === false) { // 上传
        for (const s in this.recruit_strategys) {
          if (this.recruit_strategys[s].strategy_id === this.taskList2[0].strategy_id) {
            this.recruit_strategys[s].undelivered_number--
            this.recruit_strategys[s].delivered_number++
          }
        }
        const params = {
          task_id: this.taskList2[0].task_id,
          strategy_id: parseInt(this.taskList2[0].strategy_id),
          coupon_code_information: this.coupon_code,
          things_type: 2,
          is_update: 0
        }
        this.postRequest('/youngee/m/project/createlogistics', params).then((resp) => {
          this.handleClick(0)
        })
      } else { // 修改
        const params = {
          task_id: this.taskList2[0].task_id,
          strategy_id: parseInt(this.taskList2[0].strategy_id),
          coupon_code_information: this.coupon_code,
          things_type: 2,
          is_update: 1
        }
        this.postRequest('/youngee/m/project/createlogistics', params).then((resp) => {
          this.handleClick(1)
        })
      }
    },
    // 线下探店打卡-上传探店时间
    addUpdateLogistics3() {
      if (new Date(this.startExploreDate + ' ' + this.startExploreTime + ':00') <= Date.now()) {
        this.$message.warning('请输入正确的时间格式，探店开始时间必须大于当前时间')
        return
      }
      if (new Date(this.startExploreDate + ' ' + this.startExploreTime + ':00') >= new Date(this.endExploreDate + ' ' + this.endExploreTime + ':00')) {
        this.$message.warning('请输入正确的时间格式，探店开始时间不能大于等于探店结束时间')
        return
      }
      if (this.isUpdate === false) { // 上传
        for (const s in this.recruit_strategys) {
          if (this.recruit_strategys[s].strategy_id === this.taskList3[0].strategy_id) {
            this.recruit_strategys[s].undelivered_number--
            this.recruit_strategys[s].delivered_number++
          }
        }
        const params = {
          task_id: this.taskList3[0].task_id,
          strategy_id: parseInt(this.taskList3[0].strategy_id),
          // explorestore_starttime: this.exploreDate[0],
          // explorestore_endtime: this.exploreDate[1],
          explorestore_starttime: this.startExploreDate + ' ' + this.startExploreTime + ':00',
          explorestore_endtime: this.endExploreDate + ' ' + this.endExploreTime + ':00',
          things_type: 3,
          is_update: 0
        }
        this.postRequest('/youngee/m/project/createlogistics', params).then((resp) => {
          this.handleClick(0)
        })
      } else { // 修改
        const params = {
          task_id: this.taskList3[0].task_id,
          strategy_id: parseInt(this.taskList3[0].strategy_id),
          // explorestore_starttime: this.exploreDate[0],
          // explorestore_endtime: this.exploreDate[1],
          explorestore_starttime: this.startExploreDate + ' ' + this.startExploreTime + ':00',
          explorestore_endtime: this.endExploreDate + ' ' + this.endExploreTime + ':00',
          things_type: 3,
          is_update: 1
        }
        this.postRequest('/youngee/m/project/createlogistics', params).then((resp) => {
          this.handleClick(1)
        })
      }
      this.deliveryDialogVisible3 = false
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getLogisticsList(this.index)
      this.getDataInfo()
    },
    getLogisticsList(index) {
      this.shippedLogisticsList = []
      this.unshipLogisticsList = []
      this.signedLogisticsList = []
      const logistics_status = index + 1
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: String(this.project_id),
        logistics_status: String(logistics_status),
        strategy_id: String(this.strategy_id),
        platform_nickname: this.searchInput
        // task_id: taskID,
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/tasklogisticslist', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('待发货中暂无数据')
          }
          let projectTasklist = null
          let totalCount = null
          projectTasklist = resp.data.project_talent_pre_view
          this.$data.unshipLogisticsList = projectTasklist
          this.unshipLogisticsList.forEach(e => {
            e.show_fans_count = fansview(e.fans_count)
          })
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        })
      } else if (index === 1) {
        this.postRequest('/youngee/m/project/tasklogisticslist', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('已发货中暂无数据')
          }
          // this.$data.exploreDate.push()
          let projectTasklist = null
          let totalCount = null
          projectTasklist = resp.data.project_talent_pre_view
          if (this.project_form === 3) {
            for (let i = 0; i < projectTasklist.length; i++) {
              const time1 = projectTasklist[i].explorestore_starttime.substring(0, 10) + ' ' + projectTasklist[i].explorestore_starttime.substring(11, 16)
              const time2 = projectTasklist[i].explorestore_endtime.substring(0, 10) + ' ' + projectTasklist[i].explorestore_endtime.substring(11, 16)

              projectTasklist[i].explorestore_period_txt = time1 + '至' + time2
            }
          }
          this.$data.shippedLogisticsList = projectTasklist
          this.shippedLogisticsList.forEach(e => {
            e.show_fans_count = fansview(e.fans_count)
          })
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        })
      } else {
        this.postRequest('/youngee/m/project/tasklogisticslist', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('已签收中暂无数据')
          }
          let projectTasklist = null
          let totalCount = null
          projectTasklist = resp.data.project_talent_pre_view
          for (let i = 0; i < projectTasklist.length; i++) {
            const time1 = projectTasklist[i].explorestore_starttime.substring(0, 10) + ' ' + projectTasklist[i].explorestore_starttime.substring(11, 16)
            const time2 = projectTasklist[i].explorestore_endtime.substring(0, 10) + ' ' + projectTasklist[i].explorestore_endtime.substring(11, 16)

            projectTasklist[i].explorestore_period_txt = time1 + '至' + time2
          }
          this.$data.signedLogisticsList = projectTasklist
          this.signedLogisticsList.forEach(e => {
            e.show_fans_count = fansview(e.fans_count)
          })
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        })
      }
    },
    // 定义导出Excel表格事件
    exportExcel(index) {
      if (this.selectedDataList.length === 0) {
        this.$message({
          message: '请至少选择一条需要导出的数据',
          type: 'warning'
        })
        return
      }
      var tableHeader, filterVal, tableTitleName
      switch (index) {
        case 0: // 待发货-实体商品寄拍
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '物流信息'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id', 'detail_addr'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '待发货信息'
          break
        case 1: // 待发货-虚拟产品测评
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '待发货信息'
          break
        case 2: // 待发货-线下探店打卡
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '待发货信息'
          break
        case 3: // 已发货-实体商品寄拍
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '物流信息', '物流公司', '物流单号'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id', 'detail_addr', 'company_name', 'logistics_number'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '发货信息'
          break
        case 4: // 已发货-虚拟产品测评
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '券码信息'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id', 'coupon_code'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '发货信息'
          break
        case 5: // 已发货-线下探店打卡
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '探店时间'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id', 'explorestore_period_txt'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '发货信息'
          break
        case 6: // 已签收-实体商品寄拍
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '物流信息', '物流公司', '物流单号'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id', 'detail_addr', 'company_name', 'logistics_number'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '签收信息'
          break
        case 7: // 已签收-虚拟产品测评
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '券码信息'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id', 'coupon_code'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '签收信息'
          break
        case 8: // 已签收-线下探店打卡
          tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '探店时间'] // 设置Excel表格的表头
          filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id', 'explorestore_period_txt'] // 跟表格表头对应的绑定的prop
          tableTitleName = this.$store.state.project.project_name + '签收信息'
          break
      }

      this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // 导出
        require.ensure([], () => {
          const { export_json_to_excel } = require('@/excel/export2Excel') // 注意这个Export2Excel路径
          // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectedDataList)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
          const list = JSON.parse(JSON.stringify(this.selectedDataList))
          const data = this.formatJson(filterVal, list)
          export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
        })
      }).catch(() => { })
    },
    formatJson(filterVal, Data) {
      return Data.map(v => filterVal.map(j => v[j]))
    },
    signForReceipt(row) {
      const data = []
      const v = {
        task_id: String(row.task_id),
        strategy_id: String(row.strategy_id)
      }
      data.push(v)
      // for (const s in this.recruit_strategys) {
      //   if (this.recruit_strategys[s].strategy_id === data[0].strategy_id) {
      //     this.recruit_strategys[s].delivered_number--
      //     this.recruit_strategys[s].signed_number++
      //   }
      // }
      const params = {
        task_strategy_ids: data
      }
      this.postRequest('/youngee/m/project/signforreceipt', params).then((resp) => {
        this.handleClick(1)
      })
      this.getDataInfo()
    }
  }
}
</script>
<style scoped lang = "scss">
.logisticsManageCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.logisticsManage {
  text-align: center;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #248bf4;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
  background-color: #248bf4 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
  color: white;
}

.el-dialog__body {
  padding: 5px 15px;
  text-align: center;
}
.logisticsManage .el-dialog{
  top: 15vw;
}
</style>
