<template>
  <el-dialog style="padding: 0 !important;" :visible.sync="RecruitRequirementVisible" append-to-body>
    <div class="basetmp">
      <div class="Recruit">
        <div class="flow">
          <div class="flow_info_base">
            <span class="flow_left">基础信息</span>
          </div>
          <div class="singleArrow_cur" />
          <div class="flow_info_base">
            <span class="flow_cur">招募要求</span>
          </div>
          <div class="singleArrow" />
          <div class="flow_info_base">
            <span class="flow_right">执行要求</span>
          </div>
        </div>
        <div class="content">
          <div class="input-box-line">
            任务形式*：
            <el-select v-model="project_form" class="input-box" placeholder="不限">
              <el-option v-for="item in project_forms" :key="item.value" :label="item.label" :value="item.value" />
            </el-select>
          </div>
          <div class="input-box-line">
            创作者类型：
            <el-button :class="{ active: talent_types ? true : false }" @click="changeExpertType">不限</el-button>
            <div class="input-big-box">
              <el-checkbox-group v-model="talent_type" :max="3" :disabled="expertType" size="small">
                <el-col v-for="(item, index) in talent_types" :key="index" :value="index" :span="3">
                  <el-checkbox class="el-checkbox-width" :label="index" border>{{ item.label }}
                  </el-checkbox>
                </el-col>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 关联商品 -->
          <div class="input-box-line">
            招募截止时间*：
            <el-date-picker
              v-model="recruit_ddl"
              align="right"
              type="date"
              placeholder="选择日期"
              :picker-options="pickerOptions"
            />
          </div>
          <div class="input-box-line">招募策略*：</div>
          <div class="strategy">
            <div style="display: flex; justify-content: space-between">
              <div class="input-box-line">
                稿费形式*：
                <el-select v-model="fee_form" class="short-input-box" placeholder="不限">
                  <el-option v-for="item in fee_forms" :key="item.value" :label="item.label" :value="item.label" />
                </el-select>
              </div>
              <div class="input-box-line">
                创作者粉丝数量*：
                <el-input
                  v-model="followers_low"
                  class="short-input-box"
                  placeholder="不限"
                  onkeyup="value=value.replace(/[^\d]/g,'')"
                />
                <div>-</div>
                <el-input
                  v-model="followers_up"
                  class="short-input-box"
                  placeholder="不限"
                  onkeyup="value=value.replace(/[^\d]/g,'')"
                />
              </div>
              <div class="input-box-line">
                招募数量*：
                <el-input
                  v-model="recruit_number"
                  class="short-input-box"
                  placeholder="不限"
                  onkeyup="value=value.replace(/[^\d]/g,'')"
                />
              </div>
              <div class="input-box-line">
                报价*：
                <el-input
                  v-model="offer"
                  class="short-input-box"
                  placeholder="不限"
                  onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                />
                <div>元/每人&emsp;</div>
                <div class="attention">固定稿费填写</div>
              </div>
            </div>
            <div>
              <el-button type="primary" class="funcBtnstra" @click="addstra">生成招募策略</el-button>
            </div>
          </div>

          <el-table
            :data="recruit_strategys"
            border
            class="strategys-table"
            :header-cell-style="{ background: '#f7d43c', color: '#606266' }"
          >
            <el-table-column prop="strategy_id" label="策略编号" width="180" />
            <el-table-column prop="fee_form" label="稿费形式" width="180" />
            <el-table-column prop="fans" label="创作者粉丝量" />
            <el-table-column prop="offer" label="报价" />
            <el-table-column prop="service_fee" label="平台服务费" />
            <el-table-column prop="recruit_number" label="招募数量" />
            <el-table-column prop="operation" label="操作">
              <!--单个删除按钮-->
              <template slot-scope="scope">
                <el-button type="text" @click="handleDelete(scope.$strategy_id)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-button type="primary" class="funcBtnstore" @click="nextStep">保存并下一步</el-button>
        </div>
      </div>
    </div>
  </el-dialog>
</template>
<script>
import EventBus from '@/event-bus'
export default {
  name: 'RecruitRequirement',
  data() {
    return {
      recruit_ddl: '',
      talent_type: [],
      project_form: '',
      recruit_strategys: [],
      fee_form: '',
      strategy_id: 0,
      service_fee: '——',
      followers_low: '',
      followers_up: '',
      recruit_number: '',
      offer: '',
      RecruitRequirementVisible: false,
      project_forms: [
        {
          value: 1,
          label: '实体商品寄拍'
        },
        {
          value: 2,
          label: '虚拟产品测评'
        },
        {
          value: 3,
          label: '线下探店打卡'
        },
        {
          value: 4,
          label: '素材微原创'
        }
      ],
      expertType: false,
      talent_types: [
        { value: 1, label: '美妆' },
        { value: 2, label: '美食' },
        { value: 3, label: '生活' },
        { value: 4, label: '时尚' },
        { value: 5, label: '测评' },
        { value: 6, label: '旅行' },
        { value: 7, label: '汽车' },
        { value: 8, label: '萌宠' },
        { value: 9, label: '游戏' },
        { value: 10, label: '音乐' },
        { value: 11, label: '舞蹈' },
        { value: 12, label: '房产' },
        { value: 13, label: '情感' },
        { value: 14, label: '三农' },
        { value: 15, label: '园艺' },
        { value: 16, label: '随拍' },
        { value: 17, label: '图文控' },
        { value: 18, label: '二次元' },
        { value: 19, label: '母婴亲子' },
        { value: 20, label: '颜值达人' },
        { value: 21, label: '剧情搞笑' },
        { value: 22, label: '运动健身' },
        { value: 23, label: '家居家装' },
        { value: 24, label: '科技数码' },
        { value: 25, label: '教育培训' },
        { value: 26, label: '才艺技能' },
        { value: 27, label: '艺术文化' },
        { value: 28, label: '财经投资' }
      ],
      fee_forms: [
        {
          value: '3',
          label: '自报价'
        },
        {
          value: '2',
          label: '固定稿费'
        },
        {
          value: '1',
          label: '产品置换'
        }
      ],
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now()
        }
      }
    }
  },
  mounted() {
    EventBus.$on('RecruitRequirement', (msg) => {
      console.log('招募管理!!：', msg, this.RecruitRequirementVisible)
      this.RecruitRequirementVisible = msg
    })
  },
  methods: {
    // 达人类型选择不限
    changeExpertType() {
      if (this.expertType) {
        this.expertType = false
      } else {
        this.expertType = true
        this.talent_type = []
      }
    },
    nextStep() {
      if (this.project_form == '') {
        this.$message.error('任务形式不能为空')
        return
      }
      if (this.recruit_ddl == '') {
        this.$message.error('招募截止时间不能为空')
        return
      }
      if (this.talent_type.length == 0 && !this.expertType) {
        this.$message.error('达人类型不能为空')
        return
      }
      if (this.recruit_strategys.length == 0) {
        this.$message.error('招募策略不能为空')
        return
      }
      var jsonString = JSON.stringify(this.talent_type)
      this.$store.state.project.recruit_ddl = this.recruit_ddl
      this.$store.state.project.project_form = parseInt(this.project_form)
      this.$store.state.project.talent_type = jsonString
      console.log('创建中达人:', jsonString)
      this.$store.state.project.recruit_strategys = this.recruit_strategys
      for (const i in this.recruit_strategys) {
        switch (this.recruit_strategys[i].fee_form) {
          case '自报价':
            this.$store.state.project.recruit_strategys[i].fee_form = 3
            break
          case '固定稿费':
            this.$store.state.project.recruit_strategys[i].fee_form = 2
            break
          case '产品置换':
            this.$store.state.project.recruit_strategys[i].fee_form = 1
            break
        }
      }
      EventBus.$emit('ExcuteRequirement', true)
      this.RecruitRequirementVisible = false
      // this.$router.push("/createproject/excuterequirement");
    },

    // 删除某行数据
    handleDelete(strategy_id) {
      this.recruit_strategys.splice(strategy_id, 1)
    },

    addstra() {
      if (this.fee_form.trim() == '') {
        this.$message.error('稿费形式不能为空')
        return
      }
      if (this.followers_low.trim() == '' || this.followers_up.trim() == '') {
        this.$message.error('创作者粉丝数量不能为空')
        return
      }
      if (parseInt(this.followers_low) >= parseInt(this.followers_up)) {
        this.$message.error('创作者粉丝最大值应该大于最小值')
        return
      }
      if (this.recruit_number.trim() == '') {
        this.$message.error('招募数量不能为空')
        return
      }
      if (this.fee_form.trim() == '固定稿费') {
        if (this.offer.trim() == '') {
          this.$message.error('固定稿费形式，报价不能为空')
          return
        }
      } else {
        if (this.offer.trim() != '') {
          this.$message.error('其他形式形式，不能填写报价')
          return
        }
        this.offer = '0'
      }
      const arr = {
        strategy_id: parseInt(this.strategy_id) + 1,
        fee_form: this.fee_form,
        followers_low: parseInt(this.followers_low),
        followers_up: parseInt(this.followers_up),
        fans: this.fansview(this.followers_low) + '-' + this.fansview(this.followers_up),
        offer: parseInt(this.offer),
        service_fee: '-',
        recruit_number: parseInt(this.recruit_number)
      }
      this.strategy_id += 1
      this.recruit_strategys.push(arr)
      this.offer = ''
    },
    fansview(num) {
      num = parseInt(num)
      if (num >= 10000) {
        var t1 = num / 10000
        var t2 = num % 10000
        if (t2 != 0) {
          // return String(t1).match(/^\d+(?:\.\d{1,2})?/) + "万"
          return String(t1).substring(0, String(t1).indexOf('.') + 2) + '万'
        } else return String(t1) + '万'
      } else {
        num = String(num)
      }
      return num
    }
  }
}
</script>

<style scoped lang = "scss">
.basetmp {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  /* .Recruit {} */

  .flow {
    display: flex;
    justify-content: center;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 30px 30px;
  }

  .flow_cur {
    font-size: 30px;
    color: #f7d43c;
    border-bottom: 3px solid #f7d43c;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 30px;
    color: #f7d43c;
  }

  .flow_right {
    font-size: 30px;
    color: black;
  }

  .attention {
    color: red;
  }

  .content {
    text-align: center;
  }

  .strategys-table {
    padding: 20px 0 0 0;
    width: 100%;
    text-align: center;
  }

  .el-checkbox-width {
    width: 100px;
    height: 30px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .short-input-box {
    width: 100px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-big-box {
    width: 950px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-box-line {
    line-height: 40px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }

  .funcBtnnewcommodity {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 0px 20px 20px;
  }

  .funcBtnstore {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 20px 500px 20px;
  }

  .funcBtnstra {
    border: none;
    background-color: #f7d43c;
    color: black;
  }

  // css
  .singleArrow_cur {
    width: 180px;
    height: 5px;
    position: relative;
    background-color: #f2d22e;
    margin: 40px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow_cur::after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    /* 箭头位置 */
    top: -8px;
    /* 箭头位置 */
    border-top: 10px solid transparent;
    /* 箭头高低 */
    border-bottom: 15px solid transparent;
    /* 箭头高低 */
    border-left: 20px solid #f2d22e;
    /* 箭头长度*/
  }

  .singleArrow {
    width: 180px;
    height: 5px;
    position: relative;
    background-color: black;
    margin: 40px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow::after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    /* 箭头位置 */
    top: -8px;
    /* 箭头位置 */
    border-top: 10px solid transparent;
    /* 箭头高低 */
    border-bottom: 15px solid transparent;
    /* 箭头高低 */
    border-left: 20px solid black;
    /* 箭头长度*/
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .strategy {
    /* display: flex; */
    width: 1200px;
    height: 100px;
    padding: 20px 10px;
    border: dashed;
    text-align: center;
  }
}

.next-btn {
  margin-top: 5px;
}
</style>
