<template>
  <div class="viewhome">
    <el-tabs v-model="activeName" type="card">
      <el-tab-pane label="项目详情" lazy name="1">
        <selection-detail></selection-detail>
      </el-tab-pane>
      <el-tab-pane
        label="确定达人"
        lazy
        name="2"
        v-if="selection_status == 6||selection_status == '执行中'"
      >
        <recruit-manage></recruit-manage>
      </el-tab-pane>
      <el-tab-pane
        label="发货管理"
        lazy
        name="3"
        v-if="selection_status == 6||selection_status == '执行中'"
      >
        <logistics-manage></logistics-manage>
      </el-tab-pane>
      <el-tab-pane
        label="结算管理"
        lazy
        name="4"
        v-if="selection_status == 6||selection_status == '执行中'"
      >
        <settle-manage></settle-manage>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus.js";
import { money, fansview } from "@/utils/index";
import SelectionDetail from "@/components/SelectionCenter/MySelection/SelectionDetail.vue";
import LogisticsManage from "@/components/SelectionCenter/MySelection/LogisticsManage.vue";
import RecruitManage from "@/components/SelectionCenter/MySelection/RecruitManage.vue";
import SettleManage from "@/components/SelectionCenter/MySelection/SettleManage.vue";

import router from "@/router";
export default {
  name: "SelectionInfo",
  components: {
    SelectionDetail,
    RecruitManage,
    LogisticsManage,
    SettleManage,
  },
  data() {
    return {
      isdraft: false,
      project_id: "",
      active: "",
      activeName: "1",
      project_info: {},
      project_status: "",
      project_statuses: [
        {
          value: "0",
          label: "不限",
        },
        {
          value: "1",
          label: "创建中",
        },
        {
          value: "2",
          label: "待审核",
        },
        {
          value: "3",
          label: "审核通过",
        },
        {
          value: "4",
          label: "招募中",
        },
        {
          value: "5",
          label: "招募完毕",
        },
        {
          value: "6",
          label: "待支付",
        },
        {
          value: "7",
          label: "已支付",
        },
        {
          value: "8",
          label: "失效",
        },
        {
          value: "9",
          label: "执行中",
        },
        {
          value: "10",
          label: "已结案",
        },
      ],
      project_forms: [
        {
          value: "1",
          label: "实体商品寄拍",
        },
        {
          value: "2",
          label: "虚拟产品测评",
        },
        {
          value: "3",
          label: "线下探店打卡",
        },
      ],
      content_types: [
        {
          value: "1",
          label: "图文",
        },
        {
          value: "2",
          label: "视频",
        },
      ],
      project_platforms: [
        {
          value: "1",
          label: "红book",
        },
        {
          value: "2",
          label: "抖音",
        },
        {
          value: "3",
          label: "新浪微博",
        },
        {
          value: "4",
          label: "快手",
        },
        {
          value: "5",
          label: "B站",
        },
        {
          value: "6",
          label: "大众点评",
        },
        {
          value: "7",
          label: "知乎",
        },
      ],
      product_types: [
        { value: 1, label: "3C及电器" },
        { value: 2, label: "食品饮料" },
        { value: 3, label: "服装配饰" },
        { value: 4, label: "医疗" },
        { value: 5, label: "房地产" },
        { value: 6, label: "家居建材" },
        { value: 7, label: "教育培训" },
        { value: 8, label: "出行旅游" },
        { value: 9, label: "游戏" },
        { value: 10, label: "互联网平台" },
        { value: 11, label: "汽车" },
        { value: 12, label: "文体娱乐" },
        { value: 13, label: "影视传媒" },
        { value: 14, label: "线下店铺" },
        { value: 15, label: "软件服务" },
        { value: 16, label: "美妆" },
        { value: 17, label: "母婴宠物" },
        { value: 18, label: "日化" },
        { value: 19, label: "其他" },
      ],
      project_types: [
        {
          value: "1",
          label: "全流程项目",
        },
        {
          value: "2",
          label: "专项执行项目",
        },
      ],
      selection_statuses: [
        {
          value: "0",
          label: "不限",
        },
        {
          value: "1",
          label: "创建中",
        },
        {
          value: "2",
          label: "待审核",
        },
        {
          value: "3",
          label: "审核通过",
        },
        {
          value: "4",
          label: "待支付",
        },
        {
          value: "5",
          label: "已支付",
        },
        {
          value: "6",
          label: "执行中",
        },
        {
          value: "7",
          label: "失效",
        },
        {
          value: "8",
          label: "已结案",
        },
      ],
    };
  },
  watch: {
    $route(to, from) {
      //重新获取数据
      this.init();
    },
  },
  computed: {
    isSpecial() {
      return Object.keys(this.$store.state.project).length !== 0
        ? parseInt(this.$store.state.project.project_type) === 2
        : null;
    },
    selection_status() {
      console.log( this.$store.state,'-- this.$store.state.selection');
      return this.$store.state.selection?.SelectionStatus;
    },
  },
  created() {
    this.init();
  },
  async mounted() {
    EventBus.$on("showSelectionInfo", (msg) => {
      // 查询选品详情
      console.log("查询选品详情");
    });
  },
  methods: {
    async init() {
      // this.isdraft = this.$route.query.draft;
      // this.project_id = this.$route.query.project_id;
      // this.$store.state.project = {};
      // this.$store.state.recruit_strategys = [];
      // const params = {
      // 	project_id: this.project_id,
      // };
      // await this.postRequest("/youngee/m/project/show", params).then((resp) => {
      // 	if (resp.data !== null) {
      // 		const product_info = JSON.parse(resp.data.product_info)
      // 		const product_photos = JSON.parse(resp.data.product_photo_info)
      // 		let product = {
      // 			product_id: product_info.ProductID,
      // 			product_name: product_info.ProductName,
      // 			product_type: this.product_types[parseInt(product_info.ProductType) - 1].label,
      // 			shop_address: product_info.ShopAddress,
      // 			product_price: money(product_info.ProductPrice),
      // 			product_detail: product_info.ProductDetail,
      // 			product_photos: product_info.CarousePhotolList,
      // 			product_url: product_info.ProductUrl,
      // 			enterprise_id: product_info.EnterpriseID,
      // 			brand_name: product_info.BrandName,
      // 		}
      // 		this.$store.state.product = product
      // 		const MainPhotoList = [];
      // 		const CarousePhotolList = [];
      // 		for (const i in product_photos) {
      // 			const photo = {
      // 				url: product_photos[i].PhotoUrl,
      // 				uid: parseInt(product_photos[i].PhotoUid),
      // 				symbol: parseInt(product_photos[i].Symbol),
      // 			};
      // 			if (product_photos[i].Symbol === 1) {
      // 				MainPhotoList.push(photo);
      // 			} else {
      // 				CarousePhotolList.push(photo);
      // 			}
      // 		}
      // 		this.$store.state.product.MainPhotoList = MainPhotoList;
      // 		this.$store.state.product.CarousePhotolList = CarousePhotolList;
      // 		this.$store.state.project = resp.data;
      // 		// console.log(resp.data);
      // 		this.$store.state.project.create_at = this.$store.state.project.create_at.replace("T", " ").substring(0, 19);
      // 		this.$store.state.project.update_at = this.$store.state.project.update_at.replace("T", " ").substring(0, 19);
      // 		this.$store.state.project.pass_at = this.$store.state.project.pass_at.replace("T", " ").substring(0, 19);
      // 		this.$store.state.project.submit_at = this.$store.state.project.submit_at.replace("T", " ").substring(0, 19);
      // 		this.$store.state.project.finish_at = this.$store.state.project.finish_at.replace("T", " ").substring(0, 19);
      // 		this.$store.state.project.pay_at = this.$store.state.project.pay_at.replace("T", " ").substring(0, 19);
      // 		this.$store.state.project.origin_project_platform = parseInt(this.$store.state.project.project_platform);
      // 		this.$store.state.project.project_platform = this.project_platforms[parseInt(this.$store.state.project.project_platform) - 1].label;
      // 		this.$store.state.project.content_type_show = this.content_types[parseInt(this.$store.state.project.content_type) - 1].label;
      // 		this.$store.state.project.project_form_show = this.project_forms[parseInt(this.$store.state.project.project_form) - 1].label;
      // 		if (this.$store.state.project.project_type === "1") {
      // 			/// 全流程
      // 			this.$store.state.project.recruit_ddl =
      // 				this.$store.state.project.recruit_ddl
      // 					.replace("T", " ")
      // 					.substring(0, 19);
      // 			this.$store.state.project.auto_fail_at =
      // 				this.$store.state.project.auto_fail_at
      // 					.replace("T", " ")
      // 					.substring(0, 19);
      // 			const recruit_strategys_origin =
      // 				this.$store.state.project.recruit_strategys;
      // 			const new_recruit_strategys = [];
      // 			for (const i in recruit_strategys_origin) {
      // 				const arr = {
      // 					recruit_strategy_id: parseInt(
      // 						recruit_strategys_origin[i].recruit_strategy_id
      // 					),
      // 					strategy_id: parseInt(recruit_strategys_origin[i].strategy_id),
      // 					fee_form: parseInt(recruit_strategys_origin[i].fee_form),
      // 					followers_low: parseInt(
      // 						recruit_strategys_origin[i].followers_low
      // 					),
      // 					followers_up: parseInt(
      // 						recruit_strategys_origin[i].followers_up
      // 					),
      // 					fans:
      // 						fansview(recruit_strategys_origin[i].followers_low) +
      // 						"-" +
      // 						fansview(recruit_strategys_origin[i].followers_up),
      // 					offer: parseInt(recruit_strategys_origin[i].offer),
      // 					service_charge: parseInt(recruit_strategys_origin[i].service_charge),
      // 					show_service_charge: "-",
      // 					show_offer: "-",
      // 					recruit_number: parseInt(
      // 						recruit_strategys_origin[i].recruit_number
      // 					),
      // 					selected_number: parseInt(
      // 						recruit_strategys_origin[i].selected_number
      // 					),
      // 					waiting_number: parseInt(
      // 						recruit_strategys_origin[i].waiting_number
      // 					),
      // 					delivered_number: parseInt(
      // 						recruit_strategys_origin[i].delivered_number
      // 					),
      // 					signed_number: parseInt(
      // 						recruit_strategys_origin[i].signed_number
      // 					),
      // 				};
      // 				if (arr.offer !== 0) {
      // 					arr.show_offer = money(arr.offer);
      // 				}
      // 				if (arr.service_charge !== 0) {
      // 					arr.show_service_charge = money(arr.service_charge);
      // 				}
      // 				new_recruit_strategys.push(arr);
      // 				switch (new_recruit_strategys[i].fee_form) {
      // 					case 3:
      // 						new_recruit_strategys[i].show_fee_form = "自报价";
      // 						break;
      // 					case 2:
      // 						new_recruit_strategys[i].show_fee_form = "固定稿费";
      // 						break;
      // 					case 1:
      // 						new_recruit_strategys[i].show_fee_form = "产品置换";
      // 						break;
      // 				}
      // 			}
      // 			this.$store.state.recruit_strategys = new_recruit_strategys;
      // 		}
      // 	} else {
      // 		this.$message({
      // 			type: "error",
      // 			message: "项目查询失败",
      // 		});
      // 		this.$router.back();
      // 	}
      // 	// console.log("project", this.$store.state.project);
      // });
      // this.project_info = this.$store.state.project;
      // this.project_status =
      // 	this.project_statuses[parseInt(this.project_info.project_status)].label;
      // if (this.project_status === "待支付") {
      // 	EventBus.$emit("showPayData", "查询待支付金额");
      // }
    },
    yr() {
      this.active = "color:#f7d43c";
    },
    yc() {
      this.active = "";
    },
    goOff() {
      this.$router.go(-1);
    },
    backcenter() {
      router.push("/project");
    },
  },
};
</script>
<style scoped lang="scss">
.viewhome {
  text-align: center;
  flex-direction: row;
  padding: 20px 20px;
  background: #ebe9e94d;
  justify-content: center;

  .BackCenter {
    cursor: pointer;
  }
}

.position {
  // font-size: 20px;
}

.attention {
  color: red;
}

.SubmitBtn {
  border: none;
  justify-content: center;
  background-color: #f7d43c;
  color: black;
  margin: 25px;
}

.StoreBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.state {
  float: left;
}

.line {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

.content {
  background-color: white;
  align-items: center;
  padding: 20px 48px;
}
</style>
<style>
.el-tabs__item:hover {
  outline: 0 !important;
  color: #f7d43c !important;
  background-color: white;
}

.el-tabs__item.is-active {
  outline: 0 !important;
  color: #dab926 !important;
  background-color: white;
}
</style>
