<template>
  <div v-if="Object.keys($store.state.project).length != 0" class="viewproject">
    <div class="content">
      <div class="external" style="padding-bottom:10px">
        <span class="title">{{ project_info.project_name }}
          选品任务信息</span>
      </div>
      <div v-show="!ispreview">
        <div class="line" style="padding-bottom:20px">
          <div style="font-size:16px">
            项目ID：
            <span>{{ project_info.project_id }}</span>
          </div>
          <div class="input-box-line" style="font-size:16px">
            商家用户*:
            <span>{{ project_info.enterprise_id }}</span>
          </div>
          <!-- <div style="font-size:16px">
            联系方式:
            <span>{{ project_info.phone }}</span>
          </div> -->
        </div>
        <div class="line">
          <div>
              项目状态：
              <span class="attention">{{ project_status }}</span>
            </div>

          <div>
            <span style="font-size:16px">项目创建时间：{{ project_info.create_at }}</span>
          </div>
        </div>

        <div class="state">
          <div style="float:left;padding-top: 15px;">
            <div>
              项目状态：
              <span class="attention">{{ project_status }}</span>
            </div>
          </div>
          <el-button
            v-if="project_status === '招募中' || (isSpecial && project_status === '执行中')"
            type="primary"
            class="SubmitBtn"
            style="padding: 8px 15px"
            @click="shareProject"
          >
            <span v-if="!isSpecial">去分享</span><span v-if="isSpecial">查看项目邀请码</span></el-button>
          <el-button
            v-if="project_status === '已结案'"
            type="primary"
            class="SubmitBtn"
            style="padding: 8px 15px;"
            @click="showFinishData()"
          >
            查看项目结案单</el-button>
          <el-button
            v-if="(project_status === '待支付' || project_status === '执行中') && !isSpecial"
            type="primary"
            class="SubmitBtn"
            style="padding: 8px 15px;"
            @click="dialogVisible = true; showPayData()"
          >
            查看项目支付单</el-button>
        </div>
        <div v-if="!isSpecial" style="float: right; padding-top: 15px">
          <span v-if="project_status == '待审核'">提交审核时间：{{ project_info.submit_at }}</span>
          <span v-if="project_status == '招募中'">审核通过时间：{{ project_info.pass_at }}</span>
          <span v-if="project_status == '待支付'">支付截止时间：{{ project_info.auto_fail_at }}</span>
          <span v-if="project_status == '执行中'">支付完成时间：{{ project_info.pay_at }}</span>
          <span v-if="project_status == '已结案'">结案时间：{{ project_info.finish_at }}</span>
          <span v-if="project_status == '失效'">失效时间：{{ project_info.finish_at }}</span>
        </div>
      </div>
      <!-- 分享二维码 -->
      <el-dialog :visible.sync="shareUrlDialogVisible" class="shareDialog" width="31.25rem">
        <div slot="title" class="dialog-title">
          <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
          <div class="button-right">
            <span class="title-close" @click="shareUrlDialogVisible = false;" />
          </div>
        </div>
        <div ref="imageDom">
          <img
            v-if="Object.keys($store.state.product).length != 0"
            :src="product.MainPhotoList[0].url + '?' + new Date().getTime()"
            crossorigin="anonymous"
            alt=""
            style="width:31.25rem; height:31.25rem"
            preview="1"
            @click="shareUrlDialogVisible = false"
          >
          <div style="display:flex;margin-top:0.625rem;margin-bottom:0.625rem;width: 31.25rem;">
            <div style="display:flex;flex-direction:column;text-align:left;width: 21.25rem;padding-left: 1.25rem;">
              <span style="font-size: 1.25rem;font-weight: bold;">{{ project_info.project_name }}</span>
              <div style="display:flex; margin-top:2rem;">
                <span v-if="!isSpecial" style="font-size: 1.125rem;margin-right:1.875rem">招募人数：
                  {{ recruit_numbers }}
                </span>
                <span style="font-size: 1.125rem;">扫码立即报名</span>
              </div>
              <!-- <img src="../../../assets/images/younggee_logo.png" style="margin-top:0.625rem; width:12.5rem; height:4.375rem"> -->
              <span style="margin-top:2rem">发布任务请登录www.younggee.com</span>
            </div>
            <div v-if="!isSpecial">
              <img :src="imgurl" alt="" style="width:9.375rem;height: 9.375rem;margin-right:0.625rem;">
            </div>
            <div v-if="isSpecial">
              <img :src="imgurl" alt="" style="width:9.375rem;height: 9.375rem;margin-right:0.625rem;">
            </div>
          </div>
        </div>
        <el-button class="SubmitBtn" @click="generatePicture">下载图片</el-button>
      </el-dialog>
      <!-- 项目支付单 -->
      <el-dialog :visible.sync="dialogVisible" class="projectPayList" width="75%">
        <div slot="title" class="dialog-title">
          <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
          <div class="button-right">
            <span class="title-close" @click="dialogVisible = false;" />
          </div>
        </div>
        <span v-if="project_status != '执行中'" class="title">{{ project_info.project_name }}
          项目支付单</span>
        <span v-if="project_status == '执行中'" class="title">{{ project_info.project_name }}
          项目已支付单</span>
        <div class="line">
          <div>
            项目ID：
            <span>{{ project_info.project_id }}</span>
          </div>
          <div>
            联系方式：
            <span>{{ project_info.phone }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            企业用户:
            <span>{{ project_info.enterprise_id }}</span>
          </div>
          <div>
            项目创建时间:
            <span>{{ project_info.create_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            社媒平台:
            <span>{{ project_info.project_platform }}</span>
          </div>
          <div>
            招募截止时间:
            <span>{{ project_info.recruit_ddl }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            任务形式:
            <span>{{ project_info.project_form_show }}</span>
          </div>
          <div>
            <span v-if="project_status != '执行中'" class="attention">支付截止时间: {{ project_info.auto_fail_at }}</span>
            <span v-if="project_status == '执行中'">支付完成时间：{{ project_info.pay_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            内容形式:
            <span>{{ project_info.content_type_show }}</span>
          </div>
          <div v-if="project_status != '执行中'">
            <span>企业账号可用余额：<span class="attention">{{
              available_balance
            }}</span></span>
          </div>
        </div>
        <div class="strategys-table">
          <div style="float:left;padding-bottom:10px">
            招募数据
          </div>
          <el-table :data="recruit_strategys" border :header-cell-style="{ background: '#0e4bb7', color: 'white' }">
            <el-table-column prop="strategy_id" label="策略编号" width="180" align="center" />
            <el-table-column prop="show_fee_form" label="稿费形式" width="180" align="center" />
            <el-table-column prop="fans" label="创作者粉丝量" align="center" />
            <el-table-column prop="show_offer" label="报价" align="center" />
            <el-table-column prop="show_service_charge" label="平台服务费" align="center" />
            <el-table-column prop="recruit_number" label="招募数量" align="center" />
            <el-table-column prop="selected_number" label="已选数量" align="center" />
            <el-table-column prop="show_all_payment" label="支付合计" align="center" />
          </el-table>
        </div>
        <div v-if="project_status != '执行中'" style="display:flex;flex-direction:column;text-align: right;margin-top:20px">
          <div style="align-self: flex-end; padding: 20px 0;margin-right:10px">
            <span>项目待支付合计：<span style="color: #f30b0b">{{
              showAllSum
            }}</span></span>
          </div>
          <div class="account">
            <div class="circle" />
            <div style="display:flex;flex-direction:row;">
              <img src="../../../assets/images/样叽logo.png" width="30px" height="30px">
              <span style="line-height: 30px;">样叽账户：{{ available_balance }}</span>
            </div>
          </div>
          <div v-show="needRecharge" style="align-self: flex-end;padding: 20px 0;">
            <span style="margin-right:15px;">需充值：<span style="color: #f30b0b;">{{
              showRechargeMoney
            }}</span></span>
          </div>
          <div style="text-align: right;margin-top:20px;margin-bottom:20px">
            <el-button v-show="!needRecharge" style="background:#f6232d;color: #FFF;" @click="pay">
              确认支付 {{ showAllSum }}
            </el-button>
            <el-button v-show="needRecharge" style="background:#f6232d;color: #FFF;" @click="toRecharge">
              确认充值 {{ showRechargeMoney }}
            </el-button>
          </div>
        </div>
        <div v-if="project_status == '执行中'" style="text-align: right;">
          <div style="align-self: flex-end; padding: 20px 0">
            <span>项目资金合计：<span style="color: #f30b0b">{{ showAllSum }} 元</span></span>
          </div>
        </div>
      </el-dialog>
      <!-- 确认支付弹窗 -->
      <el-dialog :visible.sync="payDialogVisible" width="40vh">
        <div slot="title" class="dialog-title" style="display: flex; flex-direction: row; align-items: center">
          <img slot="title" src="../../../assets//images/样叽logo.png" alt="YOUNGEE" class="head-img">
        </div>
        <div>
          <div style="align-self: flex-end; padding: 20px 0">
            <span>确认支付<span style="color: #f30b0b">{{ showAllSum }} 元</span></span>
          </div>
          <el-button type="primary" class="SubmitBtn" :disabled="payDisable" @click="Payconfirm()">确认支付
          </el-button>
          <el-button type="primary" class="StoreBtn" @click="Paycancel()">取消支付</el-button>
        </div>
      </el-dialog>
      <!-- 项目结案单 -->
      <el-dialog :visible.sync="dialogFinishDataVisible" width="75%">
        <div slot="title" class="dialog-title">
          <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
          <div class="button-right">
            <span class="title-close" @click="dialogFinishDataVisible = false;" />
          </div>
        </div>
        <span class="title">{{ project_info.project_name }}
          项目结案单</span>
        <div class="line">
          <div>
            <span>项目ID：{{ project_info.project_id }}</span>
          </div>
          <div>
            <span>联系方式：{{ project_info.phone }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            <span>企业用户ID：{{ project_info.enterprise_id }}</span>
          </div>
          <div>
            <span>项目创建时间：{{ project_info.create_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            <span>社媒平台：{{ project_info.project_platform }}</span>
          </div>
          <div>
            <span>项目审核通过时间：{{ project_info.pass_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            <span>任务形式：{{ project_info.project_form_show }}</span>
          </div>
          <div>
            <span>项目支付（资金冻结）时间：{{ project_info.pay_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            <span>内容形式：{{ project_info.content_type_show }}</span>
          </div>
          <div>
            <span>项目结案时间：{{ project_info.finish_at }}</span>
          </div>
        </div>
        <div class="strategys-table" style="border-bottom: none;">
          <div style="float:left;padding-bottom:10px">
            <span>项目数据统计</span>
          </div>
          <el-table
            id="finish_recruit_strategys1"
            :data="finish_recruit_strategys"
            border
            show-summary
            :summary-method="getSumAmount1"
            :header-cell-style="{ background: '#0e4bb7', color: 'white' }"
          >
            <el-table-column prop="strategy_id" label="策略编号" width="100" align="center" />
            <el-table-column prop="show_fee_form" label="稿费形式" width="150" align="center" />
            <el-table-column prop="fans" label="创作者粉丝量" align="center" />
            <el-table-column prop="show_offer" label="报价" align="center" />
            <el-table-column prop="show_service_charge" label="平台服务费" align="center" />
            <el-table-column prop="finish_number" label="结案数量" width="100" align="center" />
            <el-table-column prop="fan_number" label="粉丝量" align="center" />
            <el-table-column prop="play_number" label="阅读量/播放量" align="center" />
            <el-table-column prop="like_number" label="点赞数" align="center" />
            <el-table-column prop="collect_number" label="收藏数" align="center" />
            <el-table-column prop="comment_number" label="评论数" align="center" />
          </el-table>
        </div>
        <div class="strategys-table">
          <div style="float:left;padding-bottom:10px">
            <span>项目成本统计</span>
          </div>
          <el-table
            id="finish_recruit_strategys2"
            :data="finish_recruit_strategys"
            border
            show-summary
            :summary-method="getSumAmount2"
            :header-cell-style="{ background: '#0e4bb7', color: 'white' }"
          >
            <el-table-column prop="strategy_id" label="策略编号" width="180" align="center" />
            <el-table-column prop="show_fee_form" label="稿费形式" width="180" align="center" />
            <el-table-column prop="fans" label="创作者粉丝量" align="center" />
            <el-table-column prop="show_offer" label="报价" align="center" />
            <el-table-column prop="show_service_charge" label="平台服务费" align="center" />
            <el-table-column prop="finish_number" label="结案数量" align="center" />
            <el-table-column prop="default_number" label="违约数量" align="center" />
            <el-table-column prop="show_total_offer" label="结算合计" align="center" />
          </el-table>
        </div>
        <div style="padding: 20px 0;">
          <span style="float: right;text-align: right;width:38%;">项目结算合计：{{ show_total_offer }} 元</span>
        </div>
      </el-dialog>
      <!-- 专项-项目结案单 -->
      <el-dialog :visible.sync="dialogSpecialFinishDataVisible" width="75%">
        <div slot="title" class="dialog-title" style="display: flex; flex-direction: row; align-items: center">
          <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
          <el-divider direction="vertical" />
          <div class="button-right">
            <span class="title-close" @click="dialogSpecialFinishDataVisible = false" />
          </div>
        </div>
        <span class="title">{{ project_info.project_name }} 项目结案单</span>
        <div class="line">
          <div>
            <span>项目ID：{{ project_info.project_id }}</span>
          </div>
          <div>
            <span>联系方式：{{ project_info.phone }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            <span>企业用户ID：{{ project_info.enterprise_id }}</span>
          </div>
          <div>
            <span>项目创建时间：{{ project_info.create_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            <span>社媒平台：{{ project_info.project_platform }}</span>
          </div>
          <div>
            <span>项目结案时间：{{ project_info.finish_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            <span>内容形式：{{ project_info.content_type_show }}</span>
          </div>
        </div>
        <div class="strategys-table" style="border-top: solid 1px">
          <div style="float: left; padding-bottom: 10px">
            <span>项目数据统计</span>
          </div>
          <el-table
            :data="special_finish_recruit_strategys"
            border
            :header-cell-style="{ background: '#0e4bb7', color: 'white' }"
          >
            <el-table-column prop="finish_number" label="结案数量" align="center" />
            <el-table-column prop="fan_number" label="粉丝量" align="center" />
            <el-table-column prop="play_number" label="阅读量/播放量" align="center" />
            <el-table-column prop="like_number" label="点赞数" align="center" />
            <el-table-column prop="collect_number" label="收藏数" align="center" />
            <el-table-column prop="comment_number" label="评论数" align="center" />
          </el-table>
        </div>
      </el-dialog>
      <view-product :msg="project_info" />
      <view-recruit v-show="!isSpecial" v-model="recruit" :msg="project_info" />
      <view-excute v-model="excute" :msg="project_info" />
      <div v-show="project_info.project_status == 8" style="margin-top:20px">
        <span>失效原因：{{ reason }}</span>
      </div>
      <div
        v-show="((project_info.project_status <= 4) && !isSpecial)"
        style="margin-top:20px;margin-bottom:20px;padding: 20px 0"
      >
        <span>项目成本预估总计：<span style="color: #f6232d">{{ showEstimatedCose }}元<span
          v-show="isSelfOffer"
        >+自报价</span></span></span>
        <br>
        <el-button
          v-show="project_status == '待审核'"
          type="primary"
          class="SubmitBtn"
          style="margin-top:30px;margin-bottom:20px;"
          @click="ApprovedAndShared()"
        >
          审核通过并分享</el-button>
        <el-button
          v-show="project_status == '待审核'"
          type="primary"
          class="StoreBtn"
          @click="RefusedProject"
        >项目存在风险，禁止发布</el-button>
      </div>
      <div v-show="project_info.project_status == 6" style="display: flex; justify-content: center; align-items: center">
        <span>项目待支付总计：<span style="color: #f6232d">{{ showAllSum }}元</span></span>
        <el-button
          style="background: #f6232d;color: #fff;padding: 10px 50px;margin: 10px 20px;"
          @click="dialogVisible = true; showPayData();"
        >
          去支付
        </el-button>
      </div>
      <div v-show="isCreating">
        <!-- {{ isSpecial }} -->
        <el-button v-show="isSpecial" type="primary" class="SubmitBtn" @click="handleSubmitClick()">创建完毕并形成邀请码
        </el-button>
        <el-button v-show="!isSpecial" type="primary" class="SubmitBtn" @click="handleSubmitClick()">确认无误，提交项目审核
        </el-button>
        <el-button type="primary" class="StoreBtn" @click="handleSaveClick()">暂不提交，保存</el-button>
      </div>
      <!-- 充值对话框 -->
      <el-dialog style="padding: 0 !important" :visible.sync="rechargeDialogVisible" width="1000px">
        <div slot="title" class="dialog-title">
          <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
          <div class="button-right">
            <span class="title-close" @click="rechargeDialogVisible = false;" />
          </div>
        </div>
        <div>
          <p style="color: red;text-align: left;">1.建议采用在线支付方式充值</p>
          <p style="text-align: left;">
            2.使用专属汇款账号进行汇款，汇款至专属汇款账号，系统会自动匹配您的样叽账户，并充值到您的账户余额
          </p>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
          <span>充值方式：</span>
          <div id="box">
            <div
              v-for="(item, index) in bottonList"
              :key="index"
              style="margin-left: 10px"
              class="box_btn"
              :class="
                chooseBtn === index ? 'onlineRechargeColor' : 'publicTransferColor'
              "
              @click="handleClick(index)"
            >
              {{ item.name }}
            </div>
          </div>
        </div>
        <div :class="1 === chooseBtn ? '' : 'collection'" style="margin-top: 30px; margin-bottom: 30px;text-align: left;">
          <div>
            <span>收款户名</span>
            <span style="margin-left: 30px">{{ CountName }} </span>
            <span class="copyButton" @click="copyName()">复制</span>
          </div>
          <div style="margin-top: 8px; margin-bottom: 8px">
            <span>收款银行</span>
            <span style="margin-left: 30px">{{ CountBank }} </span>
            <span class="copyButton" @click="copyBank()">复制</span>
          </div>
          <div style="margin-top: 8px; margin-bottom: 8px">
            <span>收款账户</span>
            <span style="margin-left: 30px">{{ Count }} </span>
            <span class="copyButton" @click="copyCount()">复制</span>
          </div>
        </div>
        <div style="display: flex;flex-direction: row;margin-top: 20px;align-items: center;">
          <span>充值金额：</span>
          <img src="@/assets/images/money.png" style="width: 25px; height: 25px; margin-right: 10px">
          <el-input
            v-model.trim="recharge_amount"
            onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')"
            clearable
            style="width: 200px"
            maxlength="15"
            placeholder="请输入金额"
            @focus="uninputMoney($event)"
            @blur="inputMoney($event)"
          >
            <template slot="append">元</template>
          </el-input>
          <span :class="1 === chooseBtn ? 'collection' : ''" style="margin-left: 20px">
            <!-- 实时到账，支持微信支付、支付宝支付 -->
            实时到账，支持微信支付
          </span>
        </div>
        <div v-if="1 === chooseBtn" style="display: flex;flex-direction: row;margin-top: 20px;align-items: center;">
          转账凭证:
          <div class="upload-cover" style="margin-left: 20px">
            <el-upload
              action
              :http-request="doUploadMain"
              :on-remove="handleRemoveMain"
              :on-exceed="handleMainExceed"
              :before-upload="beforeMainUpload"
              :file-list="MainPhotoList"
              scoped-solt=""
              :limit="1"
              list-type="picture-card"
            >
              <i slot="default" class="el-icon-plus" />
              <div slot="file" slot-scope="{ file }">
                <img class="el-upload-list__item-thumbnail" :src="file.url" alt="">
                <span class="el-upload-list__item-actions">
                  <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemoveMain(file)">
                    <i class="el-icon-delete" />
                  </span>
                  <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                    <i class="el-icon-zoom-in" />
                  </span>
                </span>
              </div>
            </el-upload>
          </div>
        </div>
        <div style="text-align:left;margin-left: 0px;">
          <el-button
            slot="append"
            :class="1 === chooseBtn ? 'collection' : ''"
            class="SubmitBtn"
            style="margin-top: 20px;margin-left: 0px;width: 150px;"
            @click="nextPay"
          >下一步</el-button>
          <el-button
            slot="append"
            class="SubmitBtn"
            :class="1 === chooseBtn ? '' : 'collection'"
            style="margin-top: 20px;margin-left: 0px;width: 150px;"
            @click="confirmRecharge"
          >确认充值</el-button>
        </div>
      </el-dialog>
      <!-- 收银台对话框 -->
      <el-dialog :visible.sync="checkoutCounterDialogVisible" width="1000px">
        <div slot="title" class="dialog-title" style="display: flex; flex-direction: row; align-items: center">
          <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
          <el-divider direction="vertical" />
          <span style="color: white">收银台</span>
          <div class="button-right">
            <span class="title-close" @click="checkoutCounterDialogVisible = false" />
          </div>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
          <img src="@/assets/images/zhanghuyue.png" style="width: 25px; height: 25px; margin-right: 10px">
          <p style="color: red">订单提交成功，请尽快付款！</p>
          <span style="margin-left: 180px">订单金额：</span>
          <img src="@/assets/images/money.png" style="width: 25px; height: 25px; margin-right: 10px">
          <span style="color: red"> {{ recharge_amount }}</span>
        </div>
        <div
          style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 10px;
                  "
        >
          <el-radio v-model="radio" label="2">
            <img src="@/assets/images/wechatpay.png" style="width: 150px; height: 45px; margin-right: 10px">
          </el-radio>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button slot="append" style="margin-top: 20px" class="SubmitBtn" @click="checkoutCounter();">确定支付</el-button>
        </div>
      </el-dialog>
      <!-- 支付二维码对话框 -->
      <el-dialog :visible.sync="codeUrlDialogVisible" width="1000px">
        <div slot="title" class="dialog-title">
          <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
          <div class="button-right">
            <span class="title-close" @click="codeUrlDialogVisible = false;" />
          </div>
        </div>
        <!-- <div v-show="radio === '1'">
          <h1>支付宝支付二维码</h1>
          <el-row type="flex" justify="center">
            <qriously :value="aliPayCodeUrl" :size="300" />
          </el-row>
          <h3>请使用支付宝扫描二维码进行支付</h3>
        </div> -->
        <div>
          <h1>微信支付二维码</h1>
          <el-row type="flex" justify="center">
            <qriously :value="wechatPayCodeUrl" :size="300" />
          </el-row>
          <h3>请使用微信扫描二维码进行支付</h3>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { EventBus } from '@/event-bus'
import { fansview, money } from '@/utils'
import ViewProduct from '@/components/Project/viewProduct/index.vue'
import ViewExcute from '@/components/Project/viewExcute/index.vue'
import ViewRecruit from '@/components/Project/viewRecruit/index.vue'
import html2canvas from 'html2canvas'

import ObsClient from './esdk-obs-browserjs-without-polyfill-3.19.5.min.js'
// 创建ObsClient实例
const obs = new ObsClient({
  access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
  secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
  server: 'https://obs.cn-east-3.myhuaweicloud.com'
})

export default {
  name: 'ViewProject',
  components: {
    ViewProduct,
    ViewRecruit,
    ViewExcute
  },
  data() {
    return {
      imgurl: '',
      MainPhotoList: [],
      disabled: false,
      mainKeyArr: [],
      mainKeyArrTemp: [],
      carouselKeyArr: [],
      carouselKeyArrTemp: [],
      checkoutCounterDialogVisible: false,
      dialogImageUrl: '',
      recharge_amount: '',
      rechargeDialogVisible: false,
      codeUrlDialogVisible: false,
      chooseBtn: 0,
      bottonList: [
        {
          name: '在线充值'
        },
        {
          name: '对公转账'
        }
      ],
      radio: '',
      product_infos: [      ],
      CountName: '北京火乐星球科技有限公司',
      CountBank: '广发银行股份有限公司北京奥运村支行',
      Count: '9550880221666800136',
      trade_id: '',
      codeUrl: '',
      aliPayCodeUrl: '',
      wechatPayCodeUrl: '',
      orderStatus: '',
      rechargeMoney: 0,
      shareUrl: '',
      shareUrlDialogVisible: false,
      total_offer: 0,
      recruit: {},
      excute: {},
      active: '',
      allSum: 0,
      ispreview: false,
      needRecharge: false,
      special_finish_recruit_strategys: [
        {
          finish_number: '',
          fan_number: '',
          play_number: '',
          like_number: '',
          collect_number: '',
          comment_number: ''
        }
      ],
      finish_recruit_strategys: [],
      dialogVisible: false,
      dialogFinishDataVisible: false,
      dialogSpecialFinishDataVisible: false,
      payDialogVisible: false, // 支付确认弹窗
      payDisable: false, // 禁用支付
      project_statuses: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '创建中'
        },
        {
          value: '2',
          label: '待审核'
        },
        {
          value: '3',
          label: '审核通过'
        },
        {
          value: '4',
          label: '招募中'
        },
        {
          value: '5',
          label: '招募完毕'
        },
        {
          value: '6',
          label: '待支付'
        },
        {
          value: '7',
          label: '已支付'
        },
        {
          value: '8',
          label: '失效'
        },
        {
          value: '9',
          label: '执行中'
        },
        {
          value: '10',
          label: '已结案'
        }
      ],
      isSelfOffer: false
    }
  },
  computed: {
    show_total_offer() {
      return money(parseFloat(this.total_offer).toFixed(1))
    },
    recruit_numbers() {
      let recruitNumbers = 0
      this.$store.state.recruit_strategys.forEach((e) => {
        recruitNumbers += e.recruit_number
      })
      return recruitNumbers
    },
    product() {
      return Object.keys(this.$store.state.product).length !== 0
        ? this.$store.state.product
        : null
    },
    project_info: {
      get: function() {
        // console.log(this.$store.state.project)
        return Object.keys(this.$store.state.project).length !== 0
          ? this.$store.state.project
          : null
      },
      set: function(value) {
        this.$store.state.project = value
      }
    },
    available_balance: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0
          ? money(this.$store.state.project.available_balance)
          : null
      }
    },
    recruit_strategys: {
      get: function() {
        return Object.keys(this.$store.state.recruit_strategys).length !== 0
          ? this.$store.state.recruit_strategys
          : []
      },
      set: function(value) {
        this.$store.state.recruit_strategys = value
      }
    },
    isCreating() {
      return Object.keys(this.$store.state.project).length !== 0
        ? parseInt(this.$store.state.project.project_status) === 1
        : null
    },
    isSpecial() {
      return Object.keys(this.$store.state.project).length !== 0
        ? parseInt(this.$store.state.project.project_type) === 2
        : null
    },
    reason() {
      return Object.keys(this.$store.state.project).length !== 0
        ? parseInt(this.$store.state.project.fail_reason) === 1
          ? '逾期未支付'
          : '项目存在风险，禁止发布'
        : null
    },
    project_status() {
      return Object.keys(this.$store.state.project).length !== 0
        ? this.project_statuses[
          parseInt(this.$store.state.project.project_status)
        ].label
        : null
    },
    showRechargeMoney() {
      return money(this.rechargeMoney)
    },
    showAllSum() {
      return money(this.allSum)
    },
    showEstimatedCose() {
      return money(this.project_info.estimated_cost)
    }
  },
  watch: {
    finish_recruit_strategys: {
      immediate: true,
      async handler() {
        // await this.$nextTick(); 根据实际选择延迟调用
        await this.$nextTick()
        const tables = document.querySelectorAll('#finish_recruit_strategys1 .el-table__footer-wrapper tr>td')
        if (tables.length === 0) {
          return
        }
        tables[0].colSpan = 5
        tables[0].style.textAlign = 'center'
        tables[1].style.display = 'none'
        tables[2].style.display = 'none'
        tables[3].style.display = 'none'
        tables[4].style.display = 'none'
        const tables1 = document.querySelectorAll('#finish_recruit_strategys2 .el-table__footer-wrapper tr>td')
        if (tables1.length === 0) {
          return
        }
        tables1[0].colSpan = 5
        tables1[0].style.textAlign = 'center'
        tables1[1].style.display = 'none'
        tables1[2].style.display = 'none'
        tables1[3].style.display = 'none'
        tables1[4].style.display = 'none'
      }
    },
    // radio() { },
    codeUrl() {
      if (this.radio === '2') {
        // console.log(this.codeUrl)
        this.wechatPayCodeUrl = this.codeUrl
      }
    },
    wechatPayCodeUrl() { },
    codeUrlDialogVisible() {
      if (this.codeUrlDialogVisible) {
        this.myInterval = window.setInterval(() => {
          setTimeout(() => {
            this.queryOrderBytradeId() // 调用接口的方法
          }, 1)
        }, 5000)
      } else {
        this.$message('取消支付')
        clearInterval(this.myInterval)
      }
    },
    orderStatus() {
      if (this.orderStatus === 'SUCCESS') {
        this.$message.success('支付成功')
        const param = {
          amount: parseFloat(this.recharge_amount),
          enterprise_id: this.project_info.enterprise_id
        }
        this.postRequest('/youngee/m/pay/rechargeBalance', param).then(
          (resp) => { }
        )
        this.$router.go(0)
      }
    },
    recruit_strategys() {
      var flag = false
      for (const i in this.$store.state.recruit_strategys) {
        if (this.$store.state.recruit_strategys[i].fee_form === 3) {
          flag = true
        }
      }
      if (flag) {
        this.isSelfOffer = true
      } else {
        this.isSelfOffer = false
      }
      this.project_info.estimated_cost = this.recruit_strategys.reduce((item, e) => {
        return item + parseFloat(e.offer * e.recruit_number)
      }, 0) + this.recruit_strategys.reduce((item, e) => {
        return item + parseFloat(e.service_charge * e.recruit_number)
      }, 0)
    }
  },
  async mounted() {
    EventBus.$on('showPayData', msg => {
      this.showPayData()
    })
  },
  destroyed() {
    clearInterval(this.myInterval)
  },
  methods: {
    getSumAmount1(param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          column.colSpan = 5
          return
        } else if (index === 6 || index === 7 || index === 8 || index === 9 || index === 10) {
          let sum = 0
          for (const i in data) {
            let fan_number
            if (index === 6) {
              fan_number = data[i].fan_number
            } else if (index === 7) {
              fan_number = data[i].play_number
            } else if (index === 8) {
              fan_number = data[i].like_number
            } else if (index === 9) {
              fan_number = data[i].collect_number
            } else if (index === 10) {
              fan_number = data[i].comment_number
            }
            if (fan_number.includes('万')) {
              fan_number = parseFloat(fan_number.substring(0, fan_number.length - 1)) * 10000
            } else if (fan_number.includes('亿')) {
              fan_number = parseFloat(fan_number.substring(0, fan_number.length - 1)) * 100000000
            } else {
              fan_number = parseInt(fan_number)
            }
            sum += fan_number
          }
          sums[index] = fansview(sum)
          return
        } else if (index === 5) {
          const values = data.map(item => Number(item[column.property]))
          if (!values.every((value) => isNaN(value))) {
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ''
          }
        }
      })
      return sums
    },
    getSumAmount2(param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          column.colSpan = 5
          return
        } else if (index === 7) {
          let sum = 0
          for (const i in data) {
            sum += data[i].total_offer
          }
          sums[index] = money(sum)
          return
        } else if (index === 5 || index === 6) {
          const values = data.map(item => Number(item[column.property]))
          if (!values.every((value) => isNaN(value))) {
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ''
          }
        }
      })

      return sums
    },
    async handleSaveClick() {
      for (const i in this.recruit.recruit_strategys) {
        switch (this.recruit.recruit_strategys[i].fee_form) {
          case '自报价':
            this.recruit.recruit_strategys[i].fee_form = 3
            break
          case '固定稿费':
            this.recruit.recruit_strategys[i].fee_form = 2
            break
          case '产品置换':
            this.recruit.recruit_strategys[i].fee_form = 1
            break
        }
      }
      if (this.project_info.recruit_ddl.indexOf('T')) {
        this.project_info.recruit_ddl = this.project_info.recruit_ddl.replace('T', ' ').substring(0, 19)
      }
      if (this.project_info.recruit_ddl.length === 16) {
        this.project_info.recruit_ddl = this.project_info.recruit_ddl + ':00'
      }
      if (!this.isSpecial && new Date(this.project_info.recruit_ddl) < new Date(new Date().setHours(0, 0, 0, 0) + 24 * 60 * 60 * 1000)) {
        this.$message.warning('请输入正确的时间格式，招募截止时间不能选择当天')
        return
      }
      const params = {
        project_form: this.excute.project_form,
        talent_type: this.recruit.talent_type,
        recruit_ddl: this.project_info.recruit_ddl,
        content_type: this.excute.content_type,
        project_detail: this.excute.project_detail,
        recruit_strategys: this.recruit.recruit_strategys,
        project_photos: this.excute.project_photos,
        enterprise_id: this.enterprise_id,
        project_id: this.project_info.project_id,
        project_type: parseInt(this.project_info.project_type),
        project_status: 1
      }
      await this.postRequest('/youngee/m/project/update', params).then((resp) => { })
      // return
      this.$router.go(0)
    },
    async handleSubmitClick() {
      if (!this.isSpecial) {
        if (this.recruit.talent_type === '[]') {
          this.$message.warning('达人类型不能为空')
          return
        }
        if (this.recruit.recruit_strategys.length === 0) {
          this.$message.warning('招募策略不能为空')
          return
        }
      }
      if (this.excute.project_detail === '') {
        this.$message.warning('任务详情不能为空')
        return
      }
      if (this.project_info.recruit_ddl.indexOf('T')) {
        this.project_info.recruit_ddl = this.project_info.recruit_ddl.replace('T', ' ').substring(0, 19)
        // console.log(this.project_info.recruit_ddl)
      }
      if (this.project_info.recruit_ddl.length === 16) {
        this.project_info.recruit_ddl = this.project_info.recruit_ddl + ':00'
      }
      if (this.isSpecial) {
        // 专项
        const params = {
          project_form: this.excute.project_form,
          talent_type: this.recruit.talent_type,
          recruit_ddl: this.project_info.recruit_ddl,
          content_type: this.excute.content_type,
          project_detail: this.excute.project_detail,
          // recruit_strategys: this.recruit.recruit_strategys,
          project_photos: this.excute.project_photos,
          enterprise_id: this.enterprise_id,
          project_id: this.project_info.project_id,
          project_type: parseInt(this.project_info.project_type),
          project_status: 9
        }
        console.log(params)
        await this.postRequest('/youngee/m/project/update', params).then(
          (resp) => { }
        )
        this.$router.go(0)
        // this.$router.push({
        //   path: '/product/specialImplementationProject'
        // })
      } else {
        if (new Date(this.project_info.recruit_ddl) < new Date(new Date().setHours(0, 0, 0, 0) + 24 * 60 * 60 * 1000)) {
          this.$message.warning('请输入正确的时间格式，招募截止时间不能选择当天')
          return
        }
        // 全流程
        for (const i in this.recruit.recruit_strategys) {
          switch (this.recruit.recruit_strategys[i].fee_form) {
            case '自报价':
              this.recruit.recruit_strategys[i].fee_form = 3
              break
            case '固定稿费':
              this.recruit.recruit_strategys[i].fee_form = 2
              break
            case '产品置换':
              this.recruit.recruit_strategys[i].fee_form = 1
              break
          }
        }
        const params = {
          project_form: this.excute.project_form,
          talent_type: this.recruit.talent_type,
          recruit_ddl: this.project_info.recruit_ddl,
          content_type: this.excute.content_type,
          project_detail: this.excute.project_detail,
          recruit_strategys: this.recruit.recruit_strategys,
          project_photos: this.excute.project_photos,
          enterprise_id: this.enterprise_id,
          project_id: this.project_info.project_id,
          project_type: parseInt(this.project_info.project_type),
          project_status: 2
        }
        await this.postRequest('/youngee/m/project/update', params).then(
          (resp) => { }
        )
        this.$router.go(0)
      }
    },
    /**
    * 将页面指定节点内容转为图片
    */
    generatePicture() {
      const content = this.$refs.imageDom
      const scrollHeight = content.scrollHeight
      const scrollWidth = content.scrollWidth
      html2canvas(content, {
        scale: window.devicePixelRatio * 2,
        useCORS: true, // 开启跨域配置，但和allowTaint不能共存
        width: scrollWidth,
        height: scrollHeight,
        windowWidth: scrollWidth,
        windowHeight: scrollHeight,
        x: 0,
        y: window.pageYOffset
      }).then((canvas) => {
        // this.operType = 'edit'
        // const dataURL = canvas.toDataURL('image/jpg')
        // const link = document.createElement('a')
        // link.href = dataURL
        // const filename = `${new Date().getTime()}.jpg` // 文件名称
        // link.setAttribute('download', filename)
        // link.style.display = 'none' // a标签隐藏
        // document.body.appendChild(link)
        // link.click()//处理你生成的canvas
        const a = document.createElement('a') // cxt.toDataURL()
        a.setAttribute('href', canvas.toDataURL('image/png', 1)) // toDataUrl：将canvas画布信息转化为base64格式图片
        a.setAttribute('download', this.project_info.project_name + ' 分享图') // 这个是必须的，否则会报错
        a.setAttribute('target', '_self')
        a.click()
        a.remove()
        document.body.appendChild(a)
      })
    },
    async shareProject() {
      // 调用后端接口获取二维码
      const page = this.isSpecial ? 'pages/tasksquare/specialTask/specialTaskDetail' : 'pages/tasksquare/taskdetail'
      const params = {
        scene: this.project_info.project_id,
        page: page
      }
      await this.postRequest(
        '/youngee/m/qrcode/getwxqrcode',
        params
      ).then((resp) => {
        this.imgurl = 'data:image/png;base64,' + resp.data.qr_code_bytes
      })
      this.shareUrlDialogVisible = true
    },
    async showFinishData() {
      this.total_offer = 0
      const params = {
        project_id: this.project_info.project_id
      }
      if (this.isSpecial) {
        // 专项
        await this.postRequest(
          '/youngee/m/project/getspecialfinishdata',
          params
        ).then((resp) => {
          if (resp.data !== null) {
            this.special_finish_recruit_strategys[0].finish_number = resp.data.finish_number
            this.special_finish_recruit_strategys[0].fan_number = fansview(resp.data.fan_number)
            this.special_finish_recruit_strategys[0].play_number = fansview(resp.data.play_number)
            this.special_finish_recruit_strategys[0].like_number = fansview(resp.data.like_number)
            this.special_finish_recruit_strategys[0].comment_number = fansview(resp.data.comment_number)
            this.special_finish_recruit_strategys[0].collect_number = fansview(resp.data.collect_number)
            this.dialogSpecialFinishDataVisible = true
          } else {
            this.$message({
              type: 'error',
              message: '结案数据查询失败'
            })
          }
        })

        this.dialogSpecialFinishDataVisible = true
      } else {
        // 全流程
        await this.postRequest('/youngee/m/project/getfinishdata', params).then(
          (resp) => {
            if (resp.data !== null) {
              this.finish_recruit_strategys =
                resp.data.finish_recruit_strategys
              for (const i in this.finish_recruit_strategys) {
                this.total_offer += (
                  this.finish_recruit_strategys[i].total_offer
                )
                this.finish_recruit_strategys[i].show_total_offer = money(this.finish_recruit_strategys[i].total_offer)
                this.finish_recruit_strategys[i].show_offer = this.finish_recruit_strategys[i].offer === '0' ? '-' : money(this.finish_recruit_strategys[i].offer)
                this.finish_recruit_strategys[i].show_service_charge = this.finish_recruit_strategys[i].service_charge === '0' ? '-' : money(this.finish_recruit_strategys[i].service_charge)
                this.finish_recruit_strategys[i].fans = fansview(this.finish_recruit_strategys[i].followers_low) + '-' + fansview(this.finish_recruit_strategys[i].followers_up)
                this.finish_recruit_strategys[i].fan_number = fansview(this.finish_recruit_strategys[i].fan_number)

                this.finish_recruit_strategys[i].comment_number = fansview(this.finish_recruit_strategys[i].comment_number)
                this.finish_recruit_strategys[i].collect_number = fansview(this.finish_recruit_strategys[i].collect_number)
                this.finish_recruit_strategys[i].like_number = fansview(this.finish_recruit_strategys[i].like_number)
                this.finish_recruit_strategys[i].play_number = fansview(this.finish_recruit_strategys[i].play_number)
                switch (parseInt(this.finish_recruit_strategys[i].fee_form)) {
                  case 3:
                    this.finish_recruit_strategys[i].show_fee_form = '自报价'
                    break
                  case 2:
                    this.finish_recruit_strategys[i].show_fee_form = '固定稿费'
                    break
                  case 1:
                    this.finish_recruit_strategys[i].show_fee_form = '产品置换'
                    break
                }
              }
              this.dialogFinishDataVisible = true
            } else {
              this.$message({
                type: 'error',
                message: '结案数据查询失败'
              })
            }
          }
        )
      }
    },
    async updateProject() {
      for (const i in this.recruit.recruit_strategys) {
        switch (this.recruit.recruit_strategys[i].fee_form) {
          case '自报价':
            this.recruit.recruit_strategys[i].fee_form = 3
            break
          case '固定稿费':
            this.recruit.recruit_strategys[i].fee_form = 2
            break
          case '产品置换':
            this.recruit.recruit_strategys[i].fee_form = 1
            break
        }
      }
      const params = {
        project_form: this.excute.project_form,
        talent_type: this.recruit.talent_type,
        recruit_ddl: this.project_info.recruit_ddl,
        project_type: parseInt(this.project_info.project_type),
        content_type: this.excute.content_type,
        project_detail: this.excute.project_detail,
        recruit_strategys: this.recruit.recruit_strategys,
        project_photos: this.excute.project_photos,
        enterprise_id: this.project_info.enterprise_id,
        project_id: this.project_info.project_id,
        project_status: 2
      }
      console.log(params)
      await this.postRequest('/youngee/m/project/update', params).then((resp) => {
        if (resp.status === 0) {
          this.$message.success('项目已提交审核')
        }
      })
      this.$router.go(0)
    },
    showPayData() {
      const params = {
        project_id: this.project_info.project_id
      }
      this.postRequest('/youngee/m/pay/paysum', params).then((resp) => {
        this.allSum = 0
        for (const i in this.recruit_strategys) {
          this.$set(this.recruit_strategys[i], 'all_payment', 0)
          this.$set(this.recruit_strategys[i], 'show_all_payment', 0)
          for (const j in resp.data.pay_sum) {
            if (this.recruit_strategys[i].strategy_id === resp.data.pay_sum[j].strategy_id) {
              this.recruit_strategys[i].all_payment = resp.data.pay_sum[j].all_payment
              this.recruit_strategys[i].show_all_payment = money(parseFloat(resp.data.pay_sum[j].all_payment))
            }
          }
          this.allSum += parseFloat(this.recruit_strategys[i].all_payment)
        }
        this.mainKey = Math.random()
        this.rechargeMoney = (this.allSum - this.project_info.available_balance).toFixed(1)
        this.needRecharge = this.rechargeMoney > 0
      })
    },
    pay() {
      if (this.allSum === 0) {
        this.$message.warning('支付金额不可为0元')
        return
      }
      this.payDialogVisible = true
    },
    Paycancel() {
      this.payDialogVisible = false
    },
    async Payconfirm() {
      const params = {
        project_id: this.project_info.project_id,
        enterprise_id: this.project_info.enterprise_id,
        pay_sum: parseFloat(this.allSum)
      }
      this.payDisable = true
      await this.postRequest('/youngee/m/pay/projectpay', params).then((resp) => {
        if (resp.status === 0) {
          this.$message.success('支付成功')
          this.dialogVisible = false
        }
      })
      this.payDialogVisible = false
      this.$router.go(0)
      // this.$router.replace("/project");
    },
    toRecharge() {
      this.rechargeDialogVisible = true
    },
    nextPay() {
      if (this.recharge_amount === '' || parseFloat(this.recharge_amount) * 100 <= 0) {
        this.$message('请输入正确的充值内容')
        return
      }
      this.checkoutCounterDialogVisible = true
    },
    checkoutCounter() {
      if (this.radio === '') {
        this.$message('请选择支付方式')
        return
      }
      this.checkoutCounterDialogVisible = false
      const param = {
        amount: parseFloat(this.recharge_amount.replace(/,/g, '')) * 100,
        type: 1
      }
      this.postRequest('/youngee/m/pay/getCodeUrl', param).then((resp) => {
        // console.log(resp.data.code_url);
        this.codeUrl = resp.data.code_url
        this.wechatPayCodeUrl = this.codeUrl
        this.trade_id = resp.data.trade_id
      })
      this.codeUrlDialogVisible = true
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.imageurldialogVisible = true
    },
    handleClick(index) {
      this.chooseBtn = index
    },
    // 失去焦点金额格式化
    inputMoney(el) {
      const temp = Number(el.target.value) || null
      this.recharge_amount = this.priceFormat(temp)
    },
    // 获得焦点金额去掉格式
    uninputMoney(el) {
      if (el.target.value) {
        this.totalprice = this.delcommafy(el.target.value)
      } else {
        this.totalprice = null
      }
    },
    priceFormat(num, n) {
      n = n || 2
      let symbol = ','
      if (num === null) return num
      if (typeof num !== 'number') throw new TypeError('num参数应该是一个number类型')
      if (n < 0) throw new Error('参数n不应该小于0')
      const hasDot = parseInt(num) !== num// 这里检测num是否为小数，true表示小数
      const m = (n !== undefined && n !== null) ? n : 1
      num = m === 0 ? num.toFixed(m) + '.' : hasDot ? (n ? num.toFixed(n) : num) : num.toFixed(m)
      symbol = symbol || ','
      num = num.toString().replace(/(\d)(?=(\d{3})+\.)/g, function(match, p1, p2) {
        return p1 + symbol
      })
      if (n === 0 || (!hasDot && !n)) { // 如果n为0或者传入的num是整数并且没有指定整数的保留位数，则去掉前面操作中的小数位
        num = num.substring(0, num.indexOf('.'))
      }
      return num
    },
    // 去除千分位中的‘，’
    delcommafy(num) {
      if (!num) return num
      num = num.toString()
      num = num.replace(/,/gi, '')
      if (num.indexOf('.00') > 0) num = parseInt(num)
      return num
    },
    copyName() {
      this.$copyText(this.CountName)
        .then((res) => {
          this.$message('内容已复制到剪切板！复制的内容为：' + res.text)
        })
        .catch((err) => {
          console.log(err)
          this.$message('抱歉，复制失败！')
        })
    },
    copyBank() {
      this.$copyText(this.CountBank)
        .then((res) => {
          this.$message('内容已复制到剪切板！复制的内容为：' + res.text)
        })
        .catch((err) => {
          console.log(err)
          this.$message('抱歉，复制失败！')
        })
    },
    copyCount() {
      this.$copyText(this.Count)
        .then((res) => {
          this.$message('内容已复制到剪切板！复制的内容为：' + res.text)
        })
        .catch((err) => {
          console.log(err)
          this.$message('抱歉，复制失败！')
        })
    },
    queryOrderBytradeId() {
      const param = {
        trade_id: this.trade_id
      }
      this.postRequest('/youngee/m/pay/queryOrderByTradeId', param).then(
        (resp) => {
          this.orderStatus = resp.data
        }
      )
    },
    async confirmRecharge() {
      // console.log(this.recharge_amount)
      // console.log(parseFloat(this.recharge_amount.replace(/,/g, '')))
      if (this.MainPhotoList.length === 0) {
        this.$message('请上传转账凭证')
        return
      }
      if (this.recharge_amount === '') {
        this.$message('请输入转账金额')
        return
      }
      const param = {
        amount: parseFloat(this.recharge_amount.replace(/,/g, '')),
        enterprise_id: this.project_info.enterprise_id,
        transfer_voucher_url: this.MainPhotoList[0].url
      }
      await this.postRequest('/youngee/m/project/transferToPublic', param).then(
        (resp) => { }
      )
      this.$router.go(0)
    },
    handleMainExceed() {
      this.$message('转账凭证限1张')
    },
    // 转账凭证上传
    doUploadMain(file) {
      const str = 'backstage_upload/' + this.guid() + '.png'
      const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const mainPic = {
              url: address + str + '',
              uid: file.file.uid,
              symbol: 1
            }
            this.MainPhotoList.push(mainPic)
            // console.log(this.MainPhotoList)
            // 为删除远程服务器的图片所使用的临时数组
            this.mainKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('转账凭证的图片上传成功！')
          } else {
            this.$message.error('转账凭证的图片上传失败！')
          }
        })
    },
    handleRemoveMain(file) {
      for (const i in this.MainPhotoList) {
        if (this.MainPhotoList[i].url === file.url) {
          this.MainPhotoList.splice(i, 1)
        }
      }
      this.mainKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.mainKeyArrTemp.push(item)
          this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
        }
      })
      this.deleteMainObsObject()
    },
    deleteMainObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.mainKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.mainKeyArrTemp = []
            this.$message.success('转账凭证的图片删除成功！')
          }
        })
    },
    // 生成随机字符串
    guid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
        /[xy]/g,
        function(c) {
          const r = (Math.random() * 16) | 0
          const v = c === 'x' ? r : (r & 0x3) | 0x8
          return v.toString(16)
        }
      )
    },
    beforeMainUpload(file) {
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        this.$message.error('上传转账凭证的图片大小不能超过 2MB!')
      }
      if (!isJPG) {
        this.$message.error('上传转账凭证的图片只能是 JPG 或者 PNG 格式!')
      }
      return isJPG && isLt2M
    },
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => { })
    },
    async ApprovedAndShared() {
      if (this.excute.project_detail === '') {
        this.$message.warning('任务详情不能为空')
        return
      }
      if (this.project_info.recruit_ddl.indexOf('T')) {
        this.project_info.recruit_ddl = this.project_info.recruit_ddl.replace('T', ' ').substring(0, 19)
        // console.log(this.project_info.recruit_ddl)
      }
      // 全流程
      for (const i in this.recruit.recruit_strategys) {
        switch (this.recruit.recruit_strategys[i].fee_form) {
          case '自报价':
            this.recruit.recruit_strategys[i].fee_form = 3
            break
          case '固定稿费':
            this.recruit.recruit_strategys[i].fee_form = 2
            break
          case '产品置换':
            this.recruit.recruit_strategys[i].fee_form = 1
            break
        }
      }
      const params = {
        project_form: this.excute.project_form,
        talent_type: this.recruit.talent_type,
        recruit_ddl: this.project_info.recruit_ddl,
        content_type: this.excute.content_type,
        project_detail: this.excute.project_detail,
        recruit_strategys: this.recruit.recruit_strategys,
        project_photos: this.excute.project_photos,
        enterprise_id: this.enterprise_id,
        project_id: this.project_info.project_id,
        project_type: parseInt(this.project_info.project_type),
        project_status: 2
      }
      await this.postRequest('/youngee/m/project/update', params).then(
        (resp) => { }
      )
      const params1 = {
        project_id: this.project_info.project_id,
        is_approve: 1
      }
      await this.postRequest('/youngee/m/project/approve', params1).then((resp) => {
        // console.log(resp)
        if (resp.status === '1') {
          this.$message.error('项目已审核')
        }
      })
      this.$router.go(0)
    },
    RefusedProject() {
      const params = {
        project_id: this.project_info.project_id,
        is_approve: 2
      }
      this.postRequest('/youngee/m/project/approve', params).then((resp) => {

      })
      this.$router.go(0)
    }
  }
}
</script>

<style scoped lang = "scss">
#box {
  display: flex;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 1px solid #f9f9f9;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.viewproject {
  text-align: center;
  // display: flex;
  flex-direction: row;
  // align-items: center;
  /* padding: 20px 48px; */
  background: #ebe9e94d;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;
  border: 1px solid #e6e6e6;

  .BackCenter {
    cursor: pointer;
  }

  .back {
    text-align: left;
    display: flex;
    margin-bottom: 1700px;
  }
}

.strategys-table {
  flex-direction: row;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
  text-align: center;
  border: 2px solid #82bdf8;
  border-right: none;
  border-left: none;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}

.payAccount {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.PaySum {
  padding: 10px 0 10px 0;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #9dbcf2;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
  margin-left: auto;
  width: max-content;
}

.collection {
  display: none;
}

.onlineRechargeColor {
  background-color: #0e4bb7;
  color: white;
  margin-top: 10px;
}

.publicTransferColor {
  background-color: #6394ea;
  color: white;
  margin-top: 10px;
}

.circle {
  background: #6394ea;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.position {
  font-size: 20px;
}

.attention {
  color: red;
}

.external {
  display: flex;
  justify-content: center;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}

.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: 2px solid #0e4bb7;
  padding-bottom: 5px;
  color: #557bf4;
  font-size: 18px;
}

.SubmitBtn {
  border: none;
  justify-content: center;
  background-color: #0e4bb7;
  color: white;
  margin: 10px;
  // padding: 8px 15px;
}

.StoreBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.state {
  float: left;
}

.line {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  font-size: 15px;
}

.content {
  background-color: white;
  align-items: center;
  padding: 20px 48px;
}

.copyButton {
  border: none;
  margin-left: 15px;
  color: #409eff;
  cursor: pointer;
}
</style>

<style>
.el-tabs__item:hover {
  outline: 0 !important;
  color: #449cf5 !important;
}

.el-tabs__item.is-active {
  outline: 0 !important;
  color: #449cf5 !important;
}

.basetmp {
  border-bottom: 2px solid #449cf5 !important;
}

.strategy {
  border: 2px dashed #449cf5 !important;
}

.shareDialog .el-dialog {
  margin-top: 10vh !important;
  width: 400px;
}

.projectPayList .el-dialog {
  margin-top: 10vh !important;
}

.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
  color: white;
}

.shareDialog .el-dialog .el-dialog__body {
  padding: 0 !important;
  text-align: center;
}

.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-textarea .el-input__count {
  color: #909399;
  background: #FFF;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 10px;
}
</style>
