<template>
  <div v-if="Object.keys($store.state.project).length !== 0" class="basetmp">
    <div class="Recruit">
      <div class="content">
        <div v-show="isCreating || isReviewing" class="input-box-line">
          任务形式*：
          <el-select
            v-model="project_form"
            class="input-box"
            :readonly="!isCreating && !isReviewing"
            placeholder="不限"
            :popper-append-to-body="false"
            @change="executeChange"
          >
            <el-option v-for="item in project_forms" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
        <div v-show="!isCreating && !isReviewing" class="input-box-line">
          任务形式*：{{ project_form_show }}
        </div>
        <div v-show="isCreating || isReviewing" class="input-box-line">
          内容形式*：
          <el-select v-model="content_type" class="input-box" placeholder="不限" :popper-append-to-body="false" @change="executeChange">
            <el-option v-for="item in content_types" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
        <div v-show="!isCreating && !isReviewing" class="input-box-line">
          内容形式*：{{ content_type_show }}
        </div>
        <div class="input-box-line">
          任务详情*：
          <span v-show="!isCreating &&!isReviewing" style="max-width:70rem;white-space:pre-wrap;text-align: justify;">{{ project_detail }}</span>
          <el-input
            v-show="isCreating || isReviewing"
            v-model="project_detail"
            class="input-big-box"
            :show-word-limit="true"
            :readonly="!isCreating && !isReviewing"
            type="textarea"
            :autosize="{ minRows: 7, maxRows: 10 }"
            @blur="executeChange"
          />
        </div>
        <div v-show="isCreating || isReviewing" style="text-align: center;">
          <el-popover ref="popoverName" placement="top" width="800" trigger="click">
            <div style="display:flex; flex-direction:column;justify-content:center;align-items: center;">
              <span style="white-space: pre-wrap; font-size: 15px; margin-top: 10px; margin-bottom: 10px;">{{
                detailltemplate
              }}</span>

              <el-button
                type="primary"
                class="funcBtnstore"
                style="background-color:  #0e4bb7;  color: white;justify-content: center;  border: none;"
                @click="changeProjectDetail"
              >导入模板</el-button>
            </div>
            <el-button slot="reference" type="primary" class="funcBtnstore">展开模板</el-button>
          </el-popover>
          <span style="margin-left:20px">插入模板后记得修改哦</span>
        </div>
        <div v-show="!isCreating && !isReviewing" class="input-box-line" style="margin-top:10px">
          <span> 任务示意图：</span>
          <div>
            <div class="upload-cover">
              <div v-for="item in project_photos" :key="item.index">
                <div class="photo-list-item">
                  <img :src="item.photo_url" alt="" height="100px" width="100px" preview="1">
                </div>
              </div>
            </div>
            <div v-show="isCreating || isReviewing" slot="tip" class="el-upload__tip">任务示意图限9张</div>
          </div>
        </div>

        <div v-show="isCreating || isReviewing" class="input-box-line" style="margin-top:20px">
          <span> 任务示意图：<br><span class="notNecessary">(非必填项)</span></span>
          <div class="upload-cover">
            <el-upload
              ref="pictureUploadMain"
              action
              :multiple="true"
              :http-request="doUploadMain"
              :on-remove="handleRemoveMain"
              :before-upload="beforeAvatarUpload"
              :file-list="project_photos"
              scoped-solt=""
              :limit="9"
              :on-change="executeChange"
              list-type="picture-card"
            >
              <i slot="default" class="el-icon-plus" />
              <div slot="tip" class="el-upload__tip">任务示意图限9张</div>
              <div slot="file" slot-scope="{ file }">
                <img class="el-upload-list__item-thumbnail" :src="file.photo_url" alt="">
                <span class="el-upload-list__item-actions">
                  <span class="el-upload-list__item-delete" @click="handleRemoveMain(file)">
                    <i class="el-icon-delete" />
                  </span>
                  <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                    <i class="el-icon-zoom-in" />
                  </span>
                </span>
              </div>
            </el-upload>
          </div>
        </div>
        <el-dialog style="padding: 0 !important;" :append-to-body="true" :visible.sync="dialogVisible" width="30%">
          <div slot="title" class="dialog-title">
            <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
            <div class="button-right">
              <span class="title-close" @click="dialogVisible = false;" />
            </div>
          </div>
          <div style="display: flex; justify-content: center">
            <img :src="dialogImageUrl" alt="" style="max-width: 500px; max-height: 500px">
          </div>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import ObsClient from '../esdk-obs-browserjs-without-polyfill-3.19.5.min.js'
// 创建ObsClient实例
const obs = new ObsClient({
  access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
  secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
  server: 'https://obs.cn-east-3.myhuaweicloud.com'
})
export default {
  name: 'BrandBasicsInfo',
  props: ['msg'],
  data() {
    return {
      execute: {},
      mainKeyArr: [],
      mainKeyArrTemp: [],
      dialogImageUrl: '',
      dialogVisible: false,
      detailltemplate: '1.产品要点：\n①产品亮点：此处添加产品的卖点、材质、颜值、受众人群、功效等，简明扼要，清晰描述；\n②使用方法：此处添加产品的使用场景、使用方法的特殊说明，简明扼要，清晰描述；\n2.关键词要点：\n①内容关键词：此处添加文案中必须出现的重点词，如产品名、品牌系列、活动名称、店铺地址、亮点词汇等，可添加多条；\n②话题关键词：此处添加需要在文案中出现的话题热词，用于引流及搜索，可添加多条，用#XXX表示；\n3.内容要求：此处添加对文案字数、视频时长、图片张数、封面、标题、内容场景说明、文案风格等要求，分条说明，简单扼要；\n4.拍摄要求：此处添加对图片、视频的拍摄指导，如图片&视频效果、拍摄环境、质感风格、必须出现的特写（细节、包装、使用、场景、真人出镜、多人同框使用）等说明；\n5.其他要求：此处添加任务的补充要求，如原创要求、违禁词等导致初稿或者脚本审核不过的原因，如对版权使用有特殊说明可在此添加；',
      content_types: [
        {
          value: '1',
          label: '图文'
        },
        {
          value: '2',
          label: '视频'
        }
      ],
      project_forms: [
        {
          value: '1',
          label: '实体商品寄拍'
        },
        {
          value: '2',
          label: '虚拟产品测评'
        },
        {
          value: '3',
          label: '线下探店打卡'
        }
      ]
    }
  },
  computed: {
    isCreating() {
      return Object.keys(this.$store.state.project).length !== 0 ? parseInt(this.$store.state.project.project_status) === 1 : null
    },
    isReviewing() {
      return Object.keys(this.$store.state.project).length !== 0 ? parseInt(this.$store.state.project.project_status) === 2 : false
    },
    project_info: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project : {}
      },
      set: function(value) {
        this.$store.state.project = value
      }
    },
    project_form_show: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.project_form_show : null
      },
      set: function(value) {
        this.$store.state.project.project_form_show = value
      }
    },
    project_form: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.project_form : null
      },
      set: function(value) {
        this.$store.state.project.project_form = value
      }
    },
    content_type_show: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.content_type_show : null
      },
      set: function(value) {
        this.$store.state.project.content_type_show = value
      }
    },
    content_type: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.content_type : null
      },
      set: function(value) {
        this.$store.state.project.content_type = value
      }
    },
    project_detail: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.project_detail : null
      },
      set: function(value) {
        this.$store.state.project.project_detail = value
      }
    },
    project_photos: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.project_photos : []
      },
      set: function(value) {
        this.$store.state.project.project_photos = value
      }
    }
  },
  watch: {
    project_form() {
      const params = {
        product_id: parseInt(this.project_info.product_id)
      }
      this.postRequest('/youngee/m/product/find', params).then((resp) => {
        if (this.project_form === '3' && resp.data.product_type !== 14) {
          this.$message.warning('基础信息中商品类型非线下店铺不能选择此任务形式')
          this.project_form = ''
        }
      })
      this.$store.state.project.project_form = this.project_form
      this.project_info.project_form = this.project_form
    }
  },
  mounted() {
    this.executeChange()
    if (this.$store.state.project.project_photos === null) {
      this.$store.state.project.project_photos = []
    }
  },
  methods: {
    executeChange() {
      this.execute = {
        project_form: this.project_form,
        content_type: this.content_type,
        project_photos: this.project_photos,
        project_detail: this.project_detail
      }
      this.$emit('input', this.execute)
    },
    // 主图上传
    doUploadMain(file) {
      const str = 'backstage_upload/' + this.guid() + '.png'
      const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const mainPic = {
              url: address + str + '',
              uid: file.file.uid + '',
              photo_url: address + str + '',
              photo_uid: file.file.uid + ''
            }
            this.project_photos.push(mainPic)
            // 为删除远程服务器的图片所使用的临时数组
            this.mainKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('上传成功！')
          } else {
            this.$message.error('上传失败！')
          }
        })
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.photo_url
      this.dialogVisible = true
    },
    handleRemoveMain(file) {
      for (const i in this.project_photos) {
        if (this.project_photos[i].photo_url === file.photo_url) {
          this.project_photos.splice(i, 1)
        }
      }
      this.mainKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.mainKeyArrTemp.push(item)
          this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
        }
      })
      this.deleteMainObsObject()
    },
    deleteMainObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.mainKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.mainKeyArrTemp = []
            this.$message.success('图片删除成功！')
          }
        })
    },
    // 导入模板
    changeProjectDetail() {
      this.project_detail = this.detailltemplate
      this.executeChange()
      this.$refs['popoverName'].doClose()
    },
    beforeAvatarUpload(file) {
      console.log(file.type)
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg' ||
        file.type === 'application/pdf' ||
        file.type === 'application/msword' ||
        file.type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
      const isLt2M = file.size / 1024 / 1024 < 5
      if (!isLt2M) {
        this.$message.error('上传文件大小不能超过 5MB!')
      }
      // if (!isJPG) {
      //   this.$message.error('上传图片只能是 JPG 或者 PNG 格式!')
      // }
      return isJPG && isLt2M
    },
    // 生成随机字符串
    guid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
        /[xy]/g,
        function(c) {
          const r = (Math.random() * 16) | 0
          const v = c === 'x' ? r : (r & 0x3) | 0x8
          return v.toString(16)
        }
      )
    }
  }
}
</script>

<style scoped lang = "scss">
.basetmp {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  // justify-content: center;
  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  border: 2px solid #e4e7ed;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 20px 0px;

  .flowinfobase {
    height: 50px;
    padding-left: 61px;
    margin: 20px 0px 30px;
  }

  .flow-cur {
    font-size: 30px;
    color: #f7d43c;
    border-bottom: 3px solid #f7d43c;
    padding-bottom: 5px;
  }

  .flow-left {
    font-size: 30px;
    color: #f7d43c;
  }

  .flow-right {
    font-size: 30px;
    color: black;
  }

  .upload-cover {
    display: flex;
  }

  .photo-list-item {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .short-input-box {
    width: 100px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-big-box {
    width: 800px;
    flex: 0, 1, atuo;
    float: left;
    padding: 0 48px 0 0;
  }

  .input-box-line {
    line-height: 40px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .funcBtnnewcommodity {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 0px 20px 20px;
  }
  .notNecessary {
    font-size: 12px;
  }
  .strategy {
    width: 1000px;
    height: 200px;
    padding: 20px 48px;
    border: dashed;
  }
}

.next-btn {
  margin-top: 5px;
}

.funcBtnstore {
  border: none;
  background-color: #0e4bb7;
  color: white;
  width: 150px;
  /* margin: 20px 500px 20px; */
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
</style>

<style>
.content .el-upload-list--picture-card .el-upload-list__item {
  width: 100px !important;
  height: 100px !important;
}

.content .el-upload--picture-card {
  width: 100px !important;
  height: 100px !important;
  line-height: 100px !important;
}

.el-textarea .el-input__count {
  color: #909399;
  background: #FFF;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 10px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
  color: white;
}

.el-dialog__body {
  padding: 5px 15px;
  text-align: center;
}
</style>
