<template>
  <div class="dashboard-container">
    <div class="dashboard-text">创作者管理</div>
    <div id="box">
      <div
        v-for="(item, i) in bottonList"
        :key="i"
        class="box_btn"
        :class="chooseBtn == i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>
    <div v-show="index === 0"> 
    <div class="projectStat-div">
      <div class="input-box-line">
        注册时间：
        <el-date-picker
          v-model="registerTime"
          align="right"
          type="date"
          style="width:140px"
          value-format="yyyy-MM-dd"
          placeholder="选择日期"
          :picker-options="pickerOptions"
        />
      </div>
      <div class="input-box-line">
        <el-input v-model="searchInput" placeholder="创作者ID、创作者名称等" style="width: 400px;" clearable>
          <el-button
            slot="append"
            style="background-color: #1890ff;color:white"
            @click="searchCreatorUser"
          >搜索</el-button>
        </el-input>
      </div>
    </div>
    <el-table :data="creatorTable" :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}" border class="projectTable">
      <el-table-column prop="id" label="创作者ID" align="center" />
      <el-table-column prop="talent_wx_nickname" label="创作者名称" align="center" />
      <el-table-column prop="is_bind_account" label="是否绑定账号" align="center" />
      <el-table-column prop="canwithdraw" label="可提现金额" align="center" />
      <el-table-column prop="talent_phone_number" label="联系方式" align="center" />
      <el-table-column prop="create_date" label="注册时间" align="center" />
      <el-table-column prop="operate" label="操作" align="center">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="checkUserInfo(scope.row)">查看</el-button>
          <el-button type="text" size="small" @click="modifyDialogVisible(scope.row)">拉黑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-top:20px">
      <el-pagination
        :current-page="currentPage"
        :page-sizes="pageSizes"
        :page-size="PageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalCount"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
  
    
  </div>


  <div v-show="index === 1"> 
    <div class="projectStat-div">
      <div class="input-box-line">
        拉黑时间：
        <el-date-picker
          v-model="registerTime"
          align="right"
          type="date"
          style="width:140px"
          value-format="yyyy-MM-dd"
          placeholder="选择日期"
          :picker-options="pickerOptions"
        />
      </div>
      <div class="input-box-line">
        <el-input v-model="searchInput" placeholder="创作者ID、创作者名称等" style="width: 400px;" clearable>
          <el-button
            slot="append"
            style="background-color: #1890ff;color:white"
            @click="searchCreatorUser"
          >搜索</el-button>
        </el-input>
      </div>
    </div>
    <el-table :data="creatorTable" :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}" border class="projectTable">
      <el-table-column prop="id" label="创作者ID" align="center" />
      <el-table-column prop="talent_wx_nickname" label="创作者名称" align="center" />
      <el-table-column prop="is_bind_account" label="是否绑定账号" align="center" />
      <el-table-column prop="canwithdraw" label="可提现金额" align="center" />
      <el-table-column prop="talent_phone_number" label="联系方式" align="center" />
      <el-table-column prop="create_date" label="拉黑时间" align="center" />
      <el-table-column prop="operate" label="操作" align="center">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="checkUserInfo(scope.row)">查看</el-button>
          <el-button type="text" size="small" @click="checkUserInfo(scope.row)">还原</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-top:20px">
      <el-pagination
        :current-page="currentPage"
        :page-sizes="pageSizes"
        :page-size="PageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalCount"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
  
    
  </div>

  <!-- <el-dialog :visible.sync="modifyDialogVisible" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="modifyDialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>企业用户ID：</span>
          <el-input v-model="confirmUserID" :disabled="true" style="margin-left:15px;width:250px" />
        </div>
        <div class="inline">
          <span>企业名称：</span>
          <el-input v-model="confirmBusinessName" :disabled="true" style="margin-left:30px;width:250px" />
        </div>
        <div class="inline">
          <span>充值金额：</span>
          <el-input v-model="confirmAmount" style="margin-left:30px;width:250px" placeholder="请输入正确的充值金额" />
        </div>
      </div>
      <div>
        <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="modifyRecharge">修改</el-button>
        <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="cancelModify">取消</el-button>
      </div>
      <br>
    </el-dialog> -->
</div>


</template>

<script>
import { money } from '../../../utils/index'

export default {
  name: 'Dashboard',
  data() {
    return {
      registerTime: '',
      modifyDialogVisible: false,
      index: 0,
      pickerOptions: {},
      searchInput: '',
      creatorTable: [],
      bottonList: [
        {
          name: '用户列表'
        },
        {
          name: '黑名单'
        }
      ],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10
    }
  },
  computed: {
  },
  watch: {
    searchInput() {
      this.searchCreatorUser()
    },
    registerTime() {
      this.searchCreatorUser()
    }
  },
  mounted() {
    this.searchCreatorUser()
  },
  methods: {
    checkUserInfo(row) {
      this.$router.push({
        path: '/creatorDetail',
        query: {
          talent_info_id: row.id,
          talent_info_name: row.talent_wx_nickname,
          talent_info_phone: row.talent_phone_number,
          is_bind_account: row.is_bind_account
        }
      })
    },
    searchCreatorUser() {
      let id, talent_wx_nickname
      var reg = /^[\d|\.]*$/
      // if (this.searchInput.substring(0, 1) === '2' && reg.test(this.searchInput)) {
      if (reg.test(this.searchInput)) {
        id = this.searchInput
      } else {
        talent_wx_nickname = this.searchInput
      }
      const params = {
        page_size: 10,
        page_num: 1,
        create_date: this.registerTime,
        id: id,
        talent_wx_nickname: talent_wx_nickname
      }
      this.postRequest('youngee/m/user/creatorList', params).then((resp) => {
        if (resp.data.total !== '0') {
          let creatorList = null
          let totalCount = null
          resp.data.creator_list_preview.forEach(e => {
            e.canwithdraw = money(e.canwithdraw)
          })
          creatorList = resp.data.creator_list_preview
          this.$data.creatorTable = creatorList
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.creatorTable = []
        }
      })
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      let id, talent_wx_nickname
      var reg = /^[\d|\.]*$/
      if (this.searchInput.substring(0, 1) === '2' && reg.test(this.searchInput)) {
        id = this.searchInput
      } else {
        talent_wx_nickname = this.searchInput
      }
      const params = {
        page_size: n1,
        page_num: n2,
        create_date: this.registerTime,
        id: id,
        talent_wx_nickname: talent_wx_nickname
      }
      this.postRequest('youngee/m/user/creatorList', params).then((resp) => {
        if (resp.data.total !== 0) {
          let creatorList = null
          let totalCount = null
          resp.data.creator_list_preview.forEach(e => {
            e.canwithdraw = money(e.canwithdraw)
          })
          creatorList = resp.data.creator_list_preview
          this.$data.creatorTable = creatorList
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.creatorTable = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (value === 0) {
        this.commit_at = ''
        this.confirm_at = ''
        this.searchInput = ''
      } else {
        this.commit_at = ''
        this.confirm_at = ''
        this.searchInput = ''
      }
      this.searchRecharge()
    },

  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.projectStat-div {
  display: flex;
  justify-content: center;
}

.input-box-line {
  line-height: 40px;
  margin: 20px;
}

#box {
    display: flex;
    margin-top: 15px;
}


#box .box_btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: 2px solid #f9f9f9;
    background-color: white;
    text-align: center;
    display: flex;
    //设置左右居中
    justify-content: center;
    //设置上下居中
    align-items: center;
    line-height: 40px;
    cursor: pointer;
}

.borderColor {
    border: 2px solid #248bf4 !important;
    color: #248bf4;
}

</style>
