<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">账号仓库</div> -->
    <div class="inline-display" style="text-align:center">
      <div>
        <div class="input-box-line">
          社媒平台：
          <el-select v-model="platform_id" clearable style="width: 120px" placeholder="不限">
            <el-option v-for="item in project_platforms" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
      </div>
      <div class="input-box-line">
        绑定时间：
        <el-date-picker
          v-model="bind_date"
          align="right"
          type="date"
          clearable
          style="width:140px"
          value-format="yyyy-MM-dd"
          placeholder="选择日期"
          :picker-options="pickerOptions"
        />
      </div>
      <div class="input-box-line">
        粉丝量：
        <el-input-number v-show="fans_low_cnt == 1" v-model="fansLow" :min="0" :precision="1" :controls="false" type="number" style="width: 90px" placeholder="请输入" @input.native="onInput1" />
        <el-input v-show="fans_low_cnt == 2" v-model="fansLow" clearable style="width:90px" placeholder="请输入" @input.native="onInput" />
        <el-select v-model="fansLow_cnt" clearable style="width: 90px" placeholder="请选择">
          <el-option v-for="item in fansRange" :key="item.value" :label="item.label" :value="item.value" />
        </el-select>
        --
        <el-input-number v-show="fans_high_cnt == 1" v-model="fansHigh" :min="0" :precision="1" :controls="false" type="number" style="width: 90px" placeholder="请输入" @input.native="onInput1" />
        <el-input v-show="fans_high_cnt == 2" v-model="fansHigh" clearable style="width:90px" placeholder="请输入" @input.native="onInput" />
        <el-select v-model="fansHigh_cnt" clearable style="width: 90px" placeholder="请选择">
          <el-option v-for="item in fansRange" :key="item.value" :label="item.label" :value="item.value" />
        </el-select>
      </div>
    </div>
    <div class="input-box-line" style="text-align:center">
      <el-input v-model="searchInput" placeholder="创作者ID、账号昵称等" style="width: 400px;" clearable>
        <el-button
          slot="append"
          style="background-color: #1890ff;color:white"
          @click="getAccountInfo"
        >搜索</el-button>
      </el-input>
    </div>
    <el-button class="exportButton" @click="exportAccount">导出所选项</el-button>
    <el-table
      :data="accountInfo"
      :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
      border
      class="body-table"
      @selection-change="selectingChange"
    >
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column prop="talent_id" label="创作者ID" align="center" />
      <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
      <el-table-column prop="platform" label="社媒平台" align="center" />
      <el-table-column prop="fans" label="粉丝量" align="center" />
      <el-table-column prop="home_page_capture_url" label="主页截图" align="center">
        <template slot-scope="scope">
          <img :src="scope.row.home_page_capture_url" alt="" width="80px" height="100px" preview="1">
        </template>
      </el-table-column>
      <el-table-column prop="phone" label="联系方式" align="center" />
      <el-table-column prop="operate" label="主页链接" show-overflow-tooltip align="center">
        <template slot-scope="scope">
          <el-button type="text" size="medium" @click="handShowLinkClick(scope.row)">
            {{ scope.row.home_page_url }}</el-button>
        </template>
      </el-table-column>
      <!-- 这里是新增的两个list -->
      <el-table-column prop="platform" label="标签及类型" align="center" />
      <el-table-column prop="trend" label="价格走势" align="center" />
      <!-- <el-table-column prop="home_page_url" label="主页链接" align="center" @click="handShowLinkClick(scope.row)" /> -->
      <el-table-column prop="bind_date" label="绑定时间" align="center" />
      <el-table-column prop="operate" label="操作" align="center">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="modInfo(scope.row)">修改</el-button>
          <el-button type="text" size="small" @click="deleted(scope.row)">解绑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-top:20px">
      <el-pagination
        :current-page="currentPage"
        :page-sizes="pageSizes"
        :page-size="PageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalCount"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      bind_date: '',
      pickerOptions: {},
      trend:请点击查看,
      platform_id: '',
      project_platforms: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '红book'
        },
        {
          value: '2',
          label: '抖音'
        },
        {
          value: '3',
          label: '微博'
        },
        {
          value: '4',
          label: '快手'
        },
        {
          value: '5',
          label: 'b站'
        },
        {
          value: '6',
          label: '大众点评'
        },
        {
          value: '7',
          label: '知乎'
        }
      ],
      fansLow: '',
      fansLow_cnt: '',
      fans_low_cnt: 0,
      fansRange: [
        {
          value: 1,
          label: '个'
        },
        {
          value: 10000,
          label: '万'
        },
        {
          value: 100000000,
          label: '亿'
        }
      ],
      fansHigh: '',
      fansHigh_cnt: '',
      fans_high_cnt: 0,
      searchInput: '',
      accountInfo: [],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,
      // 控制切换按钮后按钮改变样式
      selectingChanged: [],
      selectList: []
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  watch: {
    'fansHigh_cnt'() {
      if (this.fansHigh_cnt === 1) {
        this.fans_high_cnt = 2
        this.fansHigh = undefined
      } else if (this.fansHigh_cnt !== 1 && this.fansHigh_cnt !== '') {
        this.fans_high_cnt = 1
        this.fansHigh = undefined
      } else {
        this.fans_high_cnt = 0
        this.fansHigh = undefined
      }
    },
    'fansLow_cnt'() {
      if (this.fansLow_cnt === 1) {
        this.fans_low_cnt = 2
        this.fansLow = undefined
      } else if (this.fansLow_cnt !== 1 && this.fansLow_cnt !== '') {
        this.fans_low_cnt = 1
        this.fansLow = undefined
      } else {
        this.fans_low_cnt = 0
        this.fansLow = undefined
      }
    },
    'fansHigh': {
      handler: function() {
        this.getAccountInfo()
      },
      deep: true
    },
    'fansLow': {
      handler: function() {
        this.getAccountInfo()
      },
      deep: true
    },
    platform_id() {
      this.getAccountInfo()
    },
    searchInput() {
      this.getAccountInfo()
    },
    bind_date() {
      this.getAccountInfo()
    }
  },
  mounted() {
    this.getAccountInfo()
  },
  methods: {
    handShowLinkClick(row) {
      window.open(row.home_page_url.substring(row.home_page_url.lastIndexOf('http'), row.home_page_url.length), '_blank')
    },
    modInfo(row) {
      this.$router.push({
        path: '/creatorDetail',
        query: {
          talent_info_id: row.talent_id,
          talent_info_name: row.platform_nickname,
          talent_info_phone: row.phone,
          is_bind_account: '是'
        }
      })
    },
    deleted(row) {
      console.log(row)
      this.$confirm('是否确定解绑该创作者?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          const params = {
            talent_id: row.talent_id,
            platform_id: this.getPlatformId(row.platform),
            platform_nickname: row.platform_nickname
          }
          this.postRequest('youngee/m/user/deleteAccount', params).then((resp) => {
            this.$router.go(0)
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消退出'
          })
        })
    },
    getAccountInfo() {
      if ((this.fansHigh_cnt === 10000 && this.fansHigh * this.fansHigh_cnt >= 100000000) || (this.fansLow_cnt === 10000 && this.fansLow * this.fansLow_cnt >= 100000000)) {
        this.$message({
          message: '数值大小超出范围，请输入相应范围的数值或选择更大的单位',
          type: 'warning'
        })
        return
      }
      if (this.fansLow * this.fansLow_cnt >= this.fansHigh * this.fansHigh_cnt && this.fansLow !== '' && this.fansHigh !== '' && this.fansHigh !== 0) {
        this.$message({
          message: '创作者粉丝最大值需比最小值大',
          type: 'warning'
        })
        return
      }
      let talent_id, platform_nickname
      var reg = /^[\d|\.]*$/
      if (this.searchInput.substring(0, 1) === '2' && reg.test(this.searchInput)) {
        talent_id = this.searchInput
      } else {
        platform_nickname = this.searchInput
      }
      const fansLow = parseInt(this.fansLow * this.fansLow_cnt)
      const fansHigh = parseInt(this.fansHigh * this.fansHigh_cnt)
      const params = {
        page_size: 10,
        page_num: 1,
        bind_date: this.bind_date,
        talent_id: talent_id,
        platform_id: this.platform_id,
        platform_nickname: platform_nickname,
        fans_low: fansLow,
        fans_high: fansHigh
      }
      this.postRequest('youngee/m/user/accountInfo', params).then((resp) => {
        if (resp.data.total !== 0) {
          let accountInfoList = null
          let totalCount = null
          accountInfoList = resp.data.account_info_data
          this.$data.accountInfo = accountInfoList
          this.$previewRefresh()
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.accountInfo = []
        }
      })
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      let talent_id, platform_nickname
      var reg = /^[\d|\.]*$/
      if (this.searchInput.substring(0, 1) === '2' && reg.test(this.searchInput)) {
        talent_id = this.searchInput
      } else {
        platform_nickname = this.searchInput
      }
      const params = {
        page_size: n1,
        page_num: n2,
        bind_date: this.bind_date,
        talent_id: talent_id,
        platform_id: this.platform_id,
        platform_nickname: platform_nickname,
        fans_low: this.fansLow,
        fans_high: this.fansHigh
      }
      this.postRequest('youngee/m/user/accountInfo', params).then((resp) => {
        if (resp.data.total !== 0) {
          let accountInfoList = null
          let totalCount = null
          accountInfoList = resp.data.account_info_data
          this.$data.accountInfo = accountInfoList
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.accountInfo = []
        }
      })
    },
    onInput1(e) {
      // 过滤非数字
      // e.target.value = parseFloat(e.target.value.replace(/\D/g, ''))
      if (e.target.value < 0 || e.target.value > 9999.9) {
        this.$message.warning('请输入[1,9999.9]区间内的数')
        e.target.value = null
      }
      // e.target.value = (e.target.value > 0 && e.target.value <= 9999.9 && e.target.value.match(/^\d*/g)[0]) || null
    },
    onInput(e) {
      // 验证是否是纯数字
      const isNumber = /^\d*$/.test(e.target.value)
      // 过滤非数字
      e.target.value = e.target.value.replace(/\D/g, '')
      if (!isNumber || e.target.value < 0 || e.target.value > 9999) {
        this.$message.warning('请输入[0,9999]区间的整数')
      }
      e.target.value = (e.target.value >= 0 && e.target.value <= 9999 && e.target.value.match(/^\d*/g)[0]) || null
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    },
    getPlatformId(platform) {
      if (platform === '红book') {
        return '1'
      } else if (platform === '抖音') {
        return '2'
      } else if (platform === '微博') {
        return '3'
      } else if (platform === '快手') {
        return '4'
      } else if (platform === 'b站') {
        return '5'
      } else if (platform === '大众点评') {
        return '6'
      } else if (platform === '知乎') {
        return '7'
      }
    },
    selectingChange(row) {
      this.selectList = row
    },
    exportAccount() {
      this.excelData = this.selectList
      this.export2Excel()
    },
    // 数据写入excel
    export2Excel() {
      if (this.selectList.length === 0) {
        this.$message({
          message: '请至少选择一条需要导出的数据',
          type: 'warning'
        })
        return
      }
      var that = this
      this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        require.ensure([], () => {
          // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
          const { export_json_to_excel } = require('@/excel/export2Excel')
          // 导出的excel的表头字段可自定义
          const tHeader = ['社媒平台', '账号昵称', '粉丝数', '主页链接']
          // 对象属性，对应于tHeader，即prop的值，可自定义导出字段
          const filterVal = ['platform', 'platform_nickname', 'fans', 'home_page_url']
          // json数组对象，接口返回的数据
          const list = that.excelData
          const data = that.formatJson(filterVal, list)
          // 导出的表格名称，可自定义
          export_json_to_excel(tHeader, data, '样叽账号仓库-资源展示表')
        })
      }).catch(() => { })
    },
    // 格式转换
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]))
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.input-box-line {
  line-height: 40px;
  margin: 10px;
}

.inline-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.exportButton{
  background:#0e4bb7;
  color:white;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
}
</style>
