<template>
  <div class="recruitManageTrue">
    <el-card class="recruitManageTrueCard" shadow="never" style=" ">
      <div>
        <div class="flow_info_base" style="display:inline-block;">
          <span class="flow_right">招募策略</span>
        </div>
        <span v-if="project_status === '招募中'" style="float:right;display:inline-block">
          招募截止时间：
          <span>{{ project_info.recruit_ddl }}</span>
        </span>
        <span v-if="project_status === '待支付'" style="float:right;display:inline-block">
          支付截止时间：
          <span>{{ auto_fail_at }}</span>
        </span>
      </div>
      <el-table
        :data="recruit_strategys"
        border
        class="strategys-table-manage"
        :header-cell-style="{ background: '#6394ea', color: 'white' }"
      >
        <el-table-column prop="strategy_id" label="策略编号" width="180" align="center" />
        <el-table-column prop="show_fee_form" label="稿费形式" width="180" align="center" />
        <el-table-column prop="fans" label="创作者粉丝量" align="center" />
        <el-table-column prop="show_offer" label="报价" align="center" />
        <el-table-column prop="show_service_charge" label="平台服务费" align="center" />
        <el-table-column prop="recruit_number" label="招募数量" align="center" />
        <el-table-column prop="selected_number" label="已选数量" align="center" />
        <el-table-column v-if="project_status === '待支付'" prop="show_all_payment" label="支付合计" align="center" />
      </el-table>
      <div v-show="project_status == '待支付'" style="align-items: center">
        <el-button style="background:#f6232d;color: #FFF;margin-top:20px;" @click="dialogVisible = true; showPayData()">
          总计 {{ showAllSum }} 元，去支付
        </el-button>
      </div>
    </el-card>
    <div v-show="project_status === '招募中'" id="box">
      <div
        v-for="(item, index1) in bottonList1"
        :key="index1"
        class="box_btn"
        :class="chooseBtn1 === index1 ? 'borderColor' : ''"
        @click="handleClick(index1)"
      >
        {{ item.name }}
      </div>
    </div>
    <div v-show="project_status === '待支付'" id="box">
      <div
        v-for="(item, index2) in bottonList2"
        :key="index2"
        class="box_btn"
        :class="chooseBtn2 === index2 + 1 ? 'borderColor' : ''"
        @click="handleClick(index2 + 1)"
      >
        {{ item.name }}
      </div>
    </div>
    <div style="display: flex;margin-left:20%">
      <div class="input-box-line">
        策略编号：
        <el-select v-model="strategy_id" class="input-box" placeholder="不限">
          <el-option
            v-for="item in strategy_ids"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            @click.native="getTaskList(index)"
          />
        </el-select>
      </div>
      <div class="input-box-line" style="margin-left: 50px">
        <el-input v-model="searchInput" placeholder="账号昵称、任务ID">
          <el-button slot="append" class="search-button" @click="getTaskList(index)">搜索</el-button>
        </el-input>
      </div>
    </div>
    <!-- 招募中-待选 -->
    <div v-show="index === 0">
      <div style="margin-bottom:5px;float:right">
        <el-button v-resetClick="1000" class="search-button" @click="allSelecting">合作</el-button>
        <el-button v-resetClick="1000" class="search-button" @click="allRefuse">拒绝</el-button>
      </div>
      <el-table
        ref="selectingTable"
        :data="selectingTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" width="180" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" width="180" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="home_page_capture_url" label="主页截图" align="center">
          <template slot-scope="scope">
            <img :src="scope.row.home_page_capture_url" alt="" width="80px" height="100px" preview="1">
          </template>
        </el-table-column>
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="all_payment" label="价格" align="center" />
        <el-table-column prop="operate" label="主页链接" align="center" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handShowLinkClick(scope.row)">
              {{ scope.row.home_page_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="create_date" label="报名时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button v-resetClick="1000" type="text" size="medium" @click="cooperateTask(scope.row)">合作</el-button>
            <el-button v-resetClick="1000" type="text" size="medium" @click="refuseTask(scope.row)">拒绝</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 招募中-已选 -->
    <div v-show="index === 1">
      <div style="margin-bottom:5px;float:right">
        <el-button class="search-button" @click="exportTable">导出表格</el-button>
        <el-button v-resetClick="1000" class="search-button" @click="allDelete">删除</el-button>
      </div>
      <el-table
        ref="selectedTable"
        :data="selectedTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" width="180" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" width="180" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="home_page_capture_url" label="主页截图" align="center">
          <template slot-scope="scope">
            <img :src="scope.row.home_page_capture_url" alt="" width="80px" height="100px" preview="1">
          </template>
        </el-table-column>
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="all_payment" label="价格" align="center" />
        <el-table-column prop="operate" label="主页链接" align="center" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handShowLinkClick(scope.row)">
              {{ scope.row.home_page_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="create_date" label="报名时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button v-resetClick="1000" type="text" size="medium" @click="deleteTask(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 招募中-落选 -->
    <div v-show="index === 2">
      <div style="margin-bottom:5px;float:right">
        <el-button v-resetClick="1000" class="search-button" @click="allEnable">启用</el-button>
      </div>
      <el-table
        ref="lostTable"
        :data="lostTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="lostChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" width="180" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" width="180" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="home_page_capture_url" label="主页截图" align="center">
          <template slot-scope="scope">
            <img :src="scope.row.home_page_capture_url" alt="" width="80px" height="100px" preview="1">
          </template>
        </el-table-column>
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="all_payment" label="价格" align="center" />
        <el-table-column prop="operate" label="主页链接" show-overflow-tooltip align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handShowLinkClick(scope.row)">
              {{ scope.row.home_page_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="create_date" label="报名时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button v-resetClick="1000" type="text" size="medium" @click="enableTask(scope.row)">启用</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div style="height: 100px;" />
    <!-- 项目支付单 -->
    <el-dialog :visible.sync="dialogVisible" width="75%">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="dialogVisible = false;" />
        </div>
      </div>
      <span v-if="project_status != '执行中'" class="title">{{ project_info.project_name }}
        项目支付单</span>
      <span v-if="project_status == '执行中'" class="title">{{ project_info.project_name }}
        项目已支付单</span>
      <div class="line">
        <div>
          项目ID：
          <span>{{ project_info.project_id }}</span>
        </div>
        <div>
          联系方式：
          <span>{{ project_info.phone }}</span>
        </div>
      </div>
      <div class="line">
        <div class="">
          企业用户:
          <span>{{ project_info.enterprise_id }}</span>
        </div>
        <div>
          项目创建时间:
          <span>{{ project_info.create_at }}</span>
        </div>
      </div>
      <div class="line">
        <div class="">
          社媒平台:
          <span>{{ project_info.project_platform }}</span>
        </div>
        <div>
          招募截止时间:
          <span>{{ project_info.recruit_ddl }}</span>
        </div>
      </div>
      <div class="line">
        <div class="">
          任务形式:
          <span>{{ project_info.project_form_show }}</span>
        </div>
        <div>
          <span v-if="project_status != '执行中'" class="attention">支付截止时间: {{ project_info.auto_fail_at }}</span>
          <span v-if="project_status == '执行中'">支付完成时间：{{ project_info.pay_at }}</span>
        </div>
      </div>
      <div class="line">
        <div class="">
          内容形式:
          <span>{{ project_info.content_type_show }}</span>
        </div>
        <div v-if="project_status != '执行中'">
          <span>企业账号可用余额：<span class="attention">{{
            available_balance
          }}</span></span>
        </div>
      </div>
      <div class="strategys-table">
        <div style="float:left;padding-bottom:10px">
          招募数据
        </div>
        <el-table :data="recruit_strategys" border :header-cell-style="{ background: '#0e4bb7', color: 'white' }">
          <el-table-column prop="strategy_id" label="策略编号" width="180" align="center" />
          <el-table-column prop="show_fee_form" label="稿费形式" width="180" align="center" />
          <el-table-column prop="fans" label="创作者粉丝量" align="center" />
          <el-table-column prop="show_offer" label="报价" align="center" />
          <el-table-column prop="show_service_charge" label="平台服务费" align="center" />
          <el-table-column prop="recruit_number" label="招募数量" align="center" />
          <el-table-column prop="selected_number" label="已选数量" align="center" />
          <el-table-column prop="show_all_payment" label="支付合计" align="center" />
        </el-table>
      </div>
      <div v-if="project_status != '执行中'" style="display:flex;flex-direction:column;text-align: right;margin-top:20px">
        <div style="align-self: flex-end; padding: 20px 0;margin-right:10px">
          <span>项目待支付合计：<span style="color: #f30b0b">{{
            showAllSum
          }}</span></span>
        </div>
        <div class="account">
          <div class="circle" />
          <div style="display:flex;flex-direction:row;">
            <img src="../../../assets/images/样叽logo.png" width="30px" height="30px">
            <span style="line-height: 30px;">样叽账户：{{ available_balance }}</span>
          </div>
        </div>
        <div v-show="needRecharge" style="align-self: flex-end;padding: 20px 0;">
          <span style="margin-right:15px;">需充值：<span style="color: #f30b0b;">{{
            showRechargeMoney
          }}</span></span>
        </div>
        <div style="text-align: right;margin-top:20px;margin-bottom:20px">
          <el-button v-show="!needRecharge" style="background:#f6232d;color: #FFF;" @click="pay">
            确认支付 {{ showAllSum }}
          </el-button>
          <el-button v-show="needRecharge" style="background:#f6232d;color: #FFF;" @click="toRecharge">
            确认充值 {{ showRechargeMoney }}
          </el-button>
        </div>
      </div>
      <div v-if="project_status == '执行中'" style="text-align: right;">
        <div style="align-self: flex-end; padding: 20px 0">
          <span>项目资金合计：<span style="color: #f30b0b">{{ showAllSum }} 元</span></span>
        </div>
      </div>
    </el-dialog>
    <!-- 确认支付弹窗 -->
    <el-dialog :visible.sync="payDialogVisible" width="40vh">
      <div slot="title" class="dialog-title" style="display: flex; flex-direction: row; align-items: center">
        <img slot="title" src="../../../assets//images/样叽logo.png" alt="YOUNGEE" class="head-img">
      </div>
      <div>
        <div style="align-self: flex-end; padding: 20px 0">
          <span>确认支付<span style="color: #f30b0b">{{ showAllSum }} 元</span></span>
        </div>
        <el-button type="primary" class="SubmitBtn" :disabled="payDisable" @click="Payconfirm()">确认支付
        </el-button>
        <el-button type="primary" class="StoreBtn" @click="Paycancel()">取消支付</el-button>
      </div>
    </el-dialog>
    <!-- 充值对话框 -->
    <el-dialog style="padding: 0 !important" :visible.sync="rechargeDialogVisible" width="1000px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="rechargeDialogVisible = false;" />
        </div>
      </div>
      <div>
        <p style="color: red;text-align: left;">1.建议采用在线支付方式充值</p>
        <p style="text-align: left;">
          2.使用专属汇款账号进行汇款，汇款至专属汇款账号，系统会自动匹配您的样叽账户，并充值到您的账户余额
        </p>
      </div>
      <div style="display: flex; flex-direction: row; align-items: center">
        <span>充值方式：</span>
        <div id="boxRecharge">
          <div
            v-for="(item, i) in bottonList"
            :key="i"
            style="margin-left: 10px"
            class="box_btn_recharge"
            :class="
              chooseBtn === i ? 'onlineRechargeColor' : 'publicTransferColor'
            "
            @click="handleClickRecharge(i)"
          >
            {{ item.name }}
          </div>
        </div>
      </div>
      <div :class="1 === chooseBtn ? '' : 'collection'" style="margin-top: 30px; margin-bottom: 30px;text-align: left;">
        <div>
          <span>收款户名</span>
          <span style="margin-left: 30px">{{ CountName }} </span>
          <span class="copyButton" @click="copyName()">复制</span>
        </div>
        <div style="margin-top: 8px; margin-bottom: 8px">
          <span>收款银行</span>
          <span style="margin-left: 30px">{{ CountBank }} </span>
          <span class="copyButton" @click="copyBank()">复制</span>
        </div>
        <div style="margin-top: 8px; margin-bottom: 8px">
          <span>收款账户</span>
          <span style="margin-left: 30px">{{ Count }} </span>
          <span class="copyButton" @click="copyCount()">复制</span>
        </div>
      </div>
      <div style="display: flex;flex-direction: row;margin-top: 20px;align-items: center;">
        <span>充值金额：</span>
        <img src="@/assets/images/money.png" style="width: 25px; height: 25px; margin-right: 10px">
        <el-input
          v-model.trim="recharge_amount"
          clearable
          style="width: 200px"
          maxlength="15"
          placeholder="请输入金额"
          @focus="uninputMoney($event)"
          @blur="inputMoney($event)"
        >
          <template slot="append">元</template>
        </el-input>
        <span :class="1 === chooseBtn ? 'collection' : ''" style="margin-left: 20px">
          <!-- 实时到账，支持微信支付、支付宝支付 -->
          实时到账，支持微信支付
        </span>
      </div>
      <div v-if="1 === chooseBtn" style="display: flex;flex-direction: row;margin-top: 20px;align-items: center;">
        转账凭证:
        <div class="upload-cover" style="margin-left: 20px">
          <el-upload
            action
            :http-request="doUploadMain"
            :on-remove="handleRemoveMain"
            :on-exceed="handleMainExceed"
            :before-upload="beforeMainUpload"
            :file-list="MainPhotoList"
            scoped-solt=""
            :limit="1"
            list-type="picture-card"
          >
            <i slot="default" class="el-icon-plus" />
            <div slot="file" slot-scope="{ file }">
              <img class="el-upload-list__item-thumbnail" :src="file.url" alt="">
              <span class="el-upload-list__item-actions">
                <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemoveMain(file)">
                  <i class="el-icon-delete" />
                </span>
                <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                  <i class="el-icon-zoom-in" />
                </span>
              </span>
            </div>
          </el-upload>
        </div>
      </div>
      <div style="text-align:left;margin-left: 0px;">
        <el-button
          slot="append"
          :class="1 === chooseBtn ? 'collection' : ''"
          class="SubmitBtn"
          style="margin-top: 20px;margin-left: 0px;width: 150px;"
          @click="nextPay"
        >下一步</el-button>
        <el-button
          slot="append"
          class="SubmitBtn"
          :class="1 === chooseBtn ? '' : 'collection'"
          style="margin-top: 20px;margin-left: 0px;width: 150px;"
          @click="confirmRecharge"
        >确认充值</el-button>
      </div>
    </el-dialog>
    <!-- 收银台对话框 -->
    <el-dialog :visible.sync="checkoutCounterDialogVisible" width="1000px">
      <div slot="title" class="dialog-title" style="display: flex; flex-direction: row; align-items: center">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <el-divider direction="vertical" />
        <span style="color: white">收银台</span>
        <div class="button-right">
          <span class="title-close" @click="checkoutCounterDialogVisible = false" />
        </div>
      </div>
      <div style="display: flex; flex-direction: row; align-items: center">
        <img src="@/assets/images/zhanghuyue.png" style="width: 25px; height: 25px; margin-right: 10px">
        <p style="color: red">订单提交成功，请尽快付款！</p>
        <span style="margin-left: 180px">订单金额：</span>
        <img src="@/assets/images/money.png" style="width: 25px; height: 25px; margin-right: 10px">
        <span style="color: red"> {{ recharge_amount }}</span>
      </div>
      <div
        style="
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
      "
      >
        <el-radio v-model="radio" label="2">
          <img src="@/assets/images/wechatpay.png" style="width: 150px; height: 45px; margin-right: 10px">
        </el-radio>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button
          slot="append"
          style="margin-top: 20px"
          class="SubmitBtn"
          @click="
            checkoutCounterDialogVisible = false;
            checkoutCounter();
          "
        >确定支付</el-button>
      </div>
    </el-dialog>
    <!-- 支付二维码对话框 -->
    <el-dialog :visible.sync="codeUrlDialogVisible" width="1000px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="codeUrlDialogVisible = false;" />
        </div>
      </div>
      <!-- <div v-show="radio === '1'">
        <h1>支付宝支付二维码</h1>
        <el-row type="flex" justify="center">
          <qriously :value="aliPayCodeUrl" :size="300" />
        </el-row>
        <h3>请使用支付宝扫描二维码进行支付</h3>
      </div> -->
      <div>
        <h1>微信支付二维码</h1>
        <el-row type="flex" justify="center">
          <qriously :value="wechatPayCodeUrl" :size="300" />
        </el-row>
        <h3>请使用微信扫描二维码进行支付</h3>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import ObsClient from './esdk-obs-browserjs-without-polyfill-3.19.5.min.js'
// 创建ObsClient实例
const obs = new ObsClient({
  access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
  secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
  server: 'https://obs.cn-east-3.myhuaweicloud.com'
})
import { money, fansview } from '@/utils/index'
export default {
  name: 'RecruitManageTrue',
  data() {
    return {
      MainPhotoList: [],
      disabled: false,
      mainKeyArr: [],
      mainKeyArrTemp: [],
      carouselKeyArr: [],
      carouselKeyArrTemp: [],
      checkoutCounterDialogVisible: false,
      dialogImageUrl: '',
      recharge_amount: '',
      rechargeDialogVisible: false,
      codeUrlDialogVisible: false,
      chooseBtn: 0,
      bottonList: [
        {
          name: '在线充值'
        },
        {
          name: '对公转账'
        }
      ],
      radio: '1',
      product_infos: [],
      CountName: '北京火乐星球科技有限公司',
      CountBank: '广发银行股份有限公司北京奥运村支行',
      Count: '9550880221666800136',
      trade_id: '',
      codeUrl: '',
      aliPayCodeUrl: '',
      wechatPayCodeUrl: '',
      orderStatus: '',
      needRecharge: false,
      rechargeMoney: 0,
      mainKey: 1,
      project_info: this.$store.state.project,
      chooseBtn1: 0,
      chooseBtn2: 1,
      searchInput: '',
      allSum: 0,
      // 控制点击按钮后子组件显示，再次点击隐
      isShow1: true,
      index: 0,
      strategy_id: '',
      enterprise_id: this.$store.state.enterprise_id,
      dialogVisible: false,
      create_at: this.$store.state.create_at,
      update_at: this.$store.state.update_at,
      phone: this.$store.state.phone,
      strategy_ids: [],
      recruit_strategys: this.$store.state.recruit_strategys,
      payDialogVisible: false, // 支付确认弹窗
      payDisable: false, // 禁用支付
      bottonList1: [
        {
          name: '待选'
        },
        {
          name: '已选'
        },
        {
          name: '落选'
        }
      ],
      bottonList2: [
        {
          name: '已选'
        },
        {
          name: '落选'
        }
      ],
      project_statuses: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '创建中'
        },
        {
          value: '2',
          label: '待审核'
        },
        {
          value: '3',
          label: '审核通过'
        },
        {
          value: '4',
          label: '招募中'
        },
        {
          value: '5',
          label: '招募完毕'
        },
        {
          value: '6',
          label: '待支付'
        },
        {
          value: '7',
          label: '已支付'
        },
        {
          value: '8',
          label: '失效'
        },
        {
          value: '9',
          label: '执行中'
        },
        {
          value: '10',
          label: '已结案'
        }
      ],
      // 控制切换按钮后按钮改变样式
      selectingChanged: [],
      selectedChanged: [],
      lostChanged: [],
      selectingTable: [],
      selectedTable: [],
      lostTable: []
    }
  },
  computed: {
    project_status() {
      return Object.keys(this.$store.state.project).length !== 0 ? this.project_statuses[parseInt(this.$store.state.project.project_status)].label : null
    },
    recruit_ddl() {
      return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.recruit_ddl.replace('T', ' ').substring(0, 19) : null
    },
    auto_fail_at() {
      return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.auto_fail_at.replace('T', ' ').substring(0, 19) : null
    },
    available_balance: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0
          ? money(this.$store.state.project.available_balance)
          : null
      }
    },
    showRechargeMoney() {
      return money(this.rechargeMoney)
    },
    showAllSum() {
      return money(this.allSum)
    }
  },
  watch: {
    recruit_strategys() {
      // console.log(this.recruit_strategys)
    },
    radio() { },
    codeUrl() {
      if (this.radio === '2') {
        // console.log(this.codeUrl)
        this.wechatPayCodeUrl = this.codeUrl
      }
    },
    wechatPayCodeUrl() { },
    codeUrlDialogVisible() {
      if (this.codeUrlDialogVisible) {
        this.myInterval = window.setInterval(() => {
          setTimeout(() => {
            this.queryOrderBytradeId() // 调用接口的方法
          }, 1)
        }, 5000)
      } else {
        this.$message('取消支付')
        clearInterval(this.myInterval)
      }
    },
    orderStatus() {
      if (this.orderStatus === 'SUCCESS') {
        this.$message.success('支付成功')
        const param = {
          amount: parseFloat(this.recharge_amount),
          enterprise_id: this.project_info.enterprise_id
        }
        this.postRequest('/youngee/m/pay/rechargeBalance', param).then(
          (resp) => { }
        )
        this.$router.go(0)
      }
    }
  },
  mounted() {
    const strategy_id = {
      value: 0,
      label: '不限'
    }
    this.strategy_ids = []
    this.strategy_ids.push(strategy_id)
    for (const i in this.$store.state.recruit_strategys) {
      const strategy_id = {
        value: this.$store.state.recruit_strategys[i].strategy_id,
        label: this.$store.state.recruit_strategys[i].strategy_id
      }
      this.strategy_ids.push(strategy_id)
    }

    this.allSum = 0
    for (const i in this.recruit_strategys) {
      this.allSum += parseFloat(this.recruit_strategys[i].all_payment).toFixed(1)
    }
    this.rechargeMoney = (this.allSum - this.project_info.available_balance).toFixed(1)
    this.needRecharge = this.rechargeMoney > 0
    this.index = this.project_status === '待支付' ? 1 : 0
    this.getTaskList(this.index)
    this.showPayData()
  },
  destroyed() {
    clearInterval(this.myInterval)
  },
  methods: {

    toRecharge() {
      // console.log('充值中')
      this.rechargeDialogVisible = true
    },
    nextPay() {
      // console.log('支付的下一步')
      if (this.recharge_amount === '' || parseFloat(this.recharge_amount) * 100 <= 0) {
        this.$message('请输入正确的充值内容')
        return
      }
      this.checkoutCounterDialogVisible = true
    },
    checkoutCounter() {
      const param = {
        amount: parseFloat(this.recharge_amount.replace(/,/g, '')) * 100,
        type: 1
      }
      this.postRequest('/youngee/m/pay/getCodeUrl', param).then((resp) => {
        // console.log(resp.data.code_url);
        this.codeUrl = resp.data.code_url
        this.wechatPayCodeUrl = this.codeUrl
        this.trade_id = resp.data.trade_id
      })
      this.codeUrlDialogVisible = true
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.imageurldialogVisible = true
    },
    handleClickRecharge(index) {
      this.chooseBtn = index
    },
    // 失去焦点金额格式化
    inputMoney(el) {
      const temp = Number(el.target.value) || null
      this.recharge_amount = this.priceFormat(temp)
    },
    // 获得焦点金额去掉格式
    uninputMoney(el) {
      if (el.target.value) {
        this.totalprice = this.delcommafy(el.target.value)
      } else {
        this.totalprice = null
      }
    },
    priceFormat(num, n) {
      n = n || 2
      let symbol = ','
      if (num === null) return num
      if (typeof num !== 'number') throw new TypeError('num参数应该是一个number类型')
      if (n < 0) throw new Error('参数n不应该小于0')
      const hasDot = parseInt(num) !== num// 这里检测num是否为小数，true表示小数
      const m = (n !== undefined && n !== null) ? n : 1
      num = m === 0 ? num.toFixed(m) + '.' : hasDot ? (n ? num.toFixed(n) : num) : num.toFixed(m)
      symbol = symbol || ','
      num = num.toString().replace(/(\d)(?=(\d{3})+\.)/g, function(match, p1, p2) {
        return p1 + symbol
      })
      if (n === 0 || (!hasDot && !n)) { // 如果n为0或者传入的num是整数并且没有指定整数的保留位数，则去掉前面操作中的小数位
        num = num.substring(0, num.indexOf('.'))
      }
      return num
    },
    // 去除千分位中的‘，’
    delcommafy(num) {
      if (!num) return num
      num = num.toString()
      num = num.replace(/,/gi, '')
      if (num.indexOf('.00') > 0) num = parseInt(num)
      return num
    },
    copyName() {
      this.$copyText(this.CountName)
        .then((res) => {
          this.$message('内容已复制到剪切板！复制的内容为：' + res.text)
        })
        .catch((err) => {
          console.log(err)
          this.$message('抱歉，复制失败！')
        })
    },
    copyBank() {
      this.$copyText(this.CountBank)
        .then((res) => {
          this.$message('内容已复制到剪切板！复制的内容为：' + res.text)
        })
        .catch((err) => {
          console.log(err)
          this.$message('抱歉，复制失败！')
        })
    },
    copyCount() {
      this.$copyText(this.Count)
        .then((res) => {
          this.$message('内容已复制到剪切板！复制的内容为：' + res.text)
        })
        .catch((err) => {
          console.log(err)
          this.$message('抱歉，复制失败！')
        })
    },
    queryOrderBytradeId() {
      const param = {
        trade_id: this.trade_id
      }
      this.postRequest('/youngee/m/pay/queryOrderByTradeId', param).then(
        (resp) => {
          this.orderStatus = resp.data
        }
      )
    },
    async confirmRecharge() {
      // console.log(this.recharge_amount)
      // console.log(parseFloat(this.recharge_amount.replace(/,/g, '')))
      if (this.MainPhotoList.length === 0) {
        this.$message('请上传转账凭证')
        return
      }
      if (this.recharge_amount === '') {
        this.$message('请输入转账金额')
        return
      }
      const param = {
        amount: parseFloat(this.recharge_amount.replace(/,/g, '')),
        enterprise_id: this.project_info.enterprise_id,
        transfer_voucher_url: this.MainPhotoList[0].url
      }
      await this.postRequest('/youngee/m/project/transferToPublic', param).then(
        (resp) => { }
      )
      this.$router.go(0)
    },
    handleMainExceed() {
      this.$message('转账凭证限1张')
    },
    // 转账凭证上传
    doUploadMain(file) {
      const str = 'backstage_upload/' + this.guid() + '.png'
      const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
      obs
        .putObject({
          Bucket: 'horastar',
          Key: str,
          SourceFile: file.file
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            const mainPic = {
              url: address + str + '',
              uid: file.file.uid,
              symbol: 1
            }
            this.MainPhotoList.push(mainPic)
            // console.log(this.MainPhotoList)
            // 为删除远程服务器的图片所使用的临时数组
            this.mainKeyArr.push({
              Key: str,
              uid: file.file.uid
            })
            this.$message.success('转账凭证的图片上传成功！')
          } else {
            this.$message.error('转账凭证的图片上传失败！')
          }
        })
    },
    handleRemoveMain(file) {
      for (const i in this.MainPhotoList) {
        if (this.MainPhotoList[i].url === file.url) {
          this.MainPhotoList.splice(i, 1)
        }
      }
      this.mainKeyArr.forEach((item) => {
        if (item.uid === file.uid) {
          this.mainKeyArrTemp.push(item)
          this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
        }
      })
      this.deleteMainObsObject()
    },
    deleteMainObsObject() {
      obs
        .deleteObjects({
          Bucket: 'horastar',
          Quiet: false,
          Objects: this.mainKeyArrTemp
        })
        .then((result) => {
          if (result.CommonMsg.Status < 300) {
            this.mainKeyArrTemp = []
            this.$message.success('转账凭证的图片删除成功！')
          }
        })
    },
    // 生成随机字符串
    guid() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
        /[xy]/g,
        function(c) {
          const r = (Math.random() * 16) | 0
          const v = c === 'x' ? r : (r & 0x3) | 0x8
          return v.toString(16)
        }
      )
    },
    beforeMainUpload(file) {
      const isJPG =
        file.type === 'image/png' ||
        file.type === 'image/jpg' ||
        file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        this.$message.error('上传转账凭证的图片大小不能超过 2MB!')
      }
      if (!isJPG) {
        this.$message.error('上传转账凭证的图片只能是 JPG 或者 PNG 格式!')
      }
      return isJPG && isLt2M
    },
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => { })
    },
    handShowLinkClick(row) {
      console.log(row.home_page_url.lastIndexOf('http'));
      console.log(row.home_page_url.substring(row.home_page_url.lastIndexOf('http'),row.home_page_url.length));
      window.open(row.home_page_url.substring(row.home_page_url.lastIndexOf('http'),row.home_page_url.length), '_blank')
    },
    handleClick(value) {
      this.chooseBtn1 = value
      this.chooseBtn2 = value
      this.index === value ? this.isShow1 = true : this.isShow1 = true
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getTaskList(this.index)
    },
    getTaskList(index) {
      const task_status = index + 1
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: String(this.project_info.project_id),
        task_status: String(task_status),
        strategy_id: String(this.strategy_id),
        platform_nickname: this.searchInput
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/taskList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('待选任务中暂无数据')
          }
          let projectTasklist = null
          let totalCount = null
          projectTasklist = resp.data.project_task_pre_view
          this.$data.selectingTable = projectTasklist
          this.$data.selectingTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
            e.all_payment = money(e.all_payment)
          })
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        })
      } else if (index === 1) {
        this.postRequest('/youngee/m/project/taskList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('已选任务中暂无数据')
          }
          let projectTasklist = null
          let totalCount = null
          projectTasklist = resp.data.project_task_pre_view
          this.$data.selectedTable = projectTasklist
          this.$data.selectedTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
            e.all_payment = money(e.all_payment)
          })
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        })
      } else {
        this.postRequest('/youngee/m/project/taskList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('落选数据中暂无数据')
          }
          let projectTasklist = null
          let totalCount = null
          projectTasklist = resp.data.project_task_pre_view
          this.$data.lostTable = projectTasklist
          this.$data.lostTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
            e.all_payment = money(e.all_payment)
          })
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        })
      }
    },
    pay() {
      if (this.allSum === 0) {
        this.$message.warning('支付金额不可为0元')
        return
      }
      this.payDialogVisible = true
    },
    Paycancel() {
      this.payDialogVisible = false
    },
    async Payconfirm() {
      const params = {
        project_id: this.project_info.project_id,
        enterprise_id: this.project_info.enterprise_id,
        pay_sum: parseFloat(this.allSum)
      }
      this.payDisable = true
      await this.postRequest('/youngee/m/pay/projectpay', params).then((resp) => {
        if (resp.status === 0) {
          this.$message.success('支付成功')
          this.dialogVisible = false
        }
      })
      this.payDialogVisible = false
      this.$router.go(0)
      // this.$router.replace("/project");
    },
    toggleSelectingSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.selectingTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.selectingTable.clearSelection()
      }
    },
    toggleSelectedSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.selectedTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.selectedTable.clearSelection()
      }
    },
    toggleLostSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.lostTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.lostTable.clearSelection()
      }
    },
    async allSelecting() {
      const val = this.selectingChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      const taskIds = []
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i]
        taskIds.push(taskId)
      }
      await this.changeStatus(taskIds, 2, 0)
    },
    async allRefuse() {
      const val = this.selectingChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      const taskIds = []
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i]
        taskIds.push(taskId)
      }
      await this.changeStatus(taskIds, 3, 0)
    },
    async cooperateTask(row) {
      const arr = []
      arr.push(row)
      await this.changeStatus(arr, 2, 0)
    },
    async refuseTask(row) {
      const arr = []
      arr.push(row)
      await this.changeStatus(arr, 3, 0)
    },
    selectingChange(val) {
      this.selectingChanged = val
    },
    async allDelete() {
      const val = this.selectedChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      await this.changeStatus(val, 3, 1) // val []task
    },
    async deleteTask(row) {
      const arr = []
      arr.push(row)
      await this.changeStatus(arr, 3, 1)
    },
    selectedChange(val) {
      this.selectedChanged = val
    },
    async changeStatus(taskIds, taskStatus, clickIndex) {
      for (const i in taskIds) {
        if (taskStatus === 3 && clickIndex !== 0) {
          for (const s in this.recruit_strategys) {
            if (this.recruit_strategys[s].strategy_id === parseInt(taskIds[i].strategy_id)) {
              this.recruit_strategys[s].selected_number = parseInt(this.recruit_strategys[s].selected_number) - 1
            }
          }
        } else if (taskStatus === 2) {
          for (const s in this.recruit_strategys) {
            if (this.recruit_strategys[s].strategy_id === parseInt(taskIds[i].strategy_id)) {
              this.recruit_strategys[s].selected_number = parseInt(this.recruit_strategys[s].selected_number) + 1
            }
          }
        }
      }
      this.mainKey = Math.random()
      const arr = []
      for (const i in taskIds) {
        arr.push(taskIds[i].task_id)
      }
      const params = {
        taskIds: arr,
        task_status: String(taskStatus)
      }
      await this.postRequest('/youngee/m/project/changeTaskStatus', params).then((resp) => {
        // console.log('status:', resp)
        this.handleClick(clickIndex)
      })
      if (this.project_status === '待支付') {
        this.showPayData()
      }
    },
    async showPayData() {
      const params = {
        project_id: this.project_info.project_id
      }
      this.postRequest('/youngee/m/pay/paysum', params).then((resp) => {
        this.allSum = 0
        for (const i in this.recruit_strategys) {
          this.$set(this.recruit_strategys[i], 'all_payment', 0)
          this.$set(this.recruit_strategys[i], 'show_all_payment', 0)
          for (const j in resp.data.pay_sum) {
            if (this.recruit_strategys[i].strategy_id === resp.data.pay_sum[j].strategy_id) {
              this.recruit_strategys[i].all_payment = resp.data.pay_sum[j].all_payment
              this.recruit_strategys[i].show_all_payment = money(parseFloat(resp.data.pay_sum[j].all_payment.toFixed(1)))
            }
          }
          this.allSum += parseFloat(this.recruit_strategys[i].all_payment)
        }
        this.mainKey = Math.random()
        this.rechargeMoney = (this.allSum - this.project_info.available_balance).toFixed(1)
        this.needRecharge = this.rechargeMoney > 0
      })
    },
    async allEnable() {
      const val = this.lostChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      await this.changeStatus(this.lostChanged, 2, 2)
    },
    async enableTask(row) {
      const arr = []
      arr.push(row)
      await this.changeStatus(arr, 2, 2)
    },
    lostChange(val) {
      this.lostChanged = val
    },
    exportTable() {
      // 导出表格
      if (this.selectedChanged.length === 0) {
        this.$message({
          message: '请至少选择一条需要导出的数据',
          type: 'warning'
        })
        return
      }

      const tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '价格', '主页链接'] // 设置Excel表格的表头
      const filterVal = ['task_id', 'platform_nickname', 'fans_count', 'strategy_id', 'all_payment', 'home_page_url'] // 跟表格表头对应的绑定的prop
      var tableTitleName = this.$store.state.project.project_name + '已选账号表'

      this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // 导出
        require.ensure([], () => {
          // const { export_json_to_excel } = require('../../../../utils/excel/Export2Excel');   //注意这个Export2Excel路径
          const { export_json_to_excel } = require('@/excel/export2Excel')
          // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectedChanged)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
          const list = JSON.parse(JSON.stringify(this.selectedChanged))
          const data = this.formatJson(filterVal, list)
          export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
        })
      }).catch(() => { })
    },
    formatJson(filterVal, Data) {
      return Data.map(v => filterVal.map(j => v[j]))
    }
  }
}
</script>
<style scoped lang = "scss">
.recruitManageTrueCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.recruitManageTrue {
  text-align: center;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 1px solid #248bf4 !important;
  color: #248bf4;
}

.strategys-table {
  flex-direction: row;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
  text-align: center;
  border: 2px solid #82bdf8;
  border-right: none;
  border-left: none;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #248bf4;
}

.flow_info_base {
  height: 50px;
  padding-left: 300px;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 1px solid #057bf2;
  padding-bottom: 5px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
  background-color: #248bf4 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.line {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  font-size: 15px;
}

.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: 2px solid #0e4bb7;
  padding-bottom: 5px;
  color: #557bf4;
  font-size: 18px;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #9dbcf2;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
  margin-left: auto;
  width: max-content;
}

.circle {
  background: #6394ea;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}

.attention {
  color: red;
}

.copyButton {
  border: none;
  margin-left: 15px;
  color: #409eff;
  cursor: pointer;
}

.collection {
  display: none;
}

.onlineRechargeColor {
  background-color: #0e4bb7;
  color: white;
  margin-top: 10px;
}

.publicTransferColor {
  background-color: #6394ea;
  color: white;
  margin-top: 10px;
}

#boxRecharge {
  display: flex;
}

#boxRecharge .box_btn_recharge {
  width: 80px;
  height: 40px;
  border: 1px solid #f9f9f9;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.SubmitBtn {
  border: none;
  justify-content: center;
  background-color: #0e4bb7;
  color: white;
  margin: 10px;
  // padding: 8px 15px;
}

.StoreBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
  color: white;
}

.el-dialog__body {
  padding: 5px 15px;
  text-align: center;
}
</style>

<style>
.recruitManageTrue .el-dialog {
  margin-top: 10vh !important;
}
</style>
