<template>
  <div class="login-container">
    <div class="main">
      <div style="width:100%;height:50px;background:#0e4bb7" />
      <div class="main" style="width:60%;height:79%;border:1px solid #fbf9ef">
        <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on" label-position="left">

          <div class="loginTitle">
            <img src="../../assets/images/WechatIMG28.png">
            <h3>欢迎登陆样叽YOUNGGEE</h3>
          </div>

          <el-form-item prop="user">
            <span class="svg-container">
              <svg-icon icon-class="user" />
            </span>
            <el-input
              ref="user"
              v-model="loginForm.user"
              placeholder="账号ID"
              name="user"
              type="text"
              tabindex="1"
              auto-complete="on"
            />
          </el-form-item>

          <el-form-item prop="password">
            <span class="svg-container">
              <svg-icon icon-class="password" />
            </span>
            <el-input
              :key="passwordType"
              ref="password"
              v-model="loginForm.password"
              :type="passwordType"
              placeholder="密码"
              name="password"
              tabindex="2"
              auto-complete="on"
              @keyup.enter.native="handleLogin"
            />
            <span class="show-pwd" @click="showPwd">
              <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
            </span>
          </el-form-item>

          <el-button
            :loading="loading"
            type="primary"
            style="margin-bottom:30px;margin-top:20px;"
            @click.native.prevent="handleLogin"
          >
            登录
          </el-button>

        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import Cookies from 'js-cookie'
// import { validUsername } from '@/utils/validate'
import { getLoginUser } from '@/api/login'

export default {
  name: 'Login',
  data() {
    // const validateUsername = (rule, value, callback) => {
    //   if (!validUsername(value)) {
    //     callback(new Error('Please enter the correct user name'))
    //   } else {
    //     callback()
    //   }
    // }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('The password can not be less than 6 digits'))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        user: '',
        password: ''
      },
      loginRules: {
        // username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        user: [{ required: true, trigger: 'blur' }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }]
      },
      loading: false,
      passwordType: 'password',
      redirect: undefined
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleLogin() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.postRequest('/login', this.loginForm).then((resp) => {
            if (resp) {
              if (resp.data.token) {
                Cookies.set('token_m', resp.data.token, { expires: 30 })
                Cookies.set('username', resp.data.username, { expires: 30 })
                sessionStorage.setItem('token_m', resp.data.token)
                sessionStorage.setItem('user', this.loginForm.user)
                sessionStorage.setItem('password', this.loginForm.password)
                const getUserRole = resp.data.role === '1' ? 'superadmin' : 'admin'
                localStorage.setItem('userRole', getUserRole)
                this.$store.state.isLogin = true
                this.$store.state.username = resp.data.username
                this.$router.replace({ path: this.redirect || '/dashboard/dashboard' })
                this.loading = false
                this.$message.success('登录成功')
              } else {
                this.$message.error('账号密码不正确')
              }
            }
          })
        } else {
          this.$message.error('请填写所有字段')
          return false
        }
      })
    },
    validUsername(str) {
      let valid_map = null
      getLoginUser().then(resp => {
        valid_map = resp.data.user
      }).catch(e => {
        console.log(e)
      })
      return valid_map.indexOf(str.trim()) >= 0
    }
  }
}
</script>

<style lang="scss">
/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

$bg:#e5e5e5;
$light_gray:#343232;
$cursor: #343232;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
</style>

<style lang="scss" scoped>
$bg:white;
$dark_gray:#889aa4;
$light_gray:#eee;

.loginTitle {
  display: flex;
  border-bottom: 1px solid #fbf9ef;
  margin-bottom: 25px;
}
.loginTitle img {
  margin-right: 15px;
  margin-left: 20px;
  height: 48px;
}
.loginTitle h3 {
  color: #1890ff;
  display: inline;
  font-family: Arial, Verdana, Sans-serif;
}

.main{
	text-align: center;
  border: 1px solid #dadada;
	width: 600px;
	height: 500px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.login-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;

  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    // padding: 160px 35px 0;
    margin: 13% auto;
    overflow: hidden;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
}
</style>
