<template>
  <div class="inviteManage">
    <el-card
      class="inviteManageCard"
      shadow="never"
      style=" "
    >
      <div>
        <div class="flow_info_base" style="display:flex;align-items: center;justify-content: center;">
          <span class="flow_right">邀请数据</span>
        </div>
      </div>
      <div style="width: 400px;">
        <el-table
          :key="inviteNumberDataKey"
          :data="inviteNumberData"
          border
          class="strategys-table-manage"
          :header-cell-style="{ background: '#6394ea', color: 'white' }"
          :fit="true"
        >
          <el-table-column
            prop="unpass_number"
            label="待确认数量"
            align="center"
          />
          <el-table-column
            prop="passed_number"
            label="已确认数量"
            align="center"
          />
        </el-table>
      </div>
    </el-card>
    <div id="box">
      <div
        v-for="(item, index1) in bottonList1"
        :key="index1"
        class="box_btn"
        :class="chooseBtn === index1 ? 'borderColor' : ''"
        @click="handleClick(index1)"
      >
        {{ item.name }}
      </div>
    </div>
    <div style="display: flex;align-content: center;justify-content: center;">
      <div class="input-box-line">
        <el-input
          v-model="searchInput"
          placeholder="账号昵称、任务ID"
        >
          <el-button
            slot="append"
            class="search-button"
            @click="handleSearchClick()"
          >搜索</el-button>
        </el-input>
      </div>
    </div>
    <!-- 待确认 -->
    <div v-show="index === 0">
      <div style="margin-bottom:5px;float:right">
        <el-button
          v-resetClick="1000"
          class="search-button"
          @click="handleAllPassClick()"
        >确认</el-button>
        <el-button
          v-resetClick="1000"
          class="search-button"
          @click="handleAllRefuseClick()"
        >拒绝</el-button>
      </div>
      <el-table
        ref="unpassTable"
        :data="unpassTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="home_page_capture_url"
          label="主页截图"
          align="center"
        >
          <template slot-scope="scope">
            <img
              :src="scope.row.home_page_capture_url"
              alt=""
              width="80px"
              height="100px"
              preview="1"
            >
          </template>
        </el-table-column>
        <el-table-column
          prop="home_page_url"
          label="主页链接"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handShowLinkClick(scope.row)"
            >
              {{ scope.row.home_page_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="create_date"
          label="报名时间"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handlePassClick(scope.row)"
            >确认</el-button>
            <el-button
              type="text"
              size="medium"
              @click="handleRefuseClick(scope.row)"
            >拒绝</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 已确认 -->
    <div v-show="index === 1">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="export2Excel()"
        >导出表格</el-button>
        <el-button
          class="search-button"
          @click="handleAllDeleteClick()"
        >删除</el-button>
      </div>
      <el-table
        ref="passedTable"
        :data="passedTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="home_page_capture_url"
          label="主页截图"
          align="center"
        >
          <template slot-scope="scope">
            <img
              :src="scope.row.home_page_capture_url"
              alt=""
              width="80px"
              height="100px"
              preview="1"
            >
          </template>
        </el-table-column>
        <el-table-column
          prop="home_page_url"
          label="主页链接"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handShowLinkClick(scope.row)"
            >
              {{ scope.row.home_page_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="create_date"
          label="报名时间"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handleDeleteClick(scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
// 引入导出Excel表格依赖
import { fansview } from '@/utils'
export default {
  name: 'InviteManage',
  data() {
    return {
      project_id: this.$store.state.project.project_id,
      content_type: this.$store.state.project.content_type,
      totalCount: 0,
      bottonList1: [
        {
          name: '待确认'
        },
        {
          name: '已确认'
        }
      ],
      inviteNumberData: [
        {
          passed_number: 0,
          unpass_number: 0
        }
      ],
      chooseBtn: 0,
      searchInput: '',
      // 控制点击按钮后子组件显示，再次点击隐藏
      index: 0,
      // 控制切换按钮后按钮改变样式
      selectedChanged: [],

      unpassTable: [],
      passedTable: [],
      inviteNumberDataKey: 0
    }
  },
  watch: {
    'inviteNumberData'() {}
  },
  mounted() {
    console.log(this.content_type === '2')
    this.getDataInfo()
    // 查询待确认任务列表
    const params1 = {
      page_size: 10,
      page_num: 1,
      project_id: this.project_id,
      task_status: String(0)
    }
    this.postRequest('/youngee/m/project/specialTaskInviteList', params1).then((resp) => {
      if (resp.data.total === '0') {
        this.$message('暂无数据')
      }
      this.$data.unpassTable = resp.data.project_task_pre_view
      this.$data.totalCount = parseInt(resp.data.total)
    })
  },
  methods: {
    getDataInfo() {
      // 查询待确认和已确认任务数量
      const params = {
        project_id: this.project_id
      }
      this.postRequest('/youngee/m/project/getSpecialInviteNumber', params).then((resp) => {
        this.$data.inviteNumberData[0].unpass_number = parseInt(resp.data.unpass_number)
        this.$data.inviteNumberData[0].passed_number = parseInt(resp.data.passed_number)
        this.$data.inviteNumberDataKey = Math.random()
      })
    },
    handShowLinkClick(row) {
      window.open(row.link_url, '_blank')
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      this.searchInput = ''
      this.getTaskList(value)
    },
    handleSearchClick() {
      this.getTaskList(this.index)
    },
    handleAllPassClick() {
      const val = this.selectedChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      const taskIds = []
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i].task_id
        taskIds.push(taskId)
      }
      this.passTask(taskIds)
      this.getDataInfo()
    },
    handleAllRefuseClick() {
      const val = this.selectedChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      const taskIds = []
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i].task_id
        taskIds.push(taskId)
      }
      this.refuseTask(taskIds)
      this.getDataInfo()
    },
    handleAllDeleteClick() {
      const val = this.selectedChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      const taskIds = []
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i].task_id
        taskIds.push(taskId)
      }
      this.deleteTask(taskIds)
      this.getDataInfo()
    },
    handlePassClick(row) {
      const arr = []
      arr.push(row.task_id)
      this.passTask(arr)
    },
    handleDeleteClick(row) {
      const arr = []
      arr.push(row.task_id)
      this.refuseTask(arr)
    },
    handleRefuseClick(row) {
      const arr = []
      arr.push(row.task_id)
      this.refuseTask(arr)
    },
    selectedChange(val) {
      this.selectedChanged = val
    },
    getTaskList(index) {
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: this.project_id,
        task_status: String(index),
        strategy_id: String(this.strategy_id),
        platform_nickname: this.searchInput
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/specialTaskInviteList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('待确认任务中暂无数据')
          }
          this.$data.unpassTable = resp.data.project_task_pre_view
          this.unpassTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      } else if (index === 1) {
        this.postRequest('/youngee/m/project/specialTaskInviteList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('已确认任务中暂无数据')
          }
          this.$data.passedTable = resp.data.project_task_pre_view
          this.passedTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      }
    },
    async passTask(taskIds) {
      const params = {
        taskIds: taskIds,
        task_status: '2',
        task_stage: this.content_type === '2' ? '7' : '9',
        is_special: '1'
      }
      await this.postRequest('/youngee/m/project/changeTaskStatus', params).then((resp) => {
      })
      this.getTaskList(this.index)
      this.getDataInfo()
    },
    async refuseTask(taskIds) {
      const params = {
        taskIds: taskIds,
        task_status: '3',
        task_stage: '3',
        is_special: '1'
      }
      await this.postRequest('/youngee/m/project/changeTaskStatus', params).then((resp) => {
      })
      this.getTaskList(this.index)
      this.getDataInfo()
    },
    async deleteTask(taskIds) {
      const params = {
        taskIds: taskIds,
        task_status: '3',
        task_stage: '3',
        is_special: '1'
      }
      await this.postRequest('/youngee/m/project/changeTaskStatus', params).then((resp) => {
      })
      this.getTaskList(this.index)
      this.getDataInfo()
    },
    export2Excel() {
      // 导出表格
      if (this.selectedChanged.length === 0) {
        this.$message({
          message: '请至少选择一条需要导出的数据',
          type: 'warning'
        })
        return
      }

      const tableHeader = ['任务ID', '账号昵称', '粉丝数', '主页链接'] // 设置Excel表格的表头
      const filterVal = ['task_id', 'platform_nickname', 'fans_count', 'home_page_url'] // 跟表格表头对应的绑定的prop
      const tableTitleName = this.$store.state.project.project_name + '已确认邀请列表'

      this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // 导出
        require.ensure([], () => {
          const { export_json_to_excel } = require('@/excel/export2Excel') // 注意这个Export2Excel路径
          // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectedChanged)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
          const list = JSON.parse(JSON.stringify(this.selectedChanged))
          const data = this.formatJson(filterVal, list)
          export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
        })
      }).catch(() => { })
    },
    formatJson(filterVal, Data) {
      return Data.map(v => filterVal.map(j => v[j]))
    }
  }
}
</script>
<style scoped lang = "scss">
.inviteManage {
  text-align: center;
}

.inviteManageCard {
  display: flex;
  text-align: center;
  justify-content: center;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-left: 20px;
}

.line {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: solid;
  padding-bottom: 5px;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #248bf4;
}

.flow_info_base {
  height: 50px;
  // padding-left: 300px;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 5px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
  background-color: #248bf4 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}
</style>
