<template>
  <el-dialog
    style="top: 0vw; padding: 0 !important"
    width="1160px"
    :visible.sync="CreateProjectVisible"
    append-to-body
  >
    <div slot="title" class="dialog-title">
      <img
        slot="title"
        src="../../../assets/images/样叽logo.png"
        alt="YOUNGEE"
        class="head-img"
      />
      <div class="button-right">
        <span class="title-close" @click="CreateProjectVisible = false" />
      </div>
    </div>
    <div class="createproject">
      <div class="project_info">
        <div class="flow">
          <div class="flow_info_base">
            <span class="flow_cur">基础信息</span>
          </div>
          <div class="singleArrow" />
          <div class="flow_info_base">
            <span class="flow_right">招募要求</span>
          </div>
          <div class="singleArrow" />
          <div class="flow_info_base">
            <span class="flow_right">执行要求</span>
          </div>
        </div>
        <div class="content">
          <div class="input-box-line">
            企业用户*：
            <el-select
              v-model="enterprise_id"
              filterable
              class="input-box"
              placeholder="请选择"
              style="width: 150px"
              clearable
            >
              <el-option
                v-for="item in enterprise_ids"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                @click.native="getProductInfos"
              />
            </el-select>
          </div>
          <div class="input-box-line">
            项目类型*：
            <el-select
              v-model="project_type"
              class="input-box"
              placeholder="请选择"
              style="width: 150px"
              clearable
            >
              <el-option
                v-for="item in project_types"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </div>
          <div class="input-box-line">
            社媒平台*：
            <el-select
              v-model="project_platform"
              class="input-box"
              placeholder="请选择"
              style="width: 150px"
              clearable
            >
              <el-option
                v-for="item in project_platforms"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </div>
          <div class="input-box-line">
            关联商品*：
            <el-select
              v-model="product_id"
              class="input-box"
              placeholder="请选择"
              style="width: 150px"
              clearable
              @change="selectProduct($event)"
            >
              <el-option
                v-for="item in product_infos"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
            <el-button
              v-show="product_id == ''"
              type="primary"
              class="funcBtnnewproduct"
              @click="newProduct"
              >新增商品</el-button
            >
            <el-button
              v-show="product_id != ''"
              type="primary"
              class="funcBtnnewproduct"
              @click="updateProduct"
              >更新商品信息</el-button
            >
          </div>
          <add-new-product v-if="isShow == true" :id="enterprise_id" />
          <el-button
            v-if="firstCreate"
            type="primary"
            class="funcBtnstore"
            @click="nextStep"
            >保存并下一步</el-button
          >
          <el-button
            v-if="!firstCreate"
            type="primary"
            class="funcBtnstore"
            @click="nextStepToUpdate"
            >更新并下一步</el-button
          >
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import { EventBus } from "@/event-bus";
import AddNewProduct from "@/components/Project/AddNewProduct/index.vue";

export default {
  name: "CreateProject",
  components: {
    AddNewProduct,
  },
  data() {
    return {
      isShow: false,
      enterprise_id: "",
      product_id: "",
      project_type: "",
      project_platform: "",
      CreateProjectVisible: false,
      product_infos: [],
      enterprise_ids: [],
      project_types: [
        {
          value: "1",
          label: "全流程项目",
        },
        {
          value: "2",
          label: "专项执行项目",
        },
      ],
      project_platforms: [
        {
          value: "1",
          label: "红book",
        },
        {
          value: "2",
          label: "抖音",
        },
        {
          value: "3",
          label: "新浪微博",
        },
        {
          value: "4",
          label: "快手",
        },
        {
          value: "5",
          label: "B站",
        },
        {
          value: "6",
          label: "大众点评",
        },
        {
          value: "7",
          label: "知乎",
        },
      ],
      productInfo: [],
      firstCreate: true,
    };
  },
  watch: {
    enterprise_id() {
      this.product_id = "";
      this.product_infos = [];
    },
    product_id() {
      console.log(this.product_id);
      if (this.product_id === "") {
        clearTimeout(this.timer); // 清除延迟执行
        this.timer = setTimeout(() => {
          // 设置延迟执行
          EventBus.$emit("NewProduct", "新增商品", this.enterprise_id);
        }, 0);
      }
    },
  },
  mounted() {
    EventBus.$on("backCreateProject", (msg) => {
      this.firstCreate = false;
      this.CreateProjectVisible = true;
    });
    this.getRequest("/youngee/m/product/getEnterpriseIds").then((resp) => {
      if (typeof resp === "undefined") {
        return;
      }
      if (resp.status !== 0) {
        return;
      }
      this.enterprise_ids = [];
      const res = resp.data.enter_prise_ids;
      res.forEach((e) => {
        this.enterprise_ids.push({
          value: e,
          label: e,
        });
      });
    });
    EventBus.$on("CreateProject", (msg) => {
      this.isShow = false;
      this.product_id = "";
      this.project_platform = "";
      this.project_type = "";
      this.enterprise_id = "";
      this.$store.state.newProject = {};
      this.CreateProjectVisible = msg;
      this.firstCreate = true;
      const params = {
        enterprise_id: this.enterprise_id,
      };
      this.postRequest("/youngee/m/product/findAllProduct", params).then(
        (resp) => {
          if (typeof resp === "undefined") {
            return;
          }
          this.product_infos = [];
          const res = resp.data.product_infos;
          for (const i in res) {
            const product = {
              label: res[i].brand_name + "-" + res[i].product_name,
              value: res[i].product_id + "",
            };
            this.product_infos.push(product);
          }
        }
      );
    });
    EventBus.$on("ReFindAll", (product_id, name) => {
      this.product_id = product_id;
      const params = {
        enterprise_id: this.enterprise_id,
      };
      this.postRequest("/youngee/m/product/findAllProduct", params).then(
        (resp) => {
          if (typeof resp === "undefined") {
            return;
          }
          this.product_infos = [];
          const res = resp.data.product_infos;
          for (const i in res) {
            const product = {
              label: res[i].brand_name + "-" + res[i].product_name,
              value: res[i].product_id + "",
            };
            this.product_infos.push(product);
          }
        }
      );
      this.product_id = name;
    });
  },
  methods: {
    getProductInfos() {
      const params = {
        enterprise_id: this.enterprise_id,
      };
      this.postRequest("/youngee/m/product/findAllProduct", params).then(
        (resp) => {
          if (typeof resp === "undefined") {
            return;
          }
          this.product_infos = [];
          const res = resp.data.product_infos;
          for (const i in res) {
            const product = {
              label: res[i].brand_name + "-" + res[i].product_name,
              value: res[i].product_id + "",
            };
            this.product_infos.push(product);
          }
        }
      );
      EventBus.$emit("NewProduct", "新增商品", this.enterprise_id);
    },
    newProduct() {
      this.isShow = true;
      EventBus.$emit("NewProduct", "新增商品", this.enterprise_id);
    },
    selectProduct(e) {
      this.isShow = true;
      this.product_id = e;
      this.$store.state.newProject.product_id = parseInt(this.product_id);
      console.log("product_id:", this.product_id);
      clearTimeout(this.timer); // 清除延迟执行
      this.timer = setTimeout(() => {
        // 设置延迟执行
        EventBus.$emit("ProductFresh", this.product_id, this.enterprise_id);
      }, 0);
    },
    updateProduct() {
      console.log("product_id:", this.product_id);
      this.isShow = true;
      clearTimeout(this.timer); // 清除延迟执行
      this.timer = setTimeout(() => {
        // 设置延迟执行
        EventBus.$emit("ProductFresh", this.product_id, this.enterprise_id);
      }, 0);
    },
    async nextStepToUpdate() {
      // 基础信息校验
      if (this.project_type.trim() === "") {
        this.$message.error("项目类型不能为空");
        return;
      }
      if (this.project_platform.trim() === "") {
        this.$message.error("社媒平台不能为空");
        return;
      }
      if (this.product_id === "") {
        this.$message.error("关联商品不能为空");
        return;
      }
      console.log(
        "this.$store.state.newProject.product_id",
        this.$store.state.newProject.product_id
      );
      this.$store.state.newProject.enterprise_id = this.enterprise_id;
      this.$store.state.newProject.talent_type = JSON.stringify("");
      // this.$store.state.newProject.product_id = this.$store.state.newProject.product_id
      this.$store.state.newProject.project_type = parseInt(this.project_type);
      this.$store.state.newProject.project_platform = parseInt(
        this.project_platform
      );
      this.$store.state.newProject.project_form = "1";
      this.$store.state.newProject.content_type = "1";
      this.$store.state.newProject.project_id = this.project_id;
      if (parseInt(this.project_type) === 1) {
        EventBus.$emit(
          "RecruitRequirement",
          true,
          this.enterprise_id,
          this.project_id
        );
      } else {
        this.$store.state.newProject.recruit_strategys = [];
        EventBus.$emit(
          "ExcuteRequirement",
          true,
          this.enterprise_id,
          this.project_id
        );
      }
      const params = this.$store.state.newProject;
      console.log("project update params:", params);
      this.postRequest("/youngee/m/project/update", params).then((resp) => {});
      this.CreateProjectVisible = false;
    },
    async nextStep() {
      // 基础信息校验
      if (this.project_type.trim() === "") {
        this.$message.error("项目类型不能为空");
        return;
      }
      if (this.project_platform.trim() === "") {
        this.$message.error("社媒平台不能为空");
        return;
      }
      if (this.product_id === "") {
        this.$message.error("关联商品不能为空");
        return;
      }
      this.$store.state.newProject.enterprise_id = this.enterprise_id;
      this.$store.state.newProject.talent_type = JSON.stringify("");
      // this.$store.state.newProject.product_id = parseInt(this.product_id)
      this.$store.state.newProject.project_type = parseInt(this.project_type);
      this.$store.state.newProject.project_platform = parseInt(
        this.project_platform
      );
      this.$store.state.newProject.project_form = 1;
      this.$store.state.newProject.content_type = 1;
      const params = this.$store.state.newProject;
      console.log("project create params:", params);
      if (parseInt(this.project_type) === 1) {
        EventBus.$emit("RecruitRequirement", true, this.enterprise_id);
      } else {
        this.$store.state.newProject.recruit_strategys = [];
        EventBus.$emit("ExcuteRequirement", true, this.enterprise_id);
      }
      await this.postRequest("/youngee/m/project/create", params).then(
        (resp) => {
          if (resp.data !== null) {
            console.log(resp.data.Project_id);
            this.project_id = resp.data.Project_id;
            this.$store.state.newProject.project_id = resp.data.Project_id;
          }
        }
      );
      // EventBus.$emit('updateProduct')
      this.CreateProjectVisible = false;
    },
  },
};
</script>

<style lang="scss">
.el-dialog {
  width: 1350px;
  margin-top: 3vh !important;
}
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}
.el-dialog__headerbtn .el-dialog__close {
  color: white;
}
.el-dialog__body {
  padding: 5px 15px;
  text-align: center;
}
</style>

<style scoped lang="scss">
.createproject {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  .back {
    display: flex;
  }

  .flow {
    display: flex;
    justify-content: center;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 30px 30px;
  }

  .flow_cur {
    font-size: 25px;
    color: #0e4bb7;
    border-bottom: 3px solid #0e4bb7;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 30px;
    color: black;
  }

  .flow_right {
    font-size: 30px;
    color: black;
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #0e4bb7;
    border-bottom: 1px solid #0e4bb7;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-box > .el-input {
    width: 250px !important;
  }

  .input-big-box {
    width: 500px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-box-line {
    line-height: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }

  // css
  .singleArrow_cur {
    width: 180px;
    height: 5px;
    position: relative;
    background-color: #f2d22e;
    margin: 30px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow_cur::after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    /* 箭头位置 */
    top: -8px;
    /* 箭头位置 */
    border-top: 10px solid transparent;
    /* 箭头高低 */
    border-bottom: 15px solid transparent;
    /* 箭头高低 */
    border-left: 20px solid #f2d22e;
    /* 箭头长度*/
  }

  .singleArrow {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: black;
    margin: 40px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  // .singleArrow::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   right: -10px;
  //   /* 箭头位置 */
  //   top: -8px;
  //   /* 箭头位置 */
  //   border-top: 10px solid transparent;
  //   /* 箭头高低 */
  //   border-bottom: 15px solid transparent;
  //   /* 箭头高低 */
  //   border-left: 20px solid black;
  //   /* 箭头长度*/
  // }
  .funcBtnnewproduct {
    border: none;
    background-color: #0e4bb7;
    color: white;
    margin: 0px 20px 20px;
  }

  .funcBtnstore {
    border: none;
    background-color: #0e4bb7;
    color: white;
    margin: 20px 20px;
  }

  .content {
    padding: 20px 48px;
  }

  .newbrand {
    padding: 20px 48px;
    border: 3px dashed #0e4bb7;

    .upload-cover {
      width: 300px !important;
      display: flex;
    }
  }
}

.next-btn {
  margin-top: 5px;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
</style>

<style>
.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-textarea .el-input__count {
  color: #909399;
  background: #fff;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 25px;
}
</style>

<style>
.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-textarea .el-input__count {
  color: #909399;
  background: #fff;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 25px;
}
</style>
