<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">违约处理</div> -->
    <div class="box">
      <div
        v-for="(item, i) in bottonList"
        :key="i"
        class="box_btn"
        :class="chooseBtn == i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        <span>{{ item.name }}</span>
        <div
          v-if="item.name == '待处理'"
          style="color:red;margin-left:4px"
        >
          {{ pending_num }}
        </div>
      </div>
    </div>
    <div v-show="index === 0" class="pending">
      <div class="box">
        <div
          v-for="(item, i) in bottonList2"
          :key="i"
          class="box_btn"
          :class="chooseBtn2 == i ? 'borderColor' : ''"
          @click="handleClick2(i)"
        >
          <span>{{ item.name }}</span>
          <div
            v-if="item.name == '未传初稿'"
            style="color:red;margin-left:4px"
          >
            {{ draft_default_num }}
          </div>
          <div
            v-if="item.name == '未传脚本'"
            style="color:red;margin-left:4px"
          >
            {{ script_default_num }}
          </div>
          <div
            v-if="item.name == '未传链接'"
            style="color:red;margin-left:4px"
          >
            {{ link_default_num }}
          </div>
          <div
            v-if="item.name == '未传数据'"
            style="color:red;margin-left:4px"
          >
            {{ data_default_num }}
          </div>
        </div>
      </div>
      <div class="input-box-line" style="text-align:center">
        <el-input v-model="searchInput" placeholder="任务ID、项目名称等" style="width: 400px;" clearable @click.native="searchDefault">
          <el-button
            slot="append"
            style="background-color: #1890ff;color:white"
            @click="searchDefault"
          >搜索</el-button>
        </el-input>
      </div>
      <div style="margin-bottom:5px;float:right">
        <el-button size="mini" class="Button" @click="allRefuse">批量驳回</el-button>
        <el-button size="mini" class="Button" @click="allRelease">批量解约</el-button>
      </div>
      <el-table
        v-show="chooseBtn2 === 0"
        :data="defaultTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="project_id" label="项目ID" align="center" />
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="projectInfo(scope.row)">{{ scope.row.project_name }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="user_phone" label="企业联系方式" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="talent_id" label="创作者ID" align="center" />
        <el-table-column prop="talent_phone" label="创作者联系方式" align="center" />
        <el-table-column prop="price" label="价格" align="center" />
        <el-table-column prop="settlement_amount" label="结算金额" align="center" />
        <el-table-column prop="default_at" label="违约时间" align="center" />
        <el-table-column prop="terminate_at" label="解约申请时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="deleted(scope.row)">解约</el-button>
            <el-button type="text" size="small" @click="rejected(scope.row)">驳回</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-table
        v-show="chooseBtn2 === 1"
        :data="defaultTable1"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="project_id" label="项目ID" align="center" />
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="projectInfo(scope.row)">{{ scope.row.project_name }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="user_phone" label="企业联系方式" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="talent_id" label="创作者ID" align="center" />
        <el-table-column prop="talent_phone" label="创作者联系方式" align="center" />
        <el-table-column prop="price" label="价格" align="center" />
        <el-table-column prop="settlement_amount" label="结算金额" align="center" />
        <el-table-column prop="default_at" label="违约时间" align="center" />
        <el-table-column prop="terminate_at" label="解约申请时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="deleted(scope.row)">解约</el-button>
            <el-button type="text" size="small" @click="rejected(scope.row)">驳回</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-table
        v-show="chooseBtn2 === 2"
        :data="sketchDefaultTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="project_id" label="项目ID" align="center" />
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="projectInfo(scope.row)">{{ scope.row.project_name }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="user_phone" label="企业联系方式" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="talent_id" label="创作者ID" align="center" />
        <el-table-column prop="talent_phone" label="创作者联系方式" align="center" />
        <el-table-column prop="link_info" label="初稿" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="sketchInfo(scope.row)">查看初稿</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="price" label="价格" align="center" />
        <el-table-column prop="settlement_amount" label="结算金额" align="center" />
        <el-table-column prop="default_at" label="违约时间" align="center" />
        <el-table-column prop="terminate_at" label="解约申请时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="deleted(scope.row)">解约</el-button>
            <el-button type="text" size="small" @click="rejected(scope.row)">驳回</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-table
        v-show="chooseBtn2 === 3"
        :data="dataDefaultTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="project_id" label="项目ID" align="center" />
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="projectInfo(scope.row)">{{ scope.row.project_name }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="user_phone" label="企业联系方式" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="talent_id" label="创作者ID" align="center" />
        <el-table-column prop="talent_phone" label="创作者联系方式" align="center" />
        <el-table-column prop="link_info" label="发布链接" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="linkInfo(scope.row)">{{ scope.row.link_info }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="price" label="价格" align="center" />
        <el-table-column prop="settlement_amount" label="结算金额" align="center" />
        <el-table-column prop="default_at" label="违约时间" align="center" />
        <el-table-column prop="terminate_at" label="解约申请时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="deleted(scope.row)">解约</el-button>
            <el-button type="text" size="small" @click="rejected(scope.row)">驳回</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
    <div v-show="index === 1" class="handled">
      <div class="head-content">
        <div class="input-box-line">
          处理结果：
          <el-select v-model="treatmentResult" style="width: 120px" placeholder="不限">
            <el-option v-for="item in treatmentResults" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
        <div class="input-box-line">
          解约原因：
          <el-select v-model="terminationReason" style="width: 120px" placeholder="不限">
            <el-option v-for="item in terminationReasons" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
        <div class="input-box-line">
          <el-input v-model="searchInput_handled" placeholder="任务ID、项目名称等" style="width: 300px;" clearable>
            <el-button
              slot="append"
              style="background-color: #1890ff;color:white"
              @click="getDefaultHandledRecord"
            >搜索</el-button>
          </el-input>
        </div>
      </div>
      <el-table
        :data="defaultTable_handled"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
      >
        <el-table-column prop="project_id" label="项目ID" align="center" />
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="projectInfo(scope.row)">{{ scope.row.project_name }}</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="user_phone" label="企业联系方式" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="talent_id" label="创作者ID" align="center" />
        <el-table-column prop="talent_phone" label="创作者联系方式" align="center" />
        <el-table-column prop="terminate_reason" label="解约原因" align="center" />
        <el-table-column prop="handle_result" label="处理结果" align="center" />
        <el-table-column prop="handle_at" label="处理时间" align="center" />
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPageHandled"
          :page-sizes="pageSizesHandled"
          :page-size="PageSizeHandled"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCountHandled"
          @size-change="handleSizeChangeHandled"
          @current-change="handleCurrentChangeHandled"
        />
      </div>
    </div>
    <!-- 初稿通过--查看初稿弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="PreviewSketchVisible" width="800px" @close="closePreviewSketch">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="PreviewSketchVisible = false;" />
        </div>
      </div>
      <div class="input-box-line1">
        <p class="reviewerEle">题目：</p>
        <el-input v-model="title" class="input-box" :readonly="true" />
      </div>
      <div class="input-box-line1">
        <p class="reviewerEle">正文/脚本：</p>
        <el-input
          v-model="Sketch"
          class="input-big-box"
          maxlength="300"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
        />
      </div>
      <div class="input-box-line1">
        <span class="reviewerEle"> 配图/视频demo：</span>
        <div v-for="item in picture_video" :key="item.index" class="picture-list">
          <div v-if="item.symbol == 1" class="picture-list-item">
            <img class="picture-list-item_img" :src="item.url">
          </div>
          <div v-if="item.symbol == 2" class="picture-list-item">
            <video ref="videoRef" width="320" height="240" controls>
              <source :src="item.url" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { money } from '@/utils'

export default {
  data() {
    return {
      index: 0,
      index2: 0,
      chooseBtn: 0,
      chooseBtn2: 0,
      pending_num: 0,
      draft_default_num: 0,
      script_default_num: 0,
      link_default_num: 0,
      data_default_num: 0,
      bottonList: [
        {
          name: '待处理'
        },
        {
          name: '已处理'
        }
      ],
      bottonList2: [
        {
          name: '未传脚本'
        },
        {
          name: '未传初稿'
        },
        {
          name: '未传链接'
        },
        {
          name: '未传数据'
        }
      ],
      searchInput: '',
      searchInput_handled: '',
      selectingChanged: [],
      defaultTable: [],
      defaultTable1: [],
      sketchDefaultTable: [],
      dataDefaultTable: [],
      treatmentResult: '',
      treatmentResults: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '解约'
        },
        {
          value: '2',
          label: '驳回'
        }
      ],
      terminationReason: '',
      terminationReasons: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '未传初稿'
        },
        {
          value: '2',
          label: '未传脚本'
        },
        {
          value: '3',
          label: '未传链接'
        },
        {
          value: '4',
          label: '未传数据'
        }
      ],
      defaultTable_handled: [],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [5, 10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 5,

      // 默认显示第几页
      currentPageHandled: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCountHandled: 0,
      // 个数选择器（可修改）
      pageSizesHandled: [5, 10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSizeHandled: 5,
      photo_url: '',
      type: 0,
      content: '',
      PreviewSketchVisible: false, // 初稿查看弹窗
      // 初稿待审 通过
      title: '',
      picture_video: [],
      Sketch: '',
      Sketchadvice: ''
    }
  },
  computed: {
  },
  watch: {
    searchInput_handled() {
      this.getDefaultHandledRecord()
    },
    terminationReason() {
      this.getDefaultHandledRecord()
    },
    treatmentResult() {
      this.getDefaultHandledRecord()
    },
    searchInput() {
      this.getDefaultRecord(1)
    }
  },
  mounted() {
    this.getDefaultNum()
    this.getDefaultRecord(1)
    this.getDefaultHandledRecord()
  },
  methods: {
    closePreviewSketch() {
      this.$refs.videoRef.pause()// 暂停
    },
    // 显示弹窗 审核通过查看初稿
    async sketchInfo(row) {
      console.log(row)
      const params = {
        task_id: row.task_id
      }
      await this.postRequest('youngee/m/operate/getSketchInfoByTaskId', params).then((resp) => {
        console.log(resp.data)
        this.title = resp.data.title
        this.photo_url = resp.data.photo_url
        this.type = resp.data.type
        this.Sketch = resp.data.content
      })

      this.picture_video = []
      this.Sketchadvice = row.revise_opinion
      const params1 = {
        sketch_id: parseInt(row.sketch_id)
      }
      await this.postRequest('/youngee/m/project/findsketchphoto', params1).then((resp) => {
        console.log('初稿图片查询resp：', resp)
        if (resp.data === null) {
          return
        }
        for (const i in resp.data) {
          const photo = {
            url: resp.data[i].photo_url,
            uid: parseInt(resp.data[i].photo_uid),
            symbol: parseInt(resp.data[i].symbol)
          }
          this.picture_video.push(photo)
        }
      })
      this.PreviewSketchVisible = true
    },
    previewSketch(row) {
      console.log(row.task_id)
      const params = {
        task_id: row.task_id
      }
      this.postRequest('youngee/m/operate/getSketchInfoByTaskId', params).then((resp) => {
        console.log(resp.data)
        this.photo_url = resp.data.photo_url
        this.type = resp.data.type
        this.content = resp.data.content
      })
      console.log(this.photo_url, this.type, this.content)
    },
    projectInfo(row) {
      console.log('项目详情', row.project_id)
    },
    linkInfo(row) {
      console.log('链接详情', row.link_info)
    },
    getDefaultNum() {
      this.getRequest('youngee/m/operate/countNumOfDefaults').then((resp) => {
        if (resp.status !== 1) {
          this.$data.data_default_num = resp.data.data_default_num
          this.$data.link_default_num = resp.data.link_default_num
          this.$data.draft_default_num = resp.data.draft_default_num
          this.$data.script_default_num = resp.data.script_default_num
        }
        this.$data.pending_num = this.$data.data_default_num + this.$data.link_default_num + this.$data.draft_default_num + this.$data.script_default_num
      })
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
    },
    handleClick2(value) {
      this.chooseBtn2 = value
      this.getDefaultRecord(value + 1)
    },
    getDefaultRecord(break_type) {
      let task_id, project_name
      if (!/^\d+$/.test(this.searchInput)) {
        project_name = this.searchInput
      } else {
        task_id = this.searchInput
      }
      const params = {
        page_size: 5,
        page_num: 1,
        break_type: break_type,
        task_id: task_id,
        project_name: project_name
      }
      this.postRequest('youngee/m/operate/breachPending', params).then((resp) => {
        if (resp.data.total !== 0) {
          let defaultTableList = null
          let totalCount = null
          defaultTableList = resp.data.breach_pending_preview
          defaultTableList.forEach(e => {
            e.price = money(e.price)
            e.settlement_amount = money(e.settlement_amount)
          })
          if (break_type === 2) {
            this.$data.defaultTable1 = defaultTableList
          } else if (break_type === 1) {
            this.$data.defaultTable = defaultTableList
          } else if (break_type === 3) {
            this.$data.sketchDefaultTable = defaultTableList
          } else {
            this.$data.dataDefaultTable = defaultTableList
          }
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          // this.$message('暂无数据')
          if (break_type === 1) {
            this.defaultTable1 = []
          } else if (break_type === 2) {
            this.defaultTable = []
          } else if (break_type === 3) {
            this.sketchDefaultTable = []
          } else {
            this.dataDefaultTable = []
          }
        }
      })
    },
    searchDefault() {
      // let task_id, project_name
      // const break_type = this.chooseBtn2 + 1
      // if (!/^\d+$/.test(this.searchInput)) {
      //   project_name = this.searchInput
      // } else {
      //   task_id = this.searchInput
      // }
      // const params = {
      //   page_size: 5,
      //   page_num: 1,
      //   break_type: break_type,
      //   task_id: task_id,
      //   project_name: project_name
      // }
      // this.postRequest('youngee/m/operate/breachPending', params).then((resp) => {
      //   if (resp.data.total !== 0) {
      //     let defaultTableList = null
      //     let totalCount = null
      //     defaultTableList = resp.data.breach_pending_preview
      //     this.$data.defaultTable = defaultTableList
      //     totalCount = parseInt(resp.data.total)
      //     this.$data.totalCount = totalCount
      //   } else {
      //     this.$message('暂无数据')
      //     this.defaultTable = []
      //   }
      // })
      const break_type = this.chooseBtn2 + 1
      this.getDefaultRecord(break_type)
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      let task_id, project_name
      const break_type = this.chooseBtn2 + 1
      if (!/^\d+$/.test(this.searchInput)) {
        project_name = this.searchInput
      } else {
        task_id = this.searchInput
      }
      const params = {
        page_size: n1,
        page_num: n2,
        break_type: break_type,
        task_id: task_id,
        project_name: project_name
      }
      this.postRequest('youngee/m/operate/breachPending', params).then((resp) => {
        if (resp.data.total !== 0) {
          let defaultTableList = null
          let totalCount = null
          defaultTableList = resp.data.breach_pending_preview
          defaultTableList.forEach(e => {
            e.price = money(e.price)
            e.settlement_amount = money(e.settlement_amount)
          })
          if (break_type === 2) {
            this.$data.defaultTable1 = defaultTableList
          } else if (break_type === 1) {
            this.$data.defaultTable = defaultTableList
          } else if (break_type === 3) {
            this.$data.sketchDefaultTable = defaultTableList
          } else {
            this.$data.dataDefaultTable = defaultTableList
          }
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          // this.$message('暂无数据')
          if (break_type === 1) {
            this.defaultTable1 = []
          } else if (break_type === 2) {
            this.defaultTable = []
          } else if (break_type === 3) {
            this.sketchDefaultTable = []
          } else {
            this.dataDefaultTable = []
          }
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    },
    getDefaultHandledRecord() {
      let task_id, project_name, default_status
      if (!/^\d+$/.test(this.searchInput_handled)) {
        project_name = this.searchInput_handled
      } else {
        task_id = this.searchInput_handled
      }
      if (this.treatmentResult === '1') {
        default_status = '5'
      } else if (this.treatmentResult === '2') {
        default_status = '4'
      }
      const params = {
        page_size: 5,
        page_num: 1,
        default_status: default_status,
        break_type: String(this.terminationReason),
        task_id: task_id,
        project_name: project_name
      }
      this.postRequest('youngee/m/operate/breachHandled', params).then((resp) => {
        if (resp.data.total !== 0) {
          let defaultHandledTableList = null
          let totalCount = null
          defaultHandledTableList = resp.data.breach_handled_preview
          this.$data.defaultTable_handled = defaultHandledTableList
          totalCount = parseInt(resp.data.total)
          this.$data.totalCountHandled = totalCount
        } else {
          // this.$message('暂无数据')
          this.$data.defaultTable_handled = []
        }
      })
    },

    // 将页码，及每页显示的条数以参数传递提交给后台
    getDataHandled(n1, n2) {
      let task_id, project_name, default_status
      if (!/^\d+$/.test(this.searchInput_handled)) {
        project_name = this.searchInput_handled
      } else {
        task_id = this.searchInput_handled
      }
      if (this.treatmentResult === '1') {
        default_status = '5'
      } else if (this.treatmentResult === '2') {
        default_status = '4'
      }
      const params = {
        page_size: n1,
        page_num: n2,
        default_status: default_status,
        break_type: String(this.terminationReason),
        task_id: task_id,
        project_name: project_name
      }
      this.postRequest('youngee/m/operate/breachHandled', params).then((resp) => {
        if (resp.data.total !== 0) {
          let defaultHandledTableList = null
          let totalCount = null
          defaultHandledTableList = resp.data.breach_handled_preview
          this.$data.defaultTable_handled = defaultHandledTableList
          totalCount = parseInt(resp.data.total)
          this.$data.totalCountHandled = totalCount
        } else {
          this.$message('暂无数据')
          this.$data.defaultTable_handled = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChangeHandled(val) {
      // 改变每页显示的条数
      this.PageSizeHandled = val
      // 点击每页显示的条数时，显示第一页
      this.getDataHandled(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPageHandled = 1
    },
    // 显示第几页
    handleCurrentChangeHandled(val) {
      // 改变默认的页数
      this.currentPageHandled = val
      // 切换页码时，要获取每页显示的条数
      this.getDataHandled(this.PageSizeHandled, val)
    },
    async deleted(row) {
      console.log('解约。。。')
      const contract_ids = []
      contract_ids.push(row.contract_id)
      const params = {
        contract_ids: contract_ids,
        default_status: 5
      }
      await this.postRequest('youngee/m/operate/contractBreach', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async rejected(row) {
      console.log('驳回。。。')
      const contract_ids = []
      contract_ids.push(row.contract_id)
      const params = {
        contract_ids: contract_ids,
        default_status: 4
      }
      await this.postRequest('youngee/m/operate/contractBreach', params).then((resp) => {
      })
      this.$router.go(0)
    },
    selectingChange(row) {
      this.selectingChanged = row
    },
    async allRelease() {
      console.log('批量解约。。。')
      var val = this.selectingChanged
      if (val.length === 0) {
        this.$message('请选择要解约的违约记录')
        return
      }
      var contract_ids = []
      for (let i = 0; i < val.length; i++) {
        var contract_id = val[i].contract_id
        contract_ids.push(contract_id)
      }
      console.log(contract_ids)
      const params = {
        contract_ids: contract_ids,
        default_status: 5
      }
      await this.postRequest('youngee/m/operate/contractBreach', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async allRefuse() {
      console.log('批量驳回。。。')
      var val = this.selectingChanged
      if (val.length === 0) {
        this.$message('请选择要驳回的违约记录')
        return
      }
      var contract_ids = []
      for (let i = 0; i < val.length; i++) {
        var contract_id = val[i].contract_id
        contract_ids.push(contract_id)
      }
      console.log(contract_ids)
      const params = {
        contract_ids: contract_ids,
        default_status: 4
      }
      await this.postRequest('youngee/m/operate/contractBreach', params).then((resp) => {
      })
      this.$router.go(0)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.box {
    display: flex;
    margin-top: 15px;
}

.box .box_btn {
    width: 110px;
    height: 40px;
    // border: 2px solid #f9f9f9;
    // background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.borderColor {
    // border: 1px solid #248bf4 !important;
    color: #248bf4;
}

.input-box {
    width: 200px;
    flex: 0, 1, atuo;
    display: flex;
    justify-content: left;
}

.input-box-line {
  line-height: 40px;
  margin: 20px;
}

.reviewerEle {
  display: flex;
  justify-content: right;
  width: 160px;
}

.input-box-line1 {
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    // margin: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.Button{
  background:#0e4bb7;
  color:white;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  float: right;
}
.head-content{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}

.dialog-title {
    border-bottom: 2px solid #9b9898;
    height: 60px;
}

.picture-list {
    display: flex;
    align-items: flex-start;
}

.picture-list-item_img {
    width: auto;
    max-width: 180px;
    height: auto;
    max-height: 180px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}
.el-dialog__headerbtn .el-dialog__close{
  color: white;
}
.el-dialog__body{
  padding: 5px 15px;
  text-align: center;
}
</style>
