<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">商家用户详情</div> -->
    <div class="head-info">
      <div class="head-left">
        <p class="info-title">账号信息</p>
        <span> 企业用户名称：{{ username }}</span>
        <span> 企业用户ID：{{ enterprise_id }}</span>
        <span> 联系方式：{{ phone }}</span>
      </div>
      <div class="head-right">
        <p class="info-title">账户资金</p>
        <span> 账户余额：{{ balance }}</span>
        <span> 冻结中：{{ frozen_balance }}</span>
        <span> 可用余额：{{ available_balance }}</span>
      </div>
    </div>
    <create-project />
    <excute-requirement />
    <recruit-requirement />
    <el-card class="box" style="display:flex;flex-direction: column;">
      <div style="display:flex;flex-direction: row;">
        <div class="box-card">商品库信息</div>
        <el-button
          slot="append"
          class="button-right"
          @click="newAdd"
        >
          新增商品
        </el-button>
      </div>
      <el-table
        ref="commodityTable"
        :row-style="{ height: '0' }"
        :cell-style="{ padding: '0' }"
        height="160"
        :data="commodityTable"
        border
        class="table-info"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="brand_name" label="品牌名称" width="180" align="center" />
        <el-table-column prop="product_name" label="商品名称" align="center" />
        <el-table-column prop="product_type" label="商品类型" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="checkCom(scope.row)">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
    <el-card class="box" style="display:flex;flex-direction: column;">
      <div style="display:flex;flex-direction: row;">
        <div class="box-card">项目记录</div>
        <el-button
          slot="append"
          class="button-right"
          @click="createProduct"
        >
          创建项目
        </el-button>
      </div>
      <el-table
        ref="projectTable"
        :row-style="{ height: '0' }"
        :cell-style="{ padding: '0' }"
        height="160"
        :data="projectTable"
        border
        class="table-info"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="project_id" label="项目ID" width="160" align="center" />
        <el-table-column prop="project_name" label="项目名称" align="center" />
        <el-table-column prop="project_type" label="项目类型" align="center" />
        <el-table-column prop="project_status" label="项目状态" align="center" />
        <el-table-column prop="updated_at" label="最后操作时间" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="checkProjectInfo(scope.row)">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>

    <el-card class="box" style="display:flex;flex-direction: column;">
      <div style="display:flex;flex-direction: row;">

        <div class="box-card">选品记录</div>

        <div class="input-box-time">
        查询时间：
        <el-date-picker
          v-model="registerTime"
          align="right"
          type="date"
          style="width:140px"
          value-format="yyyy-MM-dd"
          placeholder="选择日期"
          :picker-options="pickerOptions"
        />
      </div>

        <el-button
          slot="append"
          class="button-right"
          @click="createProduct"
        >
          创建选品
        </el-button>
      </div>
      <el-table
        ref="projectTable"
        :row-style="{ height: '0' }"
        :cell-style="{ padding: '0' }"
        height="160"
        :data="selectTable"
        border
        class="table-info"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="selection_id" label="项目ID" width="160" align="center" />
        <el-table-column prop="selection_name" label="项目名称" align="center" />
        <el-table-column prop="task_model" label="任务类型" align="center" />
        <el-table-column prop="sample_model" label="样品方式" align="center" />
        <el-table-column prop="update_at" label="操作时间" width="180" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="checkProjectInfo(scope.row)">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>


    <el-card class="box" style="display:flex;flex-direction: column;">
      <div style="display:flex;flex-direction: row;">
        <div class="box-card">充值记录</div>
      </div>
      <el-table
        ref="rechargeTable"
        height="160"
        :data="rechargeTable"
        border
        class="table-info"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="recharge_amount" label="充值金额" align="center" />
        <el-table-column prop="recharge_method" label="支付方式" align="center" />
        <el-table-column prop="transfer_voucher" label="转账凭证" align="center">
          <template slot-scope="scope">
            <img v-if="scope.row.transfer_voucher != '--'" :src="scope.row.transfer_voucher" alt="" width="80px" height="100px" preview="1">
            <span v-if="scope.row.transfer_voucher == '--'"> -- </span>
          </template>
        </el-table-column>
        <el-table-column prop="confirm_at" label="充值确认时间" align="center" />
      </el-table>
    </el-card>
    <el-card class="box" style="display:flex;flex-direction: column;">
      <div style="display:flex;flex-direction: row;">
        <div class="box-card">开票记录</div>
      </div>
      <el-table
        ref="billedTable"
        :row-style="{ height: '0' }"
        :cell-style="{ padding: '0' }"
        height="160"
        :data="billedTable"
        border
        class="table-info"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="amount" label="开票金额" width="160" align="center" />
        <el-table-column prop="invoice_type" label="发票类型" align="center" />
        <el-table-column prop="invoice_info" label="开票信息" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="checkBilling(scope.row)">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="address_info" label="邮寄地址" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="checkAddress(scope.row)">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="shipment_number" label="物流单号" width="180" align="center" />
        <el-table-column prop="billing_at" label="开票时间" width="180" align="center" />
      </el-table>
    </el-card>
    <el-dialog class="addNewProduct" :visible.sync="newAddDialogVisible">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="newAddDialogVisible = false;" />
        </div>
      </div>
      <add-new-product ref="addProduct" style="width:1000px" />
    </el-dialog>
    <el-dialog :visible.sync="addressInfoDialogVisible" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="addressInfoDialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;justify-content: center;">
        <div class="external" style="padding-bottom:10px;">
          <span class="title">邮寄地址</span>
        </div>
      </div>

      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>收件人：</span>
          <span style="margin-left:30px">{{ addressInfoReceiver }} </span>
        </div>
        <div class="inline">
          <span>电话：</span>
          <span style="margin-left:30px">{{ addressInfoPhone }} </span>
        </div>
        <div class="inline">
          <span>收件地址：</span>
          <span style="margin-left:30px">{{ addressInfoAddress }} </span>
        </div>
      </div>
    </el-dialog>
    <el-dialog :visible.sync="invoiceInfoDialogVisible" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="invoiceInfoDialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;justify-content: center;">
        <div class="external" style="padding-bottom:10px;">
          <span class="title">开票信息</span>
        </div>
      </div>

      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>单位抬头：</span>
          <span style="margin-left:30px">{{ invoiceInfoHead }} </span>
        </div>
        <div class="inline">
          <span>统一社会信用代码：</span>
          <span style="margin-left:30px">{{ invoiceInfoCode }} </span>
        </div>
        <div class="inline">
          <span>企业开户银行：</span>
          <span style="margin-left:30px">{{ invoiceInfoBank }} </span>
        </div>
        <div class="inline">
          <span>银行账户：</span>
          <span style="margin-left:30px">{{ invoiceInfoCard }} </span>
        </div>
        <div class="inline">
          <span>企业注册地址：</span>
          <span style="margin-left:30px">{{ invoiceInfoAddress }} </span>
        </div>
        <div class="inline">
          <span>电话：</span>
          <span style="margin-left:30px">{{ invoiceInfoPhone }} </span>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { money } from '@/utils/index'
import AddNewProduct from '@/components/Project/AddNewProduct/index.vue'
import { EventBus } from '@/event-bus'
import CreateProject from '@/views/dashboard/CreateProject/index.vue'
import ExcuteRequirement from '@/views/dashboard/ExcuteRequirement/index.vue'
import RecruitRequirement from '@/views/dashboard/RecruitRequirement/index.vue'

export default {
  name: 'Dashboard',
  components: {
    AddNewProduct,
    CreateProject,
    ExcuteRequirement,
    RecruitRequirement
  },
  data() {
    return {
      user: '',
      userID: 0,
      username: '',
      balance: '',
      frozen_balance: '',
      available_balance: '',
      phone: '',
      commodityTable: [],
      rechargeTable: [],
      billedTable: [],
      projectTable: [],
      selectTable:[],
      newAddDialogVisible: false,
      invoiceInfoDialogVisible: false,
      addressInfoDialogVisible: false,
      invoiceInfoPhone: '',
      invoiceInfoAddress: '',
      invoiceInfoCard: '',
      invoiceInfoBank: '',
      invoiceInfoCode: '',
      invoiceInfoHead: '',
      addressInfoAddress: '',
      addressInfoPhone: '',
      addressInfoReceiver: '',
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,
      enterprise_id: ''
    }
  },
  computed: {
  },
  mounted() {
    if (this.$route.query.user === 0) {
      this.$router.push(`/enterpriseUserManagement`)
      return
    }
    this.enterprise_id = this.$route.query.enterprise_id
    // console.log(this.enterprise_id)
    this.user = this.$route.query.user
    this.userID = this.$route.query.userID
    this.username = this.$route.query.username
    this.balance = this.$route.query.balance
    this.frozen_balance = this.$route.query.frozen_balance
    this.available_balance = this.$route.query.available_balance
    this.phone = this.$route.query.phone
    this.getInvoiceRecords()
    this.getProducts()
    this.getRechargeRecords()
    this.getProjectRecords()
    this.getSelectRecords()
  },
  methods: {
    checkProjectInfo(row) {
      this.$store.state.project.enterprise_id = row.enterprise_id
      // 跳转到项目详情界面，参数为project_id
      this.$router.push({
        path: '/viewhome',
        query: {
          project_id: row.project_id
        }
      })
    },
    getProjectRecords() {
      const params = {
        page_size: 10,
        page_num: 1,
        status: 2,
        user_id: parseInt(this.userID)
      }
      this.postRequest('youngee/m/project/getProduceRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let projectRecords = null
          let totalCount = null
          resp.data.project_records_preview.forEach(e => {
            e.recharge_amount = money(e.recharge_amount)
          })
          projectRecords = resp.data.project_records_preview
          this.$data.projectTable = projectRecords
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.projectTable = []
        }
      })
    },
    getSelectRecords() {
      const params = {
        page_size: 10,
        page_num: 1,
        enterprise_id: parseInt(this.enterprise_id),
        
      }
      this.postRequest('/youngee/m/user/getSelectionInfo', params).then((resp) => {
        if (resp.data.total !== '0') {
          let selectRecords = null
          let totalCount = null
          resp.data.selection_info_preview.forEach(e => {
            e.recharge_amount = money(e.recharge_amount)
          })
          selectRecords = resp.data.selection_info_preview
          this.$data.selectTable = selectRecords
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.selectTable = []
        }
      })
    },
    
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      const params = {
        page_size: n1,
        page_num: n2,
        status: 2,
        user_id: parseInt(this.userID)
      }
      this.postRequest('youngee/m/project/getProduceRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let projectRecords = null
          let totalCount = null
          resp.data.project_records_preview.forEach(e => {
            e.recharge_amount = money(e.recharge_amount)
          })
          projectRecords = resp.data.project_records_preview
          this.$data.projectTable = projectRecords
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.projectTable = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    },
    getRechargeRecords() {
      const params = {
        page_size: 100,
        page_num: 1,
        status: 2,
        user_id: parseInt(this.userID)
      }
      this.postRequest('youngee/m/finance/rechargeRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let rechargingTableList = null
          resp.data.recharge_records_preview.forEach(e => {
            e.recharge_amount = money(e.recharge_amount)
          })
          rechargingTableList = resp.data.recharge_records_preview
          this.$data.rechargeTable = rechargingTableList
        } else {
          this.rechargeTable = []
        }
      })
    },
    getInvoiceRecords() {
      // 最多查询出100条开票记录
      const params = {
        page_size: 100,
        page_num: 1,
        invoice_status: 2,
        user_id: parseInt(this.userID)
      }
      this.postRequest('youngee/m/finance/invoiceRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let billedTable = null
          resp.data.invoice_records_previews.forEach(e => {
            e.amount = money(e.amount)
          })
          billedTable = resp.data.invoice_records_previews
          this.$data.billedTable = billedTable
        } else {
          this.billedTable = []
        }
      })
    },
    getProducts() {
      const param = {
        userID: this.userID
      }
      this.postRequest('/youngee/m/product/findall', param).then((resp) => {
        if (resp.data.product_infos == null) {
          return
        }
        if (resp.data.product_infos.length > 0) {
          let product_commodity = null
          product_commodity = resp.data.product_infos
          this.$data.commodityTable = product_commodity
        } else {
          this.$message('暂无数据')
          this.commodityTable = []
        }
        this.product_infos = []
        const res = resp.data.product_infos
        for (const i in res) {
          const product = {
            label: res[i].brand_name + '-' + res[i].product_name,
            value: res[i].product_id + ''
          }
          this.product_infos.push(product)
        }
      })
    },
    newAdd() {
      // console.log('新增中')
      EventBus.$emit('NewProduct', '新增商品', this.enterprise_id)
      clearTimeout(this.timer) // 清除延迟执行
      this.timer = setTimeout(() => { // 设置延迟执行
        this.$data.newAddDialogVisible = true
      }, 500)
    },
    AddToProductLibrary() {
      // console.log('加入商品库中')
      this.$data.newAddDialogVisible = false
    },
    checkCom(row) {
      this.product_id = row.product_id
      // console.log(this.$refs.addProduct)
      this.$data.newAddDialogVisible = true
      clearTimeout(this.timer) // 清除延迟执行
      this.timer = setTimeout(() => { // 设置延迟执行
        EventBus.$emit('ProductFresh', this.product_id)
      }, 0)
    },
    newAddDialogCancel() {
      this.newAddDialogVisible = false
    },
    checkBilling(row) {
      const invoiceInfo = JSON.parse(row.invoice_info)
      this.invoiceInfoDialogVisible = true
      this.invoiceInfoPhone = invoiceInfo.RegisteredPhone
      this.invoiceInfoAddress = invoiceInfo.RegisteredAddress
      this.invoiceInfoCard = invoiceInfo.BankCardNumber
      this.invoiceInfoBank = invoiceInfo.Bank
      this.invoiceInfoCode = invoiceInfo.TaxCode
      this.invoiceInfoHead = invoiceInfo.HeadType
    },
    checkAddress(row) {
      const addressInfo = JSON.parse(row.address_info)
      this.addressInfoDialogVisible = true
      this.addressInfoReceiver = addressInfo.Name
      this.addressInfoAddress = addressInfo.Address
      this.addressInfoPhone = addressInfo.Phone
    },
    createProduct() {
      EventBus.$emit('CreateProject', true)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
    // background: #fbfbfb;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.head-info{
    height: 156px;
    display: flex;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%)
}
.info-title{
    font-size: 16px;
    font-weight: bolder;
}
.head-left{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    span{
        margin: 5px;
    }
    // justify-content: flex-start;
}
.head-right{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: right;
    span{
        margin: 5px;
    }
    // justify-content: flex-end;
}
.box {
  margin-top: 20px;
}

.box-card {
  margin: 8px;
}
.table-info {
//   width: 60%;
  text-align: center;
  margin-top: 10px;
}
.button-right{
    background-color: #0e4bb7;
    color:white;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
.inline{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 16px;
}
.external {
  display: flex;
  justify-content: center;
}
.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: 2px solid #0e4bb7;
  padding-bottom: 5px;
  color: #557bf4;
  font-size: 18px;
}
.updateButton{
  background:#0e4bb7;
  color:white;height: 40px;margin-top: 5px;margin-left: 120px;
}

</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.input-box-time {
          // margin-bottom: 12px;
          // padding-left: 5px;
          justify-content: center;
          margin-left: 5px;
          // display: flex;
        }


.addNewProduct {
  .el-dialog {
    width: 1100px;
    margin-top: 6vh !important;
    margin-bottom: 20px;

    .el-dialog__body {
      padding-top: 0px;

      .newbrand {
        border: 0ch;
        padding-top: 0px;
        padding-right: 0px;

        .input-box-line {
          margin-bottom: 12px;
        }

        .funcBtn {
          margin-top: 10px;
          float: none;
          // margin-left: 45%;
          background: #0e4bb7;
          color: white;
        }

        .title {
            font-size: 20px;
            color: #0e4bb7;
            border-bottom: 1px solid #0e4bb7;
        }
      }
    }
  }
}
</style>

<style>
.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-textarea .el-input__count{
    color: #909399;
    background: #FFF;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 25px;
}
</style>

<style>
.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-textarea .el-input__count{
    color: #909399;
    background: #FFF;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 25px;
}
</style>
