<!-- 数据与结案 -->
<template>
  <div class="recruitManage">
    <el-card class="recruitManageCard" shadow="never" style=" ">
      <div>
        <div style="float: left;text-align: right;width:50%;margin-left: 2%;padding-bottom: 10px;margin-bottom: 10px;">
          <span class="flow_right">结案数据</span>
        </div>
        <div>
          <span style="float: right;text-align: right;width:38%;">结案时间：{{ finish_at }}</span>
        </div>
      </div>
      <el-table
        :key="recruitStrategyKey"
        :data="recruit_strategys"
        border
        class="strategys-table-manage"
        :header-cell-style="{ background: '#6394ea', color: 'white' }"
      >
        <el-table-column prop="strategy_id" label="策略编号" width="180" align="center" />
        <el-table-column prop="show_fee_form" label="稿费形式" width="180" align="center" />
        <el-table-column prop="fans" label="创作者粉丝量" align="center" />
        <el-table-column prop="show_offer" label="报价" align="center" />
        <el-table-column prop="show_service_charge" label="平台服务费" align="center" />
        <el-table-column prop="should_finish_number" label="应结案数量" align="center" />
        <el-table-column prop="finished_number" label="实际结案" align="center" />
      </el-table>
    </el-card>

    <div style="display: flex;justify-content: center;">
      <div class="input-box-line" style="margin-left: 50px">
        <el-input v-model="searchInput" placeholder="账号昵称、任务ID">
          <el-button slot="append" class="search-button" @click="getDataList">搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 结案数据 -->
    <div>
      <div style="margin-bottom:5px;float:right">
        <el-button class="search-button" @click="allSelecting">导出表格</el-button>
      </div>

      <el-table
        ref="finishDataTable"
        :data="finishDataTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="strategy_id" label="策略编号" align="center" />
        <el-table-column prop="photo_url" label="数据截图" align="center">
          <template slot-scope="scope">
            <span>
              <img :src="scope.row.photo_url" alt="" style="width: 50px;height:50px" preview="1">
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="play_number" label="阅读/播放数" align="center" />
        <el-table-column prop="like_number" label="点赞数" align="center" />
        <el-table-column prop="collect_number" label="收藏数" align="center" />
        <el-table-column prop="comment_number" label="评论数" align="center" />
        <el-table-column prop="real_payment" label="结算金额" align="center" />
        <el-table-column prop="submit_at" label="数据上传时间" align="center" />
        <el-table-column prop="operate" label="发布链接" align="center" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handShowLinkClick(scope.row)">
              {{ scope.row.link_url }}</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import { fansview, money } from '@/utils'
export default {
  name: 'FinishData',
  data() {
    return {
      enterprise_id: this.$store.state.project.enterprise_id,
      project_id: this.$store.state.project.project_id,
      project_form: this.$store.state.project.project_form,
      searchInput: '',
      all_sum: 0,
      // 控制切换按钮后按钮改变样式
      strategy_id: 0,
      strategy_ids: [],
      recruit_strategys: this.$store.state.recruit_strategys,

      // 控制弹窗显示
      payment: 0,
      taskIds: [],

      finishDataTable: [],
      selectingChanged: [],

      recruitStrategyKey: '',

      strategyIdNumber: new Map()
    }
  },
  computed: {
    finish_at() {
      return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.finish_at : null
    }
  },
  created() {
    this.getDataList(0)
    this.getDataInfo()
  },
  methods: {
    getDataInfo() {
      const strategy_ids = []
      const strategy_id = {
        value: 0,
        label: '不限'
      }
      this.strategy_ids = []
      this.strategy_ids.push(strategy_id)
      for (const i in this.$store.state.recruit_strategys) {
        const strategy_id = {
          value: this.$store.state.recruit_strategys[i].strategy_id,
          label: this.$store.state.recruit_strategys[i].strategy_id
        }
        this.strategy_ids.push(strategy_id)
        strategy_ids.push(this.recruit_strategys[i].strategy_id)
      }
      const params = {
        project_id: this.project_id,
        strategy_ids: strategy_ids.toString()
      }
      // console.log(params)
      this.postRequest('/youngee/m/project/getfinishnumberinfo', params).then((resp) => {
        for (const i in this.$data.recruit_strategys) {
          this.$data.recruit_strategys[i].should_finish_number = resp.data.number_info_list[i].should_finish_number
          this.$data.recruit_strategys[i].finished_number = resp.data.number_info_list[i].finished_number
        }
        this.$data.recruitStrategyKey = Math.random()
      })
    },
    // 查询任务数据列表
    getDataList() {
      this.finishDataTable = []
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: this.project_id,
        strategy_id: String(this.strategy_id),
        platform_nickname: this.searchInput
        // task_id: this.searchInput,
      }
      this.postRequest('/youngee/m/project/taskfinishlist', params).then((resp) => {
        if (resp.data.total === '0') {
          this.$message('数据待审中暂无数据')
        }
        this.$data.finishDataTable = resp.data.project_finish_pre_view
        this.$data.finishDataTable.forEach(e => {
          e.real_payment = money(e.real_payment)
          e.fans_count = fansview(e.fans_count)
          e.play_number = fansview(e.play_number)
          e.like_number = fansview(e.like_number)
          e.comment_number = fansview(e.comment_number)
          e.collect_number = fansview(e.collect_number)
        })
        this.$data.totalCount = parseInt(resp.data.total)
      })
    },
    allSelecting() {
      // 导出表格
      if (this.selectingChanged.length === 0) {
        this.$message({
          message: '请至少选择一条需要导出的数据',
          type: 'warning'
        })
        return
      }

      const tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '发布链接', '阅读量/播放量', '点赞数', '阅读数', '评论数'] // 设置Excel表格的表头
      const filterVal = ['task_id', 'platform_nickname', 'fans_count', 'strategy_id', 'link_url', 'play_number', 'like_number', 'collect_number', 'comment_number'] // 跟表格表头对应的绑定的prop
      const tableTitleName = this.$store.state.project.project_name + '结案统计'

      this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // 导出
        require.ensure([], () => {
          const { export_json_to_excel } = require('@/excel/export2Excel') // 注意这个Export2Excel路径
          // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectingChanged)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
          const list = JSON.parse(JSON.stringify(this.selectingChanged))
          const data = this.formatJson(filterVal, list)
          export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
        })
      }).catch(() => { })
    },
    formatJson(filterVal, Data) {
      return Data.map(v => filterVal.map(j => v[j]))
    },
    selectingChange(val) {
      // console.log(val)
      this.selectingChanged = val
    },
    handShowLinkClick(row) {
      window.open(row.link_url, '_blank')
    }
  }
}
</script>
<style scoped lang = "scss">
.recruitManageCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.recruitManage {
  text-align: center;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #248bf4;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
  background-color: #248bf4 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.PassBtn {
  border: none;
  justify-content: center;
  background-color: #248bf4 !important;
  color: white !important;
  margin: 10px;
  // padding: 8px 15px;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  justify-content: left;
}
</style>
