<template>
  <el-dialog style="padding: 0 !important;" :visible.sync="CreateProjectVisible" append-to-body>
    <div class="createproject">
      <div class="project_info">
        <div class="flow">
          <div class="flow_info_base">
            <span class="flow_cur">基础信息</span>
          </div>
          <div class="singleArrow"></div>
          <div class="flow_info_base">
            <span class="flow_right">招募要求</span>
          </div>
          <div class="singleArrow"></div>
          <div class="flow_info_base">
            <span class="flow_right">执行要求</span>
          </div>
        </div>
        <div class="content">
          <div class="input-box-line">
            项目类型*：
            <el-select class="input-box" v-model="project_type" placeholder="请选择">
              <el-option v-for="item in project_types" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
          </div>
          <div class="input-box-line">
            社媒平台*：
            <el-select class="input-box" v-model="project_platform" placeholder="请选择">
              <el-option v-for="item in project_platforms" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
          </div>
          <!-- 关联商品 -->
          <el-row :gutter="50">
            <el-col :span="250">
              <div class="input-box-line">
                关联商品*：
                <el-select class="input-box" v-model="product_id" placeholder="请选择" @change="selectProduct($event)">
                  <el-option v-for="item in product_infos" :key="item.value" :label="item.label" :value="item.value">
                  </el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="250">
              <el-button type="primary" class="funcBtnnewproduct" @click="newProduct">新增商品</el-button>
            </el-col>
            <el-col :span="250"> </el-col>
          </el-row>
          <add-new-product></add-new-product>
          <el-button type="primary" class="funcBtnstore" @click="nextStep">保存并下一步</el-button>
        </div>
      </div>
    </div>

  </el-dialog>
</template>

<script>
import { EventBus } from "../event-bus.js";
import AddNewProduct from '@/components/Project/AddNewProduct/index.vue'
import RecruitRequirement from '@/components/Project/RecruitRequirement/index.vue'
import ExcuteRequirement from '@/components/Project/ExcuteRequirement/index.vue'

export default {
  name: "CreateProject",
  components: {
    AddNewProduct,
    RecruitRequirement,
    ExcuteRequirement
  },
  data() {
    return {
      // isShow: false,
      product_id: "",
      project_type: "",
      project_platform: "",
      CreateProjectVisible: false,
      product_infos: [],
      project_types: [
        {
          value: "1",
          label: "全流程项目",
        },
        {
          value: "2",
          label: "专项执行项目",
        },
      ],
      project_platforms: [
        {
          value: "1",
          label: "红book",
        },
        {
          value: "2",
          label: "抖音",
        },
        {
          value: "3",
          label: "新浪微博",
        },
        {
          value: "4",
          label: "快手",
        },
        {
          value: "5",
          label: "B站",
        },
        {
          value: "6",
          label: "大众点评",
        },
        {
          value: "7",
          label: "知乎",
        },
      ],
      productInfo: [],
    };
  },
  mounted() {
    EventBus.$on("CreateProject", (msg) => {
      // console.log("创建项目!!：",msg,this.CreateProjectVisible)
      this.CreateProjectVisible = msg
    });
    this.$store.state.project = {};
    EventBus.$on("ReFindAll", (msg) => {
      let params = {};
      this.postRequest("/youngee/m/product/findall", params).then((resp) => {
        if (resp.data === null) {
          return
        }
        this.product_infos = [];
        let res = resp.data.product_infos;
        for (let i in res) {
          let product = {
            label: res[i].brand_name + "-" + res[i].product_name,
            value: res[i].product_id + "",
          };
          this.product_infos.push(product);
        }
      });
      this.product_id = msg;
    });
    let params = {};
    this.postRequest("/youngee/m/product/findall", params).then((resp) => {
        if (resp.data === null) {
            return
        }
      this.product_infos = [];
      let res = resp.data.product_infos;
      for (let i in res) {
      let product = {
          label: res[i].brand_name + "-" + res[i].product_name,
          value: res[i].product_id + "",
      };
      this.product_infos.push(product);
      }
    });
  },
  methods: {
    newProduct() {
      // this.isShow = true;
      EventBus.$emit("NewProduct", "新增商品");
    },
    selectProduct(e) {
      // this.isShow = true;
      this.product_id = e;
      EventBus.$emit("ProductFresh", this.product_id);
    },
    nextStep() {
      //基础信息校验
      if (this.project_type.trim() == "") {
        this.$message.error("项目类型不能为空");
        return;
      }
      if (this.project_platform.trim() == "") {
        this.$message.error("社媒平台不能为空");
        return;
      }
      if (this.product_id == "") {
        this.$message.error("关联商品不能为空");
        return;
      }
      this.$store.state.project.product_id = parseInt(this.product_id);
      this.$store.state.project.project_type = parseInt(this.project_type);
      this.$store.state.project.project_platform = parseInt(
        this.project_platform
      );
      EventBus.$emit("RecruitRequirement", true);
      this.CreateProjectVisible = false;
      // this.$router.push("/createproject/recruitrequirement");
    },
  },
};
</script>

<style lang="scss">
.el-dialog__header {
  padding: 0;
}


.el-dialog {
  width: 1250px;
  margin-top: 10vh;
}
</style>

<style scoped lang = "scss">
.createproject {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  .back {
    display: flex;
  }

  .flow {
    display: flex;
    justify-content: center;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 30px 30px;
  }

  .flow_cur {
    font-size: 30px;
    color: #f7d43c;
    border-bottom: 3px solid #f7d43c;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 30px;
    color: #f7d43c;
  }

  .flow_right {
    font-size: 30px;
    color: black;
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-big-box {
    width: 500px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-box-line {
    line-height: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }


  // css
  .singleArrow_cur {
    width: 180px;
    height: 5px;
    position: relative;
    background-color: #f2d22e;
    margin: 40px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow_cur::after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    /* 箭头位置 */
    top: -8px;
    /* 箭头位置 */
    border-top: 10px solid transparent;
    /* 箭头高低 */
    border-bottom: 15px solid transparent;
    /* 箭头高低 */
    border-left: 20px solid #f2d22e;
    /* 箭头长度*/
  }

  .singleArrow {
    width: 180px;
    height: 5px;
    position: relative;
    background-color: black;
    margin: 40px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow::after {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    /* 箭头位置 */
    top: -8px;
    /* 箭头位置 */
    border-top: 10px solid transparent;
    /* 箭头高低 */
    border-bottom: 15px solid transparent;
    /* 箭头高低 */
    border-left: 20px solid black;
    /* 箭头长度*/
  }

  .funcBtnnewproduct {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 0px 20px 20px;
  }

  .funcBtnstore {
    border: none;
    background-color: #f7d43c;
    color: black;
    margin: 20px 20px;
  }

  .content {
    padding: 20px 48px;
  }

  .newbrand {
    padding: 20px 48px;
    border: dashed;

    .upload-cover {
      width: 500px;
      display: flex;
    }
  }
}

.next-btn {
  margin-top: 5px;
}
</style>