<template>
  <div v-if="Object.keys($store.state.project).length !== 0" class="basetmp">
    <div class="Recruit">
      <div class="content">
        <div style="display: flex; justify-content: space-between">
          <div class="input-box-line">
            招募截止时间*：
            <el-date-picker
              v-model="recruit_ddl_date"
              :readonly="!isCreating && !isReviewing"
              align="right"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd"
              :clearable="false"
              :picker-options="pickerOptions"
              @change="recruitChange"
            />
            <el-time-select
              v-model="recruit_ddl_time"
              :readonly="!isCreating && !isReviewing"
              :picker-options="{
                start: '00:00',
                step: '01:00',
                end: '24:00'
              }"
              placeholder="选择时间"
              :clearable="false"
              style="width: 150px;margin-left:20px"
            />
          </div>
          <div v-show="isCreating || isReviewing" class="input-box-line">
            任务形式*：
            <el-select
              v-model="project_form"
              class="input-box"
              :readonly="!isCreating && !isReviewing"
              placeholder="请选择"
              :popper-append-to-body="false"
              @change="recruitChange"
            >
              <el-option v-for="item in project_forms" :key="item.value" :label="item.label" :value="item.value" />
            </el-select>
          </div>
          <div v-show="!isCreating && !isReviewing" class="input-box-line">
            任务形式*：{{ project_info.project_form_show }}
          </div>
        </div>
        <div v-show="isCreating || isReviewing" class="input-box-line">
          创作者类型：
          <div class="input-big-box">
            <el-checkbox-group v-model="talent_type" :max="3" size="small">
              <el-col v-for="(item, index) in talent_types" :key="index" :value="index" :span="3">
                <el-checkbox
                  class="el-checkbox-width"
                  :label="index"
                  :disabled="index === 0 ? false : expertType"
                  border
                  @change="changeTalentType(index, item)"
                >{{ item.label }}
                </el-checkbox>
              </el-col>
              <!-- <el-button type="primary" @click="changeExpertType" class="small_button">不限</el-button> -->
              <!-- active: talent_types ? true : false  -->
            </el-checkbox-group>
          </div>
        </div>
        <div class="input-box-line">
          已选类型：{{ talent_chose }}
        </div>
        <div v-show="isCreating || isReviewing">
          <div class="input-box-line">招募策略*：
            <div>
              <el-button type="primary" class="funcBtnstra" @click="showAddstra">新增招募策略</el-button>
            </div>
          </div>
          <div v-show="isAddstra" class="strategy">
            <div style="display: flex; justify-content: space-between">
              <div class="input-box-line">
                稿费形式*：
                <el-select v-model="fee_form" class="short-input-box" placeholder="请选择" :popper-append-to-body="false">
                  <el-option v-for="item in fee_forms" :key="item.value" :label="item.label" :value="item.label" />
                </el-select>
              </div>
              <div class="input-box-line">
                创作者粉丝数量*：
                <el-input-number v-show="fans_low_cnt == 1" v-model="fansLow" :min="0" :precision="1" :controls="false" type="number" style="width: 90px" placeholder="请输入" @input.native="onInput1" />
                <el-input v-show="fans_low_cnt == 2" v-model="fansLow" clearable style="width:90px" placeholder="请输入" @input.native="onInput" />
                <el-select v-model="fansLow_cnt" clearable style="width: 90px" placeholder="请选择" :popper-append-to-body="false">
                  <el-option v-for="item in fansRange" :key="item.value" :label="item.label" :value="item.value" />
                </el-select>
                --
                <el-input-number v-show="fans_high_cnt == 1" v-model="fansHigh" :min="0" :precision="1" :controls="false" type="number" style="width: 90px" placeholder="请输入" @input.native="onInput1" />
                <el-input v-show="fans_high_cnt == 2" v-model="fansHigh" clearable style="width:90px" placeholder="请输入" @input.native="onInput" />
                <el-select v-model="fansHigh_cnt" clearable style="width: 90px" placeholder="请选择" :popper-append-to-body="false">
                  <el-option v-for="item in fansRange" :key="item.value" :label="item.label" :value="item.value" />
                </el-select>
              </div>
              <div class="input-box-line">
                招募数量*：
                <el-input
                  v-model="recruit_number"
                  class="short-input-box"
                  placeholder="请输入"
                  onkeyup="value=value.replace(/[^\d]/g,'')"
                />
              </div>
              <div v-show="isFixed" class="input-box-line">
                报价*：
                <el-input
                  v-model="offer"
                  class="short-input-box"
                  placeholder="请输入"
                  onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                />
                <div>元/每人&emsp;</div>
                <div class="attention">固定稿费填写</div>
              </div>
            </div>
            <div>
              <el-button type="primary" class="funcBtnstra" @click="addstra(); recruitChange()">生成招募策略</el-button>
            </div>
          </div>
        </div>
        <div v-show="!isCreating && !isReviewing" class="input-box-line">招募策略*：</div>
        <el-table
          :data="recruit_strategys"
          border
          class="strategys-table"
          :header-cell-style="{ background: '#eef2f7', color: '#606266' }"
        >
          <el-table-column prop="strategy_id" label="策略编号" align="center" />
          <el-table-column prop="show_fee_form" label="稿费形式" align="center" />
          <el-table-column prop="fans" label="创作者粉丝量" align="center" />
          <el-table-column prop="show_offer" label="报价" align="center" />
          <el-table-column prop="show_service_charge" label="平台服务费" align="center" />
          <el-table-column prop="recruit_number" label="招募数量" align="center" />
          <el-table-column v-if="isCreating || isReviewing" prop="operation" label="操作" align="center">
            <!--单个删除按钮-->
            <template slot-scope="scope">
              <el-button type="text" @click="handleDelete(scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
import { money, fansview } from '@/utils/index'
export default {
  name: 'ViewRecruit',
  props: ['msg'],
  data() {
    return {
      recruit: {},
      fee_form: '',
      strategy_id: 0,
      service_charge: '——',
      followers_low: '',
      followers_up: '',
      recruit_number: '',
      isAddstra: false,
      isFixed: false,
      fansRange: [
        {
          value: 1,
          label: '个'
        },
        {
          value: 10000,
          label: '万'
        },
        {
          value: 100000000,
          label: '亿'
        }
      ],
      fansLow: '',
      fansLow_cnt: '',
      fansLow_info: '',
      fansLow_cnt_info: '',
      fans_low_cnt: 0,
      fans_low_cnt_info: 0,
      fansHigh: '',
      fansHigh_cnt: '',
      fans_high_cnt: 0,
      fans_high_cnt_info: 0,
      fansHigh_info: '',
      fansHigh_cnt_info: '',
      talent_name: [],
      offer: '',
      project_form: '',
      project_forms: [
        {
          value: '1',
          label: '实体商品寄拍'
        },
        {
          value: '2',
          label: '虚拟产品测评'
        },
        {
          value: '3',
          label: '线下探店打卡'
        }
      ],
      expertType: false,
      talent_types: [
        { value: 0, label: '不限' },
        { value: 1, label: '美妆' },
        { value: 2, label: '美食' },
        { value: 3, label: '生活' },
        { value: 4, label: '时尚' },
        { value: 5, label: '测评' },
        { value: 6, label: '旅行' },
        { value: 7, label: '汽车' },
        { value: 8, label: '萌宠' },
        { value: 9, label: '游戏' },
        { value: 10, label: '音乐' },
        { value: 11, label: '舞蹈' },
        { value: 12, label: '房产' },
        { value: 13, label: '情感' },
        { value: 14, label: '三农' },
        { value: 15, label: '园艺' },
        { value: 16, label: '随拍' },
        { value: 17, label: '图文控' },
        { value: 18, label: '二次元' },
        { value: 19, label: '母婴亲子' },
        { value: 20, label: '颜值达人' },
        { value: 21, label: '剧情搞笑' },
        { value: 22, label: '运动健身' },
        { value: 23, label: '家居家装' },
        { value: 24, label: '科技数码' },
        { value: 25, label: '教育培训' },
        { value: 26, label: '才艺技能' },
        { value: 27, label: '艺术文化' },
        { value: 28, label: '财经投资' }

      ],
      fee_forms: [
        {
          value: '1',
          label: '产品置换'
        },
        {
          value: '2',
          label: '固定稿费'
        },
        {
          value: '3',
          label: '自报价'
        }
      ],
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now()
        },
        shortcuts: [
          {
            text: '明天',
            onClick(picker) {
              const date = new Date()
              date.setTime(date.getTime() + 3600 * 1000 * 24)
              picker.$emit('pick', date)
            }
          },
          {
            text: '一周后',
            onClick(picker) {
              const date = new Date()
              date.setTime(date.getTime() + 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date)
            }
          }
        ]
      }
    }
  },
  computed: {
    project_info: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project : {}
      },
      set: function(value) {
        this.$store.state.project = value
      }
    },
    recruit_ddl_date: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.recruit_ddl.substring(0, 10) : {}
      },
      set: function(value) {
        this.$store.state.project.recruit_ddl = value + ' ' + this.recruit_ddl_time
      }
    },
    recruit_ddl_time: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.recruit_ddl.substring(11, 16) : {}
      },
      set: function(value) {
        this.$store.state.project.recruit_ddl = this.recruit_ddl_date + ' ' + value + ':00'
      }
    },
    recruit_strategys: {
      get: function() {
        return Object.keys(this.$store.state.recruit_strategys).length !== 0 ? this.$store.state.recruit_strategys : []
      },
      set: function(value) {
        this.$store.state.recruit_strategys = value
      }
    },
    isCreating() {
      return Object.keys(this.$store.state.project).length !== 0 ? parseInt(this.$store.state.project.project_status) === 1 : false
    },
    isReviewing() {
      return Object.keys(this.$store.state.project).length !== 0 ? parseInt(this.$store.state.project.project_status) === 2 : false
    },
    talent_type: {
      get: function() {
        return Object.keys(this.$store.state.project).length !== 0 ? JSON.parse(this.$store.state.project.talent_type) : null
      },
      set: function(value) {
        this.$store.state.project.talent_type = JSON.stringify(value)
      }
    },
    talent_chose() {
      if (Object.keys(this.$store.state.project).length !== 0) {
        let chose = ''
        // console.log(this.$store.state.project.talent_type)
        if (this.$store.state.project.talent_type === '"[]"' || this.$store.state.project.talent_type === '[]' || this.$store.state.project.talent_type === '[[]]') {
          return null
        }
        const talent_type = JSON.parse(this.$store.state.project.talent_type)
        // console.log(talent_type)
        for (const i in talent_type) {
          chose += this.talent_types[talent_type[i]].label + ' '
        }
        return chose
      } else {
        return null
      }
    }
  },
  watch: {
    project_form() {
      const params = {
        product_id: parseInt(this.project_info.product_id)
      }
      this.postRequest('/youngee/m/product/find', params).then((resp) => {
        if (this.project_form === '3' && resp.data.product_type !== 14) {
          this.$message.warning('基础信息中商品类型非线下店铺不能选择此任务形式')
          this.project_form = ''
        }
      })
      this.$store.state.project.project_form = this.project_form
      this.project_info.project_form = this.project_form
    },
    recruit_strategys() {
      this.recruit_strategys.forEach(e => {
        if (e.show_fee_form === '自报价' || e.show_fee_form === '产品置换') {
          e.show_offer = '-'
        } else {
          e.show_offer = money(e.offer)
        }
      })
    },
    'fansHigh_cnt'() {
      this.fansHigh = undefined
      if (this.fansHigh_cnt === '') {
        this.fans_high_cnt = 0
        this.fansHigh = undefined
      } else if (this.fansHigh_cnt === 1) {
        this.fans_high_cnt = 2
        this.fansHigh = undefined
      } else {
        this.fans_high_cnt = 1
        this.fansHigh = undefined
      }
    },
    'fansLow_cnt'() {
      this.fansLow = undefined
      if (this.fansLow_cnt === '') {
        this.fans_low_cnt = 0
        this.fansLow = undefined
      } else if (this.fansLow_cnt === 1) {
        this.fans_low_cnt = 2
        this.fansLow = undefined
      } else {
        this.fans_low_cnt = 1
        this.fansLow = undefined
      }
    },
    'fee_form'() {
      // console.log('fee_form', this.fee_form)
      if (this.fee_form === '固定稿费') {
        this.isFixed = true
      } else {
        this.isFixed = false
      }
    }
  },
  mounted() {
    this.project_form = this.project_info.project_form
    this.recruitChange()
    if (this.talent_type.indexOf(0) !== -1) {
      this.changeTalentType(this.talent_type[0])
    }
    if (this.talent_type === '[]' || this.talent_type === '"[]"' || this.talent_type === '[[]]' || this.talent_type === undefined || this.talent_type === '') {
      this.changeTalentType(0)
    }
  },
  methods: {
    changeTalentType(index, item) {
      // console.log(index);
      this.recruitChange()
      if (index === 0) {
        this.expertType = !this.expertType
        this.talent_type = this.expertType ? [0] : this.talent_type
      }
    },
    showAddstra() {
      this.fee_form = ''
      this.recruit_number = ''
      this.offer = ''
      this.fansLow_cnt = ''
      this.fansHigh_cnt = ''
      this.fans_low_cnt = ''
      this.fans_high_cnt = ''
      this.isAddstra = true
    },
    // 删除某行数据
    handleDelete(row) {
      var i = this.recruit_strategys.indexOf(row)
      this.recruit_strategys.splice(i, 1)
      this.recruit_strategys.forEach((e, i) => {
        e.strategy_id = i + 1
      })
      this.recruitChange()
    },
    async addstra() {
      if (this.fee_form.trim() === '') {
        this.$message.warning('稿费形式不能为空')
        return
      }
      if (this.recruit_number.trim() === '') {
        this.$message.warning('招募数量不能为空')
        return
      }
      if (this.recruit_number === '0') {
        this.$message.warning('招募数量不能为0')
        return
      }
      if ((parseInt(fansLow) === 0 && this.fans_low_cnt !== 0) || parseInt(fansUp) === 0 && this.fans_high_cnt !== 0) {
        this.$message.warning('创作者粉丝数量不能为0')
        return
      }
      if (this.fee_form.trim() === '固定稿费') {
        if (this.offer.trim() === '') {
          this.$message.warning('固定稿费形式，报价不能为空')
          return
        }
      } else {
        if (this.offer.trim() !== '') {
          this.$message.warning('其他稿费形式，不需填写报价')
          this.offer = ''
          return
        }
        this.offer = '0'
      }
      let fansLow, fansUp
      if (this.fansLow === '') {
        fansLow = 0
      } else {
        fansLow = this.fansLow * this.fansLow_cnt
      }
      if (this.fansHigh === '') {
        fansUp = 0
      } else {
        fansUp = this.fansHigh * this.fansHigh_cnt
      }
      if (parseInt(fansLow) >= parseInt(fansUp)) {
        this.$message.warning('创作者粉丝最大值应该大于最小值')
        return
      }
      let fee_form = 0
      switch (this.fee_form) {
        case '自报价':
          fee_form = 3
          break
        case '固定稿费':
          fee_form = 2
          break
        case '产品置换':
          fee_form = 1
          break
      }
      const arr = {
        strategy_id: this.recruit_strategys.length + 1,
        fee_form: fee_form,
        show_fee_form: this.fee_form,
        followers_low: parseInt(fansLow),
        followers_up: parseInt(fansUp),
        fans: fansview(fansLow) + '-' + fansview(fansUp),
        offer: parseFloat(this.offer),
        show_offer: this.offer === '0' ? '-' : money(this.offer),
        show_service_charge: '-',
        service_charge: 0,
        recruit_number: parseInt(this.recruit_number)
      }
      if (this.recruit_strategys.length > 0) {
        try {
          this.recruit_strategys.forEach((e, i) => {
            if (e.followers_low <= arr.followers_low && e.followers_up >= arr.followers_up) {
              this.$message.warning('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
              throw new Error('error')
            } else if (e.followers_low >= arr.followers_low && e.followers_up <= arr.followers_up) {
              this.$message.warning('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
              throw new Error('error')
            } else if (e.followers_low < arr.followers_low && e.followers_up > arr.followers_low) {
              this.$message.warning('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
              throw new Error('error')
            } else if (e.followers_up > arr.followers_up && e.followers_low < arr.followers_up) {
              this.$message.warning('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
              throw new Error('error')
            } else {
              return
            }
          })
          throw new Error('ending')
        } catch (e) {
          if (e.message === 'error') {
            console.log('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
            return
          } else {
            // 若为产品置换类型，则计算相关服务费
            if (arr.show_fee_form === '产品置换') {
              let project_platform
              if (this.project_info.project_platform === '红book') {
                project_platform = 1
              } else if (this.project_info.project_platform === '抖音') {
                project_platform = 2
              } else if (this.project_info.project_platform === '微博') {
                project_platform = 3
              } else if (this.project_info.project_platform === '快手') {
                project_platform = 4
              } else if (this.project_info.project_platform === 'B站') {
                project_platform = 5
              } else if (this.project_info.project_platform === '大众点评') {
                project_platform = 6
              } else if (this.project_info.project_platform === '知乎') {
                project_platform = 7
              }
              const params = {
                followers_low: parseInt(fansLow),
                followers_up: parseInt(fansUp),
                platform: project_platform,
                fee_form: 1
              }
              await this.postRequest('youngee/m/project/recruit/getservicecharge', params).then((resp) => {
                arr.service_charge = parseFloat(resp.data.service_charge)
                arr.show_service_charge = money(arr.service_charge)
              })
            }
            console.log(arr)
            this.recruit_strategys.push(arr)
          }
        }
      } else {
        // 若为产品置换类型，则计算相关服务费
        if (arr.show_fee_form === '产品置换') {
          let project_platform
          if (this.project_info.project_platform === '红book') {
            project_platform = 1
          } else if (this.project_info.project_platform === '抖音') {
            project_platform = 2
          } else if (this.project_info.project_platform === '微博') {
            project_platform = 3
          } else if (this.project_info.project_platform === '快手') {
            project_platform = 4
          } else if (this.project_info.project_platform === 'B站') {
            project_platform = 5
          } else if (this.project_info.project_platform === '大众点评') {
            project_platform = 6
          } else if (this.project_info.project_platform === '知乎') {
            project_platform = 7
          }
          const params = {
            followers_low: parseInt(fansLow),
            followers_up: parseInt(fansUp),
            platform: project_platform,
            fee_form: 1
          }
          await this.postRequest('youngee/m/project/recruit/getservicecharge', params).then((resp) => {
            arr.service_charge = parseFloat(resp.data.service_charge)
            arr.show_service_charge = money(arr.service_charge)
          })
        }
        console.log(arr)
        this.recruit_strategys.push(arr)
      }
      this.offer = ''
      this.isAddstra = false
      console.log(this.recruit_strategys)
    },
    recruitChange() {
      for (const i in this.recruit_strategys) {
        this.strategy_id = this.recruit_strategys[i].strategy_id
      }
      // console.log('id', this.strategy_id)
      const ddl = new Date(this.project_info.recruit_ddl)
      // console.log("projectInfo", typeof (this.project_info.talent_type), typeof (this.talent_type), '[' + String(this.talent_type) + ']')
      this.recruit = {
        recruit_ddl: ddl,
        project_form: this.project_form,
        talent_type: '[' + String(this.talent_type) + ']',
        recruit_strategys: this.recruit_strategys
      }
      this.$emit('input', this.recruit)
    },
    onInput1(e) {
      // 过滤非数字
      // e.target.value = parseFloat(e.target.value.replace(/\D/g, ''))
      if (e.target.value < 0 || e.target.value > 9999.9) {
        this.$message.warning('请输入[1,9999.9]区间内的数')
        e.target.value = null
      }
      // e.target.value = (e.target.value > 0 && e.target.value <= 9999.9 && e.target.value.match(/^\d*/g)[0]) || null
    },
    onInput(e) {
      // 验证是否是纯数字
      const isNumber = /^\d*$/.test(e.target.value)
      // 过滤非数字
      e.target.value = e.target.value.replace(/\D/g, '')
      if (!isNumber || e.target.value < 0 || e.target.value > 9999) {
        this.$message.warning('请输入[0,9999]区间的整数')
      }
      e.target.value = (e.target.value >= 0 && e.target.value <= 9999 && e.target.value.match(/^\d*/g)[0]) || null
    }
  }
}
</script>

<style scoped lang = "scss">
.basetmp {
  // display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: space-between;
  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  margin-bottom: 50px;
  border: 2px solid #e4e7ed;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-top: 25px;
}

.flowinfobase {
  height: 50px;
  padding-left: 61px;
  margin: 20px 0px 30px;
}

.flow-cur {
  font-size: 30px;
  color: #f7d43c;
  border-bottom: 3px solid #f7d43c;
  padding-bottom: 5px;
}

.flow-left {
  font-size: 30px;
  color: #f7d43c;
}

.flow-right {
  font-size: 30px;
  color: black;
}

.attention {
  color: red;
}

.content {
  text-align: center;
}

.strategys-table {
  width: 100%;
  text-align: center;
}

.el-checkbox-width {
  width: 100px;
  height: 30px;
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  float: left;
}

.short-input-box {
  width: 120px;
  flex: 0, 1, atuo;
  float: left;
}

.input-big-box {
  width: 950px;
  flex: 0, 1, atuo;
  float: left;
}

.input-box-line {
  line-height: 40px;
  margin-left: 0px;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
}

.funcBtnnewcommodity {
  border: none;
  background-color: #f7d43c;
  color: black;
  margin: 0px 20px 20px;
}

.funcBtnstore {
  border: none;
  background-color: #f7d43c;
  color: black;
  margin: 20px 500px 20px;
}

.funcBtnstra {
  border: none;
  background-color: #0e4bb7;
  color: white;
}

.strategy {
  /* display: flex; */
  // width: 1200px;
  // height: 100px;
  padding: 20px 10px;
  border: dashed;
  text-align: center;
}

.next-btn {
  margin-top: 5px;
}
</style>
