<template>
  <el-dialog
    style="top: -2vw; overflow: auto; padding: 0 !important"
    :visible.sync="CreateSelectionVisible"
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    append-to-body
  >
    <div
      slot="title"
      class="dialog-title"
      style="display: flex; flex-direction: row; align-items: center"
    >
      <img
        slot="title"
        src="../../../assets/images/younggee_logo.png"
        alt="YOUNGEE"
        class="head-img"
      />
      <el-divider direction="vertical"></el-divider>
      <div class="button-right">
        <span
          class="title-close"
          @click="this.CreateSelectionVisible = false"
        ></span>
      </div>
    </div>
    <div class="createselection">
      <div class="selection_info">
        <div class="flow">
          <div class="flow_info_base">
            <span class="flow_cur">基础信息</span>
          </div>
          <div class="singleArrow"></div>
          <div class="flow_info_base">
            <span class="flow_right">任务要求</span>
          </div>
          <div class="singleArrow"></div>
          <div class="flow_info_base">
            <span class="flow_right">卖点信息</span>
          </div>
        </div>
        <div class="content">
          <div class="input-box-line">
            企业用户*：
            <el-select
              v-model="enterprise_id"
              filterable
              class="input-box"
              placeholder="请选择"
              style="width: 150px"
              clearable
            >
              <el-option
                v-for="item in enterprise_ids"
                :key="item.value"
                :label="item.label"
                :value="item.value"
                @click.native="getProductInfos"
              />
            </el-select>
          </div>
          <div class="input-box-line">
            社媒平台*：
            <el-select
              class="input-box"
              v-model="selection_platform"
              placeholder="请选择"
              clearable
            >
              <el-option
                v-for="item in selection_platforms"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </div>
          <!-- 关联商品 -->
          <el-row :gutter="50">
            <el-col :span="250">
              <div class="input-box-line">
                关联商品*：
                <el-select
                  class="input-box"
                  v-model="product_id"
                  placeholder="请选择"
                  @change="selectProduct($event)"
                  clearable
                >
                  <el-option
                    v-for="item in product_infos"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
              </div>
            </el-col>
            <el-col :span="250">
              <el-button
                v-show="product_id == ''"
                type="primary"
                class="funcBtnnewproduct"
                @click="newProduct"
                >新增商品</el-button
              >
              <el-button
                v-show="product_id != ''"
                type="primary"
                class="funcBtnnewproduct"
                @click="updateProduct"
                >更新商品信息</el-button
              >
            </el-col>
            <el-col :span="250"> </el-col>
          </el-row>
          <add-new-product v-if="isShow"></add-new-product>
          <el-button
            type="primary"
            v-if="firstCreate"
            class="funcBtnstore"
            @click="nextStep"
            >保存并下一步</el-button
          >
          <el-button
            type="primary"
            v-if="!firstCreate"
            class="funcBtnstore"
            @click="nextStepToUpdate"
            >更新并下一步</el-button
          >
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import { EventBus } from "@/event-bus.js";
import AddNewProduct from "@/components/SelectionCenter/CreateSelection/AddNewProduct.vue";

export default {
  name: "SelectionBasicInfo",
  components: {
    AddNewProduct,
  },
  data() {
    return {
      isShow: false,
      product_id: "",
      selection_platform: "",
      CreateSelectionVisible: false,
      firstCreate: true,
      product_infos: [],
      enterprise_ids: [],
      selection_platforms: [
        {
          value: "1",
          label: "红book",
        },
        {
          value: "2",
          label: "抖音",
        },
        {
          value: "3",
          label: "新浪微博",
        },
        {
          value: "4",
          label: "快手",
        },
        {
          value: "5",
          label: "B站",
        },
        {
          value: "6",
          label: "大众点评",
        },
        {
          value: "7",
          label: "知乎",
        },
      ],
      productInfo: [],
      enterprise_id:''
    };
  },
  watch: {
    product_id() {
      if (this.product_id === "") {
        clearTimeout(this.timer); // 清除延迟执行
        this.timer = setTimeout(() => {
          // 设置延迟执行
          EventBus.$emit("NewProduct", "新增商品");
        }, 0);
      }
    },
  },
  mounted() {
    EventBus.$on("CreateSelection", (msg) => {
      this.isShow = false;
      this.product_id = "";
      this.selection_platform = "";
      this.$store.state.newSelection = {};
      this.CreateSelectionVisible = msg;
      this.firstCreate = true;
      const params = {
        page_size: 10,
        page_num: 1,
        selection_status: null,
        platform: null,
        sample_mode: null,
        content_type: null,
        task_mode: null,
        search_value: "",
        task_ddl: "",
      };
      this.postRequest("/youngee/m/selection/findAll", params).then((resp) => {
        this.product_infos = [];
        const res = resp.data.selection_info;
        for (const i in res) {
          const product = {
            label: res[i].SelectionName,
            value:
              res[i].SelectionID +
              "-" +
              res[i].EnterpriseID +
              "-" +
              res[i].ProductID,
          };
          const select = {
            label: res[i].EnterpriseID,
            value: res[i].EnterpriseID,
          };
          this.product_infos.push(product);
          this.enterprise_ids.push(select)
        }
      });
    });
    EventBus.$on("backCreateSelection", (msg) => {
      this.CreateSelectionVisible = true;
      this.firstCreate = false;
    });
    EventBus.$on("ReFindAll", (msg) => {
      const params = {
        page_size: 10,
        page_num: 1,
        selection_status: null,
        platform: null,
        sample_mode: null,
        content_type: null,
        task_mode: null,
        search_value: "",
        task_ddl: "",
      };
      this.postRequest("/youngee/m/selection/findAll", params).then((resp) => {
        this.product_infos = [];
        const res = resp.data.product_infos;
        for (const i in res) {
          const product = {
            label: res[i].SelectionName,
            value:
              res[i].SelectionID +
              "-" +
              res[i].EnterpriseID +
              "-" +
              res[i].ProductID,
          };
          this.product_infos.push(product);
        }
      });
      this.product_id = msg;
    });
  },
  methods: {
    newProduct() {
      this.isShow = true;
      EventBus.$emit("NewProduct", "新增商品");
    },
    selectProduct(e) {
      this.isShow = true;
      this.product_id = e;
      clearTimeout(this.timer); // 清除延迟执行
      this.timer = setTimeout(() => {
        // 设置延迟执行
        EventBus.$emit("ProductFresh", this.product_id);
      }, 0);
    },
    updateProduct() {
      this.isShow = true;
      clearTimeout(this.timer); // 清除延迟执行
      this.timer = setTimeout(() => {
        // 设置延迟执行
        EventBus.$emit("ProductFresh", this.product_id);
      }, 0);
    },
    async nextStep() {
      // 基础信息校验
      if (this.selection_platform.trim() === "") {
        this.$message.error("社媒平台不能为空");
        return;
      }
      if (this.product_id === "") {
        this.$message.error("关联商品不能为空");
        return;
      }
      console.log(this.product_id.split("-"), "--this.product_id.split(" - ")");
      this.$store.state.newSelection.enterprise_id =
        this.enterprise_id;
      this.$store.state.newSelection.product_id = this.product_id.split("-")[2];
      this.$store.state.newSelection.platform = parseInt(
        this.selection_platform
      );
      EventBus.$emit(
        "TaskRequirement",
        true,
        this.product_id.split("-")[1],
        this.product_id.split("-")[2],
        this.product_id.split("-")[0]
      );

      const params = this.$store.state.newSelection;
      await this.postRequest("/youngee/m/selection/create", params).then(
        (resp) => {
          if (resp !== null) {
            console.log(resp);
            this.selection_id = resp.data.selection_id;
            this.$store.state.newSelection.selection_id =
              resp.data.Selection_id;
          }
        }
      );
      this.CreateSelectionVisible = false;
    },
    async nextStepToUpdate() {
      // 基础信息校验
      if (this.selection_platform.trim() === "") {
        this.$message.error("社媒平台不能为空");
        return;
      }
      if (this.product_id === "") {
        this.$message.error("关联商品不能为空");
        return;
      }
      this.$store.state.newSelection.enterprise_id = this.enterprise_id;
      this.$store.state.newSelection.product_id = parseInt(this.product_id);
      this.$store.state.newSelection.platform = parseInt(
        this.selection_platform
      );

      EventBus.$emit(
        "TaskRequirement",
        true,
        this.product_id.split("-")[1],
        this.product_id.split("-")[2]
      );

      const params = this.$store.state.newSelection;
      // this.postRequest('/youngee/m/selection/update', params).then((resp) => { })
      this.CreateSelectionVisible = false;
    },
  },
};
</script>

<style lang="scss">
.el-dialog__header {
  padding: 0;
}

.el-dialog {
  width: 1500px;
  margin-top: 10vh;
}
</style>

<style scoped lang="scss">
.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-left: 20px;
}

.createselection {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  .back {
    display: flex;
  }

  .flow {
    display: flex;
    justify-content: center;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 25px 30px 0px;
  }

  .flow_cur {
    font-size: 25px;
    color: #1890ff;
    border-bottom: 3px solid #1890ff;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 25px;
    color: #1890ff;
  }

  .flow_right {
    font-size: 25px;
    color: black;
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .attention {
    margin-left: 1rem;
    color: red;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-big-box {
    width: 500px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-box-line {
    line-height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
  }

  // css
  .singleArrow_cur {
    width: 180px;
    height: 5px;
    position: relative;
    background-color: #f2d22e;
    margin: 30px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow_cur::after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    /* 箭头位置 */
    top: -8px;
    /* 箭头位置 */
    border-top: 10px solid transparent;
    /* 箭头高低 */
    border-bottom: 15px solid transparent;
    /* 箭头高低 */
    border-left: 20px solid #f2d22e;
    /* 箭头长度*/
  }

  .singleArrow {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: black;
    margin: 40px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  // .singleArrow::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   right: -10px;
  //   /* 箭头位置 */
  //   top: -8px;
  //   /* 箭头位置 */
  //   border-top: 10px solid transparent;
  //   /* 箭头高低 */
  //   border-bottom: 15px solid transparent;
  //   /* 箭头高低 */
  //   border-left: 20px solid black;
  //   /* 箭头长度*/
  // }

  .funcBtnnewproduct {
    border: none;
    background-color: #1890ff;
    color: black;
    margin: 0px -20px 20px;
  }

  .funcBtnstore {
    border: none;
    background-color: #1890ff;
    color: black;
    margin: 20px 20px;
  }

  .content {
    padding: 20px 48px;
  }

  .newbrand {
    padding: 0px 40px;
    border: dashed;

    .upload-cover {
      width: 500px;
      display: flex;
    }
  }
}

.next-btn {
  margin-top: 5px;
}
</style>
