<template>
  <el-dialog
    style="top: -4vw; padding: 0 !important"
    :visible.sync="TaskRequirementVisible"
    :close-on-click-modal="false"
    :close-on-press-escape="false"
    append-to-body
  >
    <div
      slot="title"
      class="dialog-title"
      style="display: flex; flex-direction: row; align-items: center"
    >
      <img
        slot="title"
        src="../../../assets/images/younggee_logo.png"
        alt="YOUNGEE"
        class="head-img"
      />
      <el-divider direction="vertical"></el-divider>
    </div>
    <div class="basetmp">
      <div class="Task">
        <div class="flow">
          <div class="flow_info_base">
            <span class="flow_left">基础信息</span>
          </div>
          <div class="singleArrow_cur"></div>
          <div class="flow_info_base">
            <span class="flow_cur">任务要求</span>
          </div>
          <div class="singleArrow"></div>
          <div class="flow_info_base">
            <span class="flow_right">卖点信息</span>
          </div>
        </div>
        <div class="content">
          <div class="input-box-line">
            <span class="input-label">内容形式*：</span>
            <el-select
              class="input-box"
              v-model="content_type"
              placeholder="请选择"
            >
              <el-option
                v-for="item in content_types"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </div>

          <div class="input-box-line">
            <span class="input-label">任务形式*：</span>
            <el-select
              class="input-box"
              v-model="task_mode"
              placeholder="请选择"
            >
              <el-option
                v-for="item in task_modes"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
            <div style="display: flex" v-show="task_mode == 1">
              <span class="input-label">悬赏金*：</span>
              <el-input v-model.number="task_reward"></el-input>
            </div>
          </div>

          <div class="input-box-line">
            <span class="input-label">任务截止时间*：</span>
            <el-date-picker
              v-model="task_ddl_date"
              align="right"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd"
              :picker-options="pickerOptions"
            />
            <el-time-select
              v-model="task_ddl_time"
              :picker-options="{
                start: '00:00',
                step: '01:00',
                end: '23:00',
              }"
              placeholder="选择时间"
              clearable
              style="width: 150px; margin-left: 20px"
            />
          </div>

          <div class="input-box-line">
            <span class="input-label">领样形式*：</span>
            <el-select
              class="input-box"
              v-model="sample_mode"
              placeholder="请选择"
            >
              <el-option
                v-for="item in sample_modes"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </div>

          <div class="input-box-line">
            <span class="input-label">样品数量*：</span>
            <el-input-number
              class="input-short-box"
              :show-word-limit="true"
              type="text"
              placeholder=""
              @input.native="onInput"
              v-model="sample_num"
            >
            </el-input-number>
          </div>

          <div class="input-box-line" style="align-items: center">
            <span class="input-label">佣金比例*：</span>
            <el-input-number
              class="input-short-box"
              :show-word-limit="true"
              type="text"
              placeholder=""
              @input.native="onInput"
              v-model="commission_rate"
            >
            </el-input-number>
            %
          </div>

          <div class="input-box-line">
            <span class="input-label">带货链接*：</span>
            <el-input
              class="input-big-box"
              :show-word-limit="true"
              type="text"
              placeholder=""
              v-model="product_url"
            >
            </el-input>
          </div>

          <div class="input-big-box-line">
            <span class="input-label">领样要求*：</span>
            <el-input
              class="input-big-box"
              :show-word-limit="true"
              type="textarea"
              :autosize="{ minRows: 10, maxRows: 15 }"
              placeholder="请输入任务详情"
              v-model="sample_condition"
            >
            </el-input>
          </div>
          <div class="input-big-box-line">
            <span class="input-label">返现&悬赏条件*：</span>
            <el-input
              class="input-big-box"
              :show-word-limit="true"
              type="textarea"
              :autosize="{ minRows: 10, maxRows: 15 }"
              placeholder=""
              v-model="reward_condition"
            >
            </el-input>
          </div>
          <div style="text-align: center">
            <el-button type="primary" class="BackBtn" @click="handleBackClick()"
              >返回上一步</el-button
            >
            <el-button
              type="primary"
              class="funcBtnstore"
              @click="handleNextStepClick()"
              >保存并下一步</el-button
            >
          </div>
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import { EventBus } from "@/event-bus.js";
import { money, fansview } from "@/utils/index";
export default {
  name: "TaskRequirement",
  data() {
    return {
      product_id: "",
      enterprise_id: "",
      taskFirstCreate: true,
      task_ddl: "",
      task_ddl_date: "",
      task_ddl_time: "",
      content_type: "",
      task_mode: "",
      sample_mode: "",
      reward_condition: "",
      sample_num: "",
      commission_rate: "",
      product_url: "",
      sample_condition: "",
      task_reward: "",

      TaskRequirementVisible: false,
      content_types: [
        {
          value: 1,
          label: "图文",
        },
        {
          value: 2,
          label: "视频",
        },
      ],
      task_modes: [
        {
          value: 1,
          label: "悬赏任务",
        },
        {
          value: 2,
          label: "纯佣带货",
        },
      ],
      sample_modes: [
        {
          value: 1,
          label: "免费领样",
        },
        {
          value: 2,
          label: "垫付领样",
        },
      ],
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now();
        },
      },
    };
  },
  mounted() {
    EventBus.$on("backTaskRequirement", (msg) => {
      this.TaskRequirementVisible = msg;
      this.taskFirstCreate = false;
    });
    EventBus.$on("CreateSelection", (msg) => {
      this.taskFirstCreate = true;
    });
    EventBus.$on(
      "TaskRequirement",
      (msg, enterprise_id, product_id, selection_id) => {
        if (this.taskFirstCreate) {
          // 内容全部置空
          this.product_url = "";
          this.content_type = "";
          this.task_ddl_time = "";
          this.task_ddl_time = null;
          this.task_mode = "";
          this.sample_mode = "";
          this.reward_condition = "";
          this.sample_num = "";
          this.commission_rate = "";
          this.sample_condition = "";
        }
        this.TaskRequirementVisible = msg;
        console.log(
          msg,
          enterprise_id,
          product_id,
          selection_id,
          "-msg,enterprise_id,selection_id"
        );
        this.enterprise_id = enterprise_id;
        this.product_id = product_id;
        this.selection_id = selection_id;
      }
    );
  },
  methods: {
    changeTalentType(index, item) {
      // console.log(index)
      if (index === 0) {
        this.expertType = !this.expertType;
        this.talent_type = this.expertType ? [0] : this.talent_type;
      }
    },
    async handleNextStepClick() {
      // 表单校验
      if (this.content_type === "") {
        this.$message.error("内容形式不能为空");
        return;
      }
      if (this.task_mode === "") {
        this.$message.error("任务形式不能为空");
        return;
      }
      if (this.task_ddl_time === "" || this.task_ddl_time === null) {
        this.$message.error("任务截止时间不能为空");
        return;
      }
      if (this.sample_mode === "") {
        this.$message.error("领样形式不能为空");
        return;
      }
      if (this.reward_condition === "") {
        this.$message.error("返现&悬赏条件不能为空");
        return;
      }
      if (this.sample_num === 0) {
        this.$message.error("请填写正确样品数量");
        return;
      }
      if (this.commission_rate === 0) {
        this.$message.error("请填写正确佣金比例");
        return;
      }

      const urlPattern = /^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$/i;
      if (this.product_url === "" || !urlPattern.test(this.product_url)) {
        // 输入内容不符合链接格式
        this.$message.error("请填写正确带货链接");
        return;
      }
      if (this.sample_condition === "") {
        this.$message.error("领样要求不能为空");
        return;
      }
      if (this.task_reward === "" && this.task_mode == 1) {
        this.$message.error("悬赏金不能为空");
        return;
      }
      // 不知道干什么的处理
      if (this.task_ddl_time.length === 5) {
        this.task_ddl_time = this.task_ddl_time + ":00";
      } else {
        this.task_ddl_time = this.task_ddl_time.substring(0, 8);
      }
      this.task_ddl = this.task_ddl_date + " " + this.task_ddl_time;
      console.log(this.$store.state.newSelection, "--enterprise_id");
      // this.$store.state.newSelection.task_ddl_date = this.task_ddl_date
      // this.$store.state.newSelection.task_ddl_time = this.task_ddl_time
      this.$store.state.newSelection.task_ddl = this.task_ddl;
      this.$store.state.newSelection.product_url = this.product_url;
      this.$store.state.newSelection.content_type = this.content_type;
      this.$store.state.newSelection.task_mode = this.task_mode;
      this.$store.state.newSelection.sample_mode = this.sample_mode;
      this.$store.state.newSelection.reward_condition = this.reward_condition;
      this.$store.state.newSelection.sample_num = this.sample_num;
      this.$store.state.newSelection.commission_rate = this.commission_rate;
      this.$store.state.newSelection.sample_condition = this.sample_condition;
      this.$store.state.newSelection.product_id = this.product_id;
      this.$store.state.newSelection.selection_id = this.selection_id;
      this.$store.state.newSelection.task_reward = this.task_reward||null;
      // this.$store.state.newSelection.selection_status = '1'
      console.log(this.$store.state.newSelection, "--enterprise_id");
      const params = this.$store.state.newSelection;
      console.log("更新创建中选品的任务要求", params);
      this.postRequest("/youngee/m/selection/update", params).then(
        (resp) => {}
      );

      EventBus.$emit("SelectionBrief", true);
      this.TaskRequirementVisible = false;
    },

    // 返回上一级
    handleBackClick() {
      EventBus.$emit("backCreateSelection", true);
      this.TaskRequirementVisible = false;
      this.taskFirstCreate = false;
    },
    onInput(e) {
      // 验证是否是纯数字
      const isNumber = /^\d*$/.test(e.target.value);
      // 过滤非数字
      e.target.value = e.target.value.replace(/\D/g, "");
      if (!isNumber || e.target.value < 0 || e.target.value > 9999) {
        this.$message.warning("请输入[0,9999]区间的整数");
      }
      e.target.value =
        (e.target.value >= 0 &&
          e.target.value <= 9999 &&
          e.target.value.match(/^\d*/g)[0]) ||
        null;
    },
  },
};
</script>

<style lang="scss">
.el-dialog__header {
  padding: 0;
}

.el-dialog {
  width: 1500px;
  margin-top: 10vh;
}
</style>
<style scoped lang="scss">
.backBtn {
  cursor: pointer;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-left: 20px;
}

.basetmp {
  display: flex;
  flex-direction: row;
  align-items: center;

  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;
  // padding: 0 20px;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  .Task {
  }

  .flow {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 30px 0px;
  }

  .flow_cur {
    font-size: 25px;
    color: #1890ff;
    border-bottom: 3px solid #1890ff;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 25px;
    color: #1890ff;
  }

  .flow_right {
    font-size: 25px;
    color: black;
  }

  .small_button {
    padding: 5px 15px 5px 10px;
    border-radius: 3px;
    width: 100px;
    border: 1px solid #dcdfe6;
    justify-content: center;
    background-color: #ffffff;
    color: black;
    margin: 10px;
  }

  .content {
    text-align: center;
  }

  .strategys-table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .el-checkbox-width {
    width: 120px;
    height: 40px;
    margin-bottom: 8px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-short-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-long-box {
    width: 800px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-big-box {
    width: 800px;
    flex: 0, 1, atuo;
    float: left;
    padding: 0 48px 0 0;
  }

  .input-box-line {
    line-height: 30px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
    align-content: center;
  }

  .input-big-box-line {
    margin-left: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }

  .input-label {
    width: 160px;
    text-align: left;
  }

  .funcBtnnewcommodity {
    border: none;
    background-color: #1890ff;
    color: black;
    margin: 0px 20px 20px;
  }

  .funcBtnstore {
    border: none;
    width: 150px;
    justify-content: center;
    background-color: #1890ff;
    color: black;
    margin: 20px;
  }

  .BackBtn {
    border: none;
    width: 150px;
    justify-content: center;
    justify-content: center;
    background-color: rgb(241, 238, 238);
    color: red;
    margin: 20px;
  }

  .funcBtnstra {
    border: none;
    background-color: #1890ff;
    color: black;
  }

  // css
  .singleArrow_cur {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: #1890ff;
    margin: 35px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .singleArrow {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: black;
    margin: 35px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .strategy {
    /* display: flex; */
    width: 1400px;
    height: 100px;
    padding: 20px 10px;
    border: dashed;
    text-align: center;
  }
}

.next-btn {
  margin-top: 5px;
}
</style>
