<!-- 数据与结案 -->
<template>
  <div class="recruitManage">
    <el-card
      class="recruitManageCard"
      shadow="never"
      style=" "
    >
      <div>
        <div class="flow_info_base">
          <span class="flow_right">违约统计</span>
        </div>
      </div>
      <el-table :data="recruit_strategys" :key="recruitStrategyKey" border class="strategys-table-manage"
        :header-cell-style="{ background: '#f7d43c', color: 'black' }">
        <el-table-column prop="strategy_id" label="策略编号" width="100" align="center">
        </el-table-column>
        <el-table-column prop="show_fee_form" label="稿费形式" width="130" align="center">
        </el-table-column>
        <el-table-column prop="fans" label="创作者粉丝量" width="200" align="center">
        </el-table-column>
        <el-table-column prop="should_finish_number" label="应结案数量" align="center">
        </el-table-column>
        <el-table-column prop="unupload_script_number" label="未传脚本" align="center">
        </el-table-column>
        <el-table-column prop="unupload_sketch_number" label="未传初稿" align="center">
        </el-table-column>
        <el-table-column prop="unupload_link_number" label="未传链接" align="center">
        </el-table-column>
        <el-table-column prop="unupload_data_number" label="未传数据" align="center">
        </el-table-column>
        <el-table-column prop="terminate_number" label="解约" align="center">
        </el-table-column>
      </el-table>
    </el-card>

    <div id="box">
      <div
        v-for="(item, i) in bottonList1"
        :key="i"
        class="box_btn"
        :class="chooseBtn === i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex;margin-left:20%">
      <div class="input-box-line">
        策略编号：
        <el-select
          v-model="strategy_id"
          class="input-box"
          placeholder="不限"
        >
          <el-option
            v-for="item in strategy_ids"
            :key="item.value"
            :label="item.label"
            :value="item.value"
            @click.native="getDefaultList(index)"
          />
        </el-select>
      </div>
      <div
        class="input-box-line"
        style="margin-left: 50px"
      >
        <el-input
          v-model="searchInput"
          placeholder="账号昵称、任务ID"
        >
          <el-button
            slot="append"
            class="search-button"
            @click="getDefaultList(index)"
          >搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 未传脚本 -->
    <div v-show="index === 0">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="allSelecting"
        >批量解约</el-button>
      </div>

      <el-table
        ref="unUploadScriptTable"
        :data="unUploadScriptTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="show_all_payment"
          label="价格"
          align="center"
        />
        <el-table-column
          prop="show_real_payment"
          label="结算金额"
          align="center"
        />
        <el-table-column
          prop="break_at"
          label="违约时间"
          width="180"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handTerminateClick(scope.row)"
            >解约</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 未传初稿 -->
    <div v-show="index === 1">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="allSelecting"
        >批量解约</el-button>
      </div>

      <el-table
        ref="unUploadSketchTable"
        :data="unUploadSketchTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="show_all_payment"
          label="价格"
          align="center"
        />
        <el-table-column
          prop="show_real_payment"
          label="结算金额"
          align="center"
        />
        <el-table-column
          prop="break_at"
          label="违约时间"
          width="180"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handTerminateClick(scope.row)"
            >解约</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 未传链接 -->
    <div v-show="index === 2">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="allSelecting"
        >批量解约</el-button>
      </div>

      <el-table
        ref="unUploadLinkTable"
        :data="unUploadLinkTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="show_all_payment"
          label="价格"
          align="center"
        />
        <el-table-column
          prop="show_real_payment"
          label="结算金额"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="初稿"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handShowSketchClick(scope.row)"
            >查看初稿</el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="break_at"
          label="违约时间"
          width="180"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handTerminateClick(scope.row)"
            >解约</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 未传数据 -->
    <div v-show="index === 3">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="allSelecting"
        >批量解约</el-button>
      </div>

      <el-table
        ref="unUploadDataTable"
        :data="unUploadDataTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="show_all_payment"
          label="价格"
          align="center"
        />
        <el-table-column
          prop="show_real_payment"
          label="结算金额"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="发布链接"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handShowLinkClick(scope.row)"
            >
              {{ scope.row.link_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="break_at"
          label="违约时间"
          width="180"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handTerminateClick(scope.row)"
            >解约</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 解约待处理 -->
    <div v-show="index === 4">
      <el-table
        ref="waitingTerminateTable"
        :data="waitingTerminateTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="show_all_payment"
          label="价格"
          align="center"
        />
        <el-table-column
          prop="show_real_payment"
          label="结算金额"
          align="center"
        />
        <el-table-column
          prop="show_break_type"
          label="解约原因"
          align="center"
        />
        <el-table-column
          prop="terminate_at"
          label="提交解约时间"
          width="180"
          align="center"
        />
      </el-table>
    </div>

    <!-- 解约 -->
    <div v-show="index === 5">
      <el-table
        ref="terminatedTable"
        :data="terminatedTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="show_all_payment"
          label="价格"
          align="center"
        />
        <el-table-column
          prop="show_real_payment"
          label="结算金额"
          align="center"
        />
        <el-table-column
          prop="show_break_type"
          label="解约原因"
          align="center"
        />
        <el-table-column
          prop="handle_at"
          label="解约时间"
          width="180"
          align="center"
        />
      </el-table>
    </div>

    <div style="height: 100px;" />
    <!-- 确认解约弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="ReviewDataVisible1" width="500px">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span
            class="title-close"
            @click="deliveryDialogVisible1 = false;"
          />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;justify-content: center;">
        <span>企业用户id：</span>
        <span>{{ enterprise_id }}</span>
      </div>
      <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;justify-content: center;">
        <span>需结算金额：</span>
        <span>{{ payment }}</span>
      </div>
      <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;justify-content: center;">
        <span>释放项目资金：</span>
        <span>{{ freeMoney }}</span>
      </div>
      <div>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? 'collection' : ''"
          style="background-color: #248bf4;color: white;margin: 10px 20px;padding: 10px 20px;"
          @click="ReviewDataVisible1 = false; handleTerminate()"
        >确认解约</el-button>
        <el-button
          slot="append"
          :class="1 === chooseBtn ? '' : 'collection'"
          style="background-color: #248bf4;color: white;margin-top: 30px;padding: 10px 20px;"
          @click="ReviewDataVisible1 = false;"
        >取消</el-button>
      </div>
    </el-dialog>

    <!-- 初稿通过--查看初稿弹窗 -->
    <el-dialog
      style="padding: 0 !important;"
      :visible.sync="ReviewDataVisible2"
      width="500px"
    >

      <div class="input-box-line">
        <p>题目：</p>
        <el-input
          v-model="sketchTitle"
          class="input-box"
          :readonly="true"
        />
      </div>
      <div class="input-box-line">
        <p>正文/脚本：</p>
      </div>
      <el-input
        v-model="sketchContent"
        class="input-big-box"
        maxlength="300"
        :readonly="true"
        :show-word-limit="true"
        type="textarea"
        :autosize="{ minRows: 7, maxRows: 10 }"
      />
      <div class="input-box-line">
        <span> 配图/视频demo：</span>
      </div>

      <div
        v-for="item in sketchPictureVideo"
        :key="item.index"
        class="picture-list"
      >
        <div
          v-if="item.symbol === 1"
          class="picture-list-item"
        >
          <img
            class="picture-list-item_img"
            :src="item.photo_url"
            preview="1"
          >
        </div>
        <div
          v-if="item.symbol === 2"
          class="picture-list-item"
        >
          <video
            width="320"
            height="240"
            controls
          >
            <source
              :src="item.photo_url"
              type="video/mp4"
            >
          </video>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { money, fansview } from '@/utils'
export default {
  name: 'DefaultManage',
  data() {
    return {
      bottonList1: [
        {
          name: '未传脚本'
        },
        {
          name: '未传初稿'
        },
        {
          name: '未传链接'
        },
        {
          name: '未传数据'
        },
        {
          name: '解约待处理'
        },
        {
          name: '解约'
        }
      ],
      enterprise_id: this.$store.state.project.enterprise_id,
      project_id: this.$store.state.project.project_id,
      project_form: this.$store.state.project.project_form,
      chooseBtn: 0,
      searchInput: '',
      all_sum: 0,
      // 控制切换按钮后按钮改变样式
      index: 0,
      strategy_id: '',
      strategy_ids: [],
      recruit_strategys: this.$store.state.recruit_strategys,

      // 控制弹窗显示
      ReviewDataVisible1: false, // 确认结案弹窗
      ReviewDataVisible2: false, // 查看初稿弹窗
      payment: 0,
      freeMoney: 0,
      taskIds: [],

      // 查看初稿
      sketchTitle: '',
      sketchContent: '',
      sketchPictureVideo: [],

      unUploadScriptTable: [],
      unUploadSketchTable: [],
      unUploadLinkTable: [],
      unUploadDataTable: [],
      waitingTerminateTable: [],
      terminatedTable: [],

      recruitStrategyKey: '',

      strategyIdNumber: new Map()
    }
  },
  created() {
    this.getDefaultList(0)
    this.getDataInfo()
  },
  mounted() {
  },
  methods: {
    // 切换展示表格
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getDefaultList(this.index)
    },
    // 查看初稿
    handShowSketchClick(row) {
      const params = {
        task_id: row.task_id
      }
      this.postRequest('/youngee/m/project/getsketchinfo', params).then((resp) => {
        this.$data.sketchTitle = resp.data.title
        this.$data.sketchContent = resp.data.content
        this.$data.sketchPictureVideo = resp.data.sketch_photos
      })
      this.ReviewDataVisible2 = true
    },
    handShowLinkClick(row) {
      window.open(row.link_url, '_blank')
    },
    // 显示弹窗 确认解约
    handTerminateClick(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      this.payment = money(row.real_payment)
      this.freeMoney = money((row.all_payment - row.real_payment).toFixed(2))
      this.strategyIdNumber.clear()
      this.strategyIdNumber.set(row.strategy_id, 1)
      this.ReviewDataVisible1 = true
    },
    allSelecting() {
      // 批量结算
      let all_payment = 0
      const val = this.selectingChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      this.taskIds = []
      this.payment = 0
      for (let i = 0; i < val.length; i++) {
        if (this.strategyIdNumber.has(val[i].strategy_id)) {
          this.strategyIdNumber[val[i].strategy_id]++
        } else {
          this.strategyIdNumber.set(val[i].strategy_id, 1)
        }
        const taskId = val[i].task_id
        all_payment += val[i].all_payment
        this.payment = this.payment + val[i].real_payment
        this.taskIds.push(taskId)
      }
      this.freeMoney = money((all_payment - this.payment).toFixed(2))
      this.payment = money(this.payment)
      this.ReviewDataVisible1 = true
    },
    getDataInfo() {
      const strategy_ids = []
      const strategy_id = {
        value: 0,
        label: '不限'
      }
      this.strategy_ids.push(strategy_id)
      for (const i in this.$store.state.recruit_strategys) {
        const strategy_id = {
          value: this.$store.state.recruit_strategys[i].strategy_id,
          label: this.$store.state.recruit_strategys[i].strategy_id
        }
        this.strategy_ids.push(strategy_id)
        strategy_ids.push(this.recruit_strategys[i].strategy_id)
      }
      const params = {
        project_id: this.project_id,
        strategy_ids: strategy_ids.toString()
      }
      this.postRequest('/youngee/m/project/getdefaultnumberinfo', params).then((resp) => {
        for (const i in this.$data.recruit_strategys) {
          this.$data.recruit_strategys[i].should_finish_number = resp.data.number_info_list[i].should_finish_number
          this.$data.recruit_strategys[i].unupload_sketch_number = resp.data.number_info_list[i].unupload_sketch_number
          this.$data.recruit_strategys[i].unupload_script_number = resp.data.number_info_list[i].unupload_script_number
          this.$data.recruit_strategys[i].unupload_link_number = resp.data.number_info_list[i].unupload_link_number
          this.$data.recruit_strategys[i].unupload_data_number = resp.data.number_info_list[i].unupload_data_number
          this.$data.recruit_strategys[i].terminate_number = resp.data.number_info_list[i].terminate_number
        }
        this.$data.recruitStrategyKey = Math.random()
      })
    },
    // 查询任务数据列表
    getDefaultList(index) {
      this.unUploadScriptTable = []
      this.unUploadSketchTable = []
      this.unUploadLinkTable = []
      this.unUploadDataTable = []
      this.waitingTerminateTable = []
      this.terminatedTable = []

      const params = {
        page_size: 10,
        page_num: 1,
        project_id: String(this.project_id),
        default_status: String(index),
        strategy_id: String(this.strategy_id),
        platform_nickname: this.searchInput
        // task_id: this.searchInput,
      }
      switch (index) {
        case 0:
          this.postRequest('/youngee/m/project/taskdefaultreviewlist', params).then((resp) => {
            if (resp.data.total === '0') {
              this.$message('未传脚本中暂无数据')
            }
            this.$data.unUploadScriptTable = resp.data.project_default_pre_view
            this.$data.unUploadScriptTable.forEach(e => {
              e.show_all_payment = money(e.all_payment)
              e.show_real_payment = money(e.real_payment)
              e.show_fans_count = fansview(e.fans_count)
            })
          })
          break
        case 1:
          this.postRequest('/youngee/m/project/taskdefaultreviewlist', params).then((resp) => {
            if (resp.data.total === '0') {
              this.$message('未传初稿中暂无数据')
            }
            this.$data.unUploadSketchTable = resp.data.project_default_pre_view
            this.$data.unUploadSketchTable.forEach(e => {
              e.show_all_payment = money(e.all_payment)
              e.show_real_payment = money(e.real_payment)
              e.show_fans_count = fansview(e.fans_count)
            })
          })
          break
        case 2:
          this.postRequest('/youngee/m/project/taskdefaultreviewlist', params).then((resp) => {
            if (resp.data.total === '0') {
              this.$message('未传链接中暂无数据')
            }
            this.$data.unUploadLinkTable = resp.data.project_default_pre_view
            this.$data.unUploadLinkTable.forEach(e => {
              e.show_all_payment = money(e.all_payment)
              e.show_real_payment = money(e.real_payment)
              e.show_fans_count = fansview(e.fans_count)
            })
          })
          break
        case 3:
          this.postRequest('/youngee/m/project/taskdefaultdatalist', params).then((resp) => {
            if (resp.data.total === '0') {
              this.$message('未传数据中暂无数据')
            }
            this.$data.unUploadDataTable = resp.data.project_default_pre_view
            this.$data.unUploadDataTable.forEach(e => {
              e.show_all_payment = money(e.all_payment)
              e.show_real_payment = money(e.real_payment)
              e.show_fans_count = fansview(e.fans_count)
            })
          })
          break
        case 4:
          this.postRequest('/youngee/m/project/taskteminatinglist', params).then((resp) => {
            if (resp.data.total === '0') {
              this.$message('解约待处理中暂无数据')
            }
            this.$data.waitingTerminateTable = resp.data.project_default_pre_view
            this.$data.waitingTerminateTable.forEach(e => {
              e.show_all_payment = money(e.all_payment)
              e.show_real_payment = money(e.real_payment)
              e.show_fans_count = fansview(e.fans_count)
              e.show_break_type = this.bottonList1[parseInt(e.break_type) - 1].name
            })
          })
          break
        case 5:
          this.postRequest('/youngee/m/project/taskteminatedlist', params).then((resp) => {
            if (resp.data.total === '0') {
              this.$message('解约中暂无数据')
            }
            this.$data.terminatedTable = resp.data.project_default_pre_view
            this.$data.terminatedTable.forEach(e => {
              e.show_all_payment = money(e.all_payment)
              e.show_real_payment = money(e.real_payment)
              e.show_fans_count = fansview(e.fans_count)
              e.show_break_type = this.bottonList1[parseInt(e.break_type) - 1].name
            })
          })
          break
      }
    },
    // 提交确认解约
    async handleTerminate() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择结案任务')
      }
      const params = {
        task_id_list: this.taskIds.toString(),
        payment: this.payment
      }
      this.handleTerminateChangeNumber()
      await this.postRequest('/youngee/m/project/taskteminate', params).then((resp) => {
      })
      this.getDefaultList(this.index)
      this.getDataInfo()
    },
    handleTerminateChangeNumber() {
      switch (this.index) {
        case 0:
          for (const i in this.recruit_strategys) {
            if (this.strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
              const changeNumber = parseInt(this.strategyIdNumber.get(this.recruit_strategys[i].strategy_id))
              this.recruit_strategys[i].unupload_script_number = this.recruit_strategys[i].unupload_script_number - changeNumber
            }
          }
          break
        case 1:
          for (const i in this.recruit_strategys) {
            if (this.strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
              const changeNumber = parseInt(this.strategyIdNumber.get(this.recruit_strategys[i].strategy_id))
              this.recruit_strategys[i].unupload_sketch_number = this.recruit_strategys[i].unupload_sketch_number - changeNumber
            }
          }
          break
        case 2:
          for (const i in this.recruit_strategys) {
            if (this.strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
              const changeNumber = parseInt(this.strategyIdNumber.get(this.recruit_strategys[i].strategy_id))
              this.recruit_strategys[i].unupload_link_number = this.recruit_strategys[i].unupload_link_number - changeNumber
            }
          }
          break
        case 3:
          for (const i in this.recruit_strategys) {
            if (this.strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
              const changeNumber = parseInt(this.strategyIdNumber.get(this.recruit_strategys[i].strategy_id))
              this.recruit_strategys[i].unupload_data_number = this.recruit_strategys[i].unupload_data_number - changeNumber
            }
          }
          break
      }

      this.recruitStrategyKey = Math.random()
    },
    selectingChange(val) {
      this.selectingChanged = val
    }
  }
}
</script>
<style scoped lang = "scss">
.recruitManageCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.recruitManage {
  text-align: center;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
    width: 100px;
    height: 45px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
    border: 2px solid #248bf4 !important;
    color: #248bf4;
}

.strategys-table-manage {
    color: black;
    border: 2px solid #248bf4;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
    color: #057bf2;
    border-bottom: 2px solid #057bf2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
    background-color: #248bf4 !important;
    color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.PassBtn {
  border: none;
  justify-content: center;
    background-color: #248bf4 !important;
    color: white !important;
  margin: 10px;
  // padding: 8px 15px;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
}

.picture-list {
  display: flex;
  align-items: flex-start;
}

.picture-list-item_img {
  width: auto;
  max-width: 180px;
  height: auto;
  max-height: 180px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}
.el-dialog__headerbtn .el-dialog__close{
  color: white;
}
.el-dialog__body{
  padding: 5px 15px;
  text-align: center;
}
</style>
