<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">商家用户管理</div> -->
    <div class="projectStat-div">
      <div class="input-box-line">
        注册时间：
        <el-date-picker
          v-model="registerTime"
          align="right"
          type="date"
          value-format="yyyy-MM-dd"
          style="width:140px"
          placeholder="选择日期"
          :picker-options="pickerOptions"
        />
      </div>
      <div class="input-box-line">
        <el-input v-model="searchInput" placeholder="企业名称、企业用户ID等" style="width: 400px;" clearable>
          <el-button
            slot="append"
            style="background-color: #1890ff;color:white"
            @click="searchEnterpriseUser"
          >搜索</el-button>
        </el-input>
      </div>
    </div>
    <el-table :data="enterpriseTable" :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}" border class="projectTable">
      <el-table-column prop="user" label="企业用户ID" align="center" />
      <el-table-column prop="username" label="企业名称" align="center" />
      <el-table-column prop="balance" label="账户余额" align="center" />
      <el-table-column prop="available_balance" label="可用余额" align="center" />
      <el-table-column prop="phone" label="联系方式" align="center" />
      <el-table-column prop="created_at" label="注册时间" align="center" />
      <el-table-column prop="operate" label="操作" align="center">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="checkUserInfo(scope.row)">查看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-top:20px">
      <el-pagination
        :current-page="currentPage"
        :page-sizes="pageSizes"
        :page-size="PageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalCount"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
  </div>
</template>

<script>
import { money } from '@/utils/index'

export default {
  name: 'Dashboard',
  data() {
    return {
      registerTime: '',
      pickerOptions: {},
      searchInput: '',
      enterpriseTable: [],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10
    }
  },
  computed: {
  },
  watch: {
    searchInput() {
      this.searchEnterpriseUser()
    },
    registerTime() {
      this.searchEnterpriseUser()
    }
  },
  mounted() {
    this.searchEnterpriseUser()
  },
  methods: {
    checkUserInfo(row) {
      this.$router.push({
        path: '/enterpriseUserDetail',
        query: {
          enterprise_id: row.enterprise_id,
          user: row.user,
          userID: row.userID,
          username: row.username,
          balance: row.balance,
          frozen_balance: money(row.frozen_balance),
          available_balance: row.available_balance,
          phone: row.phone
        }
      })
    },
    searchEnterpriseUser() {
      let user, username
      var reg = /^[\d|\.]*$/
      // if (this.searchInput.substring(0, 1) === '1' && reg.test(this.searchInput)) {
      if (reg.test(this.searchInput) && this.searchInput.length === 9) {
        user = this.searchInput
      } else {
        username = this.searchInput
      }
      const params = {
        page_size: 10,
        page_num: 1,
        created_at: this.registerTime,
        user: user,
        username: username
      }
      this.postRequest('youngee/m/user/enterpriseUser', params).then((resp) => {
        // console.log(resp.data.enterprise_user_preview)
        if (resp.data.total !== '0') {
          let allEnterpriseUser = null
          let totalCount = null
          resp.data.enterprise_user_preview.forEach(e => {
            e.available_balance = money(e.available_balance)
            e.balance = money(e.balance)
          })
          allEnterpriseUser = resp.data.enterprise_user_preview
          this.$data.enterpriseTable = allEnterpriseUser
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.enterpriseTable = []
        }
      })
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      let user, username
      if (this.searchInput / 1 === parseInt(this.searchInput)) {
        user = this.searchInput
      } else {
        username = this.searchInput
      }
      const params = {
        page_size: n1,
        page_num: n2,
        created_at: this.registerTime,
        user: user,
        username: username
      }
      this.postRequest('youngee/m/user/enterpriseUser', params).then((resp) => {
        // console.log(resp.data.enterprise_user_preview)
        if (resp.data.total !== '0') {
          let allEnterpriseUser = null
          let totalCount = null
          resp.data.enterprise_user_preview.forEach(e => {
            e.available_balance = money(e.available_balance)
            e.balance = money(e.balance)
          })
          allEnterpriseUser = resp.data.enterprise_user_preview
          this.$data.enterpriseTable = allEnterpriseUser
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.enterpriseTable = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.projectStat-div {
  display: flex;
  justify-content: center;
}

.input-box-line {
  line-height: 40px;
  margin: 20px;
}
</style>
