<template>
  <div class="navbar">
    <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />

    <breadcrumb class="breadcrumb-container" />

    <div class="right-menu" style="cursor: pointer;">
      <el-dropdown class="avatar-container" trigger="click" style="">
        <div class="avatar-wrapper">
          <el-avatar
            :size="40"
            fit="contain"
            :src="avatarUrl"
          />
          <div style="margin-left:10px">
            <span class="username">{{ username }}</span>
            <i class="el-icon-caret-bottom" />
          </div>
        </div>
        <el-dropdown-menu slot="dropdown" class="user-dropdown">
          <router-link to="/dashboard/dashboard">
            <el-dropdown-item>
              首页
            </el-dropdown-item>
          </router-link>
          <el-dropdown-item divided @click.native="logout">
            <span style="display:block;">退出登录</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'
import Cookies from 'js-cookie'
import avatarUrl from '../../assets/images/样叽logo.png'

export default {
  components: {
    Breadcrumb,
    Hamburger
  },
  data() {
    return {
      avatarUrl: avatarUrl,
      username: Cookies.get('username')
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ])
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    async logout() {
      this.$message.success('已退出，请重新登录')
      Cookies.remove('token_m')
      sessionStorage.removeItem('token_m')
      this.$store.state.isLogin = false
      // this.$router.push(`/login?redirect=${this.$route.fullPath}`)
      this.$router.replace(`/login`)
    }
  }
}
</script>

<style lang="scss">
.navbar .right-menu{
  line-height: 5px !important;
  .username{
    line-height: 25px !important;
  }
}
.navbar .right-menu .avatar-container .avatar-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: space-between;
  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  font-size: 16px;
}
.navbar .right-menu .avatar-container .avatar-wrapper .el-icon-caret-bottom{
  top: 15px !important;
}
</style>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
