<!-- 审稿管理 -->
<template>
  <div class="reviewerManage">
    <el-card class="reviewerManageCard" shadow="never" style=" ">
      <div>
        <div class="flow_info_base">
          <span class="flow_right">审稿数据</span>
        </div>
      </div>
      <div style="width: 500px;">
        <el-table
          :key="reviewNumberDataKey"
          :data="reviewNumberData"
          border
          class="reviewer-table-manage"
          :header-cell-style="{ background: '#6394ea', color: 'white' }"
        >
          <el-table-column prop="review_number" label="应审稿数量" align="center" />
          <el-table-column v-if="content_type_show === '视频'" prop="script_unreview_number" label="脚本待审" align="center" />
          <el-table-column v-if="content_type_show === '视频'" prop="script_passed_number" label="脚本通过" align="center" />
          <el-table-column prop="sketch_unreview_number" label="初稿待审" align="center" />
          <el-table-column prop="sketch_passed_number" label="初稿通过" align="center" />
        </el-table>
      </div>
    </el-card>

    <div v-show="content_type_show === '视频'" id="box">
      <div
        v-for="(item, index1) in bottonList1"
        :key="index1"
        class="box_btn"
        :class="chooseBtn === index1 ? 'borderColor' : ''"
        @click="handleClick(index1)"
      >
        {{ item.name }}
      </div>
    </div>

    <div v-show="content_type_show === '图文'" id="box">
      <div
        v-for="(item, index2) in bottonList2"
        :key="index2"
        class="box_btn"
        :class="chooseBtn === index2 ? 'borderColor' : ''"
        @click="handleClick(index2)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex;align-content: center;justify-content: center;">
      <div class="input-box-line">
        <el-input v-model="searchInput" placeholder="账号昵称、任务ID">
          <el-button slot="append" class="search-button" @click="handleSearchClick()">搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 初稿待审-->
    <div v-show="index === 0">
      <div style="margin-bottom:5px;float:right">
        <el-button v-resetClick="1000" class="search-button" @click="handleAllPassClick()">通过</el-button>
      </div>
      <el-table
        ref="waitingSketchTable"
        :data="waitingSketchTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="sketch_upload_time" label="初稿上传时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handleReviewSketchClick(scope.row)">审稿</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 初稿通过-->
    <div v-show="index === 1">
      <el-table
        ref="passedSketchTable"
        :data="passedSketchTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="argee_at" label="初稿通过时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handleShowSketchClick(scope.row)">查看初稿</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 脚本待审-->
    <div v-show="index === 2">
      <div style=" margin-bottom:5px;float:right">
        <el-button v-resetClick="1000" class="search-button" @click="handleAllPassClick()">通过</el-button>
      </div>
      <el-table
        ref="waitingScriptTable"
        :data="waitingScriptTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectedChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="script_upload_time" label="脚本上传时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handleReviewScriptClick(scope.row)">审查脚本</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 脚本通过-->
    <div v-show="index === 3">
      <el-table
        ref="passedScriptTable"
        :data="passedScriptTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
      >
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="agree_at" label="脚本通过时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handleShowScriptClick(scope.row)">查看脚本</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <div style="height: 100px;" />
    <!-- 初稿待审--审稿弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="reviewSketchVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="reviewSketchVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <p class="reviewerEle">题目：</p>
        <el-input v-model="sketchTitle" class="input-box" :readonly="true" />
      </div>
      <div class="input-box-line">
        <p class="reviewerEle">正文/脚本：</p>
        <el-input
          v-model="sketchContent"
          class="input-big-box"
          maxlength="300"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
        />
      </div>
      <div class="input-box-line">
        <span class="reviewerEle"> 配图/视频demo：</span>
        <div class="demo">
          <div v-for="item in sketchPhoto" :key="item.key" class="picture-list">
            <div v-if="item.symbol === 1" class="picture-list-item">
              <img
                :src="item.url"
                alt=""
                style="max-width: 500px; max-height: 500px"
                preview="1"
                @click="reviewSketchVisible = false"
              >
            </div>
            <div v-if="item.symbol === 2" class="picture-list-item">
              <video width="320" height="240" controls>
                <source :src="item.url" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="input-box-line">
        <span class="reviewerEle">修改意见：</span>
        <el-input
          v-model="sketchAdvice"
          class="input-big-box"
          maxlength="300"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 5, maxRows: 8 }"
        />
      </div>
      <div class="dialog-button">
        <el-button
          v-resetClick="1000"
          type="primary"
          class="PassBtn"
          :visible.sync="reviewSketchVisible"
          @click="handlePassSketchClick();reviewSketchVisible = false"
        >
          初稿通过</el-button>
        <el-button
          v-resetClick="1000"
          type="primary"
          class="RefuseBtn"
          :visible.sync="reviewSketchVisible"
          @click="handleRefuseSketchClick"
        >
          返回修改
        </el-button>
      </div>
    </el-dialog>
    <!-- 初稿通过--查看初稿弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="showSketchVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="showSketchVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <p class="reviewerEle">题目：</p>
        <el-input v-model="sketchTitle" class="input-box" :readonly="true" />
      </div>
      <div class="input-box-line">
        <p class="reviewerEle">正文/脚本：</p>
        <el-input
          v-model="sketchContent"
          class="input-big-box"
          maxlength="300"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
        />
      </div>
      <div class="input-box-line">
        <p class="reviewerEle">配图/视频demo：</p>
        <div class="demo">
          <div v-for="item in sketchPhoto" :key="item.key" class="picture-list">
            <div v-if="item.symbol === 1" class="picture-list-item">
              <img :src="item.url" alt="" height="180px" width="180px" preview="1" @click="showSketchVisible = false">
            </div>
            <div v-if="item.symbol === 2" class="picture-list-item">
              <video width="320" height="240" controls>
                <source :src="item.url" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
    </el-dialog>
    <!-- 脚本待审--审查脚本弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="reviewScriptVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="reviewSketchVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <span class="reviewerEle">题目：</span>
        <el-input v-model="scriptTitle" class="input-box" :readonly="true" placeholder="不限" />
      </div>
      <div class="input-box-line">
        <span class="reviewerEle">脚本：</span>
        <el-input
          v-model="scriptContent"
          class="input-big-box"
          maxlength="500"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
          placeholder="请输入任务描述（500字以内）"
        />
      </div>
      <div class="input-box-line">
        <span class="reviewerEle">修改意见：</span>
        <el-input
          v-model="scriptAdvice"
          class="input-big-box"
          maxlength="300"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 5, maxRows: 8 }"
        />
      </div>
      <div>
        <el-button
          v-resetClick="1000"
          type="primary"
          class="PassBtn"
          :visible.sync="reviewScriptVisible"
          @click="handlePassScriptClick();reviewScriptVisible = false"
        >
          脚本通过</el-button>
        <el-button
          v-resetClick="1000"
          type="primary"
          class="RefuseBtn"
          :visible.sync="reviewScriptVisible"
          @click="handleRefuseScriptClick"
        >
          返回修改
        </el-button>
      </div>
    </el-dialog>
    <!-- 脚本通过--查看脚本弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="showScriptVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="reviewSketchVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <p class="reviewerEle">题目：</p>
        <el-input v-model="scriptTitle" class="input-box" :readonly="true" placeholder="不限" />
      </div>
      <div class="input-box-line">
        <p class="reviewerEle">正文/脚本：</p>
        <el-input
          v-model="scriptContent"
          class="input-big-box"
          maxlength="500"
          :readonly="true"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 7, maxRows: 10 }"
          placeholder="请输入任务描述（500字以内）"
        />
      </div>
    </el-dialog>
  </div>
</template>

<script>

import { fansview } from '@/utils'
export default {
  name: 'SpecialReviewerManage',
  data() {
    return {
      bottonList1: [
        {
          name: '初稿待审'
        },
        {
          name: '初稿通过'
        },
        {
          name: '脚本待审'
        },
        {
          name: '脚本通过'
        }
      ],
      bottonList2: [
        {
          name: '初稿待审'
        },
        {
          name: '初稿通过'
        }
      ],
      project_id: this.$store.state.project.project_id,
      content_type_show: this.$store.state.project.content_type_show,
      reviewNumberData: [
        {
          review_number: 0,
          sketch_passed_number: 0,
          sketch_unreview_number: 0,
          script_passed_number: 0,
          script_unreview_number: 0
        }
      ],
      // 控制切换按钮后按钮改变样式
      index: 0,
      chooseBtn: 0,
      searchInput: '',

      taskIds: [],

      // 初稿
      sketchTitle: '',
      sketchPhoto: [],
      sketchContent: '',
      sketchAdvice: '',
      // 脚本
      scriptTitle: '',
      scriptContent: '',
      scriptAdvice: '',
      // 控制弹窗显示
      reviewSketchVisible: false, // 初稿审稿弹窗
      showSketchVisible: false, // 初稿查看弹窗
      reviewScriptVisible: false, // 脚本审稿弹窗
      showScriptVisible: false, // 脚本查看弹窗

      // 各类型任务列表
      waitingSketchTable: [],
      passedSketchTable: [],
      waitingScriptTable: [],
      passedScriptTable: [],

      // 存储所选任务
      selectedChanged: [],

      reviewNumberDataKey: 0
    }
  },
  watch: {
    'reviewNumberData'() { }
  },
  created() {
  },
  mounted() {
    this.getDataInfo()
    // 查询待审稿任务列表
    this.getReviewList(0)
  },
  methods: {
    getDataInfo() {
      // 查询数量
      const params = {
        project_id: this.project_id
      }
      this.postRequest('/youngee/m/project/getSpecialReviewNumber', params).then((resp) => {
        this.$data.reviewNumberData[0].review_number = parseInt(resp.data.review_number)
        this.$data.reviewNumberData[0].script_unreview_number = parseInt(resp.data.script_unreview_number)
        this.$data.reviewNumberData[0].sketch_unreview_number = parseInt(resp.data.sketch_unreview_number)
        this.$data.reviewNumberData[0].script_passed_number = parseInt(resp.data.script_passed_number)
        this.$data.reviewNumberData[0].sketch_passed_number = parseInt(resp.data.sketch_passed_number)
        this.$data.reviewNumberDataKey = Math.random()
      })
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getReviewList(this.index)
    },
    handleSearchClick() {
      this.getReviewList(this.index)
    },
    // 显示初稿审核弹窗
    async handleReviewSketchClick(row) {
      // 保存要审核初稿的task_id
      this.taskIds = []
      this.taskIds.push(row.task_id)
      // 获取初稿信息
      this.sketchPhoto = []
      this.sketchTitle = row.title
      this.sketchContent = row.content
      this.sketchAdvice = ''
      const params = {
        sketch_id: parseInt(row.sketch_id)
      }
      await this.postRequest('/youngee/m/project/findsketchphoto', params).then((resp) => {
        for (const i in resp.data) {
          const photo = {
            url: resp.data[i].photo_url,
            uid: parseInt(resp.data[i].photo_uid),
            symbol: parseInt(resp.data[i].symbol)
          }
          this.sketchPhoto.push(photo)
        }
      })
      this.reviewSketchVisible = true
    },
    // 显示脚本审核弹窗
    handleReviewScriptClick(row) {
      // 保存要审核脚本的task_id
      this.taskIds = []
      this.taskIds.push(row.task_id)
      // 获取脚本信息
      this.scriptTitle = row.title
      this.scriptContent = row.content
      this.scriptAdvice = ''
      this.reviewScriptVisible = true
    },
    // 显示查看初稿弹窗
    async handleShowSketchClick(row) {
      this.sketchPhoto = []
      this.sketchTitle = row.title
      this.sketchContent = row.content
      this.sketchAdvice = ''
      const params = {
        sketch_id: parseInt(row.sketch_id)
      }
      await this.postRequest('/youngee/m/project/findsketchphoto', params).then((resp) => {
        for (const i in resp.data) {
          const photo = {
            url: resp.data[i].photo_url,
            uid: parseInt(resp.data[i].photo_uid),
            symbol: parseInt(resp.data[i].symbol)
          }
          this.sketchPhoto.push(photo)
        }
      })
      this.showSketchVisible = true
    },
    // 显示查看脚本弹窗
    handleShowScriptClick(row) {
      // 获取脚本信息
      this.scriptTitle = row.title
      this.scriptContent = row.content
      this.scriptAdvice = ''
      this.showScriptVisible = true
    },
    // 查询任务列表
    getReviewList(index) {
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: this.project_id,
        sketch_status: String(index),
        script_status: String(index),
        platform_nickname: this.searchInput
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/specialTaskSketchList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('初稿待审中暂无数据')
          }
          this.$data.waitingSketchTable = resp.data.project_task_pre_view
          this.waitingSketchTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      } else if (index === 1) {
        this.postRequest('/youngee/m/project/specialTaskSketchList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('初稿通过中暂无数据')
          }
          this.$data.passedSketchTable = resp.data.project_task_pre_view
          this.passedSketchTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      } else if (index === 2) {
        this.postRequest('/youngee/m/project/specialTaskScriptList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('脚本待审中暂无数据')
          }
          this.$data.waitingScriptTable = resp.data.project_task_pre_view
          this.waitingScriptTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      } else {
        this.postRequest('/youngee/m/project/specialTaskScriptList', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('脚本通过中暂无数据')
          }
          this.$data.passedScriptTable = resp.data.project_task_pre_view
          this.passedScriptTable.forEach(e => {
            e.fans_count = fansview(e.fans_count)
          })
          this.$data.totalCount = parseInt(resp.data.total)
        })
      }
    },
    // 单个通过初稿
    handlePassSketchClick() {
      this.passSketch()
      this.reviewSketchVisible = false
    },
    // 批量通过初稿
    async passSketch() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择任务')
        return
      }
      const params = {
        task_id_list: this.taskIds.toString()
      }
      await this.postRequest('/youngee/m/project/acceptsketch', params).then((resp) => { })
      this.reviewNumberData[0].sketch_unreview_number -= parseInt(this.taskIds.length)
      this.reviewNumberData[0].sketch_passed_number += parseInt(this.taskIds.length)
      this.getReviewList(this.index)
      this.getDataInfo()
    },
    // 拒绝初稿
    async handleRefuseSketchClick() {
      if (this.sketchAdvice === '') {
        this.$message.error('修改意见不能为空')
        return
      }
      const params = {
        task_id: this.taskIds[0],
        sketch_opinion: this.sketchAdvice
      }
      await this.postRequest('/youngee/m/project/sketchopinion', params).then((resp) => { })
      this.reviewNumberData[0].sketch_unreview_number -= parseInt(this.taskIds.length)
      this.getReviewList(this.index)
      this.getDataInfo()
      this.reviewSketchVisible = false
    },
    // 单个通过脚本
    handlePassScriptClick() {
      this.PassScript()
      this.reviewScriptVisible = false
    },
    // 批量通过脚本
    async PassScript() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择任务')
        return
      }
      const params = {
        task_id_list: this.taskIds.toString()
      }
      await this.postRequest('/youngee/m/project/acceptscript', params).then((resp) => { })
      this.reviewNumberData[0].script_unreview_number -= parseInt(this.taskIds.length)
      this.reviewNumberData[0].script_passed_number += parseInt(this.taskIds.length)
      this.getReviewList(this.index)
      this.getDataInfo()
    },
    // 拒绝脚本
    async handleRefuseScriptClick() {
      if (this.scriptAdvice === '') {
        this.$message.error('修改意见不能为空')
        return
      }
      const params = {
        task_id: this.taskIds[0],
        script_opinion: this.scriptAdvice
      }
      await this.postRequest('/youngee/m/project/scriptopinion', params).then((resp) => { })
      this.reviewNumberData[0].script_unreview_number -= parseInt(this.taskIds.length)
      this.getReviewList(this.index)
      this.getDataInfo()
      this.reviewScriptVisible = false
    },
    selectedChange(val) {
      this.selectedChanged = val
    },
    handleAllPassClick() {
      const val = this.selectedChanged
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      this.taskIds = []
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i].task_id
        this.taskIds.push(taskId)
      }
      if (this.index === 0) {
        this.passSketch()
      } else {
        this.PassScript()
      }
    }
  }
}
</script>
<style scoped lang = "scss">
.reviewerManage {
  text-align: center;
}

.reviewerManageCard {
  display: flex;
  text-align: center;
  justify-content: center;
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
}

.input-big-box {
  width: 800px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
  padding: 0 48px 0 0;
}

.reviewerEle {
  display: flex;
  justify-content: right;
  width: 160px;
}

.demo {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.reviewer-table-manage {
  color: black;
  border: 2px solid #057bf2;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.PassBtn {
  border: none;
  justify-content: center;
  background-color: #057bf2;
  color: white;
  margin: 10px;
  // padding: 8px 15px;
}

.picture-list-item {
  margin: 8px;
  display: flex;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
  margin: 10px;
}

.search-button {
  border: none !important;
  background-color: #057bf2 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.picture-list {
  display: flex;
  // align-items: flex-start;
}

.picture-list-item_img {
  width: auto;
  max-width: 180px;
  height: auto;
  max-height: 180px;
}

.dialog-button {
  width: 800px;
  display: flex;
  justify-content: space-around;
  margin: 20px 100px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}

.el-dialog__headerbtn .el-dialog__close {
  color: white;
}

.el-dialog__body {
  padding: 5px 15px;
  text-align: center;
}

.reviewerManage .el-dialog {
  top: 10vw !important;
}
</style>
