<template>
  <el-dialog style="top:0vw;padding: 0 !important;" :visible.sync="RecruitRequirementVisible" append-to-body>
    <div slot="title" class="dialog-title">
      <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
      <div class="button-right">
        <span class="title-close" @click="RecruitRequirementVisible = false;" />
      </div>
    </div>
    <div class="basetmp">
      <div class="Recruit">
        <div class="flow">
          <div class="flow_info_base">
            <span class="flow_left">基础信息</span>
          </div>
          <div class="singleArrow_cur" />
          <div class="flow_info_base">
            <span class="flow_cur">招募要求</span>
          </div>
          <div class="singleArrow" />
          <div class="flow_info_base">
            <span class="flow_right">执行要求</span>
          </div>
        </div>
        <div class="content">
          <div class="input-box-line">
            任务形式*：
            <el-select v-model="project_form" class="input-box" placeholder="请选择">
              <el-option v-for="item in project_forms" :key="item.value" :label="item.label" :value="item.value" />
            </el-select>
          </div>
          <div class="input-box-line">
            创作者类型：
            <div class="input-big-box">
              <el-checkbox-group v-model="talent_type" :max="3" size="small">
                <el-col v-for="(item, index) in talent_types" :key="index" :value="index" :span="3">
                  <el-checkbox
                    class="el-checkbox-width"
                    :label="index"
                    :disabled="index === 0 ? false : expertType"
                    border
                    @change="changeTalentType(index, item)"
                  >{{ item.label }}
                  </el-checkbox>
                </el-col>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 关联商品 -->
          <div class="input-box-line">
            招募截止时间*：
            <el-date-picker
              v-model="recruit_ddl_date"
              align="right"
              type="date"
              placeholder="选择日期"
              value-format="yyyy-MM-dd"
              :clearable="false"
              :picker-options="pickerOptions"
            />
            <el-time-select
              v-model="recruit_ddl_time"
              :picker-options="{
                start: '00:00',
                step: '01:00',
                end: '24:00'
              }"
              :clearable="false"
              placeholder="选择时间"
              style="width: 150px;margin-left:20px"
            />
          </div>
          <div class="input-box-line">招募策略*：
            <div>
              <el-button type="primary" class="funcBtnstra" @click="showAddstra">新增招募策略</el-button>
            </div>
          </div>
          <div v-show="isAddstra" class="strategy">
            <div style="display: flex; justify-content: space-between">
              <div class="input-box-line">
                稿费形式*：
                <el-select v-model="fee_form" class="short-input-box" style="width:120px" placeholder="请选择">
                  <el-option v-for="item in fee_forms" :key="item.value" :label="item.label" :value="item.label" />
                </el-select>
              </div>
              <div class="input-box-line">
                创作者粉丝数量*：
                <el-input-number v-show="fans_low_cnt == 1" v-model="fansLow" :min="0" :precision="1" :controls="false" type="number" style="width: 90px" placeholder="请输入" @input.native="onInput1" />
                <el-input v-show="fans_low_cnt == 2" v-model="fansLow" clearable style="width:90px" placeholder="请输入" @input.native="onInput" />
                <el-select v-model="fansLow_cnt" clearable style="width: 90px" placeholder="请选择">
                  <el-option v-for="item in fansRange" :key="item.value" :label="item.label" :value="item.value" />
                </el-select>
                --
                <el-input-number v-show="fans_high_cnt == 1" v-model="fansHigh" :min="0" :precision="1" :controls="false" type="number" style="width: 90px" placeholder="请输入" @input.native="onInput1" />
                <el-input v-show="fans_high_cnt == 2" v-model="fansHigh" clearable style="width:90px" placeholder="请输入" @input.native="onInput" />
                <el-select v-model="fansHigh_cnt" clearable style="width: 90px" placeholder="请选择">
                  <el-option v-for="item in fansRange" :key="item.value" :label="item.label" :value="item.value" />
                </el-select>
              </div>
              <div class="input-box-line">
                招募数量*：
                <el-input
                  v-model="recruit_number"
                  class="short-input-box"
                  placeholder="请输入"
                  style="width: 80px"
                  onkeyup="value=value.replace(/[^\d]/g,'')"
                />
              </div>
              <div v-show="isFixed" class="input-box-line">
                报价*：
                <el-input
                  v-model="offer"
                  class="short-input-box"
                  style="width: 80px"
                  placeholder="请输入"
                  onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')"
                />
                <div>元/每人&emsp;</div>
                <div class="attention">固定稿费填写</div>
              </div>
            </div>
            <div>
              <el-button type="primary" class="funcBtnstra" @click="addstra">生成招募策略</el-button>
            </div>
          </div>
          <el-table
            :data="recruit_strategys"
            border
            class="strategys-table"
            :header-cell-style="{ background: '#eef2f7', color: 'black' }"
          >
            <el-table-column prop="strategy_id" label="策略编号" width="180" align="center" />
            <el-table-column prop="show_fee_form" label="稿费形式" width="180" align="center" />
            <el-table-column prop="fans" label="创作者粉丝量" align="center" />
            <el-table-column prop="show_offer" label="报价" align="center" />
            <el-table-column prop="show_service_charge" label="平台服务费" align="center" />
            <el-table-column prop="recruit_number" label="招募数量" align="center" />
            <el-table-column prop="operation" label="操作" align="center">
              <!--单个删除按钮-->
              <template slot-scope="scope">
                <el-button type="text" @click="handleDelete(scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          <div style="margin-bottom:30px">
            <el-button type="primary" class="funcBtnstore" @click="handleBack">返回上一步</el-button>
            <el-button type="primary" class="funcBtnstore" @click="nextStep">保存并下一步</el-button>
          </div>
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import { EventBus } from '@/event-bus'
import { money, fansview } from '@/utils/index'

export default {
  name: 'RecruitRequirement',
  data() {
    return {
      isAddstra: false,
      isFixed: false,
      recruit_ddl_date: '',
      recruit_ddl_time: '',
      recruit_ddl: '',
      talent_type: [],
      project_form: '',
      recruit_strategys: [],
      fee_form: '',
      strategy_id: 0,
      service_charge: '-',
      followers_low: '',
      followers_up: '',
      fansRange: [
        {
          value: 1,
          label: '个'
        },
        {
          value: 10000,
          label: '万'
        },
        {
          value: 100000000,
          label: '亿'
        }
      ],
      fansLow: '',
      fansLow_cnt: '',
      fans_low_cnt: 0,
      fansHigh: '',
      fansHigh_cnt: '',
      fans_high_cnt: 0,
      recruit_number: '',
      offer: '',
      RecruitRequirementVisible: false,
      project_forms: [
        {
          value: 1,
          label: '实体商品寄拍'
        },
        {
          value: 2,
          label: '虚拟产品测评'
        },
        {
          value: 3,
          label: '线下探店打卡'
        }
      ],
      expertType: false,
      talent_types: [
        { value: 0, label: '不限' },
        { value: 1, label: '美妆' },
        { value: 2, label: '美食' },
        { value: 3, label: '生活' },
        { value: 4, label: '时尚' },
        { value: 5, label: '测评' },
        { value: 6, label: '旅行' },
        { value: 7, label: '汽车' },
        { value: 8, label: '萌宠' },
        { value: 9, label: '游戏' },
        { value: 10, label: '音乐' },
        { value: 11, label: '舞蹈' },
        { value: 12, label: '房产' },
        { value: 13, label: '情感' },
        { value: 14, label: '三农' },
        { value: 15, label: '园艺' },
        { value: 16, label: '随拍' },
        { value: 17, label: '图文控' },
        { value: 18, label: '二次元' },
        { value: 19, label: '母婴亲子' },
        { value: 20, label: '颜值达人' },
        { value: 21, label: '剧情搞笑' },
        { value: 22, label: '运动健身' },
        { value: 23, label: '家居家装' },
        { value: 24, label: '科技数码' },
        { value: 25, label: '教育培训' },
        { value: 26, label: '才艺技能' },
        { value: 27, label: '艺术文化' },
        { value: 28, label: '财经投资' }
      ],
      fee_forms: [
        {
          value: '3',
          label: '自报价'
        },
        {
          value: '2',
          label: '固定稿费'
        },
        {
          value: '1',
          label: '产品置换'
        }
      ],
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now()
        }
      },
      enterprise_id: '',
      project_id: '',
      recruitFirstCreate: true
    }
  },
  watch: {
    project_form() {
      const params = {
        product_id: parseInt(this.$store.state.newProject.product_id)
      }
      this.postRequest('/youngee/m/product/find', params).then((resp) => {
        if (this.project_form === 3 && resp.data.product_type !== 14) {
          this.$message.warning('基础信息中商品类型非线下店铺不能选择此任务形式')
          this.project_form = ''
        }
      })
    },
    recruit_strategys() {
      this.recruit_strategys.forEach(e => {
        if (e.show_fee_form === '自报价') {
          e.show_offer = '-'
        } else if (e.show_fee_form === '产品置换') {
          e.show_offer = '-'
        } else {
          e.show_offer = money(e.offer)
        }
      })
    },
    'fansHigh_cnt'() {
      this.fansHigh = undefined
      if (this.fansHigh_cnt === '') {
        this.fans_high_cnt = 0
        this.fansHigh = undefined
      } else if (this.fansHigh_cnt === 1) {
        this.fans_high_cnt = 2
        this.fansHigh = undefined
      } else {
        this.fans_high_cnt = 1
        this.fansHigh = undefined
      }
    },
    'fansLow_cnt'() {
      this.fansLow = undefined
      if (this.fansLow_cnt === '') {
        this.fans_low_cnt = 0
        this.fansLow = undefined
      } else if (this.fansLow_cnt === 1) {
        this.fans_low_cnt = 2
        this.fansLow = undefined
      } else {
        this.fans_low_cnt = 1
        this.fansLow = undefined
      }
    },
    'fee_form'() {
      // console.log('fee_form', this.fee_form)
      if (this.fee_form === '固定稿费') {
        this.isFixed = true
      } else {
        this.isFixed = false
      }
    }
  },
  mounted() {
    EventBus.$on('backRecruitRequirement', (msg) => {
      this.RecruitRequirementVisible = msg
      this.recruitFirstCreate = false
    })
    EventBus.$on('CreateProject', () => {
      this.recruitFirstCreate = true
    })
    EventBus.$on('RecruitRequirement', (msg, enterprise_id, project_id) => {
      // console.log(msg, enterprise_id)
      // console.log('招募管理!!:', msg, this.RecruitRequirementVisible)
      if (this.recruitFirstCreate) {
        this.recruit_strategys = []
        this.offer = ''
        this.recruit_number = ''
        this.fansHigh = ''
        this.fansLow = ''
        this.fee_form = ''
        this.recruit_ddl_time = ''
        this.recruit_ddl_date = ''
        this.talent_type = []
        this.expertType = false
        this.project_form = ''
        this.fansLow = ''
        this.fansLow_cnt = ''
        this.fans_low_cnt = 0
        this.fansHigh = ''
        this.fansHigh_cnt = ''
        this.fans_high_cnt = 0
      }
      this.RecruitRequirementVisible = msg
      this.enterprise_id = enterprise_id
      this.project_id = project_id
    })
  },
  methods: {
    showAddstra() {
      this.fee_form = ''
      this.recruit_number = ''
      this.offer = ''
      this.fans_low_cnt = ''
      this.fans_high_cnt = ''
      this.fansLow_cnt = ''
      this.fansHigh_cnt = ''

      this.isAddstra = true
    },
    changeTalentType(index, item) {
      if (index === 0) {
        this.expertType = !this.expertType
        this.talent_type = this.expertType ? [0] : this.talent_type
      }
    },
    handleBack() {
      EventBus.$emit('backCreateProject', true)
      this.RecruitRequirementVisible = false
    },
    async nextStep() {
      if (this.project_form === '') {
        this.$message.error('任务形式不能为空')
        return
      }
      if (this.recruit_ddl_date === '') {
        this.$message.error('招募截止日期不能为空')
        return
      }
      if (this.recruit_ddl_time === '') {
        this.$message.error('招募截止具体时间不能为空')
        return
      }
      if (this.talent_type.length === 0 && !this.expertType) {
        this.$message.error('达人类型不能为空')
        return
      }
      if (this.recruit_strategys.length === 0) {
        this.$message.error('招募策略不能为空')
        return
      }
      const jsonString = JSON.stringify(this.talent_type)
      if (!this.recruitFirstCreate) {
        console.log('返回修改')
        // this.recruit_ddl_time = this.recruit_ddl_time
      } else {
        console.log('第一次更新')
        this.recruit_ddl_time = this.recruit_ddl_time + ':00'
      }
      if (this.recruit_ddl_time.length === 5) {
        this.recruit_ddl_time = this.recruit_ddl_time + ':00'
      } else {
        this.recruit_ddl_time = this.recruit_ddl_time.substring(0, 8)
      }
      this.recruit_ddl = this.recruit_ddl_date + ' ' + this.recruit_ddl_time
      this.$store.state.newProject.recruit_ddl_date = this.recruit_ddl_date
      this.$store.state.newProject.recruit_ddl_time = this.recruit_ddl_time
      this.$store.state.newProject.recruit_ddl = this.recruit_ddl
      this.$store.state.newProject.project_form = String(this.project_form)
      this.$store.state.newProject.talent_type = jsonString
      this.$store.state.newProject.recruit_strategys = this.recruit_strategys
      this.$store.state.newProject.content_type = '1'
      const params = this.$store.state.newProject
      console.log(params)
      this.postRequest('/youngee/m/project/update', params).then((resp) => { })

      EventBus.$emit('ExcuteRequirement', true, this.enterprise_id, this.project_id)
      this.RecruitRequirementVisible = false
    },
    // 删除某行数据
    handleDelete(row) {
      var i = this.recruit_strategys.indexOf(row)
      this.recruit_strategys.splice(i, 1)
      this.recruit_strategys.forEach((e, i) => {
        e.strategy_id = i + 1
      })
    },
    addstra() {
      if (this.fee_form.trim() === '') {
        this.$message.warning('稿费形式不能为空')
        return
      }
      if (this.recruit_number.trim() === '') {
        this.$message.warning('招募数量不能为空')
        return
      }
      if (this.recruit_number === '0') {
        this.$message.warning('招募数量不能为0')
        return
      }
      if ((parseInt(fansLow) === 0 && this.fans_low_cnt !== 0) || parseInt(fansUp) === 0 && this.fans_high_cnt !== 0) {
        this.$message.warning('创作者粉丝数量不能为0')
        return
      }
      if (this.fee_form.trim() === '固定稿费') {
        if (this.offer.trim() === '') {
          this.$message.warning('固定稿费形式，报价不能为空')
          return
        }
      } else {
        if (this.offer.trim() !== '') {
          this.$message.warning('其他稿费形式，不需填写报价')
          this.offer = ''
          return
        }
        // this.offer = '0'
      }
      let fansLow, fansUp
      if (this.fansLow === '') {
        fansLow = 0
      } else {
        fansLow = this.fansLow * this.fansLow_cnt
      }
      if (this.fansHigh === '') {
        fansUp = 0
      } else {
        fansUp = this.fansHigh * this.fansHigh_cnt
      }
      if (parseInt(fansUp) === 0 && this.fans_high_cnt !== 0) {
        this.$message.warning('创作者粉丝数量最大值不能为0')
        return
      } else if (this.fansHigh === undefined || this.fansLow === undefined) {
        this.$message.warning('创作者粉丝数量不能为空')
        return
      } else if (this.fansHigh_cnt === 0 && this.fansLow_cnt === 0) {
        this.$message.warning('创作者粉丝最大值应该大于最小值')
        return
      } else if (parseInt(fansLow) >= parseInt(fansUp) && this.fansHigh_cnt !== 0) {
        this.$message.warning('创作者粉丝最大值应该大于最小值')
        return
      }
      let fee_form = 0
      switch (this.fee_form) {
        case '自报价':
          fee_form = 3
          break
        case '固定稿费':
          fee_form = 2
          break
        case '产品置换':
          fee_form = 1
          break
      }
      const arr = {
        strategy_id: this.recruit_strategys.length + 1,
        fee_form: fee_form,
        show_fee_form: this.fee_form,
        followers_low: parseInt(fansLow),
        followers_up: parseInt(fansUp),
        fans: fansview(fansLow) + '-' + fansview(fansUp),
        offer: parseFloat(this.offer),
        show_service_charge: '-',
        service_charge: 0,
        recruit_number: parseInt(this.recruit_number)
      }
      if (this.recruit_strategys.length > 0) {
        try {
          this.recruit_strategys.forEach((e, i) => {
            if (e.followers_low <= arr.followers_low && e.followers_up >= arr.followers_up) {
              this.$message.warning('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
              throw new Error('error')
            } else if (e.followers_low >= arr.followers_low && e.followers_up <= arr.followers_up) {
              this.$message.warning('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
              throw new Error('error')
            } else if (e.followers_low < arr.followers_low && e.followers_up > arr.followers_low) {
              this.$message.warning('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
              throw new Error('error')
            } else if (e.followers_up > arr.followers_up && e.followers_low < arr.followers_up) {
              this.$message.warning('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
              throw new Error('error')
            } else {
              return
            }
          })
          throw new Error('ending')
        } catch (e) {
          if (e.message === 'error') {
            console.log('该策略与已经存在的策略互斥，请修改相关数值后重新创建')
            return
          } else {
            // 若为产品置换类型，则计算相关服务费
            if (arr.show_fee_form === '产品置换') {
              const params = {
                followers_low: parseInt(fansLow),
                followers_up: parseInt(fansUp),
                platform: this.$store.state.newProject.project_platform,
                fee_form: 1
              }
              this.postRequest('youngee/m/project/recruit/getservicecharge', params).then((resp) => {
                arr.service_charge = parseFloat(resp.data.service_charge)
                arr.show_service_charge = money(arr.service_charge)
              })
            }
            this.recruit_strategys.push(arr)
          }
        }
      } else {
        // 若为产品置换类型，则计算相关服务费
        if (arr.show_fee_form === '产品置换') {
          const params = {
            followers_low: parseInt(fansLow),
            followers_up: parseInt(fansUp),
            platform: this.$store.state.newProject.project_platform,
            fee_form: 1
          }
          this.postRequest('youngee/m/project/recruit/getservicecharge', params).then((resp) => {
            arr.service_charge = parseFloat(resp.data.service_charge)
            arr.show_service_charge = money(arr.service_charge)
          })
        }
        this.recruit_strategys.push(arr)
      }
      this.offer = ''
      this.isAddstra = false
    },
    onInput1(e) {
      // 过滤非数字
      // e.target.value = parseFloat(e.target.value.replace(/\D/g, ''))
      if (e.target.value < 0 || e.target.value > 9999.9) {
        this.$message.warning('请输入[1,9999.9]区间内的数')
        e.target.value = null
      }
      // e.target.value = (e.target.value > 0 && e.target.value <= 9999.9 && e.target.value.match(/^\d*/g)[0]) || null
    },
    onInput(e) {
      // 验证是否是纯数字
      const isNumber = /^\d*$/.test(e.target.value)
      // 过滤非数字
      e.target.value = e.target.value.replace(/\D/g, '')
      if (!isNumber || e.target.value < 0 || e.target.value > 9999) {
        this.$message.warning('请输入[0,9999]区间的整数')
      }
      e.target.value = (e.target.value >= 0 && e.target.value <= 9999 && e.target.value.match(/^\d*/g)[0]) || null
    }
  }
}
</script>

<style scoped lang = "scss">
.basetmp {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;

  /*如果flex-direction：row；代表水平居中；如果flex-direction：column；则代表垂直居中*/
  /* .Recruit {} */

  .flow {
    display: flex;
    justify-content: center;
  }

  .flow_info_base {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 30px 30px;
  }

  .flow_cur {
    font-size: 30px;
    color: #0e4bb7;
    border-bottom: 3px solid #0e4bb7;
    padding-bottom: 5px;
  }

  .flow_left {
    font-size: 30px;
    color: #0e4bb7;
  }

  .flow_right {
    font-size: 30px;
    color: black;
  }

  .attention {
    color: red;
  }

  .content {
    text-align: center;
  }

  .strategys-table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .el-checkbox-width {
    width: 100px;
    height: 30px;
  }

  .input-box {
    width: 200px;
    flex: 0, 1, atuo;
    float: left;
  }

  .short-input-box {
    width: 100px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-big-box {
    width: 950px;
    flex: 0, 1, atuo;
    float: left;
  }

  .input-box-line {
    line-height: 40px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }

  .funcBtnnewcommodity {
    border: none;
    background-color: #0e4bb7;
    color: white;
    margin: 0px 20px 20px;
  }

  .funcBtnstore {
    border: none;
    background-color: #0e4bb7;
    color: white;
    width: 150px;
    /* margin: 20px 500px 20px; */
    margin-top: 50px;
  }

  .funcBtnstra {
    border: none;
    background-color: #0e4bb7;
    color: white;
  }

  // css
  .singleArrow_cur {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: #0e4bb7;
    margin: 35px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  // .singleArrow_cur::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   right: -10px;
  //   /* 箭头位置 */
  //   top: -8px;
  //   /* 箭头位置 */
  //   border-top: 10px solid transparent;
  //   /* 箭头高低 */
  //   border-bottom: 15px solid transparent;
  //   /* 箭头高低 */
  //   border-left: 20px solid #f2d22e;
  //   /* 箭头长度*/
  // }

  .singleArrow {
    width: 180px;
    height: 3px;
    position: relative;
    background-color: black;
    margin: 35px 0px 30px;
    /* transform: rotate(-40deg); */
    /* 旋转角度 */
  }

  // .singleArrow::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   right: -10px;
  //   /* 箭头位置 */
  //   top: -8px;
  //   /* 箭头位置 */
  //   border-top: 10px solid transparent;
  //   /* 箭头高低 */
  //   border-bottom: 15px solid transparent;
  //   /* 箭头高低 */
  //   border-left: 20px solid black;
  //   /* 箭头长度*/
  // }

  .bt {
    position: flex;
    width: 14px;
    height: 14px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -webkit-transform: rotate(315deg);
    margin: 35px 0px 30px;
  }

  .strategy {
    /* display: flex; */
    width: 1200px;
    height: 150px;
    padding: 20px 10px;
    border: dashed;
    text-align: center;
  }
}

.next-btn {
  margin-top: 5px;
}
.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
</style>
