<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">员工账号管理</div> -->
    <el-button class="create_acc" @click="addUser">创建新账号</el-button>
    <el-table
      ref="accountTable"
      :data="accountTable"
      border
      class="account-table"
      :header-cell-style="{ background: '#e8e8e8', color: 'black' }"
    >
      <el-table-column prop="user" label="账号ID" align="center" />
      <el-table-column prop="username" label="账号名称" width="180" align="center" />
      <el-table-column prop="password" label="账号密码" align="center" />
      <el-table-column prop="role" label="角色" align="center" />
      <el-table-column prop="email" label="邮箱" width="180" align="center" />
      <el-table-column prop="phone" label="电话" align="center" />
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="user_state" label="账号状态" align="center" />
      <el-table-column prop="operate" label="操作" align="center">
        <template slot-scope="scope">
          <el-button type="text" size="medium" @click="checkAccount(scope.row)">查看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-top:20px">
      <el-pagination
        :current-page="currentPage"
        :page-sizes="pageSizes"
        :page-size="PageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalCount"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
    <el-dialog :visible.sync="userAccountdialogVisible" width="850px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="userAccountdialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;justify-content: center;">
        <div class="external" style="padding-bottom:10px;margin-left: 250px;">
          <span class="title">员工账号信息看板</span>
        </div>
        <el-button class="updateButton" @click="updateUser">更新账号信息</el-button>
      </div>
      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>账号名称：</span>
          <el-input v-model="username" style="width:200px" />
        </div>
        <div class="inline">
          <span>角色：</span>
          <el-select v-model="role" class="input-box" style="margin-left: 31px;" placeholder="请选择">
            <el-option v-for="item in roleOptions" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
        <div class="inline">
          <span>账号密码：</span>
          <el-input v-model="password" style="width:200px" />
        </div>
        <div class="inline">
          <span>邮箱：</span>
          <el-input v-model="email" style="width:200px;margin-left: 31px;" />
        </div>
        <div class="inline">
          <span>电话：</span>
          <el-input v-model="phone" style="width:200px;margin-left: 31px;" />
        </div>
      </div>
      <el-button style="background:#0e4bb7;color:white" @click="disabled">禁用</el-button>
    </el-dialog>
    <el-dialog :visible.sync="addUserdialogVisible" width="850px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="addUserdialogVisible = false;" />
        </div>
      </div>
      <div class="external" style="padding-bottom:10px;">
        <span class="title">员工账号信息看板</span>
      </div>
      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>账号名称：</span>
          <el-input v-model="new_username" style="width:200px" />
        </div>
        <div class="inline">
          <span>角色：</span>
          <el-select v-model="new_role" class="input-box" style="margin-left: 31px;" placeholder="请选择">
            <el-option v-for="item in roleOptions" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
        <div class="inline">
          <span>账号密码：</span>
          <el-input v-model="new_password" style="width:200px" />
        </div>
        <div class="inline">
          <span>邮箱：</span>
          <el-input v-model="new_email" style="width:200px;margin-left: 31px;" />
        </div>
        <div class="inline">
          <span>电话：</span>
          <el-input v-model="new_phone" style="width:200px;margin-left: 31px;" />
        </div>
      </div>
      <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="createUser">创建</el-button>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'EmployeeAccountManagement',
  data() {
    return {
      accountTable: [],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,
      userAccountdialogVisible: false,
      addUserdialogVisible: false,
      roleOptions: [{
        value: '1',
        label: '超级管理员'
      }, {
        value: '2',
        label: '普通管理员'
      }
      ],
      user: '',
      role: '',
      username: '',
      password: '',
      email: '',
      phone: '',
      new_role: '',
      new_username: '',
      new_password: '',
      new_email: '',
      new_phone: ''
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  mounted() {
    this.getUserAccount()
  },
  methods: {
    addUser() {
      this.addUserdialogVisible = true
    },
    async createUser() {
      if (this.new_username === '') {
        this.$message('请填写账号名称')
        return
      } else if (this.new_role === '') {
        this.$message('请选择角色类型')
        return
      } else if (this.new_password === '') {
        this.$message('请填写账号密码')
        return
      } else if ((this.new_password.length < 6)) {
        this.$message('账号密码不能小于六位数')
        return
      } else if (this.new_email === '') {
        this.$message('请填写邮箱信息')
        return
      } else if (this.new_phone === '') {
        this.$message('请填写电话信息')
        return
      }
      var verify = /^\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/
      if (!verify.test(this.new_email)) {
        this.$message('邮箱格式错误, 请重新输入')
        return
      }
      var phoneVerify = /^1[34578]\d{9}$/
      if (!phoneVerify.test(this.new_phone)) {
        this.$message('手机号码格式错误, 请重新输入')
        return
      }
      const params = {
        username: this.new_username,
        role: this.new_role,
        password: this.new_password,
        email: this.new_email,
        phone: this.new_phone
      }
      await this.postRequest('youngee/m/user/createUser', params).then((resp) => {
        const status = resp.status
        if (status === 1) {
          this.$message.error('手机号已存在，不能再次创建')
          return
        } else if (status === 2) {
          this.$message.error('创建失败')
          return
        }
      })
      this.$router.go(0)
    },
    async updateUser() {
      let curRole = ''
      if (this.new_password.length < 6) {
        this.$message('账号密码不能小于六位数')
        return
      }
      if (this.role === '超级管理员') {
        curRole = '1'
      } else if (this.role === '普通管理员') {
        curRole = '2'
      } else if (this.role === '1') {
        curRole = '1'
      } else if (this.role === '2') {
        curRole = '2'
      }
      const params = {
        user: this.user,
        username: this.username,
        role: curRole,
        password: this.password,
        email: this.email,
        phone: this.phone
      }
      await this.postRequest('youngee/m/user/updateUserInfo', params).then((resp) => {
      })
      if (this.user === sessionStorage.getItem('user') && this.password !== sessionStorage.getItem('password')) {
        this.$message('当前账号的密码已改变，请重新登录')
        this.$router.push(`/login`)
      } else {
        this.$router.go(0)
      }
    },
    async disabled() {
      const params = {
        user: this.user
      }
      await this.postRequest('youngee/m/user/disabledUser', params).then((resp) => {
      })
      this.$router.go(0)
    },
    checkAccount(row) {
      this.userAccountdialogVisible = true
      this.user = row.user
      this.username = row.username
      this.role = row.role
      this.password = row.password
      this.email = row.email
      this.phone = row.phone
    },
    getUserAccount() {
      const params = {
        page_size: 10,
        page_num: 1
      }
      this.postRequest('youngee/m/user/getUserList', params).then((resp) => {
        if (resp.data.total !== 0) {
          let allUserAccount = null
          let totalCount = null
          allUserAccount = resp.data.user_list_preview
          this.$data.accountTable = allUserAccount
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.accountTable = []
        }
      })
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      const params = {
        page_size: n1,
        page_num: n2
      }
      this.postRequest('youngee/m/user/getUserList', params).then((resp) => {
        if (resp.data.total !== 0) {
          let allUserAccount = null
          let totalCount = null
          allUserAccount = resp.data.user_list_preview
          this.$data.accountTable = allUserAccount
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.accountTable = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.create_acc{
  margin: 20px;
}
.account-table{
  width: 100%;
  text-align: center;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}

.external {
  display: flex;
  justify-content: center;
}

.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: 2px solid #0e4bb7;
  padding-bottom: 5px;
  color: #557bf4;
  font-size: 18px;
}
.updateButton{
  background:#0e4bb7;
  color:white;height: 40px;margin-top: 5px;margin-left: 120px;
}

.inline{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}
.el-dialog__headerbtn .el-dialog__close{
  color: white;
}
.el-dialog__body{
  padding: 5px 15px;
  text-align: center;
}
</style>
