<template>
  <div
    v-if="Object.keys($store.state.product).length !== 0 && Object.keys($store.state.project).length !== 0"
    class="newbrand"
  >
    <div class="line">
      <div class="input-box-line">
        项目类型*:{{ project_type }}
      </div>
      <div class="input-box-line">
        社媒平台*:{{ project_platform }}
      </div>
    </div>
    <div class="line">
      <div class="input-box-line">
        品牌名称*:{{ product.brand_name }}
      </div>
      <div class="input-box-line">
        商品价值*:{{ product.product_price }} 元
      </div>
    </div>
    <div class="line">
      <div class="input-box-line">
        商品名称*:{{ product.product_name }}
      </div>
      <div class="input-box-line">
        商品类型*:{{ product.product_type }}
      </div>
    </div>
    <div class="line">
      <div class="input-box-line">
        商品链接:<a
          v-if="product.product_url !== ''"
          id="url"
          href=""
          style="max-width: 900px;word-break: break-all;word-wrap: break-word;color:#557bf6"
          target="_blank"
        >{{ product.product_url }}</a>
        <span v-if="product.product_url === ''">无</span>
      </div>
      <div v-if="product.product_type === '线下店铺'" class="input-box-line">
        店铺地址:{{ product.shop_address }}
      </div>
    </div>
    <!-- 封面上传 -->
    <div class="line">
      <div class="input-box-line">
        商品主图*：
        <div class="upload-cover">
          <div v-for="item in product.MainPhotoList" :key="item.index">
            <div v-if="item.symbol === 1" class="photo-list-item">
              <img :src="item.url" alt="" height="100px" width="100px" preview="1">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="input-box-line">
      <span>商品详情*：</span>
      <div class="upload-detail">
        <el-col v-for="item in product.CarousePhotolList" :key="item.index" :span="30">
          <div v-if="item.symbol === 2" class="photo-list-item">
            <img :src="item.url" alt="" height="100px" width="100px" preview="1">
          </div>
          <div v-if="item.symbol === 3" class="video-list-item">
            <video width="100" height="100" controls>
              <source :src="item.url" type="video/mp4">
            </video>
          </div>
        </el-col>
      </div>
    </div>
    <div class="input-box-line">
      商品描述*：<span style="width:70rem;white-space:pre-wrap;text-align: justify;">{{ product.product_detail }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ViewProduct',
  props: ['msg'],
  data() {
    return {
      project_types: [
        {
          value: '1',
          label: '全流程项目'
        },
        {
          value: '2',
          label: '专项执行项目'
        }
      ]
    }
  },
  computed: {
    product() {
      return Object.keys(this.$store.state.product).length !== 0 ? this.$store.state.product : null
    },
    project_platform() {
      return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.project_platform : null
    },
    project_type() {
      return Object.keys(this.$store.state.project).length !== 0 ? this.project_types[parseInt(this.$store.state.project.project_type) - 1].label : null
    }
  },
  mounted() {
    // this.product.product_url = this.product.product_url === ''?'无' : product.product_url
    document.getElementById('url').href = this.product.product_url
  }
}
</script>

<style scoped lang = "scss">
.newbrand {
  // width: 1000px;
  // padding: 20px 48px;
  border: 2px solid #e4e7ed;
  border-right: none;
  border-left: none;
  margin-bottom: 25px;
  margin-top: 60px;
}

.title {
  border-bottom: 5px solid black;
  padding-bottom: 10px;
}

.upload-cover {
  width: 200px;
  display: flex;
}

.upload-detail {
  // margin-right: -50px;
  // width: 360px;
  float: right;
}

.attention {
  color: red;
}

.bt {
  position: flex;
  width: 14px;
  height: 14px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(315deg);
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  float: left;
}

.input-big-box {
  width: 500px;
  flex: 0, 1, atuo;
  float: left;
  padding-top: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  // justify-content: left;
}

.photo-list-item {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
}

.video-list-item {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
}

.funcBtn {
  border: none;
  background-color: #f7d43c;
  color: black;
  float: right;
}

.line {
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 20px 48px;
}

.next-btn {
  margin-top: 5px;
}
</style>
<style>
.newbrand .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.newbrand .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.el-textarea .el-input__count {
  color: #909399;
  background: #FFF;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 25px;
}
</style>
