<template>
  <div class="viewproject">
    <div class="content">
      <div class="external" style="padding-bottom:10px">
        <span class="title">{{ project_name }}
          项目信息</span>
      </div>
      <div v-show="!ispreview">
        <div class="line" style="padding-bottom:20px">
          <div>
            项目ID：
            <span>{{ project_id }}</span>
          </div>
          <div>
            联系方式:
            <span>{{ phone }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            企业用户*:
            <span>{{ enterprise_id }}</span>
          </div>
          <div>
            项目创建时间:
            <span>{{ create_at }}</span>
          </div>
        </div>

        <div class="state">
          <div style="float:left;padding-top: 15px;">
            <span>项目状态：<span class="attention">{{ project_status }}</span></span>
          </div>
          <el-button v-if="project_status === '招募中'" type="primary" class="SubmitBtn" style="padding: 8px 15px;">
            去分享</el-button>
          <el-button
            v-if="project_status === '待支付'"
            type="primary"
            class="SubmitBtn"
            style="padding: 8px 15px;"
            @click="dialogVisible = true; menuShow()"
          >
            查看项目支付单</el-button>
        </div>
        <div style="float:right;padding-top: 15px;">
          提交审核时间:
          <span>{{ update_at }}</span>
        </div>

      </div>
      <el-dialog :visible.sync="dialogVisible" width="75%" :before-close="handleClose">
        <span class="title">{{ project_name }}
          项目订单</span>
        <div class="line">
          <div>
            项目ID：
            <span>{{ project_id }}</span>
          </div>
          <div>
            联系方式：
            <span>{{ phone }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            企业用户:
            <span>{{ enterprise_id }}</span>
          </div>
          <div>
            项目创建时间:
            <span>{{ create_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            社媒平台:
            <span>{{ project_platform }}</span>
          </div>
          <div>
            项目截至时间:
            <span>{{ update_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            任务形式:
            <span>{{ project_form_show }}</span>
          </div>
          <div>
            支付截止时间:
            <span class="attention">{{ update_at }}</span>
          </div>
        </div>
        <div class="line">
          <div class="input-box-line">
            内容形式:
            <span>{{ content_type_show }}</span>
          </div>
          <div>
            企业账号可用余额:
            <span class="attention">{{ balance }}</span>
          </div>
        </div>
        <div class="strategys-table">
          <div style="float:left;padding-bottom:10px">
            招募数据
          </div>
          <el-table :data="recruit_strategys" border :header-cell-style="{ background: '#f7d43c', color: '#606266' }">
            <el-table-column prop="strategy_id" label="策略编号" width="180" />
            <el-table-column prop="fee_form" label="稿费形式" width="180" />
            <el-table-column prop="fans" label="创作者粉丝量" />
            <el-table-column prop="offer" label="报价" />
            <el-table-column prop="service_fee" label="平台服务费" />
            <el-table-column prop="recruit_number" label="招募数量" />
            <el-table-column prop="all_payment" label="支付合计" align="center" />
            <el-table-column v-if="this.$store.state.isCreating" prop="operation" label="操作">
              <!--单个删除按钮-->
              <template slot-scope="scope">
                <el-button type="text" @click="handleDelete(scope.$strategy_id)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div style="display:flex;flex-direction:column;text-align: right;">
          <div class="PaySum">
            <span style="margin-right:15px;">支付金额:{{ all_sum }}</span>
          </div>
          <div class="PaySum" style="display:flex;flex-direction:row;align-items: center;margin-left: 85%;">
            <img src="../../../assets/images/样叽logo.png" width="30px" height="30px">
            <span style="line-height: 30px;">样叽账户：{{ balance }}</span>
          </div>
          <div v-show="balance < all_sum" class="PaySum">
            <span style="margin-right:15px;">需充值：{{ all_sum - balance }}</span>
          </div>
        </div>
        <div style="text-align: right;">
          <el-button style="background:#f6232d;color: #FFF;" @click="pay()">
            确认支付 {{ all_sum }}
          </el-button>
          <el-button v-show="balance < all_sum" style="background:#f6232d;color: #FFF;">
            确认充值 {{ all_sum - balance }}
          </el-button>
        </div>
      </el-dialog>
      <view-product :msg="project_info" />
      <view-recruit v-model="recruit" :msg="project_info" />
      <view-excute v-model="excute" :msg="project_info" />
      <div v-show="$store.state.isCreating">
        <el-button type="primary" class="SubmitBtn" @click="updateProject">确认无误，提交项目审核</el-button>
        <el-button type="primary" class="StoreBtn">暂不提交，保存至草稿箱</el-button>
      </div>
      <div v-show="project_info.project_status == 8">
        <span>失效原因：{{ reason }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from '@/event-bus'
import ViewProduct from '@/components/Project/viewProduct/index.vue'
import ViewExcute from '@/components/Project/viewExcute/index.vue'
import ViewRecruit from '@/components/Project/viewRecruit/index.vue'
export default {
  name: 'ViewProject',
  components: {
    ViewProduct,
    ViewRecruit,
    ViewExcute
  },
  props: ['msg'],
  data() {
    return {
      recruit: {},
      excute: {},
      active: '',
      ispreview: 'false',
      project_status: '',
      activeName: '1',
      enterprise_id: '',
      project_id: 0,
      project_name: '',
      project_info: '',
      balance: '',
      all_sum: 0,
      recruit_strategys: '',
      phone: '',
      project_platform: '',
      project_form: 0,
      project_form_show: '',
      content_type_show: '',
      isShow: false,
      dialogVisible: false,
      create_at: '',
      update_at: '',
      reason: '',
      project_statuses: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '创建中'
        },
        {
          value: '2',
          label: '待审核'
        },
        {
          value: '3',
          label: '审核通过'
        },
        {
          value: '4',
          label: '招募中'
        },
        {
          value: '5',
          label: '招募完毕'
        },
        {
          value: '6',
          label: '待支付'
        },
        {
          value: '7',
          label: '已支付'
        },
        {
          value: '8',
          label: '失效'
        },
        {
          value: '9',
          label: '执行中'
        },
        {
          value: '10',
          label: '已结案'
        }
      ]
    }
  },
  mounted(){
    EventBus.$on('eventTest', () => {
      console.log('dashboard 创建项目中2')
    })
  },
  watch: {
    msg: function(newVal, oldVal) {
      this.project_info = newVal
      this.$store.state.project.recruit_ddl = this.project_info.recruit_ddl.substr(0, 19).replace(/T/g, '  ')
      this.project_id = this.project_info.project_id
      this.$store.state.project.project_id = this.project_id
      this.enterprise_id = this.project_info.enterprise_id
      this.balance = this.project_info.balance
      this.project_name = this.project_info.project_name
      this.create_at = this.project_info.create_at
      this.update_at = this.project_info.update_at
      this.recruit_strategys = this.project_info.recruit_strategys
      this.create_at = this.create_at.replace('T', ' ').substring(0, 19)
      this.update_at = this.update_at.replace('T', ' ').substring(0, 19)
      if (parseInt(this.project_info.project_status) !== 1) {
        // this.isShow = true;
        this.$store.state.isCreating = false
      }
      if (parseInt(this.project_info.project_status) === 8 && parseInt(this.project_info.fail_reason) === 1) {
        // this.isShow = true;
        this.reason = '逾期未支付'
      } else if (parseInt(this.project_info.project_status) === 8 && parseInt(this.project_info.fail_reason) === 2) {
        // this.isShow = true;
        this.reason = '项目存在风险，禁止发布'
      }
      this.phone = this.project_info.phone
      this.project_status =
        this.project_statuses[
          parseInt(this.project_info.project_status)
        ].label
      this.$store.state.enterprise_id = this.enterprise_id
      this.$store.state.create_at = this.create_at
      this.$store.state.update_at = this.update_at
      this.$store.state.balance = this.balance
      this.$store.state.phone = this.phone
      this.$store.state.project_status = this.project_status
      this.$store.state.project.project_form = this.project_form
      this.menuShow()
    }
  },
  mounted() {
    this.ispreview = this.$route.query.ispreview

    this.project_info = this.$route.query.project_info
    this.project_id = this.project_info.project_id
    this.enterprise_id = this.project_info.enterprise_id
    this.project_name = this.project_info.project_name
    this.project_form = this.project_info.project_form
    this.create_at = this.project_info.create_at
    this.update_at = this.project_info.update_at
    this.balance = this.project_info.balance
    this.create_at = this.create_at.replace('T', ' ').substring(0, 19)
    this.update_at = this.update_at.replace('T', ' ').substring(0, 19)
    if (this.project_info.project_status !== 1) {
      this.isShow = true
    }
    this.phone = this.project_info.phone
    this.project_status =
      this.project_statuses[
        parseInt(this.project_info.project_status)
      ].label
  },
  methods: {
    updateProject() {
      for (const i in this.recruit.recruit_strategys) {
        switch (this.recruit.recruit_strategys[i].fee_form) {
          case '自报价':
            this.recruit.recruit_strategys[i].fee_form = 3
            break
          case '固定稿费':
            this.recruit.recruit_strategys[i].fee_form = 2
            break
          case '产品置换':
            this.recruit.recruit_strategys[i].fee_form = 1
            break
        }
      }
      // console.log(this.recruit.talent_type)
      this.recruit.talent_type = JSON.stringify(this.recruit.talent_type)
      // console.log("after",this.recruit.talent_type)
      const params = {
        project_form: this.recruit.project_form,
        talent_type: this.recruit.talent_type,
        recruit_ddl: this.recruit.recruit_ddl,
        content_type: this.excute.content_type,
        project_detail: this.excute.project_detail,
        recruit_strategys: this.recruit.recruit_strategys,
        project_photos: this.excute.project_photos,
        enterprise_id: this.enterprise_id,
        project_id: this.project_id
      }
      this.postRequest('/youngee/m//project/update', params).then((resp) => {
      })

      // console.log(this.recruit, this.excute)
      this.$router.push('./project')
    },
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => { })
    },
    menuShow() {
      const params = {
        project_id: this.project_id
      }
      this.project_platform = this.$store.state.project.project_platform
      this.project_form_show = this.$store.state.project.project_form_show
      this.content_type_show = this.$store.state.project.content_type_show
      // this.recruit_strategys = this.$store.state.recruit_strategys;
      this.postRequest('/youngee/m/pay/paysum', params).then((resp) => {
        this.all_sum = 0
        for (const i in this.recruit_strategys) {
          this.$set(this.recruit_strategys[i], 'all_payment', 0)
          for (const j in resp.data.pay_sum) {
            if (this.recruit_strategys[i].strategy_id === resp.data.pay_sum[j].strategy_id) { this.recruit_strategys[i].all_payment = resp.data.pay_sum[j].all_payment }
          }
          this.all_sum += parseFloat(this.recruit_strategys[i].all_payment)
        }
        this.$store.state.recruit_strategys = this.recruit_strategys
      })
    },
    pay() {
      const params = {
        project_id: this.project_id,
        pay_sum: parseInt(this.all_sum)
      }
      this.postRequest('/youngee/m/pay/projectpay', params).then((resp) => {
        if (resp.status === 0) {
          console.log('支付成功')
          this.$message.success('支付成功')
          this.dialogVisible = false
        }
      })
      this.$router.replace('/project')
    }
  }
}
</script>

<style scoped lang = "scss">
.viewproject {
  text-align: center;
  // display: flex;
  flex-direction: row;
  // align-items: center;
  padding: 20px 48px;
  background: #ebe9e94d;
  /*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
  justify-content: center;

  .BackCenter {
    cursor: pointer;
  }

  .back {
    text-align: left;
    display: flex;
    margin-bottom: 1700px;
  }
}

.strategys-table {
  flex-direction: row;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
  text-align: center;
  border: solid;
  border-right: none;
  border-left: none;
}

.PaySum {
  float: right;
  padding: 10px 0 10px 0;
}

.position {
  font-size: 20px;
}

.attention {
  color: red;
}

.external {
  display: flex;
  justify-content: center;
}

.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: solid;
  padding-bottom: 5px;
}

.SubmitBtn {
  border: none;
  justify-content: center;
  background-color: #f7d43c;
  color: black;
  margin: 10px;
  // padding: 8px 15px;
}

.StoreBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.state {
  float: left;
}

.line {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

.content {
  background-color: white;
  align-items: center;
  padding: 20px 48px;
}
</style>
<style>
.el-tabs__item:hover {
  outline: 0 !important;
  color: #f7d43c !important;
}

.el-tabs__item.is-active {
  outline: 0 !important;
  color: #dab926 !important;
}
</style>
