<template>
	<div class="viewselection">
		<div class="content">
			<img v-show="!isSpecial" src="@/assets/images/全流程_状态1.png" class="flow-chart" />
			<img v-show="isSpecial" src="@/assets/images/专项_状态1.png" class="flow-chart" />
			<div class="external">
				<span class="title">宝洁海飞丝洗发水柠檬味选品任务信息</span>
			</div>
			<div v-show="!ispreview">
				<div class="line" style="padding-bottom: 1.25rem">
					<div>
						<span>项目ID：{{ selection_info.selection_id }}</span>
					</div>
					<div>
						<span>商家用户：{{ selection_info.enterprise_id }}</span>
					</div>
				</div>
				<div class="line">
					<div>
						<span>项目状态：</span><span style="color: #f6232d;">{{ selection_status }}</span>
					</div>
					<div>
						<span>选品上架时间：{{ selection_info.pass_at }}</span>
					</div>
				</div>
			</div>
			<view-product :msg="selection_info"></view-product>
			<task-requirement v-model="recruit" :msg="selection_info"></task-requirement>
			<brief v-model="excute" :msg="selection_info"></brief>
			<!-- 审核按钮，调用审核接口 -->
			<div style="padding: 20px 0">
				<span>悬赏金总计<span style="color: #f6232d">12,354.0元</span></span>
			</div>
		</div>
	</div>
</template>

<script>
import { EventBus } from "@/event-bus.js";
import ViewProduct from "@/components/SelectionCenter/MySelection/SelectionDetail/ViewProduct.vue";
import TaskRequirement from '@/components/SelectionCenter/MySelection/SelectionDetail/TaskRequirement.vue';
import Brief from "@/components/SelectionCenter/MySelection/SelectionDetail/Brief.vue";
import RechargeBlock from "@/components/utils/RechargeBlock.vue";
import html2canvas from 'html2canvas'
import { fansview, money } from '@/utils';
import ObsClient from '@/components/esdk-obs-browserjs-without-polyfill-3.19.5.min.js'

// 创建ObsClient实例
const obs = new ObsClient({
	access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
	secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
	server: 'https://obs.cn-east-3.myhuaweicloud.com'
})
export default {
	name: "SelectionDetail",
	components: {
		ViewProduct,
		Brief,
		RechargeBlock,
		TaskRequirement,
	},
	props: ["msg"],
	data () {
		return {
			imgurl: "",
			rechargeMoney: 0,
			shareUrl: "",
			disabled: false,
			shareUrlDialogVisible: false,//去分享模态框
			bottonList: [
				{
					name: '在线充值'
				},
				{
					name: '对公转账'
				}
			],
			MainPhotoList: [], //图片数组
			imageurldialogVisible: false,//图片预览弹窗
			dialogImageUrl: '',//图片地址
			total_offer: 0,
			recruit: {},
			excute: {},
			active: "",
			ispreview: false,
			allSum: 0,
			needRecharge: false,
			finish_recruit_strategys: [],
			special_finish_recruit_strategys: [
				{
					finish_number: "",
					fan_number: "",
					play_number: "",
					like_number: "",
					collect_number: "",
					comment_number: "",
				},
			],
			dialogVisible: false,
			dialogFinishDataVisible: false,
			dialogSpecialFinishDataVisible: false,
			payDialogVisible: false,
			payDisable: false,
			selection_statuses: [
				{
					value: "0",
					label: "不限",
				},
				{
					value: "1",
					label: "创建中",
				},
				{
					value: "2",
					label: "待审核",
				},
				{
					value: "3",
					label: "审核通过",
				},
				{
					value: "4",
					label: "待支付",
				},
				{
					value: "5",
					label: "已支付",
				},
				{
					value: "6",
					label: "执行中",
				},
				{
					value: "7",
					label: "失效",
				},
				{
					value: "8",
					label: "已结案",
				}
			],
			isSelfOffer: false
		};
	},
	async mounted () {
		// 接收参数
		EventBus.$on("showPayData", (msg) => {
			this.showPayData();
		});
		for (const i in this.recruit_strategys) {
			if (this.recruit_strategys[i].fee_form == '3') {
				this.isSelfOffer = true
			}
		}
	},
	computed: {
		show_total_offer () {
			return money(parseFloat(this.total_offer).toFixed(1))
		},
		showEstimatedCose () {
			return money(this.selection_info.estimated_cost)
		},
		recruit_numbers () {
			let recruitNumbers = 0;
			this.$store.state.recruit_strategys.forEach((e) => {
				recruitNumbers += e.recruit_number;
			});
			return recruitNumbers;
		},
		product () {
			return Object.keys(this.$store.state.product).length !== 0
				? this.$store.state.product
				: null;
		},
		selection_info: {
			get: function () {
				return Object.keys(this.$store.state.selection).length !== 0
					? this.$store.state.selection
					: null;
			},
			set: function (value) {
				this.$store.state.selection = value;
			},
		},
		available_balance: {
			get: function () {
				return Object.keys(this.$store.state.selection).length !== 0
					? money(this.$store.state.selection.available_balance)
					: 0;
			},
		},
		recruit_strategys: {
			get: function () {
				for (const i in this.$store.state.recruit_strategys) {
					if (this.$store.state.recruit_strategys[i].fee_form == '3') {
						this.isSelfOffer = true
					}
				}
				return Object.keys(this.$store.state.recruit_strategys).length !== 0
					? this.$store.state.recruit_strategys
					: [];
			},
			set: function (value) {
				this.$store.state.recruit_strategys = value;
			},
		},
		isCreatingSelection () {
			return Object.keys(this.$store.state.selection).length !== 0
				? parseInt(this.$store.state.selection.selection_status) === 1
				: null;
		},
		reason () {
			return Object.keys(this.$store.state.selection).length !== 0
				? parseInt(this.$store.state.selection.fail_reason) === 1
					? "逾期未支付"
					: "项目存在风险，禁止发布"
				: null;
		},
		selection_status () {
			return Object.keys(this.$store.state.selection).length !== 0
				? this.selection_statuses[
					parseInt(this.$store.state.selection.selection_status)
				].label
				: null;
		},
		showRechargeMoney () {
			return money(this.rechargeMoney);
		},
		showAllSum () {
			return money(this.allSum);
		}
	},
	methods: {
		async toUserCenter () {
			if (this.$store.state.isLogin) {
				await this.$router.replace('usercenter')
				this.$router.go(0)
			} else {
				this.$router.replace('login')
			}
		},
		getSumAmount1 (param) {
			const { columns, data } = param
			const sums = []
			columns.forEach((column, index) => {
				if (index === 0) {
					sums[index] = '合计'
					column.colSpan = 5
					return
				} else if (index == 6 || index == 7 || index == 8 || index == 9 || index == 10) {
					let sum = 0
					for (let i in data) {
						let fan_number
						if (index == 6) {
							fan_number = data[i].fan_number
						} else if (index == 7) {
							fan_number = data[i].play_number
						} else if (index == 8) {
							fan_number = data[i].like_number
						} else if (index == 9) {
							fan_number = data[i].collect_number
						} else if (index == 10) {
							fan_number = data[i].comment_number
						}
						if (fan_number.includes('万')) {
							fan_number = parseFloat(fan_number.substring(0, fan_number.length - 1)) * 10000
						} else if (fan_number.includes('亿')) {
							fan_number = parseFloat(fan_number.substring(0, fan_number.length - 1)) * 100000000
						} else {
							fan_number = parseInt(fan_number)
						}
						sum += fan_number
					}
					sums[index] = fansview(sum)
					return
				} else if (index == 5) {
					const values = data.map(item => Number(item[column.property]))
					if (!values.every((value) => isNaN(value))) {
						sums[index] = values.reduce((prev, curr) => {
							const value = Number(curr);
							if (!isNaN(value)) {
								return prev + curr;
							} else {
								return prev;
							}
						}, 0);
						sums[index] += "";
					}
				}
			})
			return sums
		},
		getSumAmount2 (param) {
			const { columns, data } = param
			const sums = []
			columns.forEach((column, index) => {
				if (index === 0) {
					sums[index] = '合计'
					column.colSpan = 5
					return
				} else if (index == 7) {
					let sum = 0
					for (let i in data) {
						sum += data[i].total_offer
					}
					sums[index] = money(sum)
					return
				} else if (index == 5 || index == 6) {
					const values = data.map(item => Number(item[column.property]))
					if (!values.every((value) => isNaN(value))) {
						sums[index] = values.reduce((prev, curr) => {
							const value = Number(curr);
							if (!isNaN(value)) {
								return prev + curr;
							} else {
								return prev;
							}
						}, 0);
						sums[index] += "";
					}
				}
			})

			return sums
		},
		/**
		* 将页面指定节点内容转为图片
		*/
		generatePicture () {
			const content = this.$refs.imageDom
			const scrollHeight = content.scrollHeight
			const scrollWidth = content.scrollWidth
			html2canvas(content, {
				scale: window.devicePixelRatio * 2,
				useCORS: true, // 开启跨域配置，但和allowTaint不能共存
				width: scrollWidth,
				height: scrollHeight,
				windowWidth: scrollWidth,
				windowHeight: scrollHeight,
				x: 0,
				y: window.pageYOffset
			}).then((canvas) => {
				// this.operType = 'edit'
				// const dataURL = canvas.toDataURL('image/jpg')
				// const link = document.createElement('a')
				// link.href = dataURL
				// const filename = `${new Date().getTime()}.jpg` // 文件名称
				// link.setAttribute('download', filename)
				// link.style.display = 'none' // a标签隐藏
				// document.body.appendChild(link)
				// link.click()
				const a = document.createElement('a') // cxt.toDataURL()
				a.setAttribute('href', canvas.toDataURL('image/png', 1)) // toDataUrl：将canvas画布信息转化为base64格式图片
				a.setAttribute('download', this.selection_info.selection_name + ' 分享图') // 这个是必须的，否则会报错
				a.setAttribute('target', '_self')
				a.click()
				a.remove()
				document.body.appendChild(a)
			})
		},
		// async shareSelection () {
		// 	// 调用后端接口获取二维码
		// 	let page = this.isSpecial ? 'pages/tasksquare/specialTask/specialTaskDetail' : 'pages/tasksquare/taskdetail';
		// 	let params = {
		// 		scene: this.selection_info.selection_id,
		// 		page: page,
		// 		// scene: this.selection_info.selection_id,
		// 		// page: 'pages/task/taskdetails',
		// 	}
		// 	await this.postRequest(
		// 		"/youngee/m//qrcode/getwxqrcode",
		// 		params
		// 	).then((resp) => {
		// 		this.imgurl = 'data:image/png;base64,' + resp.data.qr_code_bytes;
		// 	})
		// 	// if (this.selection_info.selection_type === "1") {
		// 	//   this.shareUrl =
		// 	//     "https://younggee.com/wxapp/taskdetail?action=taskdetail&id=" +
		// 	//     this.selection_info.selection_id;
		// 	// } else {
		// 	//   this.shareUrl =
		// 	//     "https://younggee.com/wxapp/specialtaskdetail?action=taskdetail&id=" +
		// 	//     this.selection_info.selection_id;
		// 	// }
		// 	this.shareUrlDialogVisible = true;
		// },
		async showFinishData () {
			this.total_offer = 0
			const params = {
				selection_id: this.selection_info.selection_id,
			};
			if (this.isSpecial) {
				// 专项
				await this.postRequest(
					"/youngee/m/selection/getspecialfinishdata",
					params
				).then((resp) => {
					if (resp.data !== null) {
						this.special_finish_recruit_strategys[0].finish_number = resp.data.finish_number;
						this.special_finish_recruit_strategys[0].fan_number = fansview(resp.data.fan_number)
						this.special_finish_recruit_strategys[0].play_number = fansview(resp.data.play_number)
						this.special_finish_recruit_strategys[0].like_number = fansview(resp.data.like_number)
						this.special_finish_recruit_strategys[0].comment_number = fansview(resp.data.comment_number)
						this.special_finish_recruit_strategys[0].collect_number = fansview(resp.data.collect_number)
						this.dialogSpecialFinishDataVisible = true;
					} else {
						this.$message({
							type: "error",
							message: "结案数据查询失败",
						});
					}
				});

				this.dialogSpecialFinishDataVisible = true;
			} else {
				// 全流程
				await this.postRequest("/youngee/m/selection/getfinishdata", params).then(
					(resp) => {
						if (resp.data !== null) {
							this.finish_recruit_strategys =
								resp.data.finish_recruit_strategys;
							for (const i in this.finish_recruit_strategys) {
								this.total_offer += (
									this.finish_recruit_strategys[i].total_offer
								);
								this.finish_recruit_strategys[i].show_total_offer = money(this.finish_recruit_strategys[i].total_offer);
								this.finish_recruit_strategys[i].show_offer = this.finish_recruit_strategys[i].offer === "0" ? "-" : money(this.finish_recruit_strategys[i].offer);
								this.finish_recruit_strategys[i].show_service_charge = this.finish_recruit_strategys[i].service_charge === "0" ? "-" : money(this.finish_recruit_strategys[i].service_charge);
								this.finish_recruit_strategys[i].fan_number = fansview(this.finish_recruit_strategys[i].fan_number)
								this.finish_recruit_strategys[i].fans = fansview(this.finish_recruit_strategys[i].followers_low) + "-" + fansview(this.finish_recruit_strategys[i].followers_up)

								this.finish_recruit_strategys[i].comment_number = fansview(this.finish_recruit_strategys[i].comment_number)
								this.finish_recruit_strategys[i].collect_number = fansview(this.finish_recruit_strategys[i].collect_number)
								this.finish_recruit_strategys[i].like_number = fansview(this.finish_recruit_strategys[i].like_number)
								this.finish_recruit_strategys[i].play_number = fansview(this.finish_recruit_strategys[i].play_number)
								switch (parseInt(this.finish_recruit_strategys[i].fee_form)) {
									case 3:
										this.finish_recruit_strategys[i].show_fee_form = "自报价";
										break;
									case 2:
										this.finish_recruit_strategys[i].show_fee_form = "固定稿费";
										break;
									case 1:
										this.finish_recruit_strategys[i].show_fee_form = "产品置换";
										break;
								}
							}
							this.dialogFinishDataVisible = true;
						} else {
							this.$message({
								type: "error",
								message: "结案数据查询失败",
							});
						}
					}
				);
			}
		},
		handleSaveClick () {
			// EventBus.$emit("SelectionDetailDraft", "查看草稿箱");
			for (const i in this.recruit.recruit_strategys) {
				switch (this.recruit.recruit_strategys[i].fee_form) {
					case "自报价":
						this.recruit.recruit_strategys[i].fee_form = 3;
						break;
					case "固定稿费":
						this.recruit.recruit_strategys[i].fee_form = 2;
						break;
					case "产品置换":
						this.recruit.recruit_strategys[i].fee_form = 1;
						break;
				}
			}
			if (this.selection_info.recruit_ddl.indexOf("T")) {
				this.selection_info.recruit_ddl = this.selection_info.recruit_ddl.replace("T", " ").substring(0, 19);
			}
			if (this.selection_info.recruit_ddl.length === 16) {
				this.selection_info.recruit_ddl = this.selection_info.recruit_ddl + ":00"
			}
			if (!this.isSpecial && new Date(this.selection_info.recruit_ddl) < new Date(new Date().setHours(0, 0, 0, 0) + 24 * 60 * 60 * 1000)) {
				this.$message.warning('请输入正确的时间格式，招募截止时间不能选择当天')
				return
			}
			const params = {
				selection_form: this.excute.selection_form,
				talent_type: this.recruit.talent_type,
				recruit_ddl: this.selection_info.recruit_ddl,
				content_type: this.excute.content_type,
				selection_detail: this.excute.selection_detail,
				recruit_strategys: this.recruit.recruit_strategys,
				selection_photos: this.excute.selection_photos,
				enterprise_id: this.enterprise_id,
				selection_id: this.selection_info.selection_id,
				selection_type: parseInt(this.selection_info.selection_type),
				selection_status: "1",
			};
			this.postRequest("/youngee/m//selection/update", params).then((resp) => { });
			this.$router.push({
				path: "/selection",
				query: {
					draft: 1,
				},
			});
		},
		async handleSubmitClick () {
			if (!this.isSpecial) {
				if (this.selection_info.recruit_ddl.indexOf("null") !== -1) {
					this.$message.error('招募截止具体时间不能为空')
					return;
				}
				if (this.recruit.talent_type === "[]") {
					this.$message.error("达人类型不能为空");
					return;
				}
				if (this.recruit.recruit_strategys.length === 0) {
					this.$message.error("招募策略不能为空");
					return;
				}
			}
			if (this.excute.selection_detail === "") {
				this.$message.error("任务详情不能为空");
				return;
			}
			if (this.selection_info.recruit_ddl.length === 16) {
				this.selection_info.recruit_ddl = this.selection_info.recruit_ddl + ":00"
			}
			if (this.isSpecial) {
				if (this.selection_info.recruit_ddl.indexOf("T")) {
					this.selection_info.recruit_ddl = this.selection_info.recruit_ddl.replace("T", " ").substring(0, 19);
				}
				// 专项
				const params = {
					selection_form: this.excute.selection_form,
					talent_type: this.recruit.talent_type,
					recruit_ddl: this.selection_info.recruit_ddl,
					content_type: this.excute.content_type,
					selection_detail: this.excute.selection_detail,
					selection_photos: this.excute.selection_photos,
					enterprise_id: this.enterprise_id,
					selection_id: this.selection_info.selection_id,
					selection_type: parseInt(this.selection_info.selection_type),
					selection_status: "9",
				};
				await this.postRequest("/youngee/m//selection/update", params).then(
					(resp) => { }
				);

				this.$router.push({
					path: "/selection",
					query: {
						special: 1,
					},
				});
			} else {
				if (new Date(this.selection_info.recruit_ddl) < new Date(new Date().setHours(0, 0, 0, 0) + 24 * 60 * 60 * 1000)) {
					this.$message.warning('请输入正确的时间格式，招募截止时间不能选择当天')
					return
				}
				// 全流程
				for (const i in this.recruit.recruit_strategys) {
					switch (this.recruit.recruit_strategys[i].fee_form) {
						case "自报价":
							this.recruit.recruit_strategys[i].fee_form = 3;
							break;
						case "固定稿费":
							this.recruit.recruit_strategys[i].fee_form = 2;
							break;
						case "产品置换":
							this.recruit.recruit_strategys[i].fee_form = 1;
							break;
					}
				}

				const params = {
					selection_form: this.excute.selection_form,
					talent_type: this.recruit.talent_type,
					recruit_ddl: this.selection_info.recruit_ddl,
					content_type: this.excute.content_type,
					selection_detail: this.excute.selection_detail,
					recruit_strategys: this.recruit.recruit_strategys,
					selection_photos: this.excute.selection_photos,
					enterprise_id: this.enterprise_id,
					selection_id: this.selection_info.selection_id,
					selection_type: parseInt(this.selection_info.selection_type),
					selection_status: "2",
				};
				await this.postRequest("/youngee/m//selection/update", params).then(
					(resp) => { }
				);
				this.$router.push({
					path: "/selection",
				});
			}
		},
		showPayData () {
			const params = {
				selection_id: this.selection_info.selection_id,
			};
			this.postRequest("/youngee/m/pay/paysum", params).then((resp) => {
				this.allSum = 0;
				for (const i in this.recruit_strategys) {
					this.$set(this.recruit_strategys[i], "all_payment", 0);
					this.$set(this.recruit_strategys[i], 'show_all_payment', 0)
					for (const j in resp.data.pay_sum) {
						if (this.recruit_strategys[i].strategy_id === resp.data.pay_sum[j].strategy_id) {
							this.recruit_strategys[i].all_payment = resp.data.pay_sum[j].all_payment;
							this.recruit_strategys[i].show_all_payment = money(parseFloat(resp.data.pay_sum[j].all_payment))
						}
					}
					this.allSum += parseFloat(this.recruit_strategys[i].all_payment);
				}
				this.mainKey = Math.random()
				this.rechargeMoney = (this.allSum - this.selection_info.available_balance).toFixed(1);
				this.needRecharge = this.rechargeMoney > 0 ? true : false
				// this.$store.state.recruit_strategys = this.recruit_strategys;
			});
		},
		pay () {
			if (this.allSum === 0) {
				this.$message.warning('支付金额不可为0元')
				return
			}
			this.payDialogVisible = true
		},
		Paycancel () {
			this.payDialogVisible = false;
		},
		async Payconfirm () {
			const params = {
				selection_id: this.selection_info.selection_id,
				pay_sum: parseFloat(this.allSum),
			};
			this.payDisable = true;
			await this.postRequest("/youngee/m/pay/selectionpay", params).then((resp) => {
				if (resp.status === 0) {
					this.$message.success("支付成功");
					this.dialogVisible = false;
				}
			});
			this.payDialogVisible = false;
			this.$router.go(0)
			// this.$router.replace("/selection");
		},
		// 充值相关函数
		toRecharge () {
			EventBus.$emit('Recharge', (true))
		},
		queryOrderBytradeId () {
			const param = {
				trade_id: this.trade_id
			}
			this.postRequest('/youngee/m/pay/queryOrderByTradeId', param).then(
				(resp) => {
					this.orderStatus = resp.data
				}
			)
		},
		beforeMainUpload (file) {
			const isJPG =
				file.type === 'image/png' ||
				file.type === 'image/jpg' ||
				file.type === 'image/jpeg'
			const isLt2M = file.size / 1024 / 1024 < 2
			if (!isLt2M) {
				this.$message.error('上传转账凭证的图片大小不能超过 2MB!')
			}
			if (!isJPG) {
				this.$message.error('上传转账凭证的图片只能是 JPG 或者 PNG 格式!')
			}
			return isJPG && isLt2M
		},
		// 转账凭证上传
		doUploadMain (file) {
			const str = 'backstage_upload/' + this.guid() + '.png'
			const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
			obs
				.putObject({
					Bucket: 'horastar',
					Key: str,
					SourceFile: file.file
				})
				.then((result) => {
					if (result.CommonMsg.Status === 200) {
						const mainPic = {
							url: address + str + '',
							uid: file.file.uid,
							symbol: 1
						}
						this.MainPhotoList.push(mainPic)
						// console.log(this.MainPhotoList)
						// 为删除远程服务器的图片所使用的临时数组
						this.mainKeyArr.push({
							Key: str,
							uid: file.file.uid
						})
						this.$message.success('转账凭证的图片上传成功！')
					} else {
						this.$message.error('转账凭证的图片上传失败！')
					}
				})
		},
		handleMainExceed () {
			this.$message('转账凭证限1张')
		},
		handleRemoveMain (file) {
			for (const i in this.MainPhotoList) {
				if (this.MainPhotoList[i].url === file.url) {
					this.MainPhotoList.splice(i, 1)
				}
			}
			this.mainKeyArr.forEach((item) => {
				if (item.uid === file.uid) {
					this.mainKeyArrTemp.push(item)
					this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
				}
			})
			this.deleteMainObsObject()
		},
		deleteMainObsObject () {
			obs
				.deleteObjects({
					Bucket: 'horastar',
					Quiet: false,
					Objects: this.mainKeyArrTemp
				})
				.then((result) => {
					if (result.CommonMsg.Status < 300) {
						this.mainKeyArrTemp = []
						this.$message.success('转账凭证的图片删除成功！')
					}
				})
		},
		// 生成随机字符串
		guid () {
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
				/[xy]/g,
				function (c) {
					const r = (Math.random() * 16) | 0
					const v = c === 'x' ? r : (r & 0x3) | 0x8
					return v.toString(16)
				}
			)
		},
		// 图片预览
		handlePictureCardPreview (file) {
			this.dialogImageUrl = file.url;
			this.imageurldialogVisible = true;
		},
	},
};
</script>
<style scoped lang="scss">
span {
	font-size: 16px;
}

p {
	font-size: 16px;
}

.viewselection {
	text-align: center;
	// display: flex;
	flex-direction: row;
	// align-items: center;

	/*如果flex-direction：row；代表垂直居中 ；如果flex-direction：column；则代表水平居中*/
	justify-content: center;

	.BackCenter {
		cursor: pointer;
	}
}

.flow-chart {
	width: 90rem;
}

.strategys-table {
	flex-direction: row;
	align-items: center;
	padding: 20px 0 20px 0;
	width: 100%;
	text-align: center;
	// border: solid;
	// border-right: none;
	// border-left: none;
}

.PaySum {
	display: flex;
	flex-direction: column;
	text-align: right;
	// margin-left: 70%;
}

.position {
	font-size: 20px;
}

.attention {
	color: red;
}

.external {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.title {
	// justify-content: center;
	// flex-direction: row;
	font-size: 24px;
	text-align: center;
	// width: 800px;
	padding: 20px 48px;
	// display: inline-block;
	// border-width: 150px;
	border-bottom: solid;
	padding-bottom: 5px;
}

.SubmitBtn {
	border: none;
	justify-content: center;
	background-color: #f7d43c;
	color: black;
	margin: 10px;
	// padding: 8px 15px;
}

.StoreBtn {
	border: none;
	justify-content: center;
	background-color: rgb(241, 238, 238);
	color: red;
}

.state {
	float: left;
}

.LearnMornBtn {
	background: #f7d43c;
	color: black;
	float: right;
	margin-left: auto;
	z-index: 2;
	font-size: 1rem;
	position: relative;
}

.line {
	display: flex;
	padding-bottom: 10px;
	justify-content: space-between;
}

.content {
	background-color: white;
	align-items: center;
	padding: 20px 48px;
}

.dialog-title {
	border-bottom: 2px solid #9b9898;
	height: 60px;
}

.head-img {
	height: 50px;
	margin-left: 20px;
	float: left;
}

// 充值所需样式属性
#box {
	display: flex;
}

#box .box_btn {
	width: 80px;
	height: 40px;
	border: 1px solid #f9f9f9;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.collection {
	display: none;
}

.onlineRechargeColor {
	background-color: #f2d22d;
	color: black;
	margin-top: 10px;
}

.publicTransferColor {
	background-color: #f5f1dc;
	color: black;
	margin-top: 10px;
}

.copyButton {
	border: none;
	margin-left: 15px;
	color: #409eff;
	cursor: pointer;
}
</style>
<style>
.el-tabs__item:hover {
	outline: 0 !important;
	color: #f7d43c !important;
}

.el-tabs__item.is-active {
	outline: 0 !important;
	color: #dab926 !important;
}
</style>
<style>
.shareDialog .el-dialog .el-dialog__body {
	padding: 0 !important;
	text-align: center;
}

.shareDialog .el-dialog {
	margin-top: 5vh !important;
	width: 400px;
}
</style>