<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">提现管理</div> -->
    <div id="box">
      <div
        v-for="(item, i) in bottonList"
        :key="i"
        class="box_btn"
        :class="chooseBtn == i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>
    <div v-show="index === 0">
      <div class="head-content">
        <div class="input-box-line">
          申请提交时间：
          <el-date-picker
            v-model="submit_date"
            align="right"
            type="date"
            style="width:140px"
            value-format="yyyy-MM-dd"
            placeholder="选择日期"
            :picker-options="pickerOptions"
          />
        </div>
        <div class="input-box-line" style="text-align:center">
          <el-input v-model="searchInput" placeholder="创作者名称、创作者ID等" style="width: 400px;" clearable>
            <el-button
              slot="append"
              style="background-color: #1890ff;color:white"
              @click="searchWithdraw"
            >搜索</el-button>
          </el-input>
        </div>
      </div>
      <div style="margin-bottom:5px;float:right">
        <el-button size="mini" class="Button" @click="allconfirm">批量确认</el-button>
        <el-button size="mini" class="Button" @click="exportWithdrawRecord">导出提现表</el-button>
      </div>
      <el-table
        :data="withdrawingTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="talent_id" label="创作者ID" align="center" />
        <el-table-column prop="talent_name" label="创作者名称" align="center" />
        <el-table-column prop="withdraw_amount" label="提现金额" align="center" />
        <el-table-column prop="amount_payable" label="应付金额" align="center" />
        <el-table-column prop="receive_info" label="收款信息" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="receiveInfo(scope.row)">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="联系方式" align="center" />
        <el-table-column prop="submit_at" label="申请提交时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="confirm(scope.row)">确认</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
    <div v-show="index === 1">
      <div class="head-content">
        <div class="input-box-line">
          提现时间：
          <el-date-picker
            v-model="withdraw_date"
            align="right"
            type="date"
            style="width:140px"
            value-format="yyyy-MM-dd"
            placeholder="选择日期"
            :picker-options="pickerOptions"
          />
        </div>
        <div class="input-box-line" style="text-align:center">
          <el-input v-model="searchInput2" placeholder="创作者名称、创作者ID等" style="width: 400px;" clearable>
            <el-button
              slot="append"
              style="background-color: #1890ff;color:white"
              @click="searchWithdraw"
            >搜索</el-button>
          </el-input>
        </div>
      </div>
      <el-table
        :data="withdrawedTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
      >
        <el-table-column prop="talent_id" label="创作者ID" align="center" />
        <el-table-column prop="talent_name" label="创作者名称" align="center" />
        <el-table-column prop="withdraw_amount" label="提现金额" align="center" />
        <el-table-column prop="amount_payable" label="应付金额" align="center" />
        <el-table-column prop="receive_info" label="收款信息" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="receiveInfo(scope.row)">查看</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="联系方式" align="center" />
        <el-table-column prop="withdraw_at" label="提现时间" align="center" />
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPageHandled"
          :page-sizes="pageSizesHandled"
          :page-size="PageSizeHandled"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCountHandled"
          @size-change="handleSizeChangeHandled"
          @current-change="handleCurrentChangeHandled"
        />
      </div>
    </div>
    <el-dialog :visible.sync="receiveInfodialogVisible" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="receiveInfodialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;justify-content: center;">
        <div class="external" style="padding-bottom:10px;">
          <span class="title">收款信息</span>
        </div>
      </div>

      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div v-show="bank_type == 2">
          <div class="inline" style="font-weight: bold;">
            <span>银行卡信息</span>
          </div>
          <br>
          <div class="inline">
            <span>户主姓名：</span>
            <span style="margin-left:30px">{{ bankOwner }} </span>
          </div>
          <div class="inline">
            <span>身份证号：</span>
            <span style="margin-left:30px">{{ bank_card_id }} </span>
          </div>
          <div class="inline">
            <span>银行：</span>
            <span style="margin-left:30px">{{ bankName }} </span>
          </div>
          <div class="inline">
            <span>卡号：</span>
            <span style="margin-left:30px">{{ bank_card_number }} </span>
          </div>
          <div class="inline">
            <span>开户地：</span>
            <span style="margin-left:30px">{{ bank_open_address }} </span>
          </div>
        </div>
        <div v-show="bank_type == 1">
          <div class="inline" style="font-weight: bold;">
            <span>支付宝信息</span>
          </div>
          <br>
          <div class="inline">
            <span>支付宝号姓名：</span>
            <span style="margin-left:30px">{{ alipay_number }} </span>
          </div>
          <div class="inline">
            <span>真实姓名：</span>
            <span style="margin-left:30px">{{ alipay_real_name }} </span>
          </div>
          <div class="inline">
            <span>身份证号：</span>
            <span style="margin-left:30px">{{ alipay_card_id }} </span>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { money } from '@/utils'

export default {
  data() {
    return {
      index: 0,
      chooseBtn: 0,
      bottonList: [
        {
          name: '提现待确认'
        },
        {
          name: '已提现'
        }
      ],
      searchInput: '',
      searchInput2: '',
      submit_date: '',
      withdraw_date: '',
      pickerOptions: {},
      withdrawingTable: [],
      withdrawedTable: [],
      receiveInfodialogVisible: false,
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,

      // 默认显示第几页
      currentPageHandled: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCountHandled: 0,
      // 个数选择器（可修改）
      pageSizesHandled: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSizeHandled: 10,
      bank_type: 1,
      bankName: '',
      alipay_number: '',
      alipay_real_name: '',
      bankOwner: '',
      bank_card_number: '',
      bank_open_address: '',
      selectingChanged: [],
      alipay_card_id: '',
      bank_card_id: ''
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  watch: {
    'bank_type'() {
      console.log(this.bank_type)
    },
    withdraw_date() {
      this.searchWithdraw()
    },
    submit_date() {
      this.searchWithdraw()
    },
    searchInput2() {
      this.searchWithdraw()
    },
    searchInput() {
      this.searchWithdraw()
    }
  },
  mounted() {
    this.searchWithdraw()
  },
  methods: {
    allconfirm() {
      // console.log(this.selectingChanged)
      for (const i in this.selectingChanged) {
        this.confirm(this.selectingChanged[i])
      }
      this.$message.success('批量确认提现成功')
    },
    exportWithdrawRecord() {
      for (const i in this.selectingChanged) {
        const receiveInfo = JSON.parse(this.selectingChanged[i].receive_info)
        if (this.selectingChanged[i].bank_type === 1) {
          this.selectingChanged[i].card_id = receiveInfo.alipay_card_id
          this.selectingChanged[i].bankNum = ''
          this.selectingChanged[i].aliNum = receiveInfo.alipay_number
        } else {
          this.selectingChanged[i].card_id = receiveInfo.bank_card_id
          this.selectingChanged[i].bankNum = receiveInfo.bank_card_number
          this.selectingChanged[i].aliNum = ''
        }
      }
      this.excelData = this.selectingChanged
      // console.log(this.excelData)
      this.export2Excel()
    },
    // 数据写入excel
    export2Excel() {
      if (this.selectingChanged.length === 0) {
        this.$message({
          message: '请至少选择一条需要导出的数据',
          type: 'warning'
        })
        return
      }
      var that = this
      this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        require.ensure([], () => {
          // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
          const { export_json_to_excel } = require('@/excel/export2Excel')
          // 导出的excel的表头字段可自定义
          const tHeader = ['收款人姓名', '身份证号', '银行卡号', '支付宝号', '手机号', '应付金额']
          // 对象属性，对应于tHeader，即prop的值，可自定义导出字段
          const filterVal = ['talent_name', 'card_id', 'bankNum', 'aliNum', 'phone', 'amount_payable']
          // json数组对象，接口返回的数据
          const list = that.excelData
          const data = that.formatJson(filterVal, list)
          // 导出的表格名称，可自定义
          export_json_to_excel(tHeader, data, '样叽提现表')
        })
      }).catch(() => { })
    },
    // 格式转换
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]))
    },
    selectingChange(row) {
      this.selectingChanged = row
    },
    receiveInfo(row) {
      const receiveInfo = JSON.parse(row.receive_info)
      console.log(receiveInfo)
      if (receiveInfo.bank_open_address !== '') {
        const params = {
          bank_id: receiveInfo.bank_id,
          bank_open_address: String(receiveInfo.bank_open_address)
        }
        this.postRequest('youngee/m/finance/getBankInfo', params).then((resp) => {
          if (resp.data === null) {
            return
          }
          this.bankName = resp.data.bank_name
          this.bank_open_address = resp.data.bank_open_address
        })
      }
      this.receiveInfodialogVisible = true
      this.bank_type = row.bank_type
      this.alipay_card_id = receiveInfo.alipay_card_id
      this.bank_card_id = receiveInfo.bank_card_id
      this.alipay_number = receiveInfo.alipay_number
      this.alipay_real_name = receiveInfo.alipay_real_name
      this.bankOwner = receiveInfo.name
      this.bank_card_number = receiveInfo.bank_card_number
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (value === 0) {
        this.withdraw_date = ''
        this.searchInput2 = ''
      } else {
        this.submit_date = ''
        this.searchInput = ''
      }
      this.searchWithdraw()
    },
    searchWithdraw() {
      let talent_id, talent_name, input
      const status = this.chooseBtn + 1
      if (status === 1) {
        input = this.searchInput
      } else {
        input = this.searchInput2
      }
      var reg = /^[\d|\.]*$/
      if (input.substring(0, 1) === '2' && reg.test(input)) {
        talent_id = input
      } else {
        talent_name = input
      }
      const params = {
        page_size: 10,
        page_num: 1,
        status: status,
        talent_id: talent_id,
        talent_name: talent_name,
        submit_at: this.submit_date,
        withdraw_at: this.withdraw_date
      }
      this.postRequest('youngee/m/finance/withdrawalRecords', params).then((resp) => {
        if (resp.data.total !== 0) {
          let withdrawTableList = null
          let totalCount = null
          withdrawTableList = resp.data.withdrawal_records_data
          withdrawTableList.forEach(e => {
            e.amount_payable = money(e.amount_payable)
            e.withdraw_amount = money(e.withdraw_amount)
          })
          if (this.chooseBtn === 0) {
            this.$data.withdrawingTable = withdrawTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          } else {
            this.$data.withdrawedTable = withdrawTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCountHandled = totalCount
          }
        } else {
          this.$message('暂无数据')
          if (this.chooseBtn === 0) {
            this.withdrawingTable = []
            this.$data.totalCount = 0
          } else {
            this.withdrawedTable = []
            this.$data.totalCountHandled = 0
          }
        }
      })
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      let talent_id, talent_name
      var reg = /^[\d|\.]*$/
      if (this.searchInput.substring(0, 1) === '2' && reg.test(this.searchInput)) {
        talent_id = this.searchInput
      } else {
        talent_name = this.searchInput
      }
      const params = {
        page_size: n1,
        page_num: n2,
        status: this.chooseBtn + 1,
        talent_id: talent_id,
        talent_name: talent_name,
        submit_at: this.submit_date
      }
      this.postRequest('youngee/m/finance/withdrawalRecords', params).then((resp) => {
        if (resp.data.total !== 0) {
          let withdrawTableList = null
          let totalCount = null
          withdrawTableList = resp.data.withdrawal_records_data
          this.$data.withdrawingTable = withdrawTableList
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.withdrawingTable = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    },

    // 将页码，及每页显示的条数以参数传递提交给后台
    getDataHandled(n1, n2) {
      let task_id, project_name, default_status
      if (!/^\d+$/.test(this.searchInput_handled)) {
        project_name = this.searchInput_handled
      } else {
        task_id = this.searchInput_handled
      }
      if (this.treatmentResult === '1') {
        default_status = '5'
      } else if (this.treatmentResult === '2') {
        default_status = '4'
      }
      const params = {
        page_size: n1,
        page_num: n2,
        default_status: default_status,
        break_type: String(this.terminationReason),
        task_id: task_id,
        project_name: project_name
      }
      this.postRequest('youngee/m/operate/breachHandled', params).then((resp) => {
        if (resp.data.total !== 0) {
          let defaultHandledTableList = null
          let totalCount = null
          defaultHandledTableList = resp.data.breach_handled_preview
          this.$data.defaultTable_handled = defaultHandledTableList
          totalCount = parseInt(resp.data.total)
          this.$data.totalCountHandled = totalCount
        } else {
          this.$message('暂无数据')
          this.$data.defaultTable_handled = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChangeHandled(val) {
      // 改变每页显示的条数
      this.PageSizeHandled = val
      // 点击每页显示的条数时，显示第一页
      this.getDataHandled(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPageHandled = 1
    },
    // 显示第几页
    handleCurrentChangeHandled(val) {
      // 改变默认的页数
      this.currentPageHandled = val
      // 切换页码时，要获取每页显示的条数
      this.getDataHandled(this.PageSizeHandled, val)
    },
    async confirm(row) {
      console.log(row.withdraw_id)
      if (row.withdraw_id === '') {
        this.$message.warning('暂无法提现')
        return
      }
      const params = {
        withdraw_id: row.withdraw_id
      }
      await this.postRequest('youngee/m/finance/ConfirmWithdrawal', params).then((resp) => {
        // this.$message.success('确认提现成功')
      })
      this.$router.go(0)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

#box {
    display: flex;
    margin-top: 15px;
}

#box .box_btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: 2px solid #f9f9f9;
    background-color: white;
    text-align: center;
    display: flex;
    //设置左右居中
    justify-content: center;
    //设置上下居中
    align-items: center;
    line-height: 40px;
    cursor: pointer;
}

.borderColor {
    border: 2px solid #248bf4 !important;
    color: #248bf4;
}

.inline{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 16px;
}
.input-box-line {
  line-height: 40px;
  margin: 20px;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: 2px solid #0e4bb7;
  padding-bottom: 5px;
  color: #557bf4;
  font-size: 18px;
}

.head-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.external {
  display: flex;
  justify-content: center;
}
.Button{
  background:#0e4bb7;
  color:white;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}
.el-dialog__headerbtn .el-dialog__close{
  color: white;
}
.el-dialog__body{
  padding: 5px 15px;
  text-align: center;
}
</style>
