<!-- 发布管理 -->
<template>
  <div class="releaseManage">
    <el-card
      class="releaseManageCard"
      shadow="never"
      style=" "
    >
      <div>
        <div class="flow_info_base">
          <span class="flow_right">发布数据</span>
        </div>
      </div>
      <el-table
        :key="recruitStrategyKey"
        :data="recruit_strategys"
        border
        class="strategys-table-manage"
        :header-cell-style="{ background: '#6394ea', color: 'white' }"
      >
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          width="180"
          align="center"
        />
        <el-table-column
          prop="show_fee_form"
          label="稿费形式"
          width="180"
          align="center"
        />
        <el-table-column
          prop="fans"
          label="创作者粉丝量"
          align="center"
        />
        <el-table-column
          prop="link_number"
          label="应发布数量"
          align="center"
        />
        <el-table-column
          prop="link_unreview_number"
          label="链接待审"
          align="center"
        />
        <el-table-column
          prop="link_passed_number"
          label="链接合格"
          align="center"
        />
      </el-table>
    </el-card>

    <div id="box">
      <div
        v-for="(item, i) in bottonList1"
        :key="i"
        class="box_btn"
        :class="chooseBtn === i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>

    <div style="display: flex;margin-left:20%">
      <div class="input-box-line">
        策略编号：
        <el-select
          v-model="strategy_id"
          class="input-box"
          placeholder="不限"
          @click.native="getLinkList(index)"
        >
          <el-option
            v-for="item in strategy_ids"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </div>
      <div
        class="input-box-line"
        style="margin-left: 50px"
      >
        <el-input
          v-model="searchInput"
          placeholder="账号昵称、任务ID"
        >
          <el-button
            slot="append"
            class="search-button"
            @click="getLinkList(index)"
          >搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 链接待审-->
    <div v-show="index === 0">
      <div style="margin-bottom:5px;float:right">
        <el-button
          v-resetClick="1000"
          class="search-button"
          @click="handleAllPassClick"
        >合格</el-button>
        <el-button
          v-resetClick="1000"
          class="search-button"
          @click="handleAllRefuseClick"
        >不合格</el-button>
      </div>
      <el-table
        ref="waitingLinkTable"
        :data="waitingLinkTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="photo_url"
          label="作品截图"
          align="center"
        >
          <template slot-scope="scope">
            <span>
              <img
                :src="scope.row.photo_url"
                alt=""
                preview="1"
                style="width: 50px;height:50px"
              >
            </span>
          </template>
        </el-table-column>
        <el-table-column
          prop="operate"
          label="发布链接"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handShowLinkClick(scope.row)"
            >
              {{ scope.row.link_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="link_upload_time"
          label="链接上传时间"
          width="180"
          align="center"
        />
        <el-table-column
          prop="operate"
          label="操作"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              v-resetClick="1000"
              type="text"
              size="medium"
              @click="handPassLink(scope.row)"
            >合格</el-button>
            <el-button
              v-resetClick="1000"
              type="text"
              size="medium"
              @click="reviewlink(scope.row)"
            >不合格</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 链接通过-->
    <div v-show="index === 1">
      <div style="margin-bottom:5px;float:right">
        <el-button
          class="search-button"
          @click="allSelecting"
        >导出表格</el-button>
      </div>
      <el-table
        ref="passedLinkTable"
        :data="passedLinkTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'black' }"
        @selection-change="selectingChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />
        <el-table-column
          prop="task_id"
          label="任务ID"
          align="center"
        />
        <el-table-column
          prop="platform_nickname"
          label="账号昵称"
          align="center"
        />
        <el-table-column
          prop="show_fans_count"
          label="粉丝数"
          align="center"
        />
        <el-table-column
          prop="strategy_id"
          label="策略编号"
          align="center"
        />
        <el-table-column
          prop="photo_url"
          label="作品截图"
          align="center"
        >
          <template slot-scope="scope">
            <span>
              <img
                :src="scope.row.photo_url"
                alt=""
                preview="1"
                style="width: 50px;height:50px"
              >
            </span>
          </template>
        </el-table-column>
        <el-table-column
          prop="operate"
          label="发布链接"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="medium"
              @click="handShowLinkClick(scope.row)"
            >
              {{ scope.row.link_url }}</el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="agree_at"
          label="链接通过时间"
          align="center"
          width="180"
        />
      </el-table>
    </div>

    <!-- <div style="height: 100px;" /> -->
    <!-- 链接待审--审稿弹窗 -->
    <el-dialog style="padding: 0 !important;" :visible.sync="ReviewLinkVisible">
      <div slot="title" class="dialog-title">
        <div class="button-right">
          <span class="title-close" @click="ReviewLinkVisible = false;" />
        </div>
      </div>
      <div class="input-box-line">
        <p style="width:120px">修改意见：</p>
        <el-input
          v-model="linkadvice"
          class="input-big-box"
          maxlength="300"
          :show-word-limit="true"
          type="textarea"
          :autosize="{ minRows: 5, maxRows: 8 }"
        />
      </div>
      <div>
        <el-button v-resetClick="1000" type="primary" class="PassBtn" :visible.sync="ReviewLinkVisible" @click="RefuseLink()">
          返回修改
        </el-button>
        <el-button type="primary" class="RefuseBtn" :visible.sync="ReviewLinkVisible" @click="ReviewLinkVisible = false;">
          取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fansview } from '@/utils'
export default {
  name: 'ReleaseManage',
  data() {
    return {
      bottonList1: [
        {
          name: '链接待审'
        },
        {
          name: '链接合格'
        }
      ],
      project_id: this.$store.state.project.project_id,
      recruit_strategys: this.$store.state.recruit_strategys,
      searchInput: '',

      // 控制切换按钮后按钮改变样式
      index: 0,
      chooseBtn: 0,
      strategy_id: '',
      strategy_ids: [],
      // 链接待审 通过
      title: '',
      picture_video: [],
      Draft: '',
      linkadvice: '',

      // 控制弹窗显示
      ReviewLinkVisible: false, // 链接审稿弹窗

      // 控制点击按钮后子组件显示，再次点击隐藏
      selectedDataList: [],
      waitingLinkTable: [],
      passedLinkTable: [],

      recruitStrategyKey: '',
      refuseStrategyId: '123'
    }
  },
  watch: {
    'recruit_strategys'() {}
  },
  created() {
    this.getDataInfo()
    this.getLinkList(0)
  },
  mounted() {
  },
  methods: {
    getDataInfo() {
      const strategy_ids = []
      const strategy_id = {
        value: 0,
        label: '不限'
      }
      this.strategy_ids = []
      this.strategy_ids.push(strategy_id)
      for (const i in this.$store.state.recruit_strategys) {
        const strategy_id = {
          value: this.$store.state.recruit_strategys[i].strategy_id,
          label: this.$store.state.recruit_strategys[i].strategy_id
        }
        this.strategy_ids.push(strategy_id)
        strategy_ids.push(this.recruit_strategys[i].strategy_id)
      }
      const params = {
        project_id: this.project_id,
        strategy_ids: strategy_ids.toString()
      }
      this.postRequest('/youngee/m/project/getlinknumberinfo', params).then((resp) => {
        for (const i in this.$data.recruit_strategys) {
          this.$data.recruit_strategys[i].link_unreview_number = resp.data.number_info_list[i].link_unreview_number
          this.$data.recruit_strategys[i].link_number = resp.data.number_info_list[i].link_number
          this.$data.recruit_strategys[i].link_passed_number = resp.data.number_info_list[i].link_passed_number
        }
        this.$data.recruitStrategyKey = Math.random()
      })
    },
    handShowLinkClick(row) {
      window.open(row.link_url, '_blank')
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index === value ? this.isShow1 = true : this.isShow1 = true
      this.index = value
      if (this.project_id === '') {
        this.$message('该项目暂无数据')
        return
      }
      this.getLinkList(this.index)
    },
    // 显示弹窗 链接-驳回意见
    reviewlink(row) {
      this.taskIds = []
      this.refuseStrategyId = row.strategy_id
      this.taskIds.push(row.task_id)
      this.ReviewLinkVisible = true
    },
    handleAllRefuseClick() {
      // 链接批量拒绝
      const val = this.selectedDataList
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      this.taskIds = []
      for (let i = 0; i < val.length; i++) {
        const taskId = val[i].task_id
        this.taskIds.push(taskId)
      }
      this.ReviewLinkVisible = true
      // this.RefuseLink()
    },
    async handPassLink(row) {
      this.taskIds = []
      this.taskIds.push(row.task_id)
      const strategyIdNumber = new Map()
      strategyIdNumber.set(row.strategy_id, 1)
      this.handlePassChangeNumber(strategyIdNumber)
      this.PassLink()
    },
    // 通过链接
    async PassLink() {
      if (this.taskIds.length === 0) {
        this.$message.error('请选择任务')
        return
      }
      const params = {
        task_id_list: this.taskIds.toString()
      }
      await this.postRequest('/youngee/m/project/acceptlink', params).then((resp) => {
      })
      this.getDataInfo()
      this.getLinkList(this.index)
    },
    // 拒绝链接
    async RefuseLink() {
      // 鲁棒性检测
      if (this.linkadvice === '') {
        this.$message.error('修改意见不能为空')
        return
      }
      for (const i in this.taskIds) {
        const params = {
          task_id: this.taskIds[i],
          link_opinion: this.linkadvice
        }
        const strategyIdNumber = new Map()
        strategyIdNumber.set(this.refuseStrategyId, 1)
        this.handleRefusedChangeNumber(strategyIdNumber)
        await this.postRequest('/youngee/m/project/linkopinion', params).then((resp) => {
        })
      }
      this.ReviewLinkVisible = false
      this.getLinkList(this.index)
      this.getDataInfo()
    },
    getLinkList(index) {
      this.waitingLinkTable = []
      this.passedLinkTable = []
      const link_status = index
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: String(this.project_id),
        link_status: String(link_status),
        strategy_id: String(this.strategy_id),
        platform_nickname: this.searchInput
        // task_id: this.searchInput,
      }
      if (index === 0) {
        this.postRequest('/youngee/m/project/tasklinklist', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('链接待审中暂无数据')
          }
          let projectTasklist = null
          let totalCount = null
          projectTasklist = resp.data.project_link_pre_view
          this.$data.waitingLinkTable = projectTasklist
          this.waitingLinkTable.forEach(e => {
            e.show_fans_count = fansview(e.fans_count)
          })
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        })
      } else {
        this.postRequest('/youngee/m/project/tasklinklist', params).then((resp) => {
          if (resp.data.total === '0') {
            this.$message('链接合格中暂无数据')
          }
          let projectTasklist = null
          let totalCount = null
          projectTasklist = resp.data.project_link_pre_view
          this.$data.passedLinkTable = projectTasklist
          this.passedLinkTable.forEach(e => {
            e.show_fans_count = fansview(e.fans_count)
          })
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        })
      }
    },
    handleAllPassClick() {
      // 链接批量通过
      const val = this.selectedDataList
      if (val.length === 0) {
        this.$message('请选择任务')
        return
      }
      const strategyIdNumber = new Map()
      this.taskIds = []
      this.payment = 0
      for (let i = 0; i < val.length; i++) {
        if (strategyIdNumber.has(val[i].strategy_id)) {
          strategyIdNumber[val[i].strategy_id]++
        } else {
          strategyIdNumber.set(val[i].strategy_id, 1)
        }
        const taskId = val[i].task_id
        this.payment = this.payment + val[i].real_payment
        this.taskIds.push(taskId)
      }
      this.handlePassChangeNumber(strategyIdNumber)
      this.PassLink()
    },

    async allSelecting() {
      // 导出表格
      if (this.selectedDataList.length === 0) {
        this.$message({
          message: '请至少选择一条需要导出的数据',
          type: 'warning'
        })
        return
      }

      const tableHeader = ['任务ID', '账号昵称', '粉丝数', '策略编号', '发布链接'] // 设置Excel表格的表头
      const filterVal = ['task_id', 'platform_nickname', 'show_fans_count', 'strategy_id', 'link_url'] // 跟表格表头对应的绑定的prop
      const tableTitleName = this.$store.state.project.project_name + '发布链接表'

      this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // 导出
        require.ensure([], () => {
          const { export_json_to_excel } = require('@/excel/export2Excel') // 注意这个Export2Excel路径
          // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectedDataList)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
          const list = JSON.parse(JSON.stringify(this.selectedDataList))
          const data = this.formatJson(filterVal, list)
          export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
        })
      }).catch(() => { })
    },
    formatJson(filterVal, Data) {
      return Data.map(v => filterVal.map(j => v[j]))
    },
    handlePassChangeNumber(strategyIdNumber) {
      for (const i in this.recruit_strategys) {
        if (strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
          const changeNumber = parseInt(strategyIdNumber.get(this.recruit_strategys[i].strategy_id))
          this.recruit_strategys[i].link_unreview_number = this.recruit_strategys[i].link_unreview_number - changeNumber
          this.recruit_strategys[i].link_passed_number = this.recruit_strategys[i].link_passed_number + changeNumber
        }
      }
      this.recruitStrategyKey = Math.random()
    },
    handleRefusedChangeNumber(strategyIdNumber) {
      for (const i in this.recruit_strategys) {
        if (strategyIdNumber.has(this.recruit_strategys[i].strategy_id)) {
          const changeNumber = parseInt(strategyIdNumber.get(this.recruit_strategys[i].strategy_id))
          this.recruit_strategys[i].link_unreview_number = this.recruit_strategys[i].link_unreview_number - changeNumber
        }
      }
      this.recruitStrategyKey = Math.random()
    },
    selectingChange(val) {
      this.selectedDataList = val
    }
  }
}
</script>
<style scoped lang = "scss">
.releaseManageCard {
  text-align: center;
  /* width: 94%;
    margin-left: 3%; */
}

.releaseManage {
  text-align: center;
}

.input-box {
  width: 200px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
}

.input-big-box {
  width: 800px;
  flex: 0, 1, atuo;
  display: flex;
  justify-content: left;
  padding: 0 48px 0 0;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #248bf4;
}

.flow_info_base {
  display: flex;
  justify-content: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  justify-content: left;
}

.PassBtn {
  border: none;
  justify-content: center;
  background-color: #248bf4 !important;
  color: white !important;
  margin: 10px;
  // padding: 8px 15px;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.search-button {
  border: none !important;
  background-color: #248bf4 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
</style>

<style>
.releaseManage .el-dialog {
  width: 50vw;
  overflow: auto;
}
.el-table--scrollable-x .el-table__body-wrapper {
  overflow-x: visible;
}
</style>
