<template>
  <div class="dashboard-container">
    <div class="dashboard-text">工作台</div>
    <div class="gva-card-box">
      <el-card class="gva-card quick-entrance">
        <el-row type="flex" justify="space-between" style="margin-top: 3vh;" :gutter="20">
          <el-col
            v-for="(card, key) in toolCards"
            :key="key"
            :span="4"
            :xs="8"
            class="quick-entrance-items"
            @click.native="toTarget(card.name)"
          >
            <div class="quick-entrance-item">
              <div>
                <p>{{ card.label }}</p>
                <p style="color: #f00707;">{{ card.num }}</p>
              </div>
            </div>
          </el-col>
        </el-row>
      </el-card>
    </div>
    <create-project />
    <excute-requirement />
    <recruit-requirement />
    <div style="margin-top:20px">
      <div style="float:left;margin-top: 20px;">业务线索</div>
      <el-button style="float:right;margin-bottom:10px" @click="createProject">创建项目</el-button>
      <el-table
        :data="clueTableData"
        :header-cell-style="{ 'background-color': '#e8e8e8', 'color': '#000' }"
        border
        class="clueTable"
      >
        <el-table-column prop="project_updated" label="最后操作时间" align="center" />
        <el-table-column prop="enterprise_id" label="企业用户ID" align="center" />
        <el-table-column prop="username" label="用户名称" align="center" />
        <el-table-column prop="project_status" label="项目状态" align="center" />
        <el-table-column prop="phone" label="联系方式" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="checkClick(scope.row)">查看</el-button>
            <el-button type="text" size="small" @click="handleClick(scope.row)">处理</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from '@/event-bus'
import CreateProject from '@/views/dashboard/CreateProject/index.vue'
import ExcuteRequirement from '@/views/dashboard/ExcuteRequirement/index.vue'
import RecruitRequirement from '@/views/dashboard/RecruitRequirement/index.vue'

export default {
  name: 'Dashboard',
  components: {
    CreateProject,
    ExcuteRequirement,
    RecruitRequirement
  },
  data() {
    return {
      toolCards: [
        {
          label: '全流程-待审核',
          icon: 'monitor',
          name: 'project',
          color: '#ff9c6e',
          num: 0,
          bg: 'rgba(255, 156, 110,.3)'
        },
        {
          label: '选品-待审核',
          icon: 'monitor',
          name: 'select',
          num: 0,
        },
        {
          label: '充值待确认',
          icon: 'setting',
          name: 'charge',
          color: '#69c0ff',
          num: 0,
          bg: 'rgba(105, 192, 255,.3)'
        },
        {
          label: '提现待确认',
          icon: 'menu',
          name: 'withdraw',
          color: '#b37feb',
          num: 0,
          bg: 'rgba(179, 127, 235,.3)'
        },
        {
          label: '待开票',
          icon: 'cpu',
          name: 'billing',
          color: '#ffd666',
          num: 0,
          bg: 'rgba(255, 214, 102,.3)'
        },
        {
          label: '违约待处理',
          icon: 'document-checked',
          name: 'break',
          color: '#ff85c0',
          num: 0,
          bg: 'rgba(255, 133, 192,.3)'
        }
      ],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,
      clueTableData: [],
      enterprise_id: 0
    }
  },
  mounted() {
    this.getAllProject()
    this.pendingReviewNum()
    this.getDefaultNum()
    this.getWithdrawNum()
    this.getInvoiceNum()
    this.getRechargeNum()
  },
  methods: {
    createProject() {
      EventBus.$emit('CreateProject', true)
    },
    // 快捷入口  点击窗口跳转到各个页面主页
    toTarget(name) {
      if (name === 'project') {
        this.$router.push({
          path: '/product/wholeProcessProject',
          query: {
            project_statu: '2'
          }
        })
      } else if (name === 'charge') {
        this.$router.push({
          path: '/finance/rechargeManagement'
        })
      } else if (name === 'select') {
        this.$router.push({
          path: '/selection/selection',
          query: {
            project_statu: '2'
          }
        })
      }else if (name === 'withdraw') {
        this.$router.push({
          path: '/finance/withdrawalManagement'
        })
      } else if (name === 'billing') {
        this.$router.push({
          path: '/finance/invoiceManagement'
        })
      } else if (name === 'break') {
        this.$router.push({
          path: '/operation/breachOfContract'
        })
      }
    },
    getDefaultNum() {
      this.getRequest('youngee/m/operate/countNumOfDefaults').then((resp) => {
        if (typeof resp === 'undefined') {
          return
        }
        if (resp.status !== 1) {
          this.toolCards[4].num = resp.data.data_default_num + resp.data.link_default_num + resp.data.draft_default_num + resp.data.script_default_num
        }
      })
    },
    getWithdrawNum() {
      this.getRequest('/youngee/m/finance/getWithdrawNums').then((resp) => {
        if (typeof resp === 'undefined') {
          return
        }
        if (resp.status !== 1) {
          this.toolCards[2].num = resp.data.withdraw_nums
        }
      })
    },
    getInvoiceNum() {
      this.getRequest('/youngee/m/finance/getInvoiceNums').then((resp) => {
        if (typeof resp === 'undefined') {
          return
        }
        if (resp.status !== 1) {
          this.toolCards[3].num = resp.data.invoice_nums
        }
      })
    },
    getRechargeNum() {
      this.getRequest('/youngee/m/finance/getRechargeNums').then((resp) => {
        if (typeof resp === 'undefined') {
          return
        }
        if (resp.status !== 1) {
          this.toolCards[1].num = resp.data.recharge_nums
        }
      })
    },
    // 项目待审核数
    pendingReviewNum() {
      const params = {
        page_size: 100,
        page_num: 1,
        project_status: '2'
      }
      this.postRequest('/youngee/m/product/list', params).then((resp) => {
        if (typeof resp === 'undefined') {
          return
        }
        this.toolCards[0].num = resp.data.total
      }).catch(e => {
        console.log(e)
      })
    },
    checkClick(row) {
      console.log(row)
      this.$store.state.project.enterprise_id = row.enterprise_id
      this.$router.push({
        path: '/viewhome',
        query: {
          project_id: row.project_id
        }
      })
    },
    handleClick(row) {
      // console.log(row)
      this.$confirm('确定这条业务信息处理完毕了吗 ?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          const params = {
            project_id: row.project_id,
            project_status: row.project_status
          }
          this.postRequest('/youngee/m/project/handle', params).then((resp) => {
            this.$router.go(0)
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消退出'
          })
        })
    },
    getAllProject() {
      const params = {
        page_size: 10,
        page_num: 1
      }
      this.postRequest('youngee/m/project/all', params).then((resp) => {
        if (typeof resp === 'undefined') {
          return
        }
        if (resp.data.total !== 0) {
          let allProject = null
          let totalCount = null
          allProject = resp.data.all_project_preview
          this.$data.clueTableData = allProject
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.clueTableData = []
        }
      })
    },

    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      const params = {
        page_size: n1,
        page_num: n2
      }
      this.postRequest('youngee/m/project/all', params).then((resp) => {
        if (resp.data.total !== 0) {
          let allProject = null
          let totalCount = null
          allProject = resp.data.all_project_preview
          this.$data.clueTableData = allProject
          totalCount = parseInt(resp.data.total)
          this.$data.totalCount = totalCount
        } else {
          this.$message('暂无数据')
          this.clueTableData = []
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    }
  }
}

</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }

  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.gva-card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  height: auto;
  overflow: hidden;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.03);
  margin-top: 20px;
}

.quick-entrance-title {
  height: 30px;
  font-size: 22px;
  color: #333;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.quick-entrance-items {
  justify-content: center;
  text-align: center;
  color: #333;
  width: 20%;
  font-size: 22px;
  .quick-entrance-item {
    padding: 10px 20px;
    border-radius: 4px;
    min-width: 180px;
    flex-direction: row;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0px 0px 7px 0px rgba(217, 217, 217, 0.55);
    }

    cursor: pointer;
    height: auto;
    text-align: center;

    &-icon {
      width: 50px;
      height: 50px !important;
      border-radius: 8px;
      justify-content: center;
      // margin: 0 auto;
      margin: 0 10px;

      i {
        font-size: 24px;
      }
    }

    p {
      margin-top: 10px;
      font-weight: bolder;
    }
  }
}

.clueTable {
  width: 100%;
  align-content: center;
}
</style>

<style lang="scss">
.el-card__body {
  padding: 10px;
}
</style>
