<template>
    <div>
        <el-dialog style="padding: 0 !important;" :append-to-body="true" :visible.sync="imageurldialogVisible" width="30%">
            <div style="display: flex; justify-content: center">
                <img :src="dialogImageUrl" alt="" style="max-width: 300px; max-height: 300px" />
            </div>
        </el-dialog>
        <!-- 充值对话框 -->
        <el-dialog style="padding: 0 !important;" :append-to-body="true" :visible.sync="rechargeDialogVisible">
            <div slot="title" class="dialog-title">
                <img slot="title" src="@/assets/images/younggee_logo.png" alt="YOUNGEE" class="head-img" />
            </div>
            <div>
                <p style="color: red">1.建议采用在线支付方式充值</p>
                <p>
                    2.使用专属汇款账号进行汇款，汇款至专属汇款账号，系统会自动匹配您的样叽账户，并充值到您的账户余额
                </p>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center">
                <span>充值方式：</span>
                <div id="box">
                    <div v-for="(item, index) in buttonList" style="margin-left: 10px" :key="index" class="box_btn" :class="
                        chooseBtn === index ? 'onlineRechargeColor' : 'publicTransferColor'
                    " @click="handleClick(index)">
                        {{ item.name }}
                    </div>
                </div>
            </div>
            <div :class="1 === chooseBtn ? '' : 'collection'" style="margin-top: 30px; margin-bottom: 30px">
                <div>
                    <span>收款户名</span>
                    <span style="margin-left: 30px">{{ CountName }} </span>
                    <span class="copyButton" @click="copyMethod(CountName)">复制</span>
                </div>
                <div style="margin-top: 8px; margin-bottom: 8px">
                    <span>收款银行</span>
                    <span style="margin-left: 30px">{{ CountBank }} </span>
                    <span class="copyButton" @click="copyMethod(CountBank)">复制</span>
                </div>
                <div style="margin-top: 8px; margin-bottom: 8px">
                    <span>收款账户</span>
                    <span style="margin-left: 30px">{{ Count }} </span>
                    <span class="copyButton" @click="copyMethod(Count)">复制</span>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 20px; align-items: center;">
                <span>充值金额：</span>
                <img src="@/assets/images/money.png" style="width: 25px; height: 25px; margin-right: 10px" />
                <el-input v-model.trim="recharge_amount" onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,1})?).*$/g, '$1')"
                    clearable style="width: 200px" maxlength="15" placeholder="请输入金额" @focus="uninputMoney($event)"
                    @blur="inputMoney($event)">
                    <template slot="append">元</template>
                </el-input>
                <span :class="1 === chooseBtn ? 'collection' : ''" style="margin-left: 20px">
                    实时到账，支持微信支付、支付宝支付
                </span>
            </div>
            <div v-if="1 === chooseBtn" style="display: flex; flex-direction: row; margin-top: 20px; align-items: center;">
                转账凭证:
                <div class="upload-cover" style="margin-left: 20px">
                    <el-upload action :http-request="doUploadMain" :on-remove="handleRemoveMain"
                        :on-exceed="handleMainExceed" :before-upload="beforeMainUpload" :file-list="MainPhotoList"
                        scoped-solt="" :limit="1" list-type="picture-card">
                        <i slot="default" class="el-icon-plus"></i>
                        <div slot="file" slot-scope="{ file }">
                            <img class="el-upload-list__item-thumbnail" :src="file.url" alt="" />
                            <span class="el-upload-list__item-actions">
                                <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemoveMain(file)">
                                    <i class="el-icon-delete"></i>
                                </span>
                                <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                                    <i class="el-icon-zoom-in"></i>
                                </span>
                            </span>
                        </div>
                    </el-upload>
                </div>
            </div>
            <div>
                <el-button :class="1 === this.chooseBtn ? 'collection' : ''" slot="append"
                    style=" background-color: #f2d22d;  color: black; margin-top: 20px; margin-left: 0px; width: 150px; "
                    @click="rechargeDialogVisible = false; nextPay();">下一步</el-button>
                <el-button :class="1 === this.chooseBtn ? '' : 'collection'" slot="append"
                    style="background-color: #f2d22d;color: black;margin-top: 20px;margin-left: 0px;width: 150px;"
                    :disabled="isRecharging" @click="confirmRecharge();">确认充值</el-button>
            </div>
        </el-dialog>
        <!-- 收银台对话框 -->
        <el-dialog :append-to-body="true" :visible.sync="checkoutCounterDialogVisible">
            <div slot="title" class="dialog-title" style="display: flex; flex-direction: row; align-items: center">
                <img slot="title" src="@/assets/images/younggee_logo.png" alt="YOUNGEE" class="head-img" />
                <el-divider direction="vertical"></el-divider>
                <span style="color: #060606">收银台</span>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center">
                <img src="@/assets/images/zhanghuyue.png" style="width: 25px; height: 25px; margin-right: 10px" />
                <p style="color: red">订单提交成功，请尽快付款！</p>
                <span style="margin-left: 180px">订单金额：</span>
                <img src="@/assets/images/money.png" style="width: 25px; height: 25px; margin-right: 10px" />
                <span style="color: red"> {{ recharge_amount }}</span>
            </div>
            <div style=" display: flex;flex-direction: row;align-items: center;margin-top: 10px;">
                <el-radio v-model="radio" label="2">
                    <img src="@/assets/images/wechatpay.png" style="width: 150px; height: 45px; margin-right: 10px" />
                </el-radio>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button slot="append" style="background-color: #f2d22d; color: black; margin-top: 20px"
                    @click="checkoutCounter(); ">确定支付</el-button>
            </div>
        </el-dialog>
        <!-- 支付二维码对话框 -->
        <el-dialog :append-to-body="true" :visible.sync="codeUrlDialogVisible">
            <div slot="title" class="dialog-title">
                <img slot="title" src="@/assets/images/younggee_logo.png" alt="YOUNGEE" class="head-img" />
                <div class="button-right">
                    <span class="title-close" @click="codeUrlDialogVisible"></span>
                </div>
            </div>
            <!-- <div v-show="radio === '1'">
        <h1>支付宝支付二维码</h1>
        <el-row type="flex" justify="center">
          <qriously :value="aliPayCodeUrl" :size="300" />
        </el-row>
        <h3>请使用支付宝扫描二维码进行支付</h3>
      </div> -->
            <div>
                <h1>微信支付二维码</h1>
                <el-row type="flex" justify="center">
                    <qriously :value="wechatPayCodeUrl" :size="300" />
                </el-row>
                <h3>请使用微信扫描二维码进行支付</h3>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import { money } from '@/utils/index'
import ObsClient from '@/components/esdk-obs-browserjs-without-polyfill-3.19.5.min.js'

// 创建ObsClient实例
const obs = new ObsClient({
    access_key_id: 'IVW21DTGIIUBBAGXKK0Y',
    secret_access_key: 'Y01nEQNcLOATMw7uJwrk3yOdQZ2fqLhSnXcOKVDE',
    server: 'https://obs.cn-east-3.myhuaweicloud.com'
})

export default {
    name: 'RechargeBlock',
    data() {
        return {
            radio: '',
            imageurldialogVisible: false,
            rechargeDialogVisible: false,
            checkoutCounterDialogVisible: false,
            codeUrlDialogVisible: false,
            CountName: '北京火乐星球科技有限公司',
            CountBank: '广发银行股份有限公司北京奥运村支行',
            Count: '9550880221666800136',
            chooseBtn: 0,//选择在线充值or对公转账
            dialogImageUrl: '',
            codeUrl: '',
            aliPayCodeUrl: '',
            wechatPayCodeUrl: '',
            recharge_amount: '',
            isRecharging: false,
            buttonList: [
                {
                    name: '在线充值'
                },
                {
                    name: '对公转账'
                }
            ],
            MainPhotoList: [],
            disabled: false,
            mainKeyArr: [],
            mainKeyArrTemp: [],
        }
    },
    mounted() {
        if (this.rechargeDialogVisible === false) {
            EventBus.$on('Recharge', (msg) => {
                this.rechargeDialogVisible = msg
            })
        }
    },
    watch: {
        codeUrl() {
            if (this.radio === '2') {
                this.wechatPayCodeUrl = this.codeUrl
            }
        },
        wechatPayCodeUrl() { },
        // wx二维码获取
        codeUrlDialogVisible() {
            if (this.codeUrlDialogVisible) {
                this.myInterval = window.setInterval(() => {
                    setTimeout(() => {
                        this.queryOrderBytradeId() // 调用接口的方法
                    }, 1)
                }, 5000)
            } else {
                this.$message('取消支付')
                clearInterval(this.myInterval)
            }
        },
        orderStatus() {
            if (this.orderStatus === 'SUCCESS') {
                this.$message.success('充值成功')
                const param = {
                    amount: parseFloat(this.recharge_amount),
                }
                this.postRequest('/youngee/m/pay/rechargeBalance', param).then(
                    (resp) => { }
                )
                this.$router.go(0)
            }
        },
    },
    methods: {
        rechargeDialogCancel() {
            this.rechargeDialogVisible = false
        },
        copyMethod(val) {
            this.$copyText(val)
                .then((res) => {
                    this.$message('内容已复制到剪切板！复制的内容为：' + res.text)
                })
                .catch((err) => {
                    console.log(err)
                    this.$message('抱歉，复制失败！')
                })
        },
        nextPay() {
            if (this.recharge_amount === '' || parseFloat(this.recharge_amount) * 100 <= 0 || this.recharge_amount === null) {
                this.$message('请输入正确的充值内容')
                this.rechargeDialogVisible = true
                return
            }
            this.checkoutCounterDialogVisible = true
        },
        checkoutCounter() {
            if (this.radio === '') {
                this.$message('请选择支付方式')
                return
            }
            this.checkoutCounterDialogVisible = false;
            console.log('确认支付中', this.radio)
            const param = {
                amount: parseFloat(this.recharge_amount.replace(/,/g, '')) * 100,
                type: 1
            }
            this.postRequest('/youngee/m/pay/getCodeUrl', param).then((resp) => {
                // console.log(resp.data.code_url);
                this.codeUrl = resp.data.code_url
                this.wechatPayCodeUrl = this.codeUrl
                this.trade_id = resp.data.trade_id
            })
            this.codeUrlDialogVisible = true
        },
        handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.imageurldialogVisible = true;
        },
        handleClick(index) {
            console.log(index, this.rechargeDialogVisible)
            this.chooseBtn = index
        },
        // 失去焦点金额格式化
        inputMoney(el) {
            const temp = Number(el.target.value) || null
            this.recharge_amount = this.priceFormat(temp)
        },
        // 获得焦点金额去掉格式
        uninputMoney(el) {
            if (el.target.value) {
                this.totalprice = this.delcommafy(el.target.value)
            } else {
                this.totalprice = null
            }
        },
        priceFormat(num, n) {
            n = n || 1
            let symbol = ','
            if (num === null) return num
            if (typeof num !== 'number') throw new TypeError('num参数应该是一个number类型')
            if (n < 0) throw new Error('参数n不应该小于0')
            const hasDot = parseInt(num) !== num// 这里检测num是否为小数，true表示小数
            const m = (n !== undefined && n !== null) ? n : 1
            num = m === 0 ? num.toFixed(m) + '.' : hasDot ? (n ? num.toFixed(n) : num) : num.toFixed(m)
            symbol = symbol || ','
            num = num.toString().replace(/(\d)(?=(\d{3})+\.)/g, function (match, p1, p2) {
                return p1 + symbol
            })
            if (n === 0 || (!hasDot && !n)) { // 如果n为0或者传入的num是整数并且没有指定整数的保留位数，则去掉前面操作中的小数位
                num = num.substring(0, num.indexOf('.'))
            }
            return num
        },
        // 去除千分位中的‘，’
        delcommafy(num) {
            if (!num) return num
            num = num.toString()
            num = num.replace(/,/gi, '')
            if (num.indexOf('.0') > 0) num = parseInt(num)
            return num
        },
        // 确认充值
        confirmRecharge() {
            if (this.MainPhotoList.length === 0) {
                this.$message('请上传转账凭证')
                return
            }
            if (this.recharge_amount === '') {
                this.$message('请输入转账金额')
                return
            }
            this.isRecharging = true
            this.rechargeDialogVisible = false
            const param = {
                amount: parseFloat(this.recharge_amount.replace(/,/g, '')),
                transfer_voucher_url: this.MainPhotoList[0].url
            }
            this.postRequest('/youngee/m/project/transferToPublic', param).then(
                (resp) => { }
            )
            clearTimeout(this.timer) // 清除延迟执行
            this.timer = setTimeout(() => {
                // 设置延迟执行
                this.$router.go(0)
            }, 800)
        },
        handleMainExceed() {
            this.$message('转账凭证限1张')
        },
        // 转账凭证上传
        doUploadMain(file) {
            const str = 'backstage_upload/' + this.guid() + '.png'
            const address = 'https://horastar.obs.cn-east-3.myhuaweicloud.com/'
            obs
                .putObject({
                    Bucket: 'horastar',
                    Key: str,
                    SourceFile: file.file
                })
                .then((result) => {
                    if (result.CommonMsg.Status === 200) {
                        const mainPic = {
                            url: address + str + '',
                            uid: file.file.uid,
                            symbol: 1
                        }
                        this.MainPhotoList.push(mainPic)
                        console.log(this.MainPhotoList)
                        // 为删除远程服务器的图片所使用的临时数组
                        this.mainKeyArr.push({
                            Key: str,
                            uid: file.file.uid
                        })
                        this.$message.success('转账凭证的图片上传成功！')
                    } else {
                        this.$message.error('转账凭证的图片上传失败！')
                    }
                })
        },
        handleRemoveMain(file) {
            for (const i in this.MainPhotoList) {
                if (this.MainPhotoList[i].url === file.url) {
                    this.MainPhotoList.splice(i, 1)
                }
            }
            this.mainKeyArr.forEach((item) => {
                if (item.uid === file.uid) {
                    this.mainKeyArrTemp.push(item)
                    this.mainKeyArr.splice(this.mainKeyArr.indexOf(item), 1)
                }
            })
            this.deleteMainObsObject()
        },
        deleteMainObsObject() {
            obs
                .deleteObjects({
                    Bucket: 'horastar',
                    Quiet: false,
                    Objects: this.mainKeyArrTemp
                })
                .then((result) => {
                    if (result.CommonMsg.Status < 300) {
                        this.mainKeyArrTemp = []
                        this.$message.success('转账凭证的图片删除成功！')
                    }
                })
        },
        // 生成随机字符串
        guid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(
                /[xy]/g,
                function (c) {
                    const r = (Math.random() * 16) | 0
                    const v = c === 'x' ? r : (r & 0x3) | 0x8
                    return v.toString(16)
                }
            )
        },
        beforeMainUpload(file) {
            const isJPG =
                file.type === 'image/png' ||
                file.type === 'image/jpg' ||
                file.type === 'image/jpeg'
            const isLt2M = file.size / 1024 / 1024 < 2
            if (!isLt2M) {
                this.$message.error('上传转账凭证的图片大小不能超过 2MB!')
            }
            if (!isJPG) {
                this.$message.error('上传转账凭证的图片只能是 JPG 或者 PNG 格式!')
            }
            return isJPG && isLt2M
        },
    }
}
</script>
<style scoped lang="scss">
.dialog-title {
    border-bottom: 2px solid #9b9898;
    height: 60px;
}

.upload-cover {
    width: 400px;
    display: flex;
}

.copyButton {
    border: none;
    margin-left: 15px;
    color: #409eff;
    cursor: pointer;
}

#box {
    display: flex;
}

#box .box_btn {
    width: 80px;
    height: 40px;
    border: 1px solid #f9f9f9;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.onlineRechargeColor {
    background-color: #f2d22d;
    color: black;
    margin-top: 10px;
}

.publicTransferColor {
    background-color: #f5f1dc;
    color: black;
    margin-top: 10px;
}

.collection {
    display: none;
}

.head-img {
    height: 50px;
    margin-left: 20px;
}
</style>