<!-- 数据与结案 -->
<template>
  <div class="recruitManage">
    <div style="display: flex;align-content: center;justify-content: center;">
      <div class="input-box-line">
        <el-input v-model="searchInput" placeholder="账号昵称、任务ID">
          <el-button slot="append" class="search-button" @click="handleSearchClick(index)">搜索</el-button>
        </el-input>
      </div>
    </div>

    <!-- 结案数据 -->
    <div>
      <div style="margin-bottom:5px;float:right">
        <el-button class="search-button" @click="allSelecting()">导出表格</el-button>
      </div>
      <el-table
        ref="finishDataTable"
        :data="finishDataTable"
        border
        class="task-table"
        :header-cell-style="{ background: '#eef1f6', color: 'white' }"
        @selection-change="selectingChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="task_id" label="任务ID" align="center" />
        <el-table-column prop="platform_nickname" label="账号昵称" align="center" />
        <el-table-column prop="fans_count" label="粉丝数" align="center" />
        <el-table-column prop="photo_url" label="数据截图" align="center">
          <template slot-scope="scope">
            <span>
              <img :src="scope.row.photo_url" alt="" style="width: 50px;height:50px">
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="play_number" label="阅读/播放数" align="center" />
        <el-table-column prop="like_number" label="点赞数" align="center" />
        <el-table-column prop="collect_number" label="收藏数" align="center" />
        <el-table-column prop="comment_number" label="评论数" align="center" />
        <el-table-column prop="phone" label="联系方式" align="center" />
        <el-table-column prop="submit_at" label="结案时间" align="center" />
        <el-table-column prop="operate" label="发布链接" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" @click="handShowLinkClick(scope.row)">
              {{ scope.row.link_url }}</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import { fansview } from '@/utils'
export default {
  name: 'SpecialFinishData',
  data() {
    return {
      enterprise_id: this.$store.state.project.enterprise_id,
      project_id: this.$store.state.project.project_id,
      project_form: this.$store.state.project.project_form,
      searchInput: '',
      // 控制切换按钮后按钮改变样式

      finishDataTable: [],
      selectingChanged: []
    }
  },
  computed: {
    finish_at() {
      return Object.keys(this.$store.state.project).length !== 0 ? this.$store.state.project.finish_at : null
    }
  },
  created() {
    this.getDataList()
  },
  mounted() {
  },
  methods: {
    // 查询任务数据列表
    getDataList() {
      this.finishDataTable = []
      const params = {
        page_size: 10,
        page_num: 1,
        project_id: String(this.project_id),
        platform_nickname: this.searchInput
      }
      this.postRequest('/youngee/m/project/specialTaskFinishDataList', params).then((resp) => {
        if (resp.data.total === '0') {
          this.$message('结案数据中暂无数据')
        }
        this.$data.finishDataTable = resp.data.project_task_pre_view
        this.finishDataTable.forEach(e => {
          e.fans_count = fansview(e.fans_count)
          e.play_number = fansview(e.play_number)
          e.like_number = fansview(e.like_number)
          e.comment_number = fansview(e.comment_number)
          e.collect_number = fansview(e.collect_number)
        })
        this.$data.totalCount = parseInt(resp.data.total)
      })
    },
    allSelecting() {
      // 导出表格
      if (this.selectingChanged.length === 0) {
        this.$message({
          message: '请至少选择一条需要导出的数据',
          type: 'warning'
        })
        return
      }

      const tableHeader = ['任务ID', '账号昵称', '粉丝数', '发布链接', '阅读量/播放量', '点赞数', '阅读数', '评论数'] // 设置Excel表格的表头
      const filterVal = ['task_id', 'platform_nickname', 'fans_count', 'link_url', 'play_number', 'like_number', 'collect_number', 'comment_number'] // 跟表格表头对应的绑定的prop
      const tableTitleName = this.$store.state.project.project_name + '结案统计'

      this.$msgbox.confirm('该操作将导出选中的数据，是否继续', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // 导出
        require.ensure([], () => {
          const { export_json_to_excel } = require('@/excel/export2Excel') // 注意这个Export2Excel路径
          // let list = this.filterTableData(JSON.parse(JSON.stringify(this.selectingChanged)));   // this.selectList为选中的要导出的数据，用filterTableData方法先处理一下数据格式(要进行深度拷贝，以免过滤的时候，影响页面上展示的数据)，再存到list
          const list = JSON.parse(JSON.stringify(this.selectingChanged))
          const data = this.formatJson(filterVal, list)
          export_json_to_excel(tableHeader, data, tableTitleName) // 参数分别为：表头、数据、文件名称
        })
      }).catch(() => { })
    },
    formatJson(filterVal, Data) {
      return Data.map(v => filterVal.map(j => v[j]))
    },
    selectingChange(val) {
      this.selectingChanged = val
    },
    handShowLinkClick(row) {
      window.open(row.link_url, '_blank')
    }
  }
}
</script>
<style scoped lang = "scss">
.recruitManage {
  text-align: center;
}

.recruitManageCard {
  display: flex;
  text-align: center;
  justify-content: center;
}

#box {
  display: flex;
  margin-top: 15px;
}

#box .box_btn {
  width: 80px;
  height: 40px;
  border: 2px solid #f9f9f9;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid #248bf4 !important;
  color: #248bf4;
}

.strategys-table-manage {
  color: black;
  border: 2px solid #057bf2;
}

.flow_info_base {
  display: flex;
  // justify-content: center;
  text-align: center;
}

.flow_right {
  font-size: 20px;
  color: #057bf2;
  border-bottom: 2px solid #057bf2;
  // padding-bottom: 10px;
  // margin-bottom: 10px;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 20px;
}

.search-button {
  border: none !important;
  background-color: #057bf2 !important;
  color: white !important;
  border-radius: 0px;
}

.task-table {
  width: 100%;
  text-align: center;
}

.display_show {
  display: block;
}

.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}

.PassBtn {
  border: none;
  justify-content: center;
  background-color: #057bf2;
  color: white;
  margin: 10px;
  // padding: 8px 15px;
}

.RefuseBtn {
  border: none;
  justify-content: center;
  background-color: rgb(241, 238, 238);
  color: red;
}

.input-box-line {
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  // margin: 20px;
  display: flex;
  justify-content: left;
}
</style>
