<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">自动处理设置</div> -->
    <p style="font-size:17px">签收自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:30px">任务形式：线下探店-打卡</p>
        <div style="margin-left:30px">
          <div>
            探店时间后：
            <el-input v-model.number="AfterVisitTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时
          </div>
        </div>
        <el-button class="Button" @click="AfterVisit">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:30px">任务形式：虚拟产品-测评</p>
        <div style="margin-left:46px">
          <div>
            已发货后：
            <el-input v-model.number="AfterShippedTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时
          </div>
        </div>
        <el-button class="Button" @click="AfterShipped">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">审稿自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：视频</p>
        <div style="margin-left:30px">
          <div>
            脚本上传后：
            <el-input v-model.number="AfterScriptUploadedTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时
          </div>
        </div>
        <el-button class="Button" @click="AfterScriptUploaded">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：不限</p>
        <div style="margin-left:30px">
          <div>
            初稿上传后：
            <el-input v-model.number="AfterDraftUploadedTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时
          </div>
        </div>
        <el-button class="Button" @click="AfterDraftUploaded">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">发布审核自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:30px">任务形式：不限</p>
        <div style="margin-left:30px">
          <div>
            链接上传后：
            <el-input v-model.number="AfterLinkUploadedTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时
          </div>
        </div>
        <el-button class="Button" @click="AfterLinkUploaded">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">结案自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:30px">任务形式：不限</p>
        <div style="margin-left:30px">
          <div>
            数据上传后：
            <el-input v-model.number="AfterDataUploadedTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时
          </div>
        </div>
        <el-button class="Button" @click="AfterDataUploaded">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">失效自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:30px">任务形式：不限</p>
        <div style="margin-left:30px">
          <div>
            招募完毕后：
            <el-input v-model.number="AfterRecruitingTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时未完成支付
          </div>
        </div>
        <el-button class="Button" @click="AfterRecruiting">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">初稿违约自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：图文</p>
        <div style="margin-left:30px">
          <div>
            已签收后：
            <el-input v-model.number="draft_AfterSigningTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时，未上传初稿
          </div>
        </div>
        <el-button class="Button" @click="draft_AfterSigning">运行</el-button>
      </div>
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：视频</p>
        <div style="margin-left:30px">
          <div>
            脚本通过后：
            <el-input v-model.number="AfterScriptPassedTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时，未上传初稿
          </div>
        </div>
        <el-button class="Button" @click="AfterScriptPassed">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">脚本违约自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:20px">任务形式：不限</p>
        <p style="margin-left:20px">内容形式：视频</p>
        <div style="margin-left:30px">
          <div>
            已签收后：
            <el-input v-model.number="script_AfterSigningTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时，未上传脚本
          </div>
        </div>
        <el-button class="Button" @click="script_AfterSigning">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">链接违约自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:30px">任务形式：不限</p>
        <div style="margin-left:30px">
          <div>
            初稿通过后：
            <el-input v-model.number="AfterDraftApprovedTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时，未上传链接
          </div>
        </div>
        <el-button class="Button" @click="AfterDraftApproved">运行</el-button>
      </div>
    </div>
    <p style="font-size:17px">结案违约自动处理：</p>
    <div class="head-box">
      <div class="inline-display">
        <p style="margin-left:20px">项目类型：全流程项目</p>
        <p style="margin-left:30px">任务形式：不限</p>
        <div style="margin-left:30px">
          <div>
            链接通过后：
            <el-input v-model.number="AfterLinkPassedTime" clearable placeholder="请输入时间" style="width:120px" @input.native="onInputUp0" />
            小时，未上传数据
          </div>
        </div>
        <el-button class="Button" @click="AfterLinkPassed">运行</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      AfterVisitTime: '',
      AfterShippedTime: '',
      AfterScriptUploadedTime: '',
      AfterDraftUploadedTime: '',
      AfterLinkUploadedTime: '',
      AfterDataUploadedTime: '',
      AfterRecruitingTime: '',
      draft_AfterSigningTime: '',
      AfterScriptPassedTime: '',
      script_AfterSigningTime: '',
      AfterDraftApprovedTime: '',
      AfterLinkPassedTime: '',
      timeList: [
        {
          value: '0',
          label: '不限'
        },
        {
          value: '1',
          label: '1'
        },
        {
          value: '2',
          label: '2'
        },
        {
          value: '3',
          label: '3'
        }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  mounted() {
    if (localStorage.getItem('userRole') !== 'superadmin') {
      this.$message.warning('暂无权限查看自动处理设置')
      this.$router.push(`/login`)
      return
    }
    this.getdefaultValue()
  },
  methods: {
    getdefaultValue() {
      this.getRequest('youngee/m/operate/getHours').then((resp) => {
        if (resp.data.sign_in_offline === 0) {
          this.AfterVisitTime = '0'
        } else {
          this.AfterVisitTime = resp.data.sign_in_offline
        }
        if (resp.data.sign_in_virtual === 0) {
          this.AfterShippedTime = '0'
        } else {
          this.AfterShippedTime = resp.data.sign_in_virtual
        }
        if (resp.data.review_in_mv === 0) {
          this.AfterScriptUploadedTime = '0'
        } else {
          this.AfterScriptUploadedTime = resp.data.review_in_mv
        }
        if (resp.data.review_unlimited === 0) {
          this.AfterDraftUploadedTime = '0'
        } else {
          this.AfterDraftUploadedTime = resp.data.review_unlimited
        }
        if (resp.data.post_review === 0) {
          this.AfterLinkUploadedTime = '0'
        } else {
          this.AfterLinkUploadedTime = resp.data.post_review
        }
        if (resp.data.case_close === 0) {
          this.AfterDataUploadedTime = '0'
        } else {
          this.AfterDataUploadedTime = resp.data.case_close
        }
        if (resp.data.invalid === 0) {
          this.AfterRecruitingTime = '0'
        } else {
          this.AfterRecruitingTime = resp.data.invalid
        }
        if (resp.data.draft_default_in_pic === 0) {
          this.draft_AfterSigningTime = '0'
        } else {
          this.draft_AfterSigningTime = resp.data.draft_default_in_pic
        }
        if (resp.data.draft_default_in_mv === 0) {
          this.AfterScriptPassedTime = '0'
        } else {
          this.AfterScriptPassedTime = resp.data.draft_default_in_mv
        }
        if (resp.data.script_default === 0) {
          this.script_AfterSigningTime = '0'
        } else {
          this.script_AfterSigningTime = resp.data.script_default
        }
        if (resp.data.link_breach === 0) {
          this.AfterDraftApprovedTime = '0'
        } else {
          this.AfterDraftApprovedTime = resp.data.link_breach
        }
        if (resp.data.case_close_default === 0) {
          this.AfterLinkPassedTime = '0'
        } else {
          this.AfterLinkPassedTime = resp.data.case_close_default
        }
      })
    },
    async AfterVisit() {
      console.log('探店时间 running...')
      if (this.AfterVisitTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterVisitTime
      }
      await this.postRequest('youngee/m/operate/signInOffline', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterShipped() {
      console.log('已发货 running...')
      if (this.AfterShippedTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterShippedTime
      }
      await this.postRequest('youngee/m/operate/signInVirtual', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterScriptUploaded() {
      console.log('脚本上传 running...')
      if (this.AfterScriptUploadedTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterScriptUploadedTime
      }
      await this.postRequest('youngee/m/operate/autoReview', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterDraftUploaded() {
      console.log('脚本上传 running...')
      if (this.AfterDraftUploadedTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterDraftUploadedTime
      }
      await this.postRequest('youngee/m/operate/autoReviewUnlimited', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterLinkUploaded() {
      console.log('链接上传 running...')
      if (this.AfterLinkUploadedTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterLinkUploadedTime
      }
      await this.postRequest('youngee/m/operate/postReview', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterDataUploaded() {
      console.log('数据上传 running...')
      if (this.AfterDataUploadedTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterDataUploadedTime
      }
      await this.postRequest('youngee/m/operate/caseClose', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterRecruiting() {
      console.log('招募完毕 running...')
      if (this.AfterRecruitingTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterRecruitingTime
      }
      await this.postRequest('youngee/m/operate/invalid', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async draft_AfterSigning() {
      console.log('初稿 已签收 running...')
      if (this.draft_AfterSigningTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.draft_AfterSigningTime
      }
      await this.postRequest('youngee/m/operate/draftDefaultInPic', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterScriptPassed() {
      console.log('脚本通过 running...')
      if (this.AfterScriptPassedTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterScriptPassedTime
      }
      await this.postRequest('youngee/m/operate/draftDefaultInMv', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async script_AfterSigning() {
      console.log('脚本 已签收 running...')
      if (this.script_AfterSigningTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.script_AfterSigningTime
      }
      await this.postRequest('youngee/m/operate/scriptDefault', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterDraftApproved() {
      console.log('初稿通过 running...')
      if (this.AfterDraftApprovedTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterDraftApprovedTime
      }
      await this.postRequest('youngee/m/operate/linkBreach', params).then((resp) => {
      })
      this.$router.go(0)
    },
    async AfterLinkPassed() {
      console.log('链接通过 running...')
      if (this.AfterLinkPassedTime === '') {
        this.$message.warning('请输入时间')
        return
      }
      const params = {
        time: this.AfterLinkPassedTime
      }
      await this.postRequest('youngee/m/operate/caseCloseDefault', params).then((resp) => {
      })
      this.$router.go(0)
    },
    onInputUp0(e) {
      // 验证是否是纯数字
      const isNumber = /^\d*$/.test(e.target.value)
      // 过滤非数字
      e.target.value = e.target.value.replace(/\D/g, '')
      if (!isNumber) {
        this.$message.warning('请输入整数')
      }
      e.target.value = (e.target.value >= 0 && e.target.value.match(/^\d*/g)[0]) || null
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
    font-size: 14px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.head-box{
  border: 1px dashed #fbbfbf;
}
.inline-display {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center; // 垂直居中
  margin-top:10px;
  margin-bottom:10px
}

.Button{
  background:#0e4bb7;
  color:white;
  height: 40px;
  width:100px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 10px;
}
.input-box-select{
  width: 80px;
}
</style>
