<template>
  <div class="dashboard-container">
    <!-- <div class="dashboard-text">发票管理</div> -->
    <div id="box">
      <div
        v-for="(item, i) in bottonList"
        :key="i"
        class="box_btn"
        :class="chooseBtn == i ? 'borderColor' : ''"
        @click="handleClick(i)"
      >
        {{ item.name }}
      </div>
    </div>
    <div v-show="index === 0">
      <div class="head-content">
        <div class="input-box-line">
          申请提交时间：
          <el-date-picker
            v-model="submit_date"
            align="right"
            type="date"
            style="width:140px"
            value-format="yyyy-MM-dd"
            placeholder="选择日期"
            :picker-options="pickerOptions"
          />
        </div>
        <div class="input-box-line" style="text-align:center">
          <el-input v-model="searchInput" placeholder="企业名称、企业用户ID等" style="width: 400px;" clearable>
            <el-button
              slot="append"
              style="background-color: #1890ff;color:white"
              @click="searchBill"
            >搜索</el-button>
          </el-input>
        </div>
      </div>
      <el-table
        :data="billingTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
      >
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <!-- <el-table-column prop="business_name" label="企业名称" align="center" /> -->
        <el-table-column prop="username" label="用户名称" align="center" />
        <el-table-column prop="amount" label="开票金额" align="center" />
        <el-table-column prop="invoice_type" label="发票类型" align="center" />
        <el-table-column prop="invoice_info" label="开票信息" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="receiveInfo(scope.row)">开票信息</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="address_info" label="邮寄地址" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="addressInfo(scope.row)">邮寄地址</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="联系方式" align="center" />
        <el-table-column prop="submit_at" label="申请提交时间" align="center" />
        <el-table-column prop="operate" label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="confirm(scope.row)">确认</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="PageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
    <div v-show="index === 1">
      <div class="head-content">
        <div class="input-box-line">
          确认时间：
          <el-date-picker
            v-model="comfirm_date"
            align="right"
            type="date"
            style="width:140px"
            value-format="yyyy-MM-dd"
            placeholder="选择日期"
            :picker-options="pickerOptions"
          />
        </div>
        <div class="input-box-line" style="text-align:center">
          <el-input v-model="searchInput2" placeholder="企业名称、企业用户ID等" style="width: 400px;" clearable>
            <el-button
              slot="append"
              style="background-color: #1890ff;color:white"
              @click="searchBill"
            >搜索</el-button>
          </el-input>
        </div>
      </div>
      <el-table
        :data="billedTable"
        :header-cell-style="{'background-color':'#e8e8e8','color':'#000'}"
        border
        class="body-table"
      >
        <el-table-column prop="user_id" label="企业用户ID" align="center" />
        <!-- <el-table-column prop="business_name" label="企业名称" align="center" /> -->
        <el-table-column prop="username" label="用户名称" align="center" />
        <el-table-column prop="amount" label="开票金额" align="center" />
        <el-table-column prop="invoice_type" label="开票信息" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="receiveInfo(scope.row)">开票信息</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="address_info" label="邮寄地址" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="medium" style="white-space: pre-wrap;" @click="addressInfo(scope.row)">邮寄地址</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="shipment_number" label="物流单号" align="center" />
        <el-table-column prop="phone" label="联系方式" align="center" />
        <el-table-column prop="billing_at" label="开票时间" align="center" />
      </el-table>
      <div style="margin-top:20px">
        <el-pagination
          :current-page="currentPageHandled"
          :page-sizes="pageSizesHandled"
          :page-size="PageSizeHandled"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCountHandled"
          @size-change="handleSizeChangeHandled"
          @current-change="handleCurrentChangeHandled"
        />
      </div>
    </div>
    <el-dialog :visible.sync="invoiceInfoDialogVisible" :close-on-press-escape="false" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="invoiceInfoDialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;justify-content: center;">
        <div class="external" style="padding-bottom:10px;">
          <span class="title">开票信息</span>
        </div>
      </div>

      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>单位抬头：</span>
          <span style="margin-left:30px">{{ invoiceInfoHead }} </span>
        </div>
        <div class="inline">
          <span>统一社会信用代码：</span>
          <span style="margin-left:30px">{{ invoiceInfoCode }} </span>
        </div>
        <div class="inline">
          <span>企业开户银行：</span>
          <span style="margin-left:30px">{{ invoiceInfoBank }} </span>
        </div>
        <div class="inline">
          <span>银行账户：</span>
          <span style="margin-left:30px">{{ invoiceInfoCard }} </span>
        </div>
        <div class="inline">
          <span>企业注册地址：</span>
          <span style="margin-left:30px">{{ invoiceInfoAddress }} </span>
        </div>
        <div class="inline">
          <span>电话：</span>
          <span style="margin-left:30px">{{ invoiceInfoPhone }} </span>
        </div>
      </div>
    </el-dialog>
    <el-dialog :visible.sync="addressInfoDialogVisible" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="addressInfoDialogVisible = false;" />
        </div>
      </div>
      <div style="display:flex;flex-direction: row;justify-content: center;">
        <div class="external" style="padding-bottom:10px;">
          <span class="title">邮寄地址</span>
        </div>
      </div>

      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>收件人：</span>
          <span style="margin-left:30px">{{ addressInfoReceiver }} </span>
        </div>
        <div class="inline">
          <span>电话：</span>
          <span style="margin-left:30px">{{ addressInfoPhone }} </span>
        </div>
        <div class="inline">
          <span>收件地址：</span>
          <span style="margin-left:30px">{{ addressInfoAddress }} </span>
        </div>
      </div>
    </el-dialog>
    <el-dialog :visible.sync="confirmDialogVisible" width="500px">
      <div slot="title" class="dialog-title">
        <img slot="title" src="../../../assets/images/样叽logo.png" alt="YOUNGEE" class="head-img">
        <div class="button-right">
          <span class="title-close" @click="confirmDialogVisible = false;" />
        </div>
      </div>

      <div style="display:flex;flex-direction: column;margin:20px 0px">
        <div class="inline">
          <span>物流公司：</span>
          <el-input v-model="inputCourierCompanies" style="margin-left:30px;width:250px" placeholder="请输入快递公司" />
        </div>
        <div class="inline">
          <span>物流单号：</span>
          <el-input v-model="inputCourierNumber" style="margin-left:30px;width:250px" placeholder="请输入快递单号" />
        </div>
      </div>
      <div>
        <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="comfirmBilled">确认</el-button>
        <el-button style="background:#0e4bb7;color:white;margin-bottom:20px" @click="cancle">取消</el-button>
      </div>
      <br>
    </el-dialog>
  </div>
</template>

<script>
import { money } from '@/utils/index'

export default {
  data() {
    return {
      index: 0,
      chooseBtn: 0,
      bottonList: [
        {
          name: '待开票'
        },
        {
          name: '已开票'
        }
      ],
      searchInput: '',
      searchInput2: '',
      submit_date: '',
      comfirm_date: '',
      pickerOptions: {},
      billingTable: [],
      billedTable: [],
      // 默认显示第几页
      currentPage: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCount: 0,
      // 个数选择器（可修改）
      pageSizes: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSize: 10,

      // 默认显示第几页
      currentPageHandled: 1,
      // 总条数，根据接口获取数据长度(注意：这里不能为空)
      totalCountHandled: 0,
      // 个数选择器（可修改）
      pageSizesHandled: [10, 20, 30, 40],
      // 默认每页显示的条数（可修改）
      PageSizeHandled: 10,
      invoiceInfoDialogVisible: false,
      addressInfoDialogVisible: false,
      confirmDialogVisible: false,
      invoiceInfoPhone: '',
      invoiceInfoAddress: '',
      invoiceInfoCard: '',
      invoiceInfoBank: '',
      invoiceInfoCode: '',
      invoiceInfoHead: '',
      addressInfoAddress: '',
      addressInfoPhone: '',
      addressInfoReceiver: '',
      inputCourierNumber: '',
      inputCourierCompanies: '',
      billing_id: ''
    }
  },
  computed: {

  },
  watch: {
    comfirm_date() {
      this.searchBill()
    },
    submit_date() {
      this.searchBill()
    },
    searchInput2() {
      this.searchBill()
    },
    searchInput() {
      this.searchBill()
    }
  },
  mounted() {
    if (sessionStorage.getItem('token') == null) {
      this.$message.error('已退出，请重新登录')
      this.$router.push(`/login`)
      this.$router.go(0)
      return
    }
    this.searchBill()
  },
  methods: {
    receiveInfo(row) {
      // console.log(row.invoice_info)
      const invoiceInfo = JSON.parse(row.invoice_info)
      this.invoiceInfoDialogVisible = true
      this.invoiceInfoPhone = invoiceInfo.RegisteredPhone
      this.invoiceInfoAddress = invoiceInfo.RegisteredAddress
      this.invoiceInfoCard = invoiceInfo.BankCardNumber
      this.invoiceInfoBank = invoiceInfo.Bank
      this.invoiceInfoCode = invoiceInfo.TaxCode
      this.invoiceInfoHead = invoiceInfo.HeadType
    },
    addressInfo(row) {
      console.log(row.address_info)
      const addressInfo = JSON.parse(row.address_info)
      this.addressInfoDialogVisible = true
      this.addressInfoReceiver = addressInfo.Name
      this.addressInfoAddress = addressInfo.Address
      this.addressInfoPhone = addressInfo.Phone
    },
    handleClick(value) {
      this.chooseBtn = value
      this.index = value
      if (value === 0) {
        this.submit_date = ''
        this.comfirm_date = ''
        this.searchInput2 = ''
      } else {
        this.submit_date = ''
        this.comfirm_date = ''
        this.searchInput = ''
      }
      this.searchBill()
    },
    searchBill() {
      // console.log('搜索。。。')
      let user_id, username, input
      const status = this.chooseBtn + 1
      if (status === 1) {
        input = this.searchInput
      } else {
        input = this.searchInput2
      }
      if (!/^\d+$/.test(input)) {
        username = input
      } else {
        user_id = input
      }
      const params = {
        page_size: 10,
        page_num: 1,
        invoice_status: status,
        user_id: parseInt(user_id),
        // business_name: business_name,
        username: username,
        submit_at: this.submit_date,
        billing_at: this.comfirm_date
      }
      this.postRequest('youngee/m/finance/invoiceRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let billingTableList = null
          let totalCount = null
          resp.data.invoice_records_previews.forEach(e => {
            e.amount = money(e.amount)
          })
          billingTableList = resp.data.invoice_records_previews
          if (this.chooseBtn === 0) {
            this.$data.billingTable = billingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          } else {
            this.$data.billedTable = billingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCountHandled = totalCount
          }
        } else {
          this.$message('暂无数据')
          if (this.chooseBtn === 0) {
            this.billingTable = []
            this.$data.totalCount = 0
          } else {
            this.billedTable = []
            this.$data.totalCountHandled = 0
          }
        }
      })
    },
    // 将页码，及每页显示的条数以参数传递提交给后台
    getData(n1, n2) {
      let user_id, business_name, input
      const status = this.chooseBtn + 1
      if (status === 1) {
        input = this.searchInput
      } else {
        input = this.searchInput2
      }
      if (!/^\d+$/.test(input)) {
        business_name = input
      } else {
        user_id = input
      }
      const params = {
        page_size: n1,
        page_num: n2,
        invoice_status: status,
        user_id: parseInt(user_id),
        business_name: business_name,
        submit_at: this.submit_date,
        billing_at: this.comfirm_date
      }
      this.postRequest('youngee/m/finance/invoiceRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let billingTableList = null
          let totalCount = null
          resp.data.invoice_records_previews.forEach(e => {
            e.amount = money(e.amount)
          })
          billingTableList = resp.data.invoice_records_previews
          if (this.chooseBtn === 0) {
            this.$data.billingTable = billingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          } else {
            this.$data.billedTable = billingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCountHandled = totalCount
          }
        } else {
          this.$message('暂无数据')
          if (this.chooseBtn === 0) {
            this.billingTable = []
            this.$data.totalCount = 0
          } else {
            this.billedTable = []
            this.$data.totalCountHandled = 0
          }
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChange(val) {
      // 改变每页显示的条数
      this.PageSize = val
      // 点击每页显示的条数时，显示第一页
      this.getData(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPage = 1
    },
    // 显示第几页
    handleCurrentChange(val) {
      // 改变默认的页数
      this.currentPage = val
      // 切换页码时，要获取每页显示的条数
      this.getData(this.PageSize, val)
    },

    // 将页码，及每页显示的条数以参数传递提交给后台
    getDataHandled(n1, n2) {
      let user_id, business_name, input
      const status = this.chooseBtn + 1
      if (status === 1) {
        input = this.searchInput
      } else {
        input = this.searchInput2
      }
      if (!/^\d+$/.test(input)) {
        business_name = input
      } else {
        user_id = input
      }
      const params = {
        page_size: n1,
        page_num: n2,
        invoice_status: status,
        user_id: parseInt(user_id),
        business_name: business_name,
        submit_at: this.submit_date,
        billing_at: this.comfirm_date
      }
      this.postRequest('youngee/m/finance/invoiceRecords', params).then((resp) => {
        if (resp.data.total !== '0') {
          let billingTableList = null
          let totalCount = null
          resp.data.invoice_records_previews.forEach(e => {
            e.amount = money(e.amount)
          })
          billingTableList = resp.data.invoice_records_previews
          if (this.chooseBtn === 0) {
            this.$data.billingTable = billingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCount = totalCount
          } else {
            this.$data.billedTable = billingTableList
            totalCount = parseInt(resp.data.total)
            this.$data.totalCountHandled = totalCount
          }
        } else {
          this.$message('暂无数据')
          if (this.chooseBtn === 0) {
            this.billingTable = []
            this.$data.totalCount = 0
          } else {
            this.billedTable = []
            this.$data.totalCountHandled = 0
          }
        }
      })
    },
    // 分页
    // 每页显示的条数
    handleSizeChangeHandled(val) {
      // 改变每页显示的条数
      this.PageSizeHandled = val
      // 点击每页显示的条数时，显示第一页
      this.getDataHandled(val, 1)
      // 注意：在改变每页显示的条数时，要将页码显示到第一页
      this.currentPageHandled = 1
    },
    // 显示第几页
    handleCurrentChangeHandled(val) {
      // 改变默认的页数
      this.currentPageHandled = val
      // 切换页码时，要获取每页显示的条数
      this.getDataHandled(this.PageSizeHandled, val)
    },
    confirm(row) {
      this.confirmDialogVisible = true
      this.billing_id = row.billing_id
    },
    comfirmBilled() {
      if (this.inputCourierCompanies === '') {
        this.$message('请输入快递公司')
        return
      }
      if (this.inputCourierNumber === '') {
        this.$message('请输入快递单号')
        return
      }
      const params = {
        billing_id: this.billing_id,
        shipment_number: this.inputCourierNumber
      }
      this.postRequest('youngee/m/finance/confirmInvoice', params).then((resp) => {
      })
      clearTimeout(this.timer) // 清除延迟执行
      this.timer = setTimeout(() => { // 设置延迟执行
        this.$router.go(0)
      }, 800)
    },
    cancle() {
      this.inputCourierCompanies = ''
      this.inputCourierNumber = ''
      this.confirmDialogVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
#box {
    display: flex;
    margin-top: 15px;
}

#box .box_btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: 2px solid #f9f9f9;
    background-color: white;
    text-align: center;
    display: flex;
    //设置左右居中
    justify-content: center;
    //设置上下居中
    align-items: center;
    line-height: 40px;
    cursor: pointer;
}

.borderColor {
    border: 2px solid #248bf4 !important;
    color: #248bf4;
}

.input-box-line {
  line-height: 40px;
  margin: 20px;
}

.head-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dialog-title {
  border-bottom: 2px solid #9b9898;
  height: 60px;
}
.head-img {
  height: 50px;
  margin-top: 4px;
  float: left;
  margin-left: 10px;
}
.inline{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 16px;
}
.title {
  // justify-content: center;
  // flex-direction: row;
  text-align: center;
  // width: 800px;
  padding: 20px 48px;
  // display: inline-block;
  // border-width: 150px;
  border-bottom: 2px solid #0e4bb7;
  padding-bottom: 5px;
  color: #557bf4;
  font-size: 18px;
}
</style>

<style lang="scss">
.el-dialog__header {
  padding: 0;
  background: #0e4bb7;
}
.el-dialog__headerbtn .el-dialog__close{
  color: white;
}
.el-dialog__body{
  padding: 5px 15px;
  text-align: center;
}
</style>
